Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: base agent GitHub authorization on a durable user-level grant
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/tests/integration-files.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-17T03-40-28 (14 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2ppwxf2gwza5m07ke575czm.md
  .tbd/data-sync/issues/is-01m2ppwxxz5ac736w2wye0dxc1.md
  .tbd/data-sync/issues/is-01m2ppwyg65g1mt6sqzwekczve.md
  .tbd/data-sync/issues/is-01m2ppwyxm05p4ry9vrb643r7t.md
  .tbd/data-sync/issues/is-01m2ppwzazssnfxt159j3a3nme.md
  .tbd/data-sync/issues/is-01m2ppwzq27kms9maa3gdvdz2q.md
  .tbd/data-sync/issues/is-01m2ppx02spmp2eyzh0jbb0ves.md
  .tbd/data-sync/issues/is-01m2ppx0j17ck8p6385jn0ctsa.md
  .tbd/data-sync/issues/is-01m2ppx11zgtj3x4b1gnb5t90j.md
  .tbd/data-sync/issues/is-01m2ppx1em6t0v08a7b3bnhdqw.md
  .tbd/data-sync/issues/is-01m2ppx1xg7sejzjxz5zv5q59p.md
  .tbd/data-sync/issues/is-01m2ppx2e30bf6k8tzynb84120.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-17T03-52-14 (13 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2ppx2e30bf6k8tzynb84120.md
  .tbd/data-sync/issues/is-01m2pqe3j3fncsbcjjwt986cqr.md
  .tbd/data-sync/issues/is-01m2pqe4bvrva3qrbcnmb7wpyp.md
  .tbd/data-sync/issues/is-01m2pqe52r1yzvepj9bdg76780.md
  .tbd/data-sync/issues/is-01m2pqe5pdqt2d77k3ae9g5s7w.md
  .tbd/data-sync/issues/is-01m2pqe68ww26h8k9fw1292m34.md
  .tbd/data-sync/issues/is-01m2pqe6qe6heabeemhnfenwzv.md
  .tbd/data-sync/issues/is-01m2pqmjnmqpng9rkksx7a1e53.md
  .tbd/data-sync/issues/is-01m2pqqkatjy4s8t9vah8dbdn9.md
  .tbd/data-sync/issues/is-01m2pqqkpked3r3sbqve888fdj.md
  .tbd/data-sync/issues/is-01m2pqschpa6vs9gxc5bepyk5j.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-17T03-55-39 (29 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2ppx2e30bf6k8tzynb84120.md
  .tbd/data-sync/issues/is-01m2pqxm9ny9kmp87tmhyjas3w.md
  .tbd/data-sync/issues/is-01m2pqxmmzkkte3sft7wnc5753.md
  .tbd/data-sync/issues/is-01m2pqxmzytqbb1kdvd0a8gnwe.md
  .tbd/data-sync/issues/is-01m2pr26h75crmcgbdddxq7z1n.md
  .tbd/data-sync/issues/is-01m2pr26wk9nmdax9rmpxmmx5y.md
  .tbd/data-sync/issues/is-01m2pr277nywf9vnc9bsy6219k.md
  .tbd/data-sync/issues/is-01m2pr27jhgh5jf7k9k3320pfb.md
  .tbd/data-sync/issues/is-01m2pr27xvvhz6zh7xpnvfnwdv.md
  .tbd/data-sync/issues/is-01m2pr288xb6r9s0cw4j4wwfnv.md
  .tbd/data-sync/issues/is-01m2pr28mh17t3tye60mc3jggs.md
  .tbd/data-sync/issues/is-01m2pr2906rqnap8ry6ym5ceby.md
  .tbd/data-sync/issues/is-01m2pr29b7r2ekzcr1yvrkhqdn.md
  .tbd/data-sync/issues/is-01m2pr29pdwg1f8t2pecdg9e9c.md
  .tbd/data-sync/issues/is-01m2pr2a1gk8q58t6dwv4hxk45.md
  .tbd/data-sync/issues/is-01m2pr2acyjamrjwj2pb85m83n.md
  .tbd/data-sync/issues/is-01m2pr2ar677f231j1s39bxra1.md
  .tbd/data-sync/issues/is-01m2pr2b3n3e6xjq7t4khw113p.md
  .tbd/data-sync/issues/is-01m2pr2bfbf2jf2hp8khqwh9mf.md
  .tbd/data-sync/issues/is-01m2pr2bttb3sw9d036ejwtp4t.md
  .tbd/data-sync/issues/is-01m2pr2c6gds2vz3y9x0nxdwka.md
  .tbd/data-sync/issues/is-01m2pr2chxhjtktht45z3r4155.md
  .tbd/data-sync/issues/is-01m2pr2cx3yxc65xrmh4kpd9ef.md
  .tbd/data-sync/issues/is-01m2pr2d9920ppbyepz0w9ne4f.md
  .tbd/data-sync/issues/is-01m2pr2dmqqap2nf1xmjbwztaj.md
  .tbd/data-sync/issues/is-01m2pr2e0dq28pt5eydmghyeht.md
  .tbd/data-sync/issues/is-01m2pr2edgrgckr42003704bwh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: PR review lifecycle, policy grants, and sub-agent delegation
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

plan: fold in PR #308, project-level grants, and sub-agent research
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

tbd sync: 2026-09-17T05-38-02 (15 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2ppx2e30bf6k8tzynb84120.md
  .tbd/data-sync/issues/is-01m2pr29pdwg1f8t2pecdg9e9c.md
  .tbd/data-sync/issues/is-01m2pr2bfbf2jf2hp8khqwh9mf.md
  .tbd/data-sync/issues/is-01m2ps9ma538tj760jbz4m8vh0.md
  .tbd/data-sync/issues/is-01m2ps9mp0jv7xm8e9mfkyjt6e.md
  .tbd/data-sync/issues/is-01m2ps9n1ae3g0vg6yfdzy6tcb.md
  .tbd/data-sync/issues/is-01m2ps9ncp61v30hmzwhy7gh3b.md
  .tbd/data-sync/issues/is-01m2ps9nr5f5hz5tvwvz24trmk.md
  .tbd/data-sync/issues/is-01m2ps9p3vbrrpxzjq3fdmscv0.md
  .tbd/data-sync/issues/is-01m2pt4rb08baf8cyn85sk15q1.md
  .tbd/data-sync/issues/is-01m2pt4rt05wdw6mf3gdgj8ds7.md
  .tbd/data-sync/issues/is-01m2pttez3bnb3fsq6jtcv4nhk.md
  .tbd/data-sync/issues/is-01m2pttfc7cp9qz4ynvaxm16vx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: record decisions, add final doc updates; consolidate sub-agent research
  docs/project/research/archive/research-claude-code-sub-agents.md
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

plan: add reconciliation with vendor sub-agent best practices
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

chore: remove the Claude Code sub-agent model pin
  .claude/settings.json
Due: format

docs: add agent-model-tiers guideline
  packages/tbd/docs/guidelines/agent-model-tiers.md
Due: format-md

docs: define the review-state contract in pr-review-workflows
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

docs: add agent-policy-grants guideline
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

feat: split the generated integration format from the repository format
  docs/tbd-format-versioning.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

docs: re-verify Codex sub-agent facts; align plan with the format split
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

feat: add policy grants library and tbd policy command
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/policy-grants.test.ts
Due: format, format-md, lint, typecheck

docs: make linear: epics the default Linear selection
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/tests/linear-epics-selection.test.ts
Due: format, format-md, lint, typecheck

docs: review pinned PR heads and report every finding in review-code
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/shortcuts/standard/review-code.md
Due: format-md

docs: add delegate-to-subagents shortcut
  packages/tbd/docs/guidelines/agent-run-operations-rules.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
Due: format-md

docs: publish pinned, marked reviews from review-github-pr
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
Due: format-md

docs: address reviews by marker with four dispositions
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
Due: format-md

docs: gate stacked-PR creation and tooling on github-stacked-prs
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
Due: format-md

docs: complete the review-state contract
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

docs: add GitHub authorization section to skill-baseline
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/tests/integration-files.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-17T10-15-07 (16 files)
  .tbd/data-sync/issues/is-01m2pr26h75crmcgbdddxq7z1n.md
  .tbd/data-sync/issues/is-01m2pr26wk9nmdax9rmpxmmx5y.md
  .tbd/data-sync/issues/is-01m2pr277nywf9vnc9bsy6219k.md
  .tbd/data-sync/issues/is-01m2pr27jhgh5jf7k9k3320pfb.md
  .tbd/data-sync/issues/is-01m2pr27xvvhz6zh7xpnvfnwdv.md
  .tbd/data-sync/issues/is-01m2pr2906rqnap8ry6ym5ceby.md
  .tbd/data-sync/issues/is-01m2pr29b7r2ekzcr1yvrkhqdn.md
  .tbd/data-sync/issues/is-01m2pr29pdwg1f8t2pecdg9e9c.md
  .tbd/data-sync/issues/is-01m2pr2acyjamrjwj2pb85m83n.md
  .tbd/data-sync/issues/is-01m2pr2ar677f231j1s39bxra1.md
  .tbd/data-sync/issues/is-01m2pr2b3n3e6xjq7t4khw113p.md
  .tbd/data-sync/issues/is-01m2pr2bfbf2jf2hp8khqwh9mf.md
  .tbd/data-sync/issues/is-01m2pr2c6gds2vz3y9x0nxdwka.md
  .tbd/data-sync/issues/is-01m2pr2edgrgckr42003704bwh.md
  .tbd/data-sync/issues/is-01m2pttfc7cp9qz4ynvaxm16vx.md
  .tbd/data-sync/issues/is-01m2q1m4g0pae09sd804yrk3v8.md
Due: format-md

fix: name only Linear in tbd integration help
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/tests/cli-setup.tryscript.md
Due: format, format-md, lint, typecheck

feat: preserve the policy grants block when setup regenerates AGENTS.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, lint, typecheck

docs: add security, performance, and correctness review shortcuts
  packages/tbd/docs/shortcuts/standard/review-code-correctness.md
  packages/tbd/docs/shortcuts/standard/review-code-performance.md
  packages/tbd/docs/shortcuts/standard/review-code-security.md
Due: format-md

tbd sync: 2026-09-17T10-32-14 (8 files)
  .tbd/data-sync/issues/is-01m2pr2chxhjtktht45z3r4155.md
  .tbd/data-sync/issues/is-01m2q1mgh888yxv1b6svra2n1m.md
  .tbd/data-sync/issues/is-01m2q1mqca5bz0trff5z8tfq0t.md
  .tbd/data-sync/issues/is-01m2q1mwg7g79zbsqy77xwrdbw.md
  .tbd/data-sync/issues/is-01m2q1n82ewxqyytff9f2sftj2.md
  .tbd/data-sync/issues/is-01m2q1nb56rhsdwm8nh0rnchef.md
  .tbd/data-sync/issues/is-01m2qeaxf2en5h4zd3c2r9b9pw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: validate the policy grants block in tbd doctor
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
Due: format, lint, typecheck

docs: add review-and-merge-prs orchestration shortcut
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
Due: format-md

tbd sync: 2026-09-17T10-42-09 (2 files)
  .tbd/data-sync/issues/is-01m2pr2bttb3sw9d036ejwtp4t.md
  .tbd/data-sync/issues/is-01m2q1mqca5bz0trff5z8tfq0t.md
Due: format-md

docs: reconcile delegation guidance with vendor best practices
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
Due: format-md

feat: add tbd setup --policies=recommended and route setup to setup-tbd
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-17T10-58-07 (3 files)
  .tbd/data-sync/issues/is-01m2pr2c6gds2vz3y9x0nxdwka.md
  .tbd/data-sync/issues/is-01m2q1mm7cq1jm2g9seh2ra5sk.md
  .tbd/data-sync/issues/is-01m2q2590d5x1nx544vc8f42a3.md
Due: format-md

feat: generate tier agent definitions as setup surfaces
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

docs: add setup-tbd, the consolidated setup and upgrade process
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
Due: format-md

tbd sync: 2026-09-17T11-24-05 (4 files)
  .tbd/data-sync/issues/is-01m2pr288xb6r9s0cw4j4wwfnv.md
  .tbd/data-sync/issues/is-01m2pr2a1gk8q58t6dwv4hxk45.md
  .tbd/data-sync/issues/is-01m2pr2c6gds2vz3y9x0nxdwka.md
  .tbd/data-sync/issues/is-01m2q1nb56rhsdwm8nh0rnchef.md
Due: format-md

feat: show effective and unanswered policy grants in tbd prime
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/prime.test.ts
Due: format, format-md, lint, typecheck
