Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: route review, setup, and delegation requests in every skill tier
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  skills/tbd/SKILL.md
Due: format-md

tbd sync: 2026-09-17T11-33-55 (5 files)
  .tbd/data-sync/issues/is-01m2pr288xb6r9s0cw4j4wwfnv.md
  .tbd/data-sync/issues/is-01m2pr2edgrgckr42003704bwh.md
  .tbd/data-sync/issues/is-01m2q1mss64y4n0wfeecq12kpk.md
  .tbd/data-sync/issues/is-01m2q1n82ewxqyytff9f2sftj2.md
  .tbd/data-sync/issues/is-01m2q1nb56rhsdwm8nh0rnchef.md
Due: format-md

test: pin the review lifecycle contract
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, lint, typecheck

test: align the policy grants guideline, code, and docs
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-17T11-44-56 (3 files)
  .tbd/data-sync/issues/is-01m2pr28mh17t3tye60mc3jggs.md
  .tbd/data-sync/issues/is-01m2pr2cx3yxc65xrmh4kpd9ef.md
  .tbd/data-sync/issues/is-01m2q1ndc8pr5ck5eeta69ww1r.md
Due: format-md

chore: register new guidelines and regenerate agent surfaces
  .agents/skills/tbd/SKILL.md
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .claude/skills/tbd/SKILL.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  .tbd/config.yml
  AGENTS.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format, format-md, lint, typecheck

chore: remove stale nested packages/tbd/.claude agent surfaces
  packages/tbd/.claude/hooks/tbd-closing-reminder.sh
  packages/tbd/.claude/settings.json
  packages/tbd/.claude/skills/tbd/SKILL.md
Due: format, format-md

tbd sync: 2026-09-17T14-52-01 (4 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2q1n82ewxqyytff9f2sftj2.md
  .tbd/data-sync/issues/is-01m2qxmd5z1ywx25gq7ccaazbq.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: revise README to the target structure
  README.md
Due: format-md

docs: describe policy grants, tier agents, and review contracts across docs
  docs/development.md
  docs/docs-overview.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
Due: format-md

fix: pass CI on tier agents, the f100 format, and CRLF checkouts
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/linear-epics-selection.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-17T15-27-23 (7 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2q1nb56rhsdwm8nh0rnchef.md
  .tbd/data-sync/issues/is-01m2q1ndc8pr5ck5eeta69ww1r.md
  .tbd/data-sync/issues/is-01m2q1nfp9ay24j5mem0kf6z5n.md
  .tbd/data-sync/issues/is-01m2qyrjgpqvwfbtsy9wb9x4zd.md
  .tbd/data-sync/issues/is-01m2qznhjzfdk0cdnny9feh2yy.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: generate README reference tables from document frontmatter
  README.md
  packages/tbd/package.json
  packages/tbd/scripts/generate-readme-tables.ts
  packages/tbd/scripts/readme-reference-tables.ts
  packages/tbd/tests/readme-reference-tables.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, format-md, lint, typecheck

chore: record this repository's agent policy grants
  AGENTS.md
Due: format-md

fix: keep orphan repair guidance alongside a dependency cycle
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-sync.test.ts
  packages/tbd/tests/issue-dependency-graph.test.ts
Due: format, lint, typecheck

fix: keep dependency findings readable without a usable ID mapping
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/issue-dependency-graph.test.ts
Due: format, lint, typecheck

docs: document the doctor dependency cycle check
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

plan: mark implementation complete and record README decisions
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

fix: keep live targets and the writer gate in the orphan repair
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/doctor-orphaned-dependencies.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-17T21-31-06 (3 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: give the orphan-repair suite the CLI end-to-end timeout budget
  packages/tbd/tests/doctor-orphaned-dependencies.test.ts
Due: format, lint, typecheck

fix: carry the repair's own invalid-file listing to the later checks
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-orphaned-dependencies.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-17T22-37-03 (24 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2pr2dmqqap2nf1xmjbwztaj.md
  .tbd/data-sync/issues/is-01m2pr2e0dq28pt5eydmghyeht.md
  .tbd/data-sync/issues/is-01m2q1ndc8pr5ck5eeta69ww1r.md
  .tbd/data-sync/issues/is-01m2r1s536rk53281z5g5q1m5q.md
  .tbd/data-sync/issues/is-01m2r1s6skhxtw7573hhyg62jr.md
  .tbd/data-sync/issues/is-01m2r1sp8g7848q4cg0f50fjmv.md
  .tbd/data-sync/issues/is-01m2r2mnzqczgyy01sknncwtbq.md
  .tbd/data-sync/issues/is-01m2r2n3xcqc3d7qm1626e8279.md
  .tbd/data-sync/issues/is-01m2r2n511nk4xkrg1ttx833sn.md
  .tbd/data-sync/issues/is-01m2r2n6bbdqvn9gk82wncwy09.md
  .tbd/data-sync/issues/is-01m2r2n75qzn2jtt2vjg6c4z66.md
  .tbd/data-sync/issues/is-01m2r2n81yv3cy465ft8vm9d4k.md
  .tbd/data-sync/issues/is-01m2rk07a26hew8fzbz8njv6r4.md
  .tbd/data-sync/issues/is-01m2rk0qy57xynh5h7tr1xzk31.md
  .tbd/data-sync/issues/is-01m2rk0rehe5xg98438zac5dbt.md
  .tbd/data-sync/issues/is-01m2rk0rynt88zf0ryx7wdmz0g.md
  .tbd/data-sync/issues/is-01m2rk0sdxwqtam69v8vezh555.md
  .tbd/data-sync/issues/is-01m2rk0sz842g81q3tq7za62hr.md
  .tbd/data-sync/issues/is-01m2rk0tf5a6fq00jkb635rw3a.md
  .tbd/data-sync/issues/is-01m2rk0txya3reqj1ayjsks86h.md
  .tbd/data-sync/issues/is-01m2rk0vcbrrbbgpq03aq1zqsm.md
  .tbd/data-sync/issues/is-01m2rqc66m2r6ybk22yhjeh7xx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-17T23-47-47 (6 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2pr2d9920ppbyepz0w9ne4f.md
  .tbd/data-sync/issues/is-01m2r1sp8g7848q4cg0f50fjmv.md
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/issues/is-01m2rw79zh70pgacskvw9ejkqy.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-17T23-48-03 (5 files)
  .tbd/data-sync/issues/is-01m2pr2d9920ppbyepz0w9ne4f.md
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/issues/is-01m2rw9zzs69gde6ayhc8z6pwt.md
  .tbd/data-sync/issues/is-01m2rwa0a8t56qkzsdv3ky8gff.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: fail closed when grants cannot be read from a trusted default branch
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/readme-reference-tables.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-18T00-19-16 (29 files)
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/issues/is-01m2rw9zzs69gde6ayhc8z6pwt.md
  .tbd/data-sync/issues/is-01m2rwa0a8t56qkzsdv3ky8gff.md
  .tbd/data-sync/issues/is-01m2rwdj5ba1686c5qrf5jnns9.md
  .tbd/data-sync/issues/is-01m2rwdjgzrasd8388jm6x9ykx.md
  .tbd/data-sync/issues/is-01m2rwdjyc4rsmdjpep232dzeh.md
  .tbd/data-sync/issues/is-01m2rwdk9ywzge41w9hjbrg1g8.md
  .tbd/data-sync/issues/is-01m2rwdknas74aktcp603tssea.md
  .tbd/data-sync/issues/is-01m2rwhb6yve9nmrczfmpjaa6v.md
  .tbd/data-sync/issues/is-01m2rwhbj2yckqabjqqmve9r9v.md
  .tbd/data-sync/issues/is-01m2rwhbxfyakgspgh85afge5j.md
  .tbd/data-sync/issues/is-01m2rwhc8knp7gzee8fq6e9mwk.md
  .tbd/data-sync/issues/is-01m2rwhckt7yf08njf198xfzcc.md
  .tbd/data-sync/issues/is-01m2rwhcz39ee6wkf2v9x73kkt.md
  .tbd/data-sync/issues/is-01m2rwhda31hm6gmpdnr4ht0df.md
  .tbd/data-sync/issues/is-01m2rwhdnnt0bhtsr9z6jb2mfb.md
  .tbd/data-sync/issues/is-01m2rwhe0wswngpyneqk7kb4w6.md
  .tbd/data-sync/issues/is-01m2rwhed10fd0wvy13cnfzc78.md
  .tbd/data-sync/issues/is-01m2rwj2yq740z8rvcsm0ce601.md
  .tbd/data-sync/issues/is-01m2rwj3a1bfh91xr6fcf10bnd.md
  .tbd/data-sync/issues/is-01m2rwj3nka5n1g7s89qrkd0f0.md
  .tbd/data-sync/issues/is-01m2rwj40xc95hp5gty9qk5431.md
  .tbd/data-sync/issues/is-01m2rwj4c1khbd2z0p7dvsaq3c.md
  .tbd/data-sync/issues/is-01m2rwj4qd8h74a4e9e2ttqmcd.md
  .tbd/data-sync/issues/is-01m2rwj52p891kxg846ptwgvhx.md
  .tbd/data-sync/issues/is-01m2rwj5dt86da4q2aeftzb871.md
  .tbd/data-sync/issues/is-01m2rwj5s3rfhk7sra85da5x36.md
  .tbd/data-sync/issues/is-01m2rwj64dk5q8gmcr92fq1r5a.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: set git identity in the invalid-sync.remote grants test
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

fix: normalize allDocs paths so Windows excludes agent-model-tiers
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-18T00-57-25 (28 files)
  .tbd/data-sync/issues/is-01m2pr2d9920ppbyepz0w9ne4f.md
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/issues/is-01m2rw79zh70pgacskvw9ejkqy.md
  .tbd/data-sync/issues/is-01m2rw9zzs69gde6ayhc8z6pwt.md
  .tbd/data-sync/issues/is-01m2rwhb6yve9nmrczfmpjaa6v.md
  .tbd/data-sync/issues/is-01m2rwhbj2yckqabjqqmve9r9v.md
  .tbd/data-sync/issues/is-01m2rwhbxfyakgspgh85afge5j.md
  .tbd/data-sync/issues/is-01m2rwhc8knp7gzee8fq6e9mwk.md
  .tbd/data-sync/issues/is-01m2rwhckt7yf08njf198xfzcc.md
  .tbd/data-sync/issues/is-01m2rwhcz39ee6wkf2v9x73kkt.md
  .tbd/data-sync/issues/is-01m2rwhda31hm6gmpdnr4ht0df.md
  .tbd/data-sync/issues/is-01m2rwhdnnt0bhtsr9z6jb2mfb.md
  .tbd/data-sync/issues/is-01m2rwhe0wswngpyneqk7kb4w6.md
  .tbd/data-sync/issues/is-01m2rwhed10fd0wvy13cnfzc78.md
  .tbd/data-sync/issues/is-01m2rwj2yq740z8rvcsm0ce601.md
  .tbd/data-sync/issues/is-01m2rwj3a1bfh91xr6fcf10bnd.md
  .tbd/data-sync/issues/is-01m2rwj3nka5n1g7s89qrkd0f0.md
  .tbd/data-sync/issues/is-01m2rwj40xc95hp5gty9qk5431.md
  .tbd/data-sync/issues/is-01m2rwj4c1khbd2z0p7dvsaq3c.md
  .tbd/data-sync/issues/is-01m2rwj4qd8h74a4e9e2ttqmcd.md
  .tbd/data-sync/issues/is-01m2rwj52p891kxg846ptwgvhx.md
  .tbd/data-sync/issues/is-01m2rwj5dt86da4q2aeftzb871.md
  .tbd/data-sync/issues/is-01m2rwj5s3rfhk7sra85da5x36.md
  .tbd/data-sync/issues/is-01m2rwj64dk5q8gmcr92fq1r5a.md
  .tbd/data-sync/issues/is-01m2s092pgngrjse1spwws2jg3.md
  .tbd/data-sync/issues/is-01m2s0931f97gk8wray80g0deg.md
  .tbd/data-sync/issues/is-01m2s093c50tjafb0j1vw9dj7d.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: fail closed when git remote cannot list remotes
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

docs: record Phase 4 Outcome Notes for the #309 validation run
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

tbd sync: 2026-09-18T01-07-16 (7 files)
  .tbd/data-sync/issues/is-01m2s092pgngrjse1spwws2jg3.md
  .tbd/data-sync/issues/is-01m2s0931f97gk8wray80g0deg.md
  .tbd/data-sync/issues/is-01m2s093c50tjafb0j1vw9dj7d.md
  .tbd/data-sync/issues/is-01m2s0eabeggqb03nfbeg3dbtq.md
  .tbd/data-sync/issues/is-01m2s0eapp39hw6vn4hgkgs143.md
  .tbd/data-sync/issues/is-01m2s0eb1bcfk5smx15xn7j0qj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-18T01-33-29 (5 files)
  .tbd/data-sync/issues/is-01m2pr2d9920ppbyepz0w9ne4f.md
  .tbd/data-sync/issues/is-01m2r1sp8g7848q4cg0f50fjmv.md
  .tbd/data-sync/issues/is-01m2rjv6ppwnh8m4vz1r2z96wk.md
  .tbd/data-sync/issues/is-01m2rw79zh70pgacskvw9ejkqy.md
  .tbd/data-sync/issues/is-01m2s0931f97gk8wray80g0deg.md
Due: format-md

docs: fold Phase 4 validation findings into review shortcuts
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-18T02-39-25 (6 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2pr2edgrgckr42003704bwh.md
  .tbd/data-sync/issues/is-01m2rwdknas74aktcp603tssea.md
  .tbd/data-sync/issues/is-01m2s4q55b0jftzxey6tt7g16p.md
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: record the #306 and #307 merges in Phase 4
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

tbd sync: 2026-09-18T05-28-29 (20 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2sfrx39adcthk03qmd41j53.md
  .tbd/data-sync/issues/is-01m2sfrxdj3qrbcvsyd4sjdsvm.md
  .tbd/data-sync/issues/is-01m2sfsbhd7r3dsqd65xcsw1d2.md
  .tbd/data-sync/issues/is-01m2sfsbvspcwgm9jsd6z5bm05.md
  .tbd/data-sync/issues/is-01m2sfsc62t5nt4ww7qwq7th6y.md
  .tbd/data-sync/issues/is-01m2sfscg99r0hp2srawb34hnw.md
  .tbd/data-sync/issues/is-01m2sfsctmzdmszgdh8s7fehp0.md
  .tbd/data-sync/issues/is-01m2sfsd4qhzvazyfw295bpzxy.md
  .tbd/data-sync/issues/is-01m2sfsdext319yqdtydbvga7p.md
  .tbd/data-sync/issues/is-01m2sfsds89p2f0vzcytfvshxr.md
  .tbd/data-sync/issues/is-01m2sfse3d3qq8en37dgrntjep.md
  .tbd/data-sync/issues/is-01m2sfsedgys77mh11yknxfcg1.md
  .tbd/data-sync/issues/is-01m2sfseqhb98kwzy1m4b24m1m.md
  .tbd/data-sync/issues/is-01m2sfsf1wrb97e0rkhqvn09d6.md
  .tbd/data-sync/issues/is-01m2sfsfcsaayr2x0jeqq0s5vc.md
  .tbd/data-sync/issues/is-01m2sfsfq9vzj18cq7b15mt1cj.md
  .tbd/data-sync/issues/is-01m2sfsg25p2x26phng9w771y9.md
  .tbd/data-sync/issues/is-01m2sfsgcnvz24vrpgzajz5hjj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Show unresolved grants in prime and regenerate agent surfaces
  .agents/skills/tbd/SKILL.md
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  lefthook.yml
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-18T05-36-16 (19 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2sfrx39adcthk03qmd41j53.md
  .tbd/data-sync/issues/is-01m2sfrxdj3qrbcvsyd4sjdsvm.md
  .tbd/data-sync/issues/is-01m2sfsbhd7r3dsqd65xcsw1d2.md
  .tbd/data-sync/issues/is-01m2sfsbvspcwgm9jsd6z5bm05.md
  .tbd/data-sync/issues/is-01m2sfsc62t5nt4ww7qwq7th6y.md
  .tbd/data-sync/issues/is-01m2sfscg99r0hp2srawb34hnw.md
  .tbd/data-sync/issues/is-01m2sfsctmzdmszgdh8s7fehp0.md
  .tbd/data-sync/issues/is-01m2sfsd4qhzvazyfw295bpzxy.md
  .tbd/data-sync/issues/is-01m2sfsdext319yqdtydbvga7p.md
  .tbd/data-sync/issues/is-01m2sfsds89p2f0vzcytfvshxr.md
  .tbd/data-sync/issues/is-01m2sfse3d3qq8en37dgrntjep.md
  .tbd/data-sync/issues/is-01m2sfsedgys77mh11yknxfcg1.md
  .tbd/data-sync/issues/is-01m2sfseqhb98kwzy1m4b24m1m.md
  .tbd/data-sync/issues/is-01m2sfsf1wrb97e0rkhqvn09d6.md
  .tbd/data-sync/issues/is-01m2sfsfcsaayr2x0jeqq0s5vc.md
  .tbd/data-sync/issues/is-01m2sfsfq9vzj18cq7b15mt1cj.md
  .tbd/data-sync/issues/is-01m2sfsg25p2x26phng9w771y9.md
  .tbd/data-sync/issues/is-01m2sfsgcnvz24vrpgzajz5hjj.md
Due: format-md
