Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-15T01-34-32 (2 files)
  .tbd/data-sync/issues/is-01m01fz7cdxvby00dr8d9qpa5b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-15T04-50-50 (5 files)
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
  .tbd/data-sync/issues/is-01m01w319pfy060b10krnmcb84.md
  .tbd/data-sync/issues/is-01m01w3h5vsd1r8gk2cdq590g2.md
  .tbd/data-sync/issues/is-01m01w3jp8zjp74yw33z3tw15j.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: replace regex ID parser with YAML AST to handle quoted keys
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/src/utils/yaml-utils.ts
  packages/tbd/tests/id-mapping-duplicate-short-ids.test.ts
  packages/tbd/tests/ids.test.ts
Due: format, format-md, lint, typecheck

test: cover invalid-ULID throw and YAML parse-error throw
  packages/tbd/tests/id-mapping-duplicate-short-ids.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-15T05-29-30 (3 files)
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
  .tbd/data-sync/issues/is-01m01y9yf3cemhpf85w3x1ts1w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-15T05-47-01 (4 files)
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
  .tbd/data-sync/issues/is-01m01w319pfy060b10krnmcb84.md
  .tbd/data-sync/issues/is-01m01w3h5vsd1r8gk2cdq590g2.md
  .tbd/data-sync/issues/is-01m01y9yf3cemhpf85w3x1ts1w.md
Due: format-md

tbd sync: 2026-08-15T06-24-54 (1 file)
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
Due: format-md

docs: Reconcile the research docs with what landed upstream
  docs/project/research/current/research-2026-08-14-agent-and-session-identity.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

f08: preserve unknown bead keys through parse, merge, and change detection
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/f08-unknown-key-preservation.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, lint, typecheck

f08: add docs and refs to beads, and regroup the integrations config
  .tbd/config.yml
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/ref.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/registry.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/f08-unknown-key-preservation.test.ts
  packages/tbd/tests/integrations-core.test.ts
Due: format, lint, typecheck

release: plan the f08 cut, and catch the stale launcher pin
  docs/project/specs/active/plan-2026-08-15-f08-release-rollout.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

feat: tbd start and agent identity
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/start.ts
  packages/tbd/src/lib/agent-identity.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/agent-identity.test.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

fix: tbd sync --push no longer projects onto the tracker
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/tests/cli-sync-surface-honesty.tryscript.md
  packages/tbd/tests/integration-cli-e2e.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-15T08-17-02 (9 files)
  .tbd/data-sync/issues/is-01m00h57nkvtvkbqn992w5fm2e.md
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m00h6q764kkt4jekkeqjz5kb.md
  .tbd/data-sync/issues/is-01m00ja5yw7ebsx68tw8k844e3.md
  .tbd/data-sync/issues/is-01m00k639pqyx9p30eszfh06k0.md
  .tbd/data-sync/issues/is-01m00mw87c585dzj8yxfxm9er5.md
  .tbd/data-sync/issues/is-01m00mw9ppcnxpzvqakekq5tpc.md
  .tbd/data-sync/issues/is-01m00y5g4nha1jb0kxnempajex.md
  .tbd/data-sync/issues/is-01m019njs4t0yscw608pqmkw77.md
Due: format-md

plan: record what shipped, and correct two claims implementation disproved
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

feat: origin and repo labels on every mirrored item
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/origin-labels.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/origin-labels.test.ts
Due: format, lint, typecheck

Make label mirror/create modes enums instead of booleans
  .tbd/config.yml
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/origin-labels.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, lint, typecheck

Make the sync fold gate an enum, splitting two welded decisions
  .tbd/config.yml
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-sync-surface-honesty.tryscript.md
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/integrations-registry.test.ts
  packages/tbd/tests/integrations-status.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

Create Linear label groups properly, and provision them with a command
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/label-groups.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-label-groups.test.ts
Due: format, lint, typecheck

Update the packed-upgrade QA for the f08 candidate
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: none

Fix the legacy fold-gate fallback, and the goldens the f08 bump moved
  docs/project/specs/active/plan-2026-08-15-f08-release-rollout.md
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/integrations-core.test.ts
Due: format, format-md, lint, typecheck

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m04236gmbfrfgt7zpq9p1cte.yml
Due: format

Move the tracker identifier off the bead, and fix what live Linear exposed
  .tbd/config.yml
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/link-store.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/origin-labels.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/client.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-bridge-state.test.ts
  packages/tbd/tests/integrations-link-store.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-reconcile.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-16T01-51-22 (14 files)
  .tbd/data-sync/issues/is-01m042xcf06tnmqey8pcfwwswt.md
  .tbd/data-sync/issues/is-01m042y5dmbxemxrpv8640d933.md
  .tbd/data-sync/issues/is-01m042y780jq8mr205h67dh14m.md
  .tbd/data-sync/issues/is-01m042y9295z0zqb896h2t1a2f.md
  .tbd/data-sync/issues/is-01m042yaww6rgnctr4mkrzavz4.md
  .tbd/data-sync/issues/is-01m042ycqq8p381y7hcdjcvqhb.md
  .tbd/data-sync/issues/is-01m042yejgb7t2e52ymyqnc7f2.md
  .tbd/data-sync/issues/is-01m042ygdwe0ptnf611bxn3s1e.md
  .tbd/data-sync/issues/is-01m042yj8da53xq1d8evgc7xsa.md
  .tbd/data-sync/issues/is-01m042ym3nw0j04xqhx8yexdqf.md
  .tbd/data-sync/issues/is-01m042ynxdamhqxttb1vskbm14.md
  .tbd/data-sync/issues/is-01m0444p5jysk5vb20e5snpa4d.md
  .tbd/data-sync/issues/is-01m0444r3p8svdaxtxgd4txe32.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Rewrite Electron guideline as a pure-Electron reference
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
Due: format-md

Correct two comments that still named the pre-f08 origin label
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/origin-labels.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-16T02-00-35 (11 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m044nedt6k3nsfsnnyxep4k3.md
  .tbd/data-sync/issues/is-01m044ntts3mchercdbj5ysc1w.md
  .tbd/data-sync/issues/is-01m044nvks5kv7t4cs9gn8b6sw.md
  .tbd/data-sync/issues/is-01m044p8vkya3s129dqr09qszy.md
  .tbd/data-sync/issues/is-01m044p9c6bhvyb8bbryag33hz.md
  .tbd/data-sync/issues/is-01m044ppfx0jkk2ddfe2faf5pn.md
  .tbd/data-sync/issues/is-01m044pq2zntk84fyb610dprmn.md
  .tbd/data-sync/issues/is-01m044qg77sr6cpwasm0qkhcbq.md
  .tbd/data-sync/issues/is-01m044qhmd5be33jt0rj5e710g.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m045awfpp9zxyvzxe6w07x7p.yml
  .tbd/data-sync/issues/is-01m044nedt6k3nsfsnnyxep4k3.md
  .tbd/data-sync/issues/is-01m044ntts3mchercdbj5ysc1w.md
  .tbd/data-sync/issues/is-01m044nvks5kv7t4cs9gn8b6sw.md
  .tbd/data-sync/issues/is-01m044p9c6bhvyb8bbryag33hz.md
  .tbd/data-sync/issues/is-01m044ppfx0jkk2ddfe2faf5pn.md
  .tbd/data-sync/issues/is-01m044pq2zntk84fyb610dprmn.md
  .tbd/data-sync/issues/is-01m044qg77sr6cpwasm0qkhcbq.md
  .tbd/data-sync/issues/is-01m044qhmd5be33jt0rj5e710g.md
Due: format, format-md

process: Fix example correctness and pin ages in Electron guideline
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
Due: format-md

tbd sync: 2026-08-16T02-13-53 (3 files)
  .tbd/data-sync/issues/is-01m042xcf06tnmqey8pcfwwswt.md
  .tbd/data-sync/issues/is-01m045a8k2kht81a71reskkyq8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

refactor: Rename the electron doc category to desktop
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/lib/doc-categories.ts
  packages/tbd/tests/doc-categories.test.ts
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

Resolve spec permalinks against the trunk, not the branch that ran the sync
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/permalink.ts
  packages/tbd/tests/integrations-permalink-branch.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-16T02-27-09 (2 files)
  .tbd/data-sync/issues/is-01m044nedt6k3nsfsnnyxep4k3.md
  .tbd/data-sync/issues/is-01m044p8vkya3s129dqr09qszy.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m046hf8vjb29sjnhnytqz21d.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m046hf8vjb29sjnhnytqz21d.yml
  .tbd/data-sync/bridge/linear/links/is-01m044nedt6k3nsfsnnyxep4k3.yml
  .tbd/data-sync/bridge/linear/links/is-01m044p9c6bhvyb8bbryag33hz.yml
  .tbd/data-sync/issues/is-01m044p9c6bhvyb8bbryag33hz.md
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
