Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

tbd sync: 2026-09-19T02-07-43 (4 files)
  .tbd/data-sync/issues/is-01m2vkt95bxebw64rkxa9jx28n.md
  .tbd/data-sync/issues/is-01m2vpkdg97d38s5hqjf79yt20.md
  .tbd/data-sync/issues/is-01m2vpkm2k6gkgxczgd7r2zmav.md
  .tbd/data-sync/issues/is-01m2vpkxcn0jg2e8pnhvr5p0xh.md
Due: format-md

tbd sync: 2026-09-19T02-09-50 (3 files)
  .tbd/data-sync/issues/is-01m2vkt95bxebw64rkxa9jx28n.md
  .tbd/data-sync/issues/is-01m2vpkdg97d38s5hqjf79yt20.md
  .tbd/data-sync/issues/is-01m2vpkmcvs4h8a0b2a9hwgpyq.md
Due: format-md

tbd sync: 2026-09-19T02-10-39 (1 file)
  .tbd/data-sync/issues/is-01m2vm2f44xk8raej7v30n7d3t.md
Due: format-md

docs: Record the user-supplied README pitch in the review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

docs: Restructure README around optional incremental adoption
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-19T02-24-19 (1 file)
  .tbd/data-sync/issues/is-01m2vm2f44xk8raej7v30n7d3t.md
Due: format-md

tbd sync: 2026-09-19T02-25-06 (1 file)
  .tbd/data-sync/issues/is-01m2vm2f44xk8raej7v30n7d3t.md
Due: format-md

docs: Clarify README core value and background
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: Record that the README change is a light framing edit
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

tbd sync: 2026-09-19T02-26-35 (1 file)
  .tbd/data-sync/issues/is-01m2vm2f44xk8raej7v30n7d3t.md
Due: format-md

docs: Drop beads-as-base optional-layers sentence from README
  README.md
Due: format-md

docs: Say unanswered setup grants and not now are valid
  README.md
Due: format-md

tbd sync: 2026-09-19T05-10-03 (2 files)
  .tbd/data-sync/issues/is-01m2w14bde3saa952j9qka7rbq.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T17-34-33 (2 files)
  .tbd/data-sync/issues/is-01m2xbq9ag4d232gd2hfy2aahb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Encode reviewable-unit and stack-shape rules
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/new-plan-spec.md
  packages/tbd/docs/shortcuts/standard/plan-implementation-with-beads.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/tests/integration-files.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-20T01-30-18 (18 files)
  .tbd/data-sync/issues/is-01m2thkck6arv5vp0rq3cnc96v.md
  .tbd/data-sync/issues/is-01m2xbq9ag4d232gd2hfy2aahb.md
  .tbd/data-sync/issues/is-01m2y4ygvt317renehn2caprwa.md
  .tbd/data-sync/issues/is-01m2y5cm051dfedqz2cfraez81.md
  .tbd/data-sync/issues/is-01m2y5cms0tq17x22j2ckyb7bv.md
  .tbd/data-sync/issues/is-01m2y5cnk0q9a0pdaqb37jkvmq.md
  .tbd/data-sync/issues/is-01m2y5cpcv8bzxybt7x0qzcs86.md
  .tbd/data-sync/issues/is-01m2y5cq4d6c71ykp65q6eamfh.md
  .tbd/data-sync/issues/is-01m2y5e22fjethpczwr3qvv560.md
  .tbd/data-sync/issues/is-01m2y5e3sd3z1wx825vx3qn6f2.md
  .tbd/data-sync/issues/is-01m2y5e5fnpwctz06pdt5jqtnx.md
  .tbd/data-sync/issues/is-01m2y5e69tmzn04375166p50dk.md
  .tbd/data-sync/issues/is-01m2y5e6z00vaktp4e6yjranwz.md
  .tbd/data-sync/issues/is-01m2y5e7e9979hzb6rc3ebynft.md
  .tbd/data-sync/issues/is-01m2y5fr1cgpg5pyn2na93qd5s.md
  .tbd/data-sync/issues/is-01m2y5frqm9h53vr7t0vfy49rz.md
  .tbd/data-sync/issues/is-01m2y5fs9c8d2mvpa2wm66ft3c.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T02-09-06 (2 files)
  .tbd/data-sync/issues/is-01m2y95x8ks8e0qnvx8c1aah8e.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T02-15-29 (1 file)
  .tbd/data-sync/issues/is-01m2y95x8ks8e0qnvx8c1aah8e.md
Due: format-md

tbd sync: 2026-09-20T02-32-57 (2 files)
  .tbd/data-sync/issues/is-01m2yahfm2qjr15tpmfjc8bg2x.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T02-38-08 (2 files)
  .tbd/data-sync/issues/is-01m2y95x8ks8e0qnvx8c1aah8e.md
  .tbd/data-sync/issues/is-01m2yahfm2qjr15tpmfjc8bg2x.md
Due: format-md

tbd sync: 2026-09-20T05-43-49 (4 files)
  .tbd/data-sync/issues/is-01m2y5cm051dfedqz2cfraez81.md
  .tbd/data-sync/issues/is-01m2y5cms0tq17x22j2ckyb7bv.md
  .tbd/data-sync/issues/is-01m2y85eas7y516hvfn6jc96rs.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T05-45-04 (2 files)
  .tbd/data-sync/issues/is-01m2ynh0qb8evnc9a0wvs6nwc9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T05-45-15 (1 file)
  .tbd/data-sync/issues/is-01m2ynh0qb8evnc9a0wvs6nwc9.md
Due: format-md

process: Reconcile review-unit and stack-routing guidance
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/new-plan-spec.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-20T05-48-07 (2 files)
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T05-53-38 (7 files)
  .tbd/data-sync/issues/is-01m2xbq9ag4d232gd2hfy2aahb.md
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/issues/is-01m2ynzv6kheqfg5hmcd7hemrs.md
  .tbd/data-sync/issues/is-01m2ynzx8pq2mdk05ktbnze407.md
  .tbd/data-sync/issues/is-01m2ynzyv0nk1w426ed4zgkwnv.md
  .tbd/data-sync/issues/is-01m2yp01emwb8h5m1crmk17s71.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T05-53-54 (2 files)
  .tbd/data-sync/issues/is-01m2yp1hrxvr0h1y83bb3tfpch.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T05-55-06 (3 files)
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/issues/is-01m2yp2ag8zen54a7mr7m7tbww.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T06-01-50 (6 files)
  .tbd/data-sync/issues/is-01kjcb7j040avaqy7d8n2m9gbj.md
  .tbd/data-sync/issues/is-01m2ypb8srcvvppg79r43d4r4m.md
  .tbd/data-sync/issues/is-01m2ypbaqtxkwhjf65rt9dyyfb.md
  .tbd/data-sync/issues/is-01m2ypbbsw06qf1c87sd9w2bfv.md
  .tbd/data-sync/issues/is-01m2ypbd101ahxa55tyqr1nmdr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Correct the Lefthook command-exclusion variable
  docs/development.md
Due: format-md

tbd sync: 2026-09-20T06-05-35 (3 files)
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/issues/is-01m2ypmhxmwevxm7r0rxakcjn2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T06-10-27 (3 files)
  .tbd/data-sync/issues/is-01m2ypmhxmwevxm7r0rxakcjn2.md
  .tbd/data-sync/issues/is-01m2ypxtgpn7fv07td8g6db9m2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T06-12-34 (4 files)
  .tbd/data-sync/issues/is-01m2ypb8srcvvppg79r43d4r4m.md
  .tbd/data-sync/issues/is-01m2ypbaqtxkwhjf65rt9dyyfb.md
  .tbd/data-sync/issues/is-01m2ypbbsw06qf1c87sd9w2bfv.md
  .tbd/data-sync/issues/is-01m2ypbd101ahxa55tyqr1nmdr.md
Due: format-md

tbd sync: 2026-09-20T06-18-06 (1 file)
  .tbd/data-sync/issues/is-01m2ynh0qb8evnc9a0wvs6nwc9.md
Due: format-md

tbd sync: 2026-09-20T06-26-18 (1 file)
  .tbd/data-sync/issues/is-01m2ypxtgpn7fv07td8g6db9m2.md
Due: format-md

feat: split the generated integration format from the repository format
  docs/tbd-format-versioning.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

feat: add policy grants library and tbd policy command
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/policy-grants.test.ts
Due: format, format-md, lint, typecheck

docs: add agent-model-tiers guideline
  packages/tbd/docs/guidelines/agent-model-tiers.md
Due: format-md

docs: define the review-state contract in pr-review-workflows
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

plan: record decisions, add final doc updates; consolidate sub-agent research
  docs/project/research/archive/research-claude-code-sub-agents.md
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md
