Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: Add three failure mode patterns to sync worktree spec
  docs/project/specs/active/plan-2026-01-28-sync-worktree-recovery-and-hardening.md
Due: format-md

docs: Add Bug 6 (fresh clone), bug summary table, and e2e tryscript test
  docs/project/specs/active/plan-2026-01-28-sync-worktree-recovery-and-hardening.md
Due: format-md

docs: Fix backup directory naming and expand sync worktree spec
  docs/project/specs/active/plan-2026-01-28-sync-worktree-recovery-and-hardening.md
  packages/tbd/docs/tbd-design.md
Due: format-md

tbd sync: 2026-01-29T00-48-40 (5 files)
  .tbd/data-sync/issues/is-01kg3fm8whz13k1ty2st7461m0.md
  .tbd/data-sync/issues/is-01kg3fmsr4tvm52tb3xc3kyf1a.md
  .tbd/data-sync/issues/is-01kg3fncaavct0k7x902gmk078.md
  .tbd/data-sync/issues/is-01kg3fngz2acc5gx2tatk24k1d.md
  .tbd/data-sync/issues/is-01kg3fpgdvx6b4e21wwgnnrtqh.md
Due: format-md

docs: Add author attribution to bundled guidelines, shortcuts, and templates
  docs/project/specs/active/plan-2026-01-28-bundled-docs-front-matter-consistency.md
  packages/tbd/docs/guidelines/backward-compatibility-rules.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/commit-conventions.md
  packages/tbd/docs/guidelines/convex-limits-best-practices.md
  packages/tbd/docs/guidelines/convex-rules.md
  packages/tbd/docs/guidelines/general-coding-rules.md
  packages/tbd/docs/guidelines/general-comment-rules.md
  packages/tbd/docs/guidelines/general-eng-assistant-rules.md
  packages/tbd/docs/guidelines/general-style-rules.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-code-coverage.md
  packages/tbd/docs/guidelines/typescript-monorepo-patterns.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/shortcuts/standard/commit-code.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/new-architecture-doc.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/standard/new-implementation-beads-from-spec.md
  packages/tbd/docs/shortcuts/standard/new-plan-spec.md
  packages/tbd/docs/shortcuts/standard/new-research-brief.md
  packages/tbd/docs/shortcuts/standard/new-validation-plan.md
  packages/tbd/docs/shortcuts/standard/precommit-process.md
  packages/tbd/docs/shortcuts/standard/review-code-python.md
  packages/tbd/docs/shortcuts/standard/review-code-typescript.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/templates/architecture-doc.md
  packages/tbd/docs/templates/plan-spec.md
  packages/tbd/docs/templates/research-brief.md
Due: format-md

fix(sync): Fix three worktree recovery bugs
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, lint, typecheck

tbd sync: 2026-01-29T04-16-08 (2 files)
  .tbd/data-sync/issues/is-01kg3xyqz2j5pbgfqtkkcqv7d2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: add changeset for v0.1.9
  .changeset/worktree-robustness.md
Due: format-md

docs: add terminal output design system audit spec
  docs/project/specs/active/plan-2026-01-29-terminal-output-design-system-audit.md
Due: format-md

process: Add command hierarchy and subsumption relationships to terminal design system
  docs/project/specs/active/plan-2026-01-29-terminal-design-system.md
Due: format-md

fix(sync): auto-repair detached HEAD worktrees from old tbd versions
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-detached-worktree-bug.tryscript.md
  packages/tbd/tests/cli-sync-migration-bug.tryscript.md
  packages/tbd/tests/cli-sync-worktree-scenarios.tryscript.md
Due: format, format-md, lint, typecheck

feat: Implement terminal design system with shared section renderers
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/stats.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/lib/index.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/src/cli/lib/sections.ts
Due: format, lint, typecheck

test: Add golden tests for terminal design system consistency
  packages/tbd/tests/terminal-design-system.test.ts
Due: format, lint, typecheck

docs: Mark terminal design system plan spec as implemented
  docs/project/specs/active/plan-2026-01-29-terminal-design-system.md
Due: format-md

fix: revert to checkout-before-staging to preserve working directory
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
Due: format, lint, typecheck

fix: remove problematic tbd list test after worktree repair
  packages/tbd/tests/cli-sync-worktree-scenarios.tryscript.md
Due: format-md

chore: release get-tbd v0.1.10
  .changeset/fix-detached-head-worktree.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: add plan spec for child ordering hints feature
  docs/project/specs/active/plan-2026-01-29-child-ordering-hints.md
Due: format-md

fix: detect npm global bin path for tbd session hook
  .claude/scripts/tbd-session.sh
Due: none

fix: detect npm global bin path for tbd auto-install
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

tbd sync: 2026-01-29T19-15-47 (5 files)
  .tbd/data-sync/issues/is-01kg5jefrsb9905eny2wjc1gm9.md
  .tbd/data-sync/issues/is-01kg5jepwk4jpsha9anbfd21ws.md
  .tbd/data-sync/issues/is-01kg5jeq41232s8ebd1s5yffje.md
  .tbd/data-sync/issues/is-01kg5jeqbcvxp58nn6yygfwmmy.md
  .tbd/data-sync/issues/is-01kg5jeqjq2et9ppzc7gq1dnnk.md
Due: format-md

docs(spec): Add unified sync command spec
  docs/project/specs/active/plan-2026-01-29-unified-sync-command.md
Due: format-md

fix: add explicit timeout for Windows performance test
  packages/tbd/tests/performance.test.ts
Due: format, lint, typecheck

fix(sync): report push failures instead of silently saying 'Already in sync'
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

tbd sync: 2026-01-29T21-05-03 (5 files)
  .tbd/data-sync/issues/is-01kg5resvdj6wszs3rfhf11xnt.md
  .tbd/data-sync/issues/is-01kg5rptnwx5ryd07qasy41ee9.md
  .tbd/data-sync/issues/is-01kg5rq03d9j2vph00jhc52ta1.md
  .tbd/data-sync/issues/is-01kg5s5hsrxdmmt6fn0zaey239.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(stats): redesign output with icons, colors, and aligned columns
  packages/tbd/src/cli/commands/stats.ts
Due: format, lint, typecheck

docs(guidelines): emphasize raw output over high-level abstractions
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
Due: format-md

docs(guidelines): generalize to --show-subprocess for all subprocess calls
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
Due: format-md

docs: add commit prefix reference to PR shortcut and refine bead workflow
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/plan-implementation-with-beads.md
Due: format-md

fix(tests): update golden tests for new stats format and sync behavior
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-status.tryscript.md
  packages/tbd/tests/cli-sync.tryscript.md
Due: format-md

chore: update skill files with standardized beads terminology
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

test(stats): add complete golden test for redesigned stats output
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format-md

fix(tests): update prime test for bead terminology
  packages/tbd/tests/prime.test.ts
Due: format, lint, typecheck

docs: Restore expanded guidelines.
  packages/tbd/docs/guidelines/general-comment-rules.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/typescript-rules.md
Due: format-md

fix(tests): update sync JSON test for push failure fields
  packages/tbd/tests/cli-sync.tryscript.md
Due: format-md

docs: Add error-handling-rules guideline and update terminology
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  docs/project/specs/active/plan-2026-01-29-silent-error-swallowing-postmortem.md
  packages/tbd/docs/guidelines/error-handling-rules.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
Due: format, format-md

docs(shortcuts): Improve PR shortcuts with concrete gh proxy instructions
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
Due: format-md

docs(shortcuts): Clarify gh --repo flag works for both direct and proxy connections
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
Due: format-md

feat(doc-cache): Update auto-sync to merge bundled defaults
  packages/tbd/src/file/doc-cache.ts
Due: format, lint, typecheck
