Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

tbd sync: 2026-08-14T16-21-28 (19 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00h4kq7ywbxdn9nz2tedv7b.md
  .tbd/data-sync/issues/is-01m00h4n4v9ej5abttafz79t72.md
  .tbd/data-sync/issues/is-01m00h4phk5sx8cf4meq0gpk9b.md
  .tbd/data-sync/issues/is-01m00h4r097kwbjg224wn8xxbk.md
  .tbd/data-sync/issues/is-01m00h57nkvtvkbqn992w5fm2e.md
  .tbd/data-sync/issues/is-01m00h5aejamyg9y5vw4qf9649.md
  .tbd/data-sync/issues/is-01m00h5bwwh3cnhd087t7yc7dx.md
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m00h5zhsp0wh3nkcydjf0rtk.md
  .tbd/data-sync/issues/is-01m00h60xmsj85fqn07wkrtjqd.md
  .tbd/data-sync/issues/is-01m00h62dhwa0tgqbrxz4sb0sc.md
  .tbd/data-sync/issues/is-01m00h6mdt1t263xgyn6ht00d5.md
  .tbd/data-sync/issues/is-01m00h6nssev3wydw37zz68nhn.md
  .tbd/data-sync/issues/is-01m00h6q764kkt4jekkeqjz5kb.md
  .tbd/data-sync/issues/is-01m00h6rm09zkf3e6n88pzd4ge.md
  .tbd/data-sync/issues/is-01m00h74jxrdkgs06btjdx4v22.md
  .tbd/data-sync/issues/is-01m00h762qx9k4enj3pdk3q75a.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Add F5 — tbd sync runs the parent repo's pre-push hook
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

tbd sync: 2026-08-14T16-25-29 (3 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00hf31fn9wskcxd775x8xaa.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Name the three commands the hook table wires up
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

docs: close remaining gaps in setup-github-cli, drop duplicate guideline
  packages/tbd/docs/guidelines/github-access-layers.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
Due: format-md

docs(guidelines): add a decision procedure to backward-compatibility-rules
  packages/tbd/docs/guidelines/backward-compatibility-rules.md
Due: format-md

process: Measure whether tbd sync is cheap enough to run often
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

tbd sync: 2026-08-14T16-40-56 (10 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00h6q764kkt4jekkeqjz5kb.md
  .tbd/data-sync/issues/is-01m00hf31fn9wskcxd775x8xaa.md
  .tbd/data-sync/issues/is-01m00j9jkhwgbczp3hkcy38z7q.md
  .tbd/data-sync/issues/is-01m00j9m3fp2j6hny5s14fs2a0.md
  .tbd/data-sync/issues/is-01m00ja5yw7ebsx68tw8k844e3.md
  .tbd/data-sync/issues/is-01m00ja7cxw4z9heqpmdcmsfsa.md
  .tbd/data-sync/issues/is-01m00ja8zjg8mbnw6b474q9q17.md
  .tbd/data-sync/issues/is-01m00jaacfz0nepg8ghey7qd87.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: add agent-session-ergonomics backlog spec
  docs/project/specs/backlog/agent-session-ergonomics.md
Due: format-md

tbd sync: 2026-08-14T16-47-39 (1 file)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
Due: format-md

research: Add the traceability model — beads, docs, PRs, and the tracker
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

tbd sync: 2026-08-14T16-56-25 (32 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00h4kq7ywbxdn9nz2tedv7b.md
  .tbd/data-sync/issues/is-01m00h4n4v9ej5abttafz79t72.md
  .tbd/data-sync/issues/is-01m00h4phk5sx8cf4meq0gpk9b.md
  .tbd/data-sync/issues/is-01m00h4r097kwbjg224wn8xxbk.md
  .tbd/data-sync/issues/is-01m00h57nkvtvkbqn992w5fm2e.md
  .tbd/data-sync/issues/is-01m00h5aejamyg9y5vw4qf9649.md
  .tbd/data-sync/issues/is-01m00h5bwwh3cnhd087t7yc7dx.md
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m00h5zhsp0wh3nkcydjf0rtk.md
  .tbd/data-sync/issues/is-01m00h60xmsj85fqn07wkrtjqd.md
  .tbd/data-sync/issues/is-01m00h62dhwa0tgqbrxz4sb0sc.md
  .tbd/data-sync/issues/is-01m00h6mdt1t263xgyn6ht00d5.md
  .tbd/data-sync/issues/is-01m00h6nssev3wydw37zz68nhn.md
  .tbd/data-sync/issues/is-01m00h6q764kkt4jekkeqjz5kb.md
  .tbd/data-sync/issues/is-01m00h6rm09zkf3e6n88pzd4ge.md
  .tbd/data-sync/issues/is-01m00h74jxrdkgs06btjdx4v22.md
  .tbd/data-sync/issues/is-01m00h762qx9k4enj3pdk3q75a.md
  .tbd/data-sync/issues/is-01m00hf31fn9wskcxd775x8xaa.md
  .tbd/data-sync/issues/is-01m00j9jkhwgbczp3hkcy38z7q.md
  .tbd/data-sync/issues/is-01m00j9m3fp2j6hny5s14fs2a0.md
  .tbd/data-sync/issues/is-01m00ja5yw7ebsx68tw8k844e3.md
  .tbd/data-sync/issues/is-01m00ja7cxw4z9heqpmdcmsfsa.md
  .tbd/data-sync/issues/is-01m00ja8zjg8mbnw6b474q9q17.md
  .tbd/data-sync/issues/is-01m00jaacfz0nepg8ghey7qd87.md
  .tbd/data-sync/issues/is-01m00k639pqyx9p30eszfh06k0.md
  .tbd/data-sync/issues/is-01m00k64qt61hy5vnwb66nr3zx.md
  .tbd/data-sync/issues/is-01m00k6rrtay18j0gb1snphxge.md
  .tbd/data-sync/issues/is-01m00k6t67cbxc3hrcwek1563e.md
  .tbd/data-sync/issues/is-01m00k6vj8rnw98ttyx016mmak.md
  .tbd/data-sync/issues/is-01m00k6wyrse7se3kj2693296a.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

style: Avoid nested quotes that flowmark --check rejects
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

plan: External sync and traceability roadmap in four phases
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T17-26-54 (34 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00h4kq7ywbxdn9nz2tedv7b.md
  .tbd/data-sync/issues/is-01m00h4n4v9ej5abttafz79t72.md
  .tbd/data-sync/issues/is-01m00h4phk5sx8cf4meq0gpk9b.md
  .tbd/data-sync/issues/is-01m00h4r097kwbjg224wn8xxbk.md
  .tbd/data-sync/issues/is-01m00h57nkvtvkbqn992w5fm2e.md
  .tbd/data-sync/issues/is-01m00h5aejamyg9y5vw4qf9649.md
  .tbd/data-sync/issues/is-01m00h5bwwh3cnhd087t7yc7dx.md
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m00h5zhsp0wh3nkcydjf0rtk.md
  .tbd/data-sync/issues/is-01m00h60xmsj85fqn07wkrtjqd.md
  .tbd/data-sync/issues/is-01m00h62dhwa0tgqbrxz4sb0sc.md
  .tbd/data-sync/issues/is-01m00h6mdt1t263xgyn6ht00d5.md
  .tbd/data-sync/issues/is-01m00h6nssev3wydw37zz68nhn.md
  .tbd/data-sync/issues/is-01m00h6q764kkt4jekkeqjz5kb.md
  .tbd/data-sync/issues/is-01m00h6rm09zkf3e6n88pzd4ge.md
  .tbd/data-sync/issues/is-01m00h74jxrdkgs06btjdx4v22.md
  .tbd/data-sync/issues/is-01m00h762qx9k4enj3pdk3q75a.md
  .tbd/data-sync/issues/is-01m00hf31fn9wskcxd775x8xaa.md
  .tbd/data-sync/issues/is-01m00j9jkhwgbczp3hkcy38z7q.md
  .tbd/data-sync/issues/is-01m00j9m3fp2j6hny5s14fs2a0.md
  .tbd/data-sync/issues/is-01m00ja5yw7ebsx68tw8k844e3.md
  .tbd/data-sync/issues/is-01m00ja7cxw4z9heqpmdcmsfsa.md
  .tbd/data-sync/issues/is-01m00ja8zjg8mbnw6b474q9q17.md
  .tbd/data-sync/issues/is-01m00jaacfz0nepg8ghey7qd87.md
  .tbd/data-sync/issues/is-01m00k639pqyx9p30eszfh06k0.md
  .tbd/data-sync/issues/is-01m00k64qt61hy5vnwb66nr3zx.md
  .tbd/data-sync/issues/is-01m00k6rrtay18j0gb1snphxge.md
  .tbd/data-sync/issues/is-01m00k6t67cbxc3hrcwek1563e.md
  .tbd/data-sync/issues/is-01m00k6vj8rnw98ttyx016mmak.md
  .tbd/data-sync/issues/is-01m00k6wyrse7se3kj2693296a.md
  .tbd/data-sync/issues/is-01m00mw87c585dzj8yxfxm9er5.md
  .tbd/data-sync/issues/is-01m00mw9ppcnxpzvqakekq5tpc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: record published v0.6.1 repository upgrade
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

fix: make repository upgrades repeatable
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/development.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  docs/publishing.md
  package.json
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-14T18-28-00 (2 files)
  .tbd/data-sync/issues/is-01m00n672drpwsdvm8g8ea4p3k.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: make hook version checks shell-native
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

docs(guidelines): address review — compress, and fix the boundary
  packages/tbd/docs/guidelines/backward-compatibility-rules.md
Due: format-md

test: honor generated hook PATH order
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-14T18-52-11 (8 files)
  .tbd/data-sync/issues/is-01kzyy0r9gvz8g8150fa2rv6zx.md
  .tbd/data-sync/issues/is-01m00s6zb5nmx0vse0d6rzhe31.md
  .tbd/data-sync/issues/is-01m00sccv4nggncfn4s55bsknq.md
  .tbd/data-sync/issues/is-01m00scdc3hhreqy7xnpbymham.md
  .tbd/data-sync/issues/is-01m00scds5tw3vp2t7d326pasy.md
  .tbd/data-sync/issues/is-01m00sce6fb5sbt7y3zqp19ynn.md
  .tbd/data-sync/issues/is-01m00sk6jwdpjzznz61cqx6bgc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: sharpen backward compatibility guidance
  packages/tbd/docs/guidelines/backward-compatibility-rules.md
Due: format-md

tbd sync: 2026-08-14T19-13-25 (5 files)
  .tbd/data-sync/issues/is-01m00s6zb5nmx0vse0d6rzhe31.md
  .tbd/data-sync/issues/is-01m00sccv4nggncfn4s55bsknq.md
  .tbd/data-sync/issues/is-01m00scdc3hhreqy7xnpbymham.md
  .tbd/data-sync/issues/is-01m00scds5tw3vp2t7d326pasy.md
  .tbd/data-sync/issues/is-01m00sce6fb5sbt7y3zqp19ynn.md
Due: format-md

research+plan: Multi-repo topologies, origin labels, and remap safety
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T19-15-42 (4 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00v3wqaatz90kaztwafsz1c.md
  .tbd/data-sync/issues/is-01m00v3z032qt4610478q3vsw6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: streamline GitHub CLI session readiness
  docs/project/specs/active/plan-2026-08-14-github-cli-session-readiness.md
Due: format-md

plan: align GitHub CLI readiness with merged guidance
  docs/project/specs/active/plan-2026-08-14-github-cli-session-readiness.md
Due: format-md

tbd sync: 2026-08-14T19-27-24 (2 files)
  .tbd/data-sync/issues/is-01m00n672drpwsdvm8g8ea4p3k.md
  .tbd/data-sync/issues/is-01m00sk6jwdpjzznz61cqx6bgc.md
Due: format-md

chore: upgrade repository setup to tbd v0.6.2
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
Due: format

plan: Name the integration modes; repo labels use Linear label groups
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T19-49-03 (1 file)
  .tbd/data-sync/issues/is-01m00v3wqaatz90kaztwafsz1c.md
Due: format-md

plan: Labels in every mode; one grouped integration config model at f08
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T20-07-38 (4 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00mw87c585dzj8yxfxm9er5.md
  .tbd/data-sync/issues/is-01m00y5g4nha1jb0kxnempajex.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T20-08-53 (1 file)
  .tbd/data-sync/issues/is-01m00n672drpwsdvm8g8ea4p3k.md
Due: format-md

fix: make repository launchers format-compatible
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  docs/tbd-format-versioning.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/package.json
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/version.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/schemas.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-hooks.test.ts
  packages/tbd/tsdown.config.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-14T20-24-43 (3 files)
  .tbd/data-sync/issues/is-01kytf97zs21wgfaggn8kdmqbx.md
  .tbd/data-sync/issues/is-01kytfaffw8q13xkf5vgkc8qrj.md
  .tbd/data-sync/issues/is-01m00sk6jwdpjzznz61cqx6bgc.md
Due: format-md

test: cover fallback version in transcripts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
Due: format-md

tbd sync: 2026-08-14T20-32-01 (1 file)
  .tbd/data-sync/issues/is-01m00sk6jwdpjzznz61cqx6bgc.md
Due: format-md

docs: align session plan with format launchers
  docs/project/specs/active/plan-2026-08-14-github-cli-session-readiness.md
Due: format-md
