Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: Record that the README change is a light framing edit
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

docs: Avoid #309-only tbd doc commands in the review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

docs: Record the user-supplied README pitch in the review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

tbd sync: 2026-09-30T06-58-55 (2 files)
  .tbd/data-sync/issues/is-01m3rhq6hfg0kvx63m0ydwxphf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: restructure README for gradual adoption and current workflows
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/reviews/review-2026-09-19-readme-restructure.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  skills/tbd/SKILL.md
Due: format-md

tbd sync: 2026-09-30T07-33-00 (1 file)
  .tbd/data-sync/issues/is-01m3rhq6hfg0kvx63m0ydwxphf.md
Due: format-md

tbd sync: 2026-09-30T07-37-44 (2 files)
  .tbd/data-sync/issues/is-01m3rkx8y1t5z3kbnxjsc89nqf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-30T07-49-41 (3 files)
  .tbd/data-sync/issues/is-01m2kfdv49hpc2jytb1s0y02hx.md
  .tbd/data-sync/issues/is-01m3ren0pk7gkjdr6mx37bdxe6.md
  .tbd/data-sync/issues/is-01m3rkx8y1t5z3kbnxjsc89nqf.md
Due: format-md

tbd sync: 2026-09-30T08-23-16 (5 files)
  .tbd/data-sync/issues/is-01m2kfdv49hpc2jytb1s0y02hx.md
  .tbd/data-sync/issues/is-01m3ren0pk7gkjdr6mx37bdxe6.md
  .tbd/data-sync/issues/is-01m3rkx8y1t5z3kbnxjsc89nqf.md
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-30T08-27-52 (2 files)
  .tbd/data-sync/issues/is-01m3rkx8y1t5z3kbnxjsc89nqf.md
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
Due: format-md

tbd sync: 2026-10-02T05-18-04 (2 files)
  .tbd/data-sync/issues/is-01m3xgqx4zcqes5eypp7hwa6kj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: explain shared workflows across coding agents
  README.md
Due: format-md

tbd sync: 2026-10-02T05-32-19 (1 file)
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
Due: format-md

tbd sync: 2026-10-02T05-37-17 (2 files)
  .tbd/data-sync/issues/is-01m3xhspz0v7d8bmmq2q2e8h55.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: clarify installation and repository setup order
  README.md
  docs/project/reviews/review-2026-09-19-readme-restructure.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
Due: format-md

docs: bootstrap fresh projects before loading setup shortcut
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  skills/tbd/SKILL.md
Due: format-md

chore: prepare get-tbd v0.10.0 release candidate
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/package.json
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/setup-surface-refusals.test.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, format-md, lint, typecheck

fix: guide first-time setup from prime to policy review
  packages/tbd/CHANGELOG.md
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-10-02T06-10-44 (2 files)
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
  .tbd/data-sync/issues/is-01m3xhspz0v7d8bmmq2q2e8h55.md
Due: format-md

tbd sync: 2026-10-02T06-21-17 (2 files)
  .tbd/data-sync/issues/is-01m3xmb6fkv8jf9k88pnyaj5yd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: allow subprocess budget for setup hook fixtures
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

tbd sync: 2026-10-02T06-42-03 (2 files)
  .tbd/data-sync/issues/is-01m3xnhyhvfe48tegf351an88p.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-10-02T06-50-06 (7 files)
  .tbd/data-sync/issues/is-01m2kfdv49hpc2jytb1s0y02hx.md
  .tbd/data-sync/issues/is-01m3ren0pk7gkjdr6mx37bdxe6.md
  .tbd/data-sync/issues/is-01m3rkx8y1t5z3kbnxjsc89nqf.md
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
  .tbd/data-sync/issues/is-01m3xgqx4zcqes5eypp7hwa6kj.md
  .tbd/data-sync/issues/is-01m3xhspz0v7d8bmmq2q2e8h55.md
  .tbd/data-sync/issues/is-01m3xmb6fkv8jf9k88pnyaj5yd.md
Due: format-md

tbd sync: 2026-10-02T07-07-54 (1 file)
  .tbd/data-sync/issues/is-01m3rnbnmm07dppz3j9dbpn9d9.md
Due: format-md

tbd sync: 2026-10-02T07-12-54 (2 files)
  .tbd/data-sync/issues/is-01m3xq9vctyfhrx00ez33e2hfn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: upgrade repository setup to tbd v0.10.0
  .tbd/config.yml
Due: format

tbd sync: 2026-10-02T07-37-17 (1 file)
  .tbd/data-sync/issues/is-01m3xq9vctyfhrx00ez33e2hfn.md
Due: format-md

tbd sync: 2026-10-02T07-50-40 (1 file)
  .tbd/data-sync/issues/is-01m3xq9vctyfhrx00ez33e2hfn.md
Due: format-md
