Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

chore: sync pnpm-monorepo-patterns guideline with codebase
  .flowmarkignore
  .github/workflows/ci.yml
  .tbd/.gitignore
  .tbd/config.yml
  docs/project/specs/active/plan-2026-02-18-pnpm-monorepo-patterns-codebase-sync.md
  package.json
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/package.json
  pnpm-lock.yaml
Due: format, format-md

fix: stop writing GitHub issue URL into user .gitattributes files
  .tbd/.gitattributes
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

fix: remove unused --non-interactive and --yes flags
  README.md
  docs/project/architecture/current/arch-cli-interface-design-system.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/lib/context.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-beads.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-import.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/output.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-02-19T18-02-53 (23 files)
  .tbd/data-sync/issues/is-01kht537c81rfz68kkk6awrnt3.md
  .tbd/data-sync/issues/is-01kht53bydmvwphe508ck96sjt.md
  .tbd/data-sync/issues/is-01kht53epbkze1jw5nd6m9nhgz.md
  .tbd/data-sync/issues/is-01kht53fy50pvcy0e12ef4wm4z.md
  .tbd/data-sync/issues/is-01kht53h0g8abbj1640b0p1vy0.md
  .tbd/data-sync/issues/is-01kht53j87k3s33ztwayx95xd1.md
  .tbd/data-sync/issues/is-01kht98kb1dkcmmfq1hqj4b72c.md
  .tbd/data-sync/issues/is-01kht98m4gmsjbaqrtt06gs1xk.md
  .tbd/data-sync/issues/is-01kht98n0m20nhmn47yjdwykkk.md
  .tbd/data-sync/issues/is-01kht98p0jfvhr19jfqwf3nbt6.md
  .tbd/data-sync/issues/is-01kht98q0knjfngbwq6a1mp12t.md
  .tbd/data-sync/issues/is-01kht98r1vbsar9krywxw64sr8.md
  .tbd/data-sync/issues/is-01kht98rttdnpwmzwwceh6enyh.md
  .tbd/data-sync/issues/is-01kht98snty93h4awgnrcyxp10.md
  .tbd/data-sync/issues/is-01kht98tn75cjgdkb9ejwe6ynk.md
  .tbd/data-sync/issues/is-01kht98vvebeazx16f5ne3ge5m.md
  .tbd/data-sync/issues/is-01kht98wny58zkyw4tcbgd87n4.md
  .tbd/data-sync/issues/is-01kht98xp03byb016d6qg5tvn7.md
  .tbd/data-sync/issues/is-01khve0r2rrxc89cc5tg59jr0x.md
  .tbd/data-sync/issues/is-01khve0vjrehyhgm8g25j1t6ne.md
  .tbd/data-sync/issues/is-01khve0vr2z89n3s3k4bdf21s8.md
  .tbd/data-sync/issues/is-01khve0vx9ym23a89mvzvqncdj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-02-19T18-02-58 (4 files)
  .tbd/data-sync/issues/is-01khrvk5mwh3rcbfm1cev1g158.md
  .tbd/data-sync/issues/is-01khrvk9vbnv3styn6hrjdxjta.md
  .tbd/data-sync/issues/is-01khrvkhv38w0ckdar221p2h9n.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: sync tbd outbox after closing beads
  .tbd/workspaces/outbox/issues/is-01khrvk5mwh3rcbfm1cev1g158.md
  .tbd/workspaces/outbox/issues/is-01khrvk9vbnv3styn6hrjdxjta.md
  .tbd/workspaces/outbox/issues/is-01khrvkhv38w0ckdar221p2h9n.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

fix: increase timeout for fresh-clone golden test on Windows
  packages/tbd/tests/golden-output.test.ts
Due: format, lint, typecheck

chore: add changeset for v0.1.23
  .changeset/release-v0123.md
Due: format-md

chore: release get-tbd v0.1.23
  .changeset/release-v0123.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: update release notes for v0.1.23
  release-notes.md
Due: format-md

fix: multiple bugs found during codebase exploration
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/sections.ts
  packages/tbd/src/file/doc-sync.ts
Due: format, lint, typecheck

chore: gitignore package-lock.json (pnpm project)
  .gitignore
Due: none

chore: remove old .beads dir.
  .beads-disabled/.beads/.gitignore
  .beads-disabled/.beads/README.md
  .beads-disabled/.beads/config.yaml
  .beads-disabled/.beads/daemon-error
  .beads-disabled/.beads/interactions.jsonl
  .beads-disabled/.beads/issues.jsonl
  .beads-disabled/.beads/metadata.json
  .beads-disabled/.gitattributes
  .beads-disabled/RESTORE.md
Due: format, format-md

docs: improve research brief template with optional sections and blockquote instructions
  packages/tbd/docs/templates/research-brief.md
Due: format-md

tbd sync: 2026-02-25T20-11-49 (5 files)
  .tbd/data-sync/issues/is-01kjb6s8sc4b9cveaamzeasdxa.md
  .tbd/data-sync/issues/is-01kjb6sfnf7ww2ezegg3fa4nr8.md
  .tbd/data-sync/issues/is-01kjb6sfngx4dpgyem2wg3mbvf.md
  .tbd/data-sync/issues/is-01kjb6sfnkwgfczq3nrmygn4js.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: isolate sync branches across linked worktrees
  docs/project/specs/active/plan-2026-02-25-multi-worktree-sync-branch-isolation.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/cli/lib/sections.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/sync-branch.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/cli-status.tryscript.md
  packages/tbd/tests/cli-sync-remote.tryscript.md
  packages/tbd/tests/cli-sync-worktree-scenarios.tryscript.md
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/git-remote.test.ts
  packages/tbd/tests/sync-branch.test.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-02-26T06-42-11 (4 files)
  .tbd/data-sync/issues/is-01kjb6s8sc4b9cveaamzeasdxa.md
  .tbd/data-sync/issues/is-01kjb6sfnf7ww2ezegg3fa4nr8.md
  .tbd/data-sync/issues/is-01kjb6sfngx4dpgyem2wg3mbvf.md
  .tbd/data-sync/issues/is-01kjb6sfnkwgfczq3nrmygn4js.md
Due: format-md

tbd sync: 2026-02-26T06-48-02 (2 files)
  .tbd/data-sync/issues/is-01kjcb7j040avaqy7d8n2m9gbj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Prevent concurrent create from losing short ID mappings
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/tests/concurrent-mapping.test.ts
Due: format, lint, typecheck

refactor: Extract lockfile utility; fix test timeouts
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/doc-add-e2e.test.ts
  packages/tbd/tests/doc-references.test.ts
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

fix: Tighten lockfile defaults and clarify it's not flock
  packages/tbd/src/utils/lockfile.ts
Due: format, lint, typecheck

fix: Prevent migration from destroying ids.yml mappings
  docs/project/specs/active/plan-2026-02-27-id-mapping-safety.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/tests/concurrent-mapping.test.ts
Due: format, format-md, lint, typecheck

fix: Cap doctor history scan to 50 commits for mapping recovery
  docs/project/specs/active/plan-2026-02-27-id-mapping-safety.md
  packages/tbd/src/cli/commands/doctor.ts
Due: format, format-md, lint, typecheck

feat: Add --max-history option to tbd doctor for mapping recovery
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

fix: Remove source files after migration and add verbose doctor output
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

fix: Validate --max-history input to prevent unbounded history scan
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

fix: Make sync ahead/behind status informational, not a warning
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

docs: Update spec status to Implemented with all checkboxes done
  docs/project/specs/active/plan-2026-02-27-id-mapping-safety.md
Due: format-md

chore: add changeset for v0.1.24
  .changeset/release-0124.md
Due: format-md

chore: release get-tbd v0.1.24
  .changeset/release-0124.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: update release notes for v0.1.24
  release-notes.md
Due: format-md

feat: detect worktree sync branch conflict and fall back to outbox
  docs/project/specs/active/plan-2026-02-27-worktree-sync-outbox-fallback.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/worktree-branch-conflict.test.ts
Due: format, format-md, lint, typecheck

docs: add cross-references between research docs and move api-references to current/
  docs/project/research/current/api-references-bridge-integrations.md
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/research/current/research-running-claude-code.md
Due: format-md

docs: comprehensive March 2026 refresh of orchestration research docs
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
  docs/project/research/current/research-running-claude-code.md
Due: format-md

Clarify prefix instructions to prevent dashes and confusion with issue IDs
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
Due: format-md

docs: add detailed coverage of cmux, Symphony, and Multiclaude to research docs
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
  docs/project/research/current/research-running-claude-code.md
Due: format-md

docs: expand Multiclaude section with full architecture details
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
