Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-18T00-05-38 (5 files)
  .tbd/data-sync/issues/is-01m091zrhym1y81tm7g22hheyh.md
  .tbd/data-sync/issues/is-01m09206be03ygtgz4mc1serg2.md
  .tbd/data-sync/issues/is-01m0920hptvym7fn204t7s23wc.md
  .tbd/data-sync/issues/is-01m0920y7b3hk0mf56c4seh9hr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Fix the two CI failures the local run could not see
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/lockfile-abandoned-artifacts.test.ts
Due: format, format-md, lint, typecheck

Keep the lock module general: report sidecars, let the caller judge them
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/doctor-clearable-lock-sidecars.test.ts
  packages/tbd/tests/lockfile-abandoned-artifacts.test.ts
  packages/tbd/tests/lockfile-sidecars.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.7.1
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd sync: 2026-08-18T02-21-51 (2 files)
  .tbd/data-sync/issues/is-01m098pz3fwwgxxxj7qp3pkebg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-18T06-01-37 (2 files)
  .tbd/data-sync/issues/is-01m09qc0vbmz4a340c1ga1gdfd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Fix a triage rule that files never-started specs as finished
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

Add the dangling spec_path sweep, validated against a real repository
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

Plan the tracker state model and name-based Linear mapping
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
Due: format-md

tbd sync: 2026-08-18T20-56-29 (4 files)
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0baj02g8vwdd94fd2cgck33.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Plan the actor axis and the default board projection
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-board-projection.md
Due: format-md

Ground the board projection in a provisioned team
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-board-projection.md
Due: format-md

Split the projection into a derived position and an owned refinement
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-board-projection.md
Due: format-md

Key state_map by lifecycle slot, and make it optional
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-board-projection.md
Due: format-md

Spec the sync algorithm against the real engine, and correct two claims
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-board-projection.md
Due: format-md

tbd sync: 2026-08-19T04-38-00 (2 files)
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-19T04-38-39 (1 file)
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
Due: format-md

tbd sync: 2026-08-19T04-40-56 (2 files)
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
Due: format-md

Unwrap the paused/ rationale that was rendering as a code block
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

Replace the agent alias table with identity that resolves itself
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
Due: format-md

tbd sync: 2026-08-19T04-52-44 (11 files)
  .tbd/data-sync/issues/is-01m012qa5v7vjnn713ec383mze.md
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0baj02g8vwdd94fd2cgck33.md
  .tbd/data-sync/issues/is-01m0c5qm44fxj4m6tr29k2v29f.md
  .tbd/data-sync/issues/is-01m0c5qw38xxxfgr8grwwnyz7x.md
  .tbd/data-sync/issues/is-01m0c5r461zmx3ctgsxq94s0bq.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c5rk9zcamj2r525dazj73w.md
  .tbd/data-sync/issues/is-01m0c5rsgkvdv8ad02eaq7109k.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-19T04-55-21 (14 files)
  .tbd/data-sync/issues/is-01kfv69cass521h3av6a5n6q55.md
  .tbd/data-sync/issues/is-01kfxpq9c0j5wdsqy6vsqc3d1g.md
  .tbd/data-sync/issues/is-01khc6f282c9fpcggy7qwmd058.md
  .tbd/data-sync/issues/is-01khrvkhv38w0ckdar221p2h9n.md
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
  .tbd/data-sync/issues/is-01kra98szn2ah4f59kmbnfbery.md
  .tbd/data-sync/issues/is-01kra98tffpc00qar6ee3zk8tv.md
  .tbd/data-sync/issues/is-01kra98tz1mb3br9kg77933vdx.md
  .tbd/data-sync/issues/is-01kra99kvf2ys81vcakyb8vbzz.md
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01kv197ns6jwkg2q82w7awjn15.md
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
Due: format-md

tbd sync: 2026-08-19T05-03-04 (2 files)
  .tbd/data-sync/issues/is-01m0c6d92k9x74f1sgc04x0aqb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Close the two slot-model gaps the review found, and true up the evidence
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
Due: format-md

tbd sync: 2026-08-19T05-27-24 (6 files)
  .tbd/data-sync/issues/is-01m0c70tzc5skz4tp79sfmmyrg.md
  .tbd/data-sync/issues/is-01m0c70vbxyjx9ts24fd40ga3z.md
  .tbd/data-sync/issues/is-01m0c70vr5xc7jx3hb8q0pq357.md
  .tbd/data-sync/issues/is-01m0c70w3pf6t1p5eph0d8cqa9.md
  .tbd/data-sync/issues/is-01m0c70wfbn8sz4r2x65kdzffw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Add the terminal resolution axis, and the delegate field beside assignee
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/close-reopen.test.ts
  packages/tbd/tests/schemas.test.ts
Due: format, format-md, lint, typecheck

Land the claim on the acting axis, and give delegate a CLI
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/start.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/actor-axis.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-19T05-56-35 (10 files)
  .tbd/data-sync/issues/is-01m012qa5v7vjnn713ec383mze.md
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0c5qw38xxxfgr8grwwnyz7x.md
  .tbd/data-sync/issues/is-01m0c5r461zmx3ctgsxq94s0bq.md
  .tbd/data-sync/issues/is-01m0c5rsgkvdv8ad02eaq7109k.md
  .tbd/data-sync/issues/is-01m0c70vbxyjx9ts24fd40ga3z.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
  .tbd/data-sync/issues/is-01m0c8v94j74sqaj35ts5xrjjf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-19T05-57-21 (3 files)
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
Due: format-md

Map the terminal end losslessly, and resolve states by name not position
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

Name the fields a push drops instead of reporting success over them
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-19T16-06-58 (4 files)
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0c5r461zmx3ctgsxq94s0bq.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
Due: format-md

fix: warn in doctor when npm's global bin is not on PATH
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/lib/npm-global-bin.ts
  packages/tbd/tests/doctor-npm-global-bin.test.ts
Due: format, lint, typecheck

docs: add the agent-session-bootstrap guideline
  .tbd/config.yml
  README.md
  packages/tbd/docs/guidelines/agent-session-bootstrap.md
Due: format, format-md

tbd sync: 2026-08-19T16-25-49 (6 files)
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
  .tbd/data-sync/issues/is-01m0ddfhq83a946a4etdh5b6z0.md
  .tbd/data-sync/issues/is-01m0ddfj2qkwxhej9p8q30qs9y.md
  .tbd/data-sync/issues/is-01m0ddfjd4q6zawvdwh008w9h2.md
  .tbd/data-sync/issues/is-01m0ddfjqnxkmpcqn4defgqe40.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m0ddg0nkqpe3d7hn3wxntp3s.yml
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0baj02g8vwdd94fd2cgck33.md
  .tbd/data-sync/issues/is-01m0c5qm44fxj4m6tr29k2v29f.md
  .tbd/data-sync/issues/is-01m0c5qw38xxxfgr8grwwnyz7x.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c5rk9zcamj2r525dazj73w.md
  .tbd/data-sync/issues/is-01m0c5rsgkvdv8ad02eaq7109k.md
  .tbd/data-sync/issues/is-01m0c6d92k9x74f1sgc04x0aqb.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
  .tbd/data-sync/issues/is-01m0c8v94j74sqaj35ts5xrjjf.md
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0ddg0nkqpe3d7hn3wxntp3s.yml
  .tbd/data-sync/bridge/linear/links/is-01kfv69cass521h3av6a5n6q55.yml
  .tbd/data-sync/bridge/linear/links/is-01kfxpq9c0j5wdsqy6vsqc3d1g.yml
  .tbd/data-sync/bridge/linear/links/is-01khc6f282c9fpcggy7qwmd058.yml
  .tbd/data-sync/bridge/linear/links/is-01khrvkhv38w0ckdar221p2h9n.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98fgac70pjft7jnarmave.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98szn2ah4f59kmbnfbery.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98tffpc00qar6ee3zk8tv.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98tz1mb3br9kg77933vdx.yml
  .tbd/data-sync/bridge/linear/links/is-01kra99kvf2ys81vcakyb8vbzz.yml
  .tbd/data-sync/bridge/linear/links/is-01ksc0qwt0v3pg3hgn35sh0s1e.yml
  .tbd/data-sync/bridge/linear/links/is-01kv197ns6jwkg2q82w7awjn15.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w85qxpbp8cqtn7mkbvkg.yml
  .tbd/data-sync/bridge/linear/links/is-01m00h43nvt17wxyhxqm88wh3c.yml
  .tbd/data-sync/bridge/linear/links/is-01m012qa5v7vjnn713ec383mze.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahns9883ea2cn8ajgnf99.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahzrjpybv07yrjx11r7bc.yml
  .tbd/data-sync/bridge/linear/links/is-01m0baj02g8vwdd94fd2cgck33.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c4z87m3kd0cyw2qkd5k6z4.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5qm44fxj4m6tr29k2v29f.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5qw38xxxfgr8grwwnyz7x.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5r461zmx3ctgsxq94s0bq.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rbazv8b7mdemyaqqh995.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rk9zcamj2r525dazj73w.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rsgkvdv8ad02eaq7109k.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c6d92k9x74f1sgc04x0aqb.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c8v8fp3sagm3eh5bmm2n0k.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c8v94j74sqaj35ts5xrjjf.yml
  .tbd/data-sync/bridge/linear/links/is-01m0ddenmjsxeqm98ytfpcfc11.yml
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0baj02g8vwdd94fd2cgck33.md
  .tbd/data-sync/issues/is-01m0c5qm44fxj4m6tr29k2v29f.md
  .tbd/data-sync/issues/is-01m0c5qw38xxxfgr8grwwnyz7x.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c5rk9zcamj2r525dazj73w.md
  .tbd/data-sync/issues/is-01m0c5rsgkvdv8ad02eaq7109k.md
  .tbd/data-sync/issues/is-01m0c6d92k9x74f1sgc04x0aqb.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
  .tbd/data-sync/issues/is-01m0c8v94j74sqaj35ts5xrjjf.md
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
Due: format, format-md

tbd sync: 2026-08-19T16-29-44 (1 file)
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/attic/is-01m0ddenmjsxeqm98ytfpcfc11_2026-08-19T16-29-53.160Z_description.yml
  .tbd/data-sync/bridge/linear/intents/01m0ddq54grtvz5kn1x2z2ra4k.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0ddq54grtvz5kn1x2z2ra4k.yml
  .tbd/data-sync/bridge/linear/links/is-01kfv69cass521h3av6a5n6q55.yml
  .tbd/data-sync/bridge/linear/links/is-01kfxpq9c0j5wdsqy6vsqc3d1g.yml
  .tbd/data-sync/bridge/linear/links/is-01khc6f282c9fpcggy7qwmd058.yml
  .tbd/data-sync/bridge/linear/links/is-01khrvkhv38w0ckdar221p2h9n.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98fgac70pjft7jnarmave.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98szn2ah4f59kmbnfbery.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98tffpc00qar6ee3zk8tv.yml
  .tbd/data-sync/bridge/linear/links/is-01kra98tz1mb3br9kg77933vdx.yml
  .tbd/data-sync/bridge/linear/links/is-01kra99kvf2ys81vcakyb8vbzz.yml
  .tbd/data-sync/bridge/linear/links/is-01ksc0qwt0v3pg3hgn35sh0s1e.yml
  .tbd/data-sync/bridge/linear/links/is-01kv197ns6jwkg2q82w7awjn15.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w85qxpbp8cqtn7mkbvkg.yml
  .tbd/data-sync/bridge/linear/links/is-01kzxxj27abvbje3nesecgsk3z.yml
  .tbd/data-sync/bridge/linear/links/is-01kzxzx6e1dekec0pdbtxqqcpk.yml
  .tbd/data-sync/bridge/linear/links/is-01m00h43nvt17wxyhxqm88wh3c.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahns9883ea2cn8ajgnf99.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c4z87m3kd0cyw2qkd5k6z4.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5r461zmx3ctgsxq94s0bq.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c6d92k9x74f1sgc04x0aqb.yml
  .tbd/data-sync/bridge/linear/links/is-01m0ddenmjsxeqm98ytfpcfc11.yml
  .tbd/data-sync/issues/is-01kzxzx6e1dekec0pdbtxqqcpk.md
  .tbd/data-sync/issues/is-01m0c6d92k9x74f1sgc04x0aqb.md
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
