Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-09-15T21-27-26 (23 files)
  .tbd/data-sync/issues/is-01m1w3d1e63qg5e2wpz31qkmvn.md
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m1yzx6mfhcc6px4p5xdnvxch.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m2esef50qbe11ancst0cmnj1.md
  .tbd/data-sync/issues/is-01m2esefyjp3x8qfk8mb0p8g0e.md
  .tbd/data-sync/issues/is-01m2esegb93vkm6se4pc0gsn5h.md
  .tbd/data-sync/issues/is-01m2esegwz6k3bph39z6w4mdat.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
  .tbd/data-sync/issues/is-01m2exkc964z2zqhhpmebr51s1.md
  .tbd/data-sync/issues/is-01m2exkd842xgzf2hky9jezcfw.md
  .tbd/data-sync/issues/is-01m2exke3r5hcxckmvfeatj3xr.md
  .tbd/data-sync/issues/is-01m2exket07e1spjj21f2bz23z.md
  .tbd/data-sync/issues/is-01m2kfdbt06nedkf82tj5r5qyv.md
  .tbd/data-sync/issues/is-01m2kfdsf7d4n1txgwftzrajmh.md
  .tbd/data-sync/issues/is-01m2kfdt4b7w8tt5yz9ad0g68g.md
  .tbd/data-sync/issues/is-01m2kfdtptbs02r57n8rhzk73j.md
  .tbd/data-sync/issues/is-01m2kfdv49hpc2jytb1s0y02hx.md
  .tbd/data-sync/issues/is-01m2kfdvjffdg8fdz8yn837m14.md
  .tbd/data-sync/issues/is-01m2kfdw1m3930d15w12j1z2ac.md
  .tbd/data-sync/issues/is-01m2kfdwg1v0yk4zt6zrz7h6eq.md
  .tbd/data-sync/issues/is-01m2kfdwyam945hne8thwy1wss.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-15T21-34-59 (4 files)
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m1yzy71mj3aznk7nnvtgtdxn.md
  .tbd/data-sync/issues/is-01m2kfpj6qm42z0bk6t4907jj7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: fix child counts and link-move checks in update-specs-status
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

fix: write the bead merge attribute before every sync merge
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-merge-attributes-upgraded-repo.tryscript.md
  packages/tbd/tests/data-sync-merge-attributes.test.ts
Due: format, format-md, lint, typecheck

fix: push-only mirror writes the reconciler's slot
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/slots.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-slot-convergence.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-15T22-19-33 (3 files)
  .tbd/data-sync/issues/is-01m2esfargtg9zyb4n1s8z2ra2.md
  .tbd/data-sync/issues/is-01m2kfdbt06nedkf82tj5r5qyv.md
  .tbd/data-sync/issues/is-01m2kfdsf7d4n1txgwftzrajmh.md
Due: format-md

tbd sync: 2026-09-15T22-47-50 (1 file)
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
Due: format-md

tbd sync: 2026-09-15T22-49-38 (5 files)
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m2egx4gsnz7t61bpdvpcpqhw.md
  .tbd/data-sync/issues/is-01m2esfargtg9zyb4n1s8z2ra2.md
  .tbd/data-sync/issues/is-01m2exke3r5hcxckmvfeatj3xr.md
Due: format-md

docs: salvage and refresh GitHub tracker research from PR #83
  docs/project/research/current/research-2026-09-15-github-issues-for-tracker-adapter.md
Due: format-md

fix: fail the sync when the merge attributes cannot be written
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-merge-attributes-upgraded-repo.tryscript.md
  packages/tbd/tests/data-sync-merge-attributes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-16T00-18-40 (5 files)
  .tbd/data-sync/issues/is-01kh4t9cdp8esjk70khqvn2rmf.md
  .tbd/data-sync/issues/is-01kzn2wakpq2963exxqhj8xkdc.md
  .tbd/data-sync/issues/is-01kzn514mxmazhwq9fn1qpcpvt.md
  .tbd/data-sync/issues/is-01kzn5152hkvnx553tj4gwgc28.md
  .tbd/data-sync/issues/is-01kzx8knkqyxmghreewwsy16h9.md
Due: format-md

fix: one slot computation, and pin the no-Backlog team behavior
  packages/tbd/src/integrations/core/slots.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, lint, typecheck

docs: correct timeline item count in GitHub research
  docs/project/research/current/research-2026-09-15-github-issues-for-tracker-adapter.md
Due: format-md

docs: point Phase 3 at the refreshed GitHub research
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

docs: fix citation accuracy findings in GitHub research brief
  docs/project/research/current/research-2026-09-15-github-issues-for-tracker-adapter.md
Due: format-md

fix: push-only mirror writes a delegate only when it changes
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, format-md, lint, typecheck

docs: state what the push-only delegate rule does after a Linear-side change
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-09-16T06-37-08 (1 file)
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

tbd sync: add merge attributes
  .tbd/data-sync/issues/.gitattributes
Due: none

tbd sync: 2026-09-16T06-38-29 (3 files)
  .tbd/data-sync/issues/is-01m2esfargtg9zyb4n1s8z2ra2.md
  .tbd/data-sync/issues/is-01m2kfdbt06nedkf82tj5r5qyv.md
  .tbd/data-sync/issues/is-01m2kfdsf7d4n1txgwftzrajmh.md
Due: format-md

tbd sync: 2026-09-16T06-42-40 (2 files)
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

docs: reconcile release readiness and setup state
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  TODO.md
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format, format-md

tbd sync: 2026-09-16T07-02-47 (1 file)
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
Due: format-md

tbd sync: 2026-09-16T07-15-11 (1 file)
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
Due: format-md

tbd sync: 2026-09-16T07-18-48 (3 files)
  .tbd/data-sync/issues/is-01m1yzwsqz1fcgc03e0mck82tn.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m2exke3r5hcxckmvfeatj3xr.md
Due: format-md

plan: Add stability and bugfix plan spec for the next release
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
Due: format-md

fix: make a settled Linear mirror report itself settled
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

fix: teach the mock to apply stateId, add a sync divergence diagnostic
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

fix(sync): complete convergence diagnostics
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/managed-block.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

fix(linear): make slot reconciliation converge
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/slots.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/slots.test.ts
Due: format, format-md, lint, typecheck

test(linear): prove mixed-version recovery
  packages/tbd/scripts/validate-mixed-version-linear.ts
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
Due: format, lint, typecheck

fix(linear): skip unavailable mirror states
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-16T08-42-36 (8 files)
  .tbd/data-sync/issues/is-01m14z05cqkapvfaydtyv9gb26.md
  .tbd/data-sync/issues/is-01m14z1bp3gncnvfv7vyxm9c5w.md
  .tbd/data-sync/issues/is-01m14z1d0xxdm4fcvckhpatdh4.md
  .tbd/data-sync/issues/is-01m14z1eb308b5fa1284md3fw9.md
  .tbd/data-sync/issues/is-01m150zwqthjh5ft4wykpjrdw5.md
  .tbd/data-sync/issues/is-01m1yzwsqz1fcgc03e0mck82tn.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m2exke3r5hcxckmvfeatj3xr.md
Due: format-md

chore: release get-tbd v0.9.0
  docs/publishing.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m2mpy3cynpkhy6j1zvr1fd5h.yml
Due: format

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m2mq77rta17j1q6fqqa4t1yg.yml
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
