Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-06-13T16-47-46 (11 files)
  .tbd/data-sync/issues/is-01kv0xpk440162g3m7b7g8me5n.md
  .tbd/data-sync/issues/is-01kv0xqd4rkmtq4kxrjw8atkh7.md
  .tbd/data-sync/issues/is-01kv0xqdm2pwxb3xnydw55ntx9.md
  .tbd/data-sync/issues/is-01kv0xqe45v9e4b38fqnnhgkef.md
  .tbd/data-sync/issues/is-01kv0xqekgjt1954nhqs91yms1.md
  .tbd/data-sync/issues/is-01kv0xqf37xdtgpq2jxkj2crer.md
  .tbd/data-sync/issues/is-01kv0xqfjyp3k84s7x6ytrkknj.md
  .tbd/data-sync/issues/is-01kv0xqg20f5s534jezxs9470m.md
  .tbd/data-sync/issues/is-01kv0xqgh71bsc50f0r86cbh0v.md
  .tbd/data-sync/issues/is-01kv0xqh0xrnmsvnja6yyd7vz8.md
  .tbd/data-sync/issues/is-01kv0xqhfxfgqh94tk5akp7rp7.md
Due: format-md

docs: Remove em dashes from README per common-doc-guidelines
  README.md
Due: format-md

docs: Sharpen README value proposition and pillar framing
  README.md
Due: format-md

docs: Refine README tagline and usage note
  README.md
Due: format-md

docs: Tighten pillar labels and bead description
  README.md
Due: format-md

research: audit skill-distribution landscape and refresh research docs
  docs/project/research/current/research-2026-06-13-skill-distribution-landscape.md
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/research/current/research-skills-vs-meta-skill-architecture.md
  docs/project/specs/active/plan-2026-06-13-cli-skill-guideline-pprose-gaps.md
Due: format-md

docs: address issue #173 gaps in cli-agent-skill-patterns
  docs/project/research/current/research-2026-06-13-skill-distribution-landscape.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/specs/active/plan-2026-06-13-cli-skill-guideline-pprose-gaps.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: resolve PR #175 review (artifact-driven upgrade scope, Cursor native, spec status)
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/specs/active/plan-2026-06-13-cli-skill-guideline-pprose-gaps.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: Add agent CLI ergonomics plan spec
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
Due: format-md

tbd sync: 2026-06-13T20-03-53 (11 files)
  .tbd/data-sync/issues/is-01kv197ns6jwkg2q82w7awjn15.md
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
  .tbd/data-sync/issues/is-01kv199hk1mhj4qq0c1rhhkh31.md
  .tbd/data-sync/issues/is-01kv199k01p0jmd2mh24v00aar.md
  .tbd/data-sync/issues/is-01kv199mceva1eqhc1xd45ntxe.md
  .tbd/data-sync/issues/is-01kv199ns2s6hs8zzxxf6vwkz5.md
  .tbd/data-sync/issues/is-01kv199q7mbcqxrvfd6jpecxnk.md
  .tbd/data-sync/issues/is-01kv199rkcm7z63tmp6hs2dbr1.md
  .tbd/data-sync/issues/is-01kv199t0v53178ybga0kp21k3.md
  .tbd/data-sync/issues/is-01kv199vg79cyyjde19bxgrvdg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-13T20-10-41 (2 files)
  .tbd/data-sync/issues/is-01kf76921k0q4xe5fj8ytfd9me.md
  .tbd/data-sync/issues/is-01kf7695ypkbqrv4crx4m1mbcd.md
Due: format-md

docs: Revise agent CLI ergonomics spec per PR #176 review
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
Due: format-md

tbd sync: 2026-06-13T20-33-46 (7 files)
  .tbd/data-sync/issues/is-01kv197ns6jwkg2q82w7awjn15.md
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
  .tbd/data-sync/issues/is-01kv199hk1mhj4qq0c1rhhkh31.md
  .tbd/data-sync/issues/is-01kv199k01p0jmd2mh24v00aar.md
  .tbd/data-sync/issues/is-01kv199mceva1eqhc1xd45ntxe.md
  .tbd/data-sync/issues/is-01kv1b1bbc8zjprnm79nqyaeh4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-13T20-38-00 (1 file)
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
Due: format-md

feat: Add variadic close (bulk multi-target close)
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/lib/bulk.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-13T21-03-54 (1 file)
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
Due: format-md

tbd sync: 2026-06-13T21-07-22 (17 files)
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
  .tbd/data-sync/issues/is-01kv199hk1mhj4qq0c1rhhkh31.md
  .tbd/data-sync/issues/is-01kv199k01p0jmd2mh24v00aar.md
  .tbd/data-sync/issues/is-01kv199mceva1eqhc1xd45ntxe.md
  .tbd/data-sync/issues/is-01kv199ns2s6hs8zzxxf6vwkz5.md
  .tbd/data-sync/issues/is-01kv199q7mbcqxrvfd6jpecxnk.md
  .tbd/data-sync/issues/is-01kv1cykshfpkk9qb3ve6sffbd.md
  .tbd/data-sync/issues/is-01kv1cyn85975ep5zdd0s2x1nm.md
  .tbd/data-sync/issues/is-01kv1cypk8qngr0vrqj81sfxhs.md
  .tbd/data-sync/issues/is-01kv1cyr0xsdj1gvkkmjjzgj15.md
  .tbd/data-sync/issues/is-01kv1cyscrm9813s1536ww348z.md
  .tbd/data-sync/issues/is-01kv1cytrf9pfh7zgzmckprgvh.md
  .tbd/data-sync/issues/is-01kv1cyx8vn2yyw5q1gmjdxcdv.md
  .tbd/data-sync/issues/is-01kv1cyyng1qyd1he4v5pkmvxt.md
  .tbd/data-sync/issues/is-01kv1cz023gkjyg2eyrkakmtzb.md
  .tbd/data-sync/issues/is-01kv1cz1dnxdszx16zcjsj0cr3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-13T21-08-30 (3 files)
  .tbd/data-sync/issues/is-01kv199mceva1eqhc1xd45ntxe.md
  .tbd/data-sync/issues/is-01kv1d140g7k8cv5rp3vrp0f5w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: Add unit tests for bulk mutation helpers
  packages/tbd/tests/bulk.test.ts
Due: format, lint, typecheck

tbd sync: 2026-06-13T21-17-01 (1 file)
  .tbd/data-sync/issues/is-01kv1cz023gkjyg2eyrkakmtzb.md
Due: format-md

feat(cli): Variadic reopen (bulk), mirroring close
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
Due: format, format-md, lint, typecheck

feat(cli): Variadic update (bulk, constrained)
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-13T22-09-46 (3 files)
  .tbd/data-sync/issues/is-01kv199g5s0k58f2r5d0kcj9kb.md
  .tbd/data-sync/issues/is-01kv1cykshfpkk9qb3ve6sffbd.md
  .tbd/data-sync/issues/is-01kv1cyn85975ep5zdd0s2x1nm.md
Due: format-md

tbd sync: 2026-06-13T22-41-53 (6 files)
  .tbd/data-sync/issues/is-01kv1h42d54cvyg81gen9yfqdt.md
  .tbd/data-sync/issues/is-01kv1h7pqb184gj3c9p445mmvr.md
  .tbd/data-sync/issues/is-01kv1h9cbsek836apmcp921kd4.md
  .tbd/data-sync/issues/is-01kv1hh6wwp3t0gsp8rbydpjr9.md
  .tbd/data-sync/issues/is-01kv1jc3zygbz9ew7yfhpsb2vm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(cli): Shared file/stdin body reader (reasons, descriptions, notes)
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/body-input.ts
  packages/tbd/tests/body-input.test.ts
  packages/tbd/tests/cli-body-input.tryscript.md
  packages/tbd/tests/cli-help-all.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-13T23-01-11 (1 file)
  .tbd/data-sync/issues/is-01kv1cyscrm9813s1536ww348z.md
Due: format-md

docs: Correct stale sync semantics; document Phase 1 bulk + body input
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-06-13T23-24-47 (2 files)
  .tbd/data-sync/issues/is-01kv1cyx8vn2yyw5q1gmjdxcdv.md
  .tbd/data-sync/issues/is-01kv1cyyng1qyd1he4v5pkmvxt.md
Due: format-md

docs(cli): Make --no-sync help string honest
  packages/tbd/src/cli/cli.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-import.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
Due: format, format-md, lint, typecheck

refactor(cli): Remove the vestigial no-op --no-sync flag
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/lib/context.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-import.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-sync-concurrent-epic-155.tryscript.md
  packages/tbd/tests/cli-sync-push-retry-155.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/git-env-isolation-e2e.test.ts
  packages/tbd/tests/output.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-14T15-54-19 (8 files)
  .tbd/data-sync/issues/is-01kv199hk1mhj4qq0c1rhhkh31.md
  .tbd/data-sync/issues/is-01kv199k01p0jmd2mh24v00aar.md
  .tbd/data-sync/issues/is-01kv199mceva1eqhc1xd45ntxe.md
  .tbd/data-sync/issues/is-01kv199ns2s6hs8zzxxf6vwkz5.md
  .tbd/data-sync/issues/is-01kv1cypk8qngr0vrqj81sfxhs.md
  .tbd/data-sync/issues/is-01kv1cytrf9pfh7zgzmckprgvh.md
  .tbd/data-sync/issues/is-01kv1d140g7k8cv5rp3vrp0f5w.md
  .tbd/data-sync/issues/is-01kv1h9cbsek836apmcp921kd4.md
Due: format-md

refactor(cli): Extract shared bulk-summary emitter into bulk.ts
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/bulk.ts
Due: format, lint, typecheck

feat(cli): Suppress incidental data-layer notices under --quiet
  packages/tbd/src/cli/lib/context.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/tests/quiet-notices.test.ts
Due: format, lint, typecheck

test(cli): Lock that mutators reject the removed --no-sync
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
Due: format-md

docs(cli): Document the bulk output and stage-then-publish contract
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-06-14T16-29-21 (7 files)
  .tbd/data-sync/issues/is-01kv199q7mbcqxrvfd6jpecxnk.md
  .tbd/data-sync/issues/is-01kv1cypk8qngr0vrqj81sfxhs.md
  .tbd/data-sync/issues/is-01kv1cyr0xsdj1gvkkmjjzgj15.md
  .tbd/data-sync/issues/is-01kv1cyyng1qyd1he4v5pkmvxt.md
  .tbd/data-sync/issues/is-01kv1cz1dnxdszx16zcjsj0cr3.md
  .tbd/data-sync/issues/is-01kv3e975jbmddmt22dfn53rkv.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(cli): Unit-test the shared emitBulkSummary emitter
  packages/tbd/tests/bulk.test.ts
Due: format, lint, typecheck

fix(lockfile): Retry transient Windows EPERM on lock acquisition
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile-acquire-eperm.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.3.0
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd sync: 2026-06-15T16-34-47 (2 files)
  .tbd/data-sync/issues/is-01kv6252k13c1nk228rsknfa1j.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
