Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-07-12T19-33-46 (2 files)
  .tbd/data-sync/issues/is-01kxbx4bv9h4zj4822mqj20bxw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-15T04-11-34 (2 files)
  .tbd/data-sync/issues/is-01kxhzbf82yema5xh9x60qtth9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-15T05-14-35 (17 files)
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
  .tbd/data-sync/issues/is-01kxj31xy6xj3s5b2e8h485tte.md
  .tbd/data-sync/issues/is-01kxj31ya0j51x4tjbfehrhbva.md
  .tbd/data-sync/issues/is-01kxj31ym97hbdhzs0tpf8bzjj.md
  .tbd/data-sync/issues/is-01kxj31yy0vb595rat94gsdr2f.md
  .tbd/data-sync/issues/is-01kxj31z8kb3ah2x1k0wmjbm0w.md
  .tbd/data-sync/issues/is-01kxj31zjvcsgpdtb33r37nqjc.md
  .tbd/data-sync/issues/is-01kxj31zwqhycex8wpptw3srga.md
  .tbd/data-sync/issues/is-01kxj32069ar3a92ajpq41n0yf.md
  .tbd/data-sync/issues/is-01kxj32wgrjfa51wytr33z286r.md
  .tbd/data-sync/issues/is-01kxj32wv4z74tw81f1ecf606k.md
  .tbd/data-sync/issues/is-01kxj32x4qe3m6xh137axnjv68.md
  .tbd/data-sync/issues/is-01kxj32xg2qpdfb73qsg9pnt4s.md
  .tbd/data-sync/issues/is-01kxj32xtn7978fy1cw6f61qca.md
  .tbd/data-sync/issues/is-01kxj32y4sxzfx67sc3qmrkv5x.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-15T05-59-39 (17 files)
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
  .tbd/data-sync/issues/is-01kxj31xy6xj3s5b2e8h485tte.md
  .tbd/data-sync/issues/is-01kxj31ya0j51x4tjbfehrhbva.md
  .tbd/data-sync/issues/is-01kxj31ym97hbdhzs0tpf8bzjj.md
  .tbd/data-sync/issues/is-01kxj31yy0vb595rat94gsdr2f.md
  .tbd/data-sync/issues/is-01kxj31z8kb3ah2x1k0wmjbm0w.md
  .tbd/data-sync/issues/is-01kxj31zjvcsgpdtb33r37nqjc.md
  .tbd/data-sync/issues/is-01kxj31zwqhycex8wpptw3srga.md
  .tbd/data-sync/issues/is-01kxj32069ar3a92ajpq41n0yf.md
  .tbd/data-sync/issues/is-01kxj32wgrjfa51wytr33z286r.md
  .tbd/data-sync/issues/is-01kxj32wv4z74tw81f1ecf606k.md
  .tbd/data-sync/issues/is-01kxj32x4qe3m6xh137axnjv68.md
  .tbd/data-sync/issues/is-01kxj32xg2qpdfb73qsg9pnt4s.md
  .tbd/data-sync/issues/is-01kxj32xtn7978fy1cw6f61qca.md
  .tbd/data-sync/issues/is-01kxj45wknym5cvy95x2tdf7ws.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(agent-skills): refresh guidance and setup diagnostics
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/done/plan-2026-06-03-tbd-agent-cli-guideline-improvements.md
  docs/project/specs/done/plan-2026-06-13-cli-skill-guideline-pprose-gaps.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/references/agent-platform-integration.md
  packages/tbd/docs/references/agent-skill-bundle-publication.md
  packages/tbd/docs/references/agent-skill-distribution.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/utils/gitignore-utils.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-15T06-04-29 (2 files)
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
  .tbd/data-sync/issues/is-01kxj32xtn7978fy1cw6f61qca.md
Due: format-md

test(cli): refresh doctor golden output
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-sync-worktree-scenarios.tryscript.md
Due: format-md

tbd sync: 2026-07-15T06-39-57 (2 files)
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
  .tbd/data-sync/issues/is-01kxj32xtn7978fy1cw6f61qca.md
Due: format-md

docs: refresh skill guidance for current Claude Code and Codex docs
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/references/agent-platform-integration.md
  packages/tbd/docs/references/agent-skill-distribution.md
Due: format-md

process: add 2026-07-17 addenda to skill research briefs
  docs/project/research/current/research-2026-06-13-skill-distribution-landscape.md
  docs/project/research/current/research-agent-skill-cli-practices-clerk-render-convex.md
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/research/current/research-skills-vs-meta-skill-architecture.md
Due: format-md

chore: register new reference docs in the committed docs registry
  .tbd/config.yml
Due: format

tbd sync: 2026-07-17T20-56-55 (5 files)
  .tbd/data-sync/issues/is-01kxrwqgr7h8f94ywt2xnkqywt.md
  .tbd/data-sync/issues/is-01kxrxatxrj4a8cm0z9e5v07mp.md
  .tbd/data-sync/issues/is-01kxrxd0h4g172007s4gvdgfvz.md
  .tbd/data-sync/issues/is-01kxrxs3w5b32mp7344bfk6rd0.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: apply common-doc-guidelines across durable docs
  README.md
  docs/development.md
  docs/docs-overview.md
  docs/project/specs/paused/plan-2026-01-29-claude-code-session-sync.md
  docs/publishing.md
  docs/tbd-format-versioning.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/convex-limits-best-practices.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/docs/references/docmap-format.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/templates/qa-playbook.md
  packages/tbd/docs/templates/research-brief.md
Due: format-md

tbd sync: 2026-07-17T21-19-15 (2 files)
  .tbd/data-sync/issues/is-01kxrz57kehm2xzz56dkxwdzje.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-17T21-31-47 (1 file)
  .tbd/data-sync/issues/is-01kxrwqgr7h8f94ywt2xnkqywt.md
Due: format-md

chore: release get-tbd v0.4.1
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: add proxied remote-session guidance for gh CLI setup
  .claude/scripts/ensure-gh-cli.sh
  .codex/ensure-gh-cli.sh
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
Due: format-md

docs: correct broker ref-scoping claims with real-push validation
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
Due: format-md

chore: temporary branch-local release recovery for v0.4.1
  .github/workflows/release.yml
Due: format

fix: probe tag existence by exit code in recovery workflow
  .github/workflows/release.yml
Due: format

chore: revert branch-local release workflow after v0.4.1 published
  .github/workflows/release.yml
Due: format

tbd sync: 2026-07-18T22-12-50 (2 files)
  .tbd/data-sync/issues/is-01kxvmm1s3z2fhdxcg1b1ggg4j.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: add plan spec for bead watch and external issue sync (Linear/GitHub)
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
Due: format-md

tbd sync: 2026-07-20T06-25-05 (10 files)
  .tbd/data-sync/issues/is-01ktybz8bcqs85bn6d1x5qegzh.md
  .tbd/data-sync/issues/is-01kxz338d0vcwt6g87mcry4083.md
  .tbd/data-sync/issues/is-01kxz33trkvwt06j0q3n26kwwy.md
  .tbd/data-sync/issues/is-01kxz33v74bq8rs2mxds42v35m.md
  .tbd/data-sync/issues/is-01kxz33vm42xvfs1f8gp0pgz6f.md
  .tbd/data-sync/issues/is-01kxz33w3zy3fzjtfpgt6hjv5n.md
  .tbd/data-sync/issues/is-01kxz33wjs3y16jt69x1522zwe.md
  .tbd/data-sync/issues/is-01kxz33wzx4ptm5dap0761d7nq.md
  .tbd/data-sync/issues/is-01kxz33xea077jtmsj57bfw2xt.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: plan Linear ↔ bead sync pilot; consolidate bridge research
  docs/project/research/current/api-references-bridge-integrations.md
  docs/project/research/current/research-2026-06-04-agent-issue-monitors.md
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
Due: format-md

tbd sync: 2026-07-20T06-33-43 (11 files)
  .tbd/data-sync/issues/is-01khfcx5e93fvfaq70yx3wk20p.md
  .tbd/data-sync/issues/is-01kxz3kfz7n7y23n9rzmy28f98.md
  .tbd/data-sync/issues/is-01kxz3kwxeqkvm82y0k4xxs8br.md
  .tbd/data-sync/issues/is-01kxz3kxh9sbve7xjsghe0cpwj.md
  .tbd/data-sync/issues/is-01kxz3ky8wndt84qxx67jyrvze.md
  .tbd/data-sync/issues/is-01kxz3kyvykzh47rrjaqht9rn3.md
  .tbd/data-sync/issues/is-01kxz3mf4ytsqe23z53h0z8c7q.md
  .tbd/data-sync/issues/is-01kxz3mfsysxwdhm0yfwg1sfa6.md
  .tbd/data-sync/issues/is-01kxz3mgdhc9j6ys7brk59z96e.md
  .tbd/data-sync/issues/is-01kxz3mh21qe9fb5pnnraartv9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: correct SDK open question — package-age cooldown is not a factor
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
Due: format-md

process: adopt tbd bridge command group and one-source-per-bead invariant
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
Due: format-md

tbd sync: 2026-07-20T06-46-44 (4 files)
  .tbd/data-sync/issues/is-01kxz3kxh9sbve7xjsghe0cpwj.md
  .tbd/data-sync/issues/is-01kxz3mf4ytsqe23z53h0z8c7q.md
  .tbd/data-sync/issues/is-01kxz3mfsysxwdhm0yfwg1sfa6.md
  .tbd/data-sync/issues/is-01kxz3mh21qe9fb5pnnraartv9.md
Due: format-md

tbd sync: 2026-07-20T07-11-44 (7 files)
  .tbd/data-sync/issues/is-01kxz338d0vcwt6g87mcry4083.md
  .tbd/data-sync/issues/is-01kxz33trkvwt06j0q3n26kwwy.md
  .tbd/data-sync/issues/is-01kxz33v74bq8rs2mxds42v35m.md
  .tbd/data-sync/issues/is-01kxz33vm42xvfs1f8gp0pgz6f.md
  .tbd/data-sync/issues/is-01kxz33w3zy3fzjtfpgt6hjv5n.md
  .tbd/data-sync/issues/is-01kxz33wjs3y16jt69x1522zwe.md
  .tbd/data-sync/issues/is-01kxz33wzx4ptm5dap0761d7nq.md
Due: format-md

feat(cli): add read-only bead change watching
  README.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/changes.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/lib/change-selection.ts
  packages/tbd/src/cli/lib/issue-changes-output.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

test: retry Windows fixture cleanup
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, lint, typecheck

tbd sync: 2026-07-20T07-24-56 (1 file)
  .tbd/data-sync/issues/is-01kxz33trkvwt06j0q3n26kwwy.md
Due: format-md

test: allow slower Windows watch fixtures
  packages/tbd/tests/cli-watch.test.ts
Due: format, lint, typecheck

tbd sync: 2026-07-20T07-33-58 (1 file)
  .tbd/data-sync/issues/is-01kxz33trkvwt06j0q3n26kwwy.md
Due: format-md

test: update CLI help transcript
  packages/tbd/tests/cli-setup.tryscript.md
Due: format-md

tbd sync: 2026-07-20T07-46-45 (1 file)
  .tbd/data-sync/issues/is-01kxz33trkvwt06j0q3n26kwwy.md
Due: format-md

process: reconcile Linear sync plan with shipped watch foundation (PR #196)
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
Due: format-md

tbd sync: 2026-07-20T16-58-00 (2 files)
  .tbd/data-sync/issues/is-01kxz3kfz7n7y23n9rzmy28f98.md
  .tbd/data-sync/issues/is-01kxz3mgdhc9j6ys7brk59z96e.md
Due: format-md

tbd sync: 2026-07-20T18-23-41 (11 files)
  .tbd/data-sync/issues/is-01ky0976vg9em86ra5ad9myh4c.md
  .tbd/data-sync/issues/is-01ky097vyc040xrfsry1b9neck.md
  .tbd/data-sync/issues/is-01ky097w90ww4hpjzssj2hh59d.md
  .tbd/data-sync/issues/is-01ky097wky8bcm1y8xem5sd1p2.md
  .tbd/data-sync/issues/is-01ky097x14sz44cpa494861a6w.md
  .tbd/data-sync/issues/is-01ky097xc5asrb09sf972npwmn.md
  .tbd/data-sync/issues/is-01ky097xp50mbfc76wede183ax.md
  .tbd/data-sync/issues/is-01ky097y052pk6nhvsj54agzts.md
  .tbd/data-sync/issues/is-01ky097ycxzbgafsmrhcymr0p1.md
  .tbd/data-sync/issues/is-01ky097yq1tpdrckd1hagnwr8w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
