Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix: harden bead watch review findings
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  packages/tbd/CHANGELOG.md
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/lib/change-selection.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/change-selection.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

test: allow slower Windows watch safety fixture
  packages/tbd/tests/bead-watch.test.ts
Due: format, lint, typecheck

test: scope Windows timeout to watch Git fixtures
  packages/tbd/tests/bead-watch.test.ts
Due: format, lint, typecheck

fix(watch): address PR #196 review findings R1-R6
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/src/cli/commands/changes.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/lib/change-selection.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-21T04-48-30 (8 files)
  .tbd/data-sync/issues/is-01ky1f9xcbb3qas6ex5v7hda0k.md
  .tbd/data-sync/issues/is-01ky1fadtxh96k24g9f0ht75eb.md
  .tbd/data-sync/issues/is-01ky1faea28c0cp9t9nsgk85re.md
  .tbd/data-sync/issues/is-01ky1faet7db4x0ppzt5tryrk1.md
  .tbd/data-sync/issues/is-01ky1faf8tjs4pj2mxahw7rsf6.md
  .tbd/data-sync/issues/is-01ky1fafvvt18p056jfy6z1dm2.md
  .tbd/data-sync/issues/is-01ky1fagdppsh2akrv26y11ezx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: refresh generated agent surfaces for watch-beads and 0.4.1 pin
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
Due: format-md

tbd sync: 2026-07-28T06-12-36 (8 files)
  .tbd/data-sync/issues/is-01kv1b1bbc8zjprnm79nqyaeh4.md
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
  .tbd/data-sync/issues/is-01kyknk0n3g82fatfmpdg7pck6.md
  .tbd/data-sync/issues/is-01kyknk22z7tn952q0hcwf7h27.md
  .tbd/data-sync/issues/is-01kyknk3k55f2apsqskw132n2j.md
  .tbd/data-sync/issues/is-01kyknk551jhcx6har9zmfenfw.md
  .tbd/data-sync/issues/is-01kyknmk7smd8cmrk1g9n9c309.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Add agent CLI ergonomics round-2 spec (remaining bash fallbacks)
  docs/project/specs/active/plan-2026-07-28-agent-cli-bash-fallbacks.md
Due: format-md

feat: Bulk show, variadic doc readers, wired deps, recoverable errors
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-07-28-agent-cli-bash-fallbacks.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/plan-implementation-with-beads.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/dep.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/guidelines.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/search.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/cli/commands/template.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/src/cli/lib/id-suggestions.ts
  packages/tbd/src/lib/project-paths.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-bulk-show.tryscript.md
  packages/tbd/tests/cli-dep-bulk.tryscript.md
  packages/tbd/tests/cli-doc-readers-bulk.tryscript.md
  packages/tbd/tests/cli-error-recovery.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-spec-arg.tryscript.md
  packages/tbd/tests/id-suggestions.test.ts
  packages/tbd/tests/spec-arg-resolution.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-29T02-56-24 (7 files)
  .tbd/data-sync/issues/is-01kv1b1bbc8zjprnm79nqyaeh4.md
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
  .tbd/data-sync/issues/is-01kyknk0n3g82fatfmpdg7pck6.md
  .tbd/data-sync/issues/is-01kyknk22z7tn952q0hcwf7h27.md
  .tbd/data-sync/issues/is-01kyknk3k55f2apsqskw132n2j.md
  .tbd/data-sync/issues/is-01kyknk551jhcx6har9zmfenfw.md
  .tbd/data-sync/issues/is-01kyknmk7smd8cmrk1g9n9c309.md
Due: format-md

tbd sync: 2026-07-29T17-06-29 (2 files)
  .tbd/data-sync/issues/is-01kyqchypgf49x7wfxa3ndkpvp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Address PR #198 review findings R1-R4
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/dep.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/label.ts
  packages/tbd/src/cli/commands/search.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/bulk.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/cli/lib/id-suggestions.ts
  packages/tbd/tests/cli-bulk-show.tryscript.md
  packages/tbd/tests/cli-error-recovery.tryscript.md
  packages/tbd/tests/cli-uninitialized.tryscript.md
  packages/tbd/tests/dependency-write-outcomes.test.ts
Due: format, format-md, lint, typecheck

fix: Address Bugbot findings and Windows CI on PR #198
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/tests/cli-bulk-show.tryscript.md
  packages/tbd/tests/cli-doc-readers-bulk.tryscript.md
  packages/tbd/tests/cli-error-recovery.tryscript.md
  packages/tbd/tests/dependency-write-outcomes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-29T18-04-26 (9 files)
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
  .tbd/data-sync/issues/is-01kyqdkenfn9rswm3s44vg11j8.md
  .tbd/data-sync/issues/is-01kyqdm2sqe8j0ft318wdfqvjq.md
  .tbd/data-sync/issues/is-01kyqdm4n2zrnk78p7a79q0w4g.md
  .tbd/data-sync/issues/is-01kyqdm6j2xrncq9frdq7sjd1q.md
  .tbd/data-sync/issues/is-01kyqdm89ncgyxhjb7nfv4ysta.md
  .tbd/data-sync/issues/is-01kyqdma0q76wz9884rehj1d81.md
  .tbd/data-sync/issues/is-01kyqfmwamnt2v35htv11n8zke.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

style: remove banned spaced em dashes from round-2 additions
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-07-28-agent-cli-bash-fallbacks.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/search.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/cli/lib/bulk.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/id-suggestions.ts
  packages/tbd/tests/cli-bulk-show.tryscript.md
  packages/tbd/tests/dependency-write-outcomes.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-30T15-03-56 (5 files)
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
  .tbd/data-sync/issues/is-01kysqv071rtzjszpag3y7ywm7.md
  .tbd/data-sync/issues/is-01kysqvc51zr4mkdzks2scdk5y.md
  .tbd/data-sync/issues/is-01kysrc0j77q0sx43ss4sk69ve.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: single-ID show --ignore-missing emits JSON null
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/tests/cli-bulk-show.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-30T15-17-59 (3 files)
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
  .tbd/data-sync/issues/is-01kyss4hn2a5jk59b5wh14e4wr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-30T17-11-31 (1 file)
  .tbd/data-sync/issues/is-01kyknjks7f7mm37tzt7mntc4k.md
Due: format-md

docs: one lint and autoformat floor across pnpm/bun and TS/JS guidelines
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
  eslint.config.js
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
Due: format, format-md, lint

tbd sync: 2026-07-30T17-27-12 (7 files)
  .tbd/data-sync/issues/is-01kyt0apw3p31j7nbqt9p5fnfn.md
  .tbd/data-sync/issues/is-01kyt0kkq1j45v37fwx9gjrxjb.md
  .tbd/data-sync/issues/is-01kyt0kn3480v0qvz3wr8gjea6.md
  .tbd/data-sync/issues/is-01kyt0kpjferms4h4c9cqn22kb.md
  .tbd/data-sync/issues/is-01kyt0kr3qe829kbc71mjtzea7.md
  .tbd/data-sync/issues/is-01kyt0ksgj3z40h4d42gj7hjym.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: restore release version stamps and clarify flowmark hook pattern
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
Due: format, format-md

tbd sync: 2026-07-30T17-55-33 (3 files)
  .tbd/data-sync/issues/is-01kyt0apw3p31j7nbqt9p5fnfn.md
  .tbd/data-sync/issues/is-01kyt2g3c1hhj27qn4p42vfabs.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: address PR #196 round-2 review findings N1-N5
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/changes.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/lib/exit-codes.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-30T19-12-38 (10 files)
  .tbd/data-sync/issues/is-01kyt5x6y2h4d3x7b68jjr6n2j.md
  .tbd/data-sync/issues/is-01kyt5xkkmgg1qa4mzgb0k6n9n.md
  .tbd/data-sync/issues/is-01kyt5xmd4e44kvtkrx1fehz6m.md
  .tbd/data-sync/issues/is-01kyt5xn66n6rpg9apd8w19tc4.md
  .tbd/data-sync/issues/is-01kyt5y067sbrn8ws496ane8qg.md
  .tbd/data-sync/issues/is-01kyt5y0vzpta7rd6wre9sfgch.md
  .tbd/data-sync/issues/is-01kyt5y1fvbtbjxzsrdmycnf73.md
  .tbd/data-sync/issues/is-01kyt5y8d8x91b94tdrry8ne8z.md
  .tbd/data-sync/issues/is-01kyt5y93qpwy3qnrgt5yj0cty.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-30T20-13-12 (13 files)
  .tbd/data-sync/issues/is-01kyt0apw3p31j7nbqt9p5fnfn.md
  .tbd/data-sync/issues/is-01kyt6gxft0hnqrk43mzba890t.md
  .tbd/data-sync/issues/is-01kyt6h02kx837v16qnjn9kvjs.md
  .tbd/data-sync/issues/is-01kyt6h2bqfe5ctqqznb0vynzf.md
  .tbd/data-sync/issues/is-01kyt6h4kjsvy1de1fdzkq9y5h.md
  .tbd/data-sync/issues/is-01kyt6h6m4g4dvey5q36h8mfha.md
  .tbd/data-sync/issues/is-01kyt6h97xnzvnbyq4gtwa8xbe.md
  .tbd/data-sync/issues/is-01kyt6hbfhaecec2cfjyeb8xgn.md
  .tbd/data-sync/issues/is-01kyt6hdhrwymrww58ggrrg15s.md
  .tbd/data-sync/issues/is-01kyt6hfjrjfz7jjrewbee3ydr.md
  .tbd/data-sync/issues/is-01kyt901487pe7wnvne7f92pmq.md
  .tbd/data-sync/issues/is-01kyt94nvmby92stzrtdzxkmmt.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: pin setup-uv to the full v8.3.2 tag
  .github/workflows/ci.yml
Due: format

fix: repeatable option parsers tolerate the undefined first accumulator
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/update.ts
Due: format, lint, typecheck

tbd sync: 2026-07-30T20-51-05 (2 files)
  .tbd/data-sync/issues/is-01kytcq03tr6v60sjvpn3ew8z6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: release get-tbd v0.4.2
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  pnpm-lock.yaml
Due: format, format-md

docs: ship the gh egress decision rule so it reaches agents
  .agents/skills/tbd/SKILL.md
  .claude/scripts/ensure-gh-cli.sh
  .claude/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  docs/publishing.md
  packages/tbd/.claude/skills/tbd/SKILL.md
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/tests/setup-flows.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-30T21-50-17 (9 files)
  .tbd/data-sync/issues/is-01kytf97zs21wgfaggn8kdmqbx.md
  .tbd/data-sync/issues/is-01kytf9g7w410e6pegkmg7ekne.md
  .tbd/data-sync/issues/is-01kytf9swzw9k8r4v8qrdpqvgw.md
  .tbd/data-sync/issues/is-01kytf9vebf9tynnp3598jg57j.md
  .tbd/data-sync/issues/is-01kytfa5t4bbtyfnhzd89edexb.md
  .tbd/data-sync/issues/is-01kytfa7bhsf6yz00chqmmkmry.md
  .tbd/data-sync/issues/is-01kytfaffw8q13xkf5vgkc8qrj.md
  .tbd/data-sync/issues/is-01kytfhhschg0zt8btv7m0paaq.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-30T22-02-39 (3 files)
  .tbd/data-sync/issues/is-01kx7bbd9f88x70hhy3kgbgw1f.md
  .tbd/data-sync/issues/is-01kytgsy0fm7e06v9pt0bdx6db.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: refresh agent surfaces to the released v0.4.2
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
Due: format

tbd sync: 2026-07-30T23-01-45 (1 file)
  .tbd/data-sync/issues/is-01kytfaffw8q13xkf5vgkc8qrj.md
Due: format-md

tbd sync: 2026-07-30T23-40-44 (2 files)
  .tbd/data-sync/issues/is-01kytpdeb2fjm2xm8raczqmj20.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: raise child-order e2e timeout for slow Windows CI spawns
  packages/tbd/tests/child-order-e2e.test.ts
Due: format, lint, typecheck

fix(watch): never let ref cleanup discard the change report
  packages/tbd/src/file/bead-watch.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
