Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

refactor: unify agent-integration format with tbd_format (single code)
  AGENTS.md
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

docs: clarify skill-registry, deterministic compose, and commit/gitignore modes
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: add publishing/discovery guidance for CLI-backed skills
  docs/project/specs/active/plan-2026-02-08-tbd-on-skills-sh.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: scope .agents/skills claim per-agent; verify Codex repo-local scan
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

research: record source-verified Codex skill discovery (no future confusion)
  docs/project/research/current/research-agent-skills-standard-paths.md
Due: format-md

research: add durable distribution-channels & registries background
  docs/project/research/current/research-agent-skills-standard-paths.md
Due: format-md

chore: release get-tbd v0.1.30
  .changeset/multi-agent-skills-hooks.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

chore: drop Changesets for tag-triggered releases; align release guidance
  .changeset/README.md
  .changeset/config.json
  docs/development.md
  docs/general/agent-setup/publishing.md
  docs/publishing.md
  package.json
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/shortcuts/standard/cut-release.md
  pnpm-lock.yaml
Due: format, format-md

docs: use "and" in prose and align release guidance across guidelines
  docs/development.md
  docs/general/agent-setup/publishing.md
  docs/publishing.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/shortcuts/standard/cut-release.md
Due: format-md

docs: use "and"/"plus" instead of "+" in guideline prose
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format-md

tbd sync: 2026-05-27T19-59-35 (8 files)
  .tbd/data-sync/issues/is-01ksng8cqv1885jwvg3fagcfph.md
  .tbd/data-sync/issues/is-01ksng99kvwaf35zwfr61y56gs.md
  .tbd/data-sync/issues/is-01ksng9a223hhdkb2tw3ew3wd4.md
  .tbd/data-sync/issues/is-01ksng9agn362xcxea5ddx38kt.md
  .tbd/data-sync/issues/is-01ksnga2my9rmrq6sre0c57p3j.md
  .tbd/data-sync/issues/is-01ksnga34m6xqq6msc4yp6asmx.md
  .tbd/data-sync/issues/is-01ksnga3ka0d1q9pk5ca9s1jy9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: Add post-review hardening section for shared sync lock boundary
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format-md

tbd sync: 2026-05-27T20-10-43 (3 files)
  .tbd/data-sync/issues/is-01ksng8cqv1885jwvg3fagcfph.md
  .tbd/data-sync/issues/is-01ksngytzasy3g58vne5p5athg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-28T00-10-27 (1 file)
  .tbd/data-sync/issues/is-01ksngytzasy3g58vne5p5athg.md
Due: format-md

plan: Document H7 tbd-sync signing gap in hardening section
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format-md

fix: Disable gpg signing for internal tbd-sync commits
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T03-42-11 (1 file)
  .tbd/data-sync/issues/is-01ksngytzasy3g58vne5p5athg.md
Due: format-md

fix: Read-only commands skip the shared lock only when state is steady
  packages/tbd/src/cli/lib/data-context.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T03-47-54 (1 file)
  .tbd/data-sync/issues/is-01ksng99kvwaf35zwfr61y56gs.md
Due: format-md

fix: Wrap direct init/repair callers in the shared data-sync lock
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/git.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T03-56-18 (1 file)
  .tbd/data-sync/issues/is-01ksng9a223hhdkb2tw3ew3wd4.md
Due: format-md

feat: doctor --fix repairs common-dir layout mismatch + surface future-format
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/common-dir-layout.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T04-02-23 (1 file)
  .tbd/data-sync/issues/is-01ksng9agn362xcxea5ddx38kt.md
Due: format-md

test: Cover doctor --fix layout repair, future-format surfacing, and read regeneration
  packages/tbd/tests/common-dir-layout-doctor.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T04-08-07 (1 file)
  .tbd/data-sync/issues/is-01ksnga2my9rmrq6sre0c57p3j.md
Due: format-md

tbd sync: 2026-05-28T04-10-38 (1 file)
  .tbd/data-sync/issues/is-01ksnga2my9rmrq6sre0c57p3j.md
Due: format-md

chore: Drop orphaned changeset and clarify backups location in design doc
  .changeset/shared-common-dir-worktree.md
  packages/tbd/docs/tbd-design.md
Due: format-md

tbd sync: 2026-05-28T04-13-48 (1 file)
  .tbd/data-sync/issues/is-01ksnga34m6xqq6msc4yp6asmx.md
Due: format-md

docs: Document accepted no-heartbeat trade-off in DATA_SYNC_LOCK_OPTIONS
  packages/tbd/src/utils/lockfile.ts
Due: format, lint, typecheck

tbd sync: 2026-05-28T04-17-02 (1 file)
  .tbd/data-sync/issues/is-01ksnga3ka0d1q9pk5ca9s1jy9.md
Due: format-md

tbd sync: 2026-05-28T04-19-44 (1 file)
  .tbd/data-sync/issues/is-01ksng8cqv1885jwvg3fagcfph.md
Due: format-md

test: Update doctor golden for new Common-dir layout check
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format-md

docs: Add tbd-format-versioning guideline for on-disk format upgrades
  .tbd/config.yml
  packages/tbd/docs/guidelines/tbd-format-versioning.md
  packages/tbd/docs/tbd-design.md
Due: format, format-md

tbd sync: 2026-05-29T01-44-13 (11 files)
  .tbd/data-sync/issues/is-01ksrpb7b8cfwrzzd34ya9874q.md
  .tbd/data-sync/issues/is-01ksrpbzcggmzd76nf6eh4vqf4.md
  .tbd/data-sync/issues/is-01ksrpc66nv4f23t31t3e4758m.md
  .tbd/data-sync/issues/is-01ksrpcdpq0v2qkqtk33m0k55t.md
  .tbd/data-sync/issues/is-01ksrpcjhh597rhrxvac09m6wc.md
  .tbd/data-sync/issues/is-01ksrpcxj1c6esrthdwvd6390g.md
  .tbd/data-sync/issues/is-01ksrpd50dfwh6y3449a864dmq.md
  .tbd/data-sync/issues/is-01ksrpddt285edvk30rxjxbv7h.md
  .tbd/data-sync/issues/is-01ksrpdkemmkkhh4j6egqyrvsq.md
  .tbd/data-sync/issues/is-01ksrpdqq35gddkbpr21xrdrqd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: refresh generated agent integration docs and reflow plan prose
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  .tbd/config.yml
  AGENTS.md
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format, format-md

docs: Add v0.2.0 release QA playbook with ATA testbed results
  tests/qa/release-v0.2.0-upgrade.qa.md
Due: format-md

fix: tbd doctor --fix migrates f03 repos to f04 (closes tbd-nrvj)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/lib/sections.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
Due: format, lint, typecheck

feat: emit one-time notice when .tbd/config.yml format is migrated (closes tbd-afjh)
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/file/config.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
Due: format, lint, typecheck

fix(doctor): exit 1 on hard ✗ findings (closes tbd-r7rt)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/corrupted-data.test.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
