Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m2mqda4rrz3addnmjb5tshqv.yml
Due: format

tbd sync: 2026-09-16T10-08-02 (1 file)
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

tbd sync: 2026-09-16T15-42-24 (2 files)
  .tbd/data-sync/issues/is-01m2ne3vf174y0mzs9gh96f5me.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T15-53-16 (2 files)
  .tbd/data-sync/issues/is-01m2nepdq534hcbkcfcwfbdwg1.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T15-57-22 (4 files)
  .tbd/data-sync/issues/is-01m2neyz14n825mcs3vy61krfx.md
  .tbd/data-sync/issues/is-01m2nez04jhycxx7527c274az3.md
  .tbd/data-sync/issues/is-01m2nez0ta9ekv0f967pzxfsh6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: self-upgrade tbd to v0.9.0
  .tbd/config.yml
Due: format

tbd sync: 2026-09-16T16-37-05 (6 files)
  .tbd/data-sync/issues/is-01m2ne3vf174y0mzs9gh96f5me.md
  .tbd/data-sync/issues/is-01m2neyz14n825mcs3vy61krfx.md
  .tbd/data-sync/issues/is-01m2nfky956p69ckz796ab9sg7.md
  .tbd/data-sync/issues/is-01m2nh7vfx2j6b8p7hw0zxmf8k.md
  .tbd/data-sync/issues/is-01m2nh7vm82x8pqcsqwfn7jz7a.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T16-42-09 (1 file)
  .tbd/data-sync/issues/is-01m2nh7vfx2j6b8p7hw0zxmf8k.md
Due: format-md

tbd sync: 2026-09-16T16-42-43 (1 file)
  .tbd/data-sync/issues/is-01m2nh7vfx2j6b8p7hw0zxmf8k.md
Due: format-md

tbd sync: 2026-09-16T16-42-50 (1 file)
  .tbd/data-sync/issues/is-01m2nh7vm82x8pqcsqwfn7jz7a.md
Due: format-md

tbd sync: 2026-09-16T16-45-17 (1 file)
  .tbd/data-sync/issues/is-01m2nh7vm82x8pqcsqwfn7jz7a.md
Due: format-md

tbd sync: 2026-09-16T16-53-38 (1 file)
  .tbd/data-sync/issues/is-01m2ne3vf174y0mzs9gh96f5me.md
Due: format-md

tbd sync: 2026-09-16T16-54-01 (5 files)
  .tbd/data-sync/issues/is-01m2nepdq534hcbkcfcwfbdwg1.md
  .tbd/data-sync/issues/is-01m2neyz14n825mcs3vy61krfx.md
  .tbd/data-sync/issues/is-01m2nez04jhycxx7527c274az3.md
  .tbd/data-sync/issues/is-01m2nez0ta9ekv0f967pzxfsh6.md
  .tbd/data-sync/issues/is-01m2nh7vfx2j6b8p7hw0zxmf8k.md
Due: format-md

fix: Harden formal stacked PR workflows
  .agents/skills/tbd/SKILL.md
  .claude/scripts/ensure-gh-cli.sh
  .claude/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  .tbd/config.yml
  AGENTS.md
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/tests/cli-doc-readers-bulk.tryscript.md
  packages/tbd/tests/ensure-gh-cli-script.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/setup-flows.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-16T17-20-36 (2 files)
  .tbd/data-sync/issues/is-01m2nkqsb7pa19qa62h1vr4hf6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T17-23-38 (3 files)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
  .tbd/data-sync/issues/is-01m2nkxetrqprhrk8vsh7q9avn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T17-23-55 (6 files)
  .tbd/data-sync/issues/is-01m2nkxetrqprhrk8vsh7q9avn.md
  .tbd/data-sync/issues/is-01m2nkxtgw3hafvajdbf0a8ca2.md
  .tbd/data-sync/issues/is-01m2nkxx5mqbttbnqkwvh8g7yg.md
  .tbd/data-sync/issues/is-01m2nkxxmxdd235a0zj707gb12.md
  .tbd/data-sync/issues/is-01m2nkxy0qavm1e55zvajwwhb2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T17-24-42 (5 files)
  .tbd/data-sync/issues/is-01m2nkxetrqprhrk8vsh7q9avn.md
  .tbd/data-sync/issues/is-01m2nkxtgw3hafvajdbf0a8ca2.md
  .tbd/data-sync/issues/is-01m2nkxx5mqbttbnqkwvh8g7yg.md
  .tbd/data-sync/issues/is-01m2nkxxmxdd235a0zj707gb12.md
  .tbd/data-sync/issues/is-01m2nkxy0qavm1e55zvajwwhb2.md
Due: format-md

fix: Address stacked PR workflow review findings
  AGENTS.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-16T17-43-42 (1 file)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
Due: format-md

tbd sync: 2026-09-16T17-43-51 (5 files)
  .tbd/data-sync/issues/is-01m2nkxetrqprhrk8vsh7q9avn.md
  .tbd/data-sync/issues/is-01m2nkxtgw3hafvajdbf0a8ca2.md
  .tbd/data-sync/issues/is-01m2nkxx5mqbttbnqkwvh8g7yg.md
  .tbd/data-sync/issues/is-01m2nkxxmxdd235a0zj707gb12.md
  .tbd/data-sync/issues/is-01m2nkxy0qavm1e55zvajwwhb2.md
Due: format-md

tbd sync: 2026-09-16T17-44-53 (2 files)
  .tbd/data-sync/issues/is-01m2nn46sgxpv5sm7j4xcbvqas.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T17-50-51 (1 file)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
Due: format-md

process: align Rust CLI release guidance
  README.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-project-setup.md
  packages/tbd/docs/guidelines/rust-release-rules.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format-md

tbd sync: 2026-09-16T17-58-25 (3 files)
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m2nnx13vpykmr4cbwxgdw3p1.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T17-59-24 (1 file)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
Due: format-md

tbd sync: 2026-09-16T18-02-50 (5 files)
  .tbd/data-sync/issues/is-01m14z0nr8gaygh727ysr134qc.md
  .tbd/data-sync/issues/is-01m1d1vjqysr1jg5he07zatyy3.md
  .tbd/data-sync/issues/is-01m1d1wd94kmwcbne34nf4f8se.md
  .tbd/data-sync/issues/is-01m1d1x7ezs8c1q388j419679e.md
  .tbd/data-sync/issues/is-01m1d1x7tk4995rv8skr6javbk.md
Due: format-md

tbd sync: 2026-09-16T18-03-09 (7 files)
  .tbd/data-sync/issues/is-01m14z0nr8gaygh727ysr134qc.md
  .tbd/data-sync/issues/is-01m1d1tam7230zrcj70ecmkt8b.md
  .tbd/data-sync/issues/is-01m1d1vjqysr1jg5he07zatyy3.md
  .tbd/data-sync/issues/is-01m1d1wd94kmwcbne34nf4f8se.md
  .tbd/data-sync/issues/is-01m1d1x7ezs8c1q388j419679e.md
  .tbd/data-sync/issues/is-01m1d1x7tk4995rv8skr6javbk.md
  .tbd/data-sync/issues/is-01m1d1x86a96ak3rzd8w6ft7ej.md
Due: format-md

tbd sync: 2026-09-16T18-04-27 (1 file)
  .tbd/data-sync/issues/is-01m0es4z70jsnf8e7gna1sskbn.md
Due: format-md

tbd sync: 2026-09-16T18-04-42 (1 file)
  .tbd/data-sync/issues/is-01m0es4z70jsnf8e7gna1sskbn.md
Due: format-md

tbd sync: 2026-09-16T18-05-28 (1 file)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
Due: format-md

tbd sync: 2026-09-16T18-07-55 (1 file)
  .tbd/data-sync/issues/is-01m2nkqsb7pa19qa62h1vr4hf6.md
Due: format-md

tbd sync: 2026-09-16T18-09-22 (2 files)
  .tbd/data-sync/issues/is-01m1yzwv5hxya72fgnk91pb3gv.md
  .tbd/data-sync/issues/is-01m2kfdwg1v0yk4zt6zrz7h6eq.md
Due: format-md

tbd sync: 2026-09-16T18-11-00 (1 file)
  .tbd/data-sync/issues/is-01m2nkwz82egyv7rt99cq0hy8s.md
Due: format-md

tbd sync: 2026-09-16T18-12-06 (3 files)
  .tbd/data-sync/issues/is-01m1yzwv5hxya72fgnk91pb3gv.md
  .tbd/data-sync/issues/is-01m2kfdwg1v0yk4zt6zrz7h6eq.md
  .tbd/data-sync/issues/is-01m2nnx13vpykmr4cbwxgdw3p1.md
Due: format-md

tbd sync: 2026-09-16T18-14-48 (1 file)
  .tbd/data-sync/issues/is-01m2nn46sgxpv5sm7j4xcbvqas.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m2npwqpjc5b7mn37efp05sd0.yml
Due: format

fix: Verify gh-stack extension artifacts
  .claude/scripts/ensure-gh-cli.sh
  .codex/ensure-gh-cli.sh
  .tbd/config.yml
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m2npwqpjc5b7mn37efp05sd0.yml
  .tbd/data-sync/bridge/linear/links/is-01m0es4z70jsnf8e7gna1sskbn.yml
  .tbd/data-sync/bridge/linear/links/is-01m14yzbwwg92e5k7z7d4kyn00.yml
  .tbd/data-sync/bridge/linear/links/is-01m14z0nr8gaygh727ysr134qc.yml
  .tbd/data-sync/bridge/linear/links/is-01m1d1tam7230zrcj70ecmkt8b.yml
  .tbd/data-sync/bridge/linear/links/is-01m1yzwqtnk81a6yg790yn4a9x.yml
  .tbd/data-sync/bridge/linear/links/is-01m1yzwv5hxya72fgnk91pb3gv.yml
  .tbd/data-sync/bridge/linear/links/is-01m1yzx57t4174xcg4fydgqrw9.yml
  .tbd/data-sync/bridge/linear/links/is-01m1yzx6mfhcc6px4p5xdnvxch.yml
  .tbd/data-sync/bridge/linear/links/is-01m2egwv3n7dkwa53568vrsgfc.yml
  .tbd/data-sync/bridge/linear/links/is-01m2eseh97vth3cpm35m074faf.yml
  .tbd/data-sync/bridge/linear/links/is-01m2kfdwg1v0yk4zt6zrz7h6eq.yml
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
