Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

style(spike): empty report state is chrome — sans, wrapping, and unambiguous
  packages/tbd/scripts/bead-web.html
  packages/tbd/tests/bead-web-css.test.ts
Due: format, lint, typecheck

docs: address PR #206 review — direction-named policy clauses, comment sync, web framing
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

tbd sync: 2026-08-11T05-37-35 (11 files)
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzn2wa8b53y8wjh1gegbzhhx.md
  .tbd/data-sync/issues/is-01kzq3fn6v122vfa0nqxca6x4b.md
  .tbd/data-sync/issues/is-01kzqms8fz0d4dyfw4wsm8djfs.md
  .tbd/data-sync/issues/is-01kzqmssd2rm5pzs7b99phy7jv.md
  .tbd/data-sync/issues/is-01kzqmssswsrh8necjx6js9ecf.md
  .tbd/data-sync/issues/is-01kzqmst60ewzy7mpcgrf7qt2f.md
  .tbd/data-sync/issues/is-01kzqmstj3m750nk9sk1yg5chh.md
  .tbd/data-sync/issues/is-01kzqmstyhvw4cmvy0v9pe3s6s.md
  .tbd/data-sync/issues/is-01kzqmt5ht0jnw9ypf2shtsk14.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: linking policy — schema, presets, resolution, legacy select fold (tbd-h09r)
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/policy.ts
  packages/tbd/src/integrations/core/registry.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/integrations-policy.test.ts
Due: format, lint, typecheck

feat: bridge-state records — the sync-branch half of a link (tbd-22p3)
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/managed-block.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/integrations-bridge-state.test.ts
Due: format, lint, typecheck

feat: bridge conflicts resolve by newest observation in sync's merge path (tbd-c907)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/bridge-merge.test.ts
Due: format, lint, typecheck

feat: the reconcile engine — a pure per-field three-way matrix (tbd-o5v5)
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/tests/integrations-reconcile.test.ts
Due: format, lint, typecheck

feat: write-ahead intents and the adapter surfaces sync needs (tbd-vc9e)
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-intents.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

feat: comment sequences — append-only storage that unions on merge (tbd-509s, storage half)
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/comment-store.ts
  packages/tbd/src/lib/comment-union.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integrations-comments.test.ts
Due: format, lint, typecheck

feat: the full synchronization — engine, commands, comments, guards (tbd-mmkd, tbd-az29, tbd-509s, tbd-h3j3, tbd-uu08)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

docs: spec status — Phase 2 implemented; OQ7 answered live
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

tbd sync: 2026-08-11T06-46-09 (13 files)
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzn2wa8b53y8wjh1gegbzhhx.md
  .tbd/data-sync/issues/is-01kzn510qqbk3ax3pbw447xw8y.md
  .tbd/data-sync/issues/is-01kzn5117ezkyh9c1dqgr9pwty.md
  .tbd/data-sync/issues/is-01kzq3fn6v122vfa0nqxca6x4b.md
  .tbd/data-sync/issues/is-01kzq3fnjg30v06sbhn9h86phz.md
  .tbd/data-sync/issues/is-01kzqmt5ht0jnw9ypf2shtsk14.md
  .tbd/data-sync/issues/is-01kzqp33n0yyyzhvzsyzph0d37.md
  .tbd/data-sync/issues/is-01kzqp343va9gg2megr098hbp5.md
  .tbd/data-sync/issues/is-01kzqp34fh1dkxz9ryvt88ng6m.md
  .tbd/data-sync/issues/is-01kzqp34vaa03zzhx0xgyj4j58.md
  .tbd/data-sync/issues/is-01kzqrsfqkzfs6nqb65yhwjves.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzqs9ssw50d5krkdas8jzpcd.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w8hvc83qrgk9h70rf73y.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w8x0c038fhk1c859248r.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w9gdhb0xt2hztn7v0aha.yml
  .tbd/data-sync/bridge/linear/links/is-01kzn2w9w9gx9j6h3b250jnyzf.yml
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzn2w8hvc83qrgk9h70rf73y.md
  .tbd/data-sync/issues/is-01kzn2w8x0c038fhk1c859248r.md
  .tbd/data-sync/issues/is-01kzn2w9gdhb0xt2hztn7v0aha.md
  .tbd/data-sync/issues/is-01kzn2w9w9gx9j6h3b250jnyzf.md
  .tbd/data-sync/issues/is-01kzqs9ax4x2jc12zca4j441px.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: recordless links seed their base from the remote snapshot
  packages/tbd/src/integrations/core/sync-engine.ts
Due: format, lint, typecheck

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzqt4fjgdqrftkkbwatsaz71.yml
  .tbd/data-sync/issues/is-01kf7mkd08sr8a7sr83j5t9qd9.md
  .tbd/data-sync/issues/is-01kfxpq9c0j5wdsqy6vsqc3d1g.md
  .tbd/data-sync/issues/is-01kg5jhcrf73dwx67jm7xhsb5a.md
  .tbd/data-sync/issues/is-01kg5jhd1bprqhysw96b5genm0.md
  .tbd/data-sync/issues/is-01kg5jhd9dbyg3k2c5j8seahk5.md
  .tbd/data-sync/issues/is-01kg5jhdhcp6k12e48vxvpcvtz.md
  .tbd/data-sync/issues/is-01kg5jhdtwzxw7ce1xvnnc5tn3.md
  .tbd/data-sync/issues/is-01kg5jhe5v1zx94azhqn57bnzq.md
  .tbd/data-sync/issues/is-01kg5jhee3nrrtkqa80h52p1d8.md
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
  .tbd/data-sync/issues/is-01kra99hzj671634xwep4zchqn.md
  .tbd/data-sync/issues/is-01kra99jbfhknp9jsqfhj9kzbk.md
  .tbd/data-sync/issues/is-01kra99jqbvtjysnr4gc0r7dwm.md
  .tbd/data-sync/issues/is-01kra99k339r7jwtw5wdjzbrs5.md
  .tbd/data-sync/issues/is-01kra99kg4z987hjrwwrj5wh4q.md
  .tbd/data-sync/issues/is-01kra99kvf2ys81vcakyb8vbzz.md
  .tbd/data-sync/issues/is-01kra9aave6br1ysqedyccf8y5.md
  .tbd/data-sync/issues/is-01kra9b4s31c7he5hrx9en34ck.md
  .tbd/data-sync/issues/is-01kra9b5fxdwfj1dzmwqawd81j.md
  .tbd/data-sync/issues/is-01kra9b6yq2v5z2490t4f7c9et.md
  .tbd/data-sync/issues/is-01kra9bae7t8hk71z0dg3jtztx.md
  .tbd/data-sync/issues/is-01kra9br63f467mxc3fjwga2wz.md
  .tbd/data-sync/issues/is-01ksc0s4vq2w1yyp10fybqpq8t.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01kv199vg79cyyjde19bxgrvdg.md
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
  .tbd/data-sync/issues/is-01kxz3kfz7n7y23n9rzmy28f98.md
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzqtapdb9we1zbcywm3wqd3d.yml
  .tbd/data-sync/issues/is-01kf7mkd08sr8a7sr83j5t9qd9.md
  .tbd/data-sync/issues/is-01kfxpq9c0j5wdsqy6vsqc3d1g.md
  .tbd/data-sync/issues/is-01kg5jhcrf73dwx67jm7xhsb5a.md
  .tbd/data-sync/issues/is-01kg5jhd1bprqhysw96b5genm0.md
  .tbd/data-sync/issues/is-01kg5jhd9dbyg3k2c5j8seahk5.md
  .tbd/data-sync/issues/is-01kg5jhdhcp6k12e48vxvpcvtz.md
  .tbd/data-sync/issues/is-01kg5jhdtwzxw7ce1xvnnc5tn3.md
  .tbd/data-sync/issues/is-01kg5jhe5v1zx94azhqn57bnzq.md
  .tbd/data-sync/issues/is-01kg5jhee3nrrtkqa80h52p1d8.md
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
  .tbd/data-sync/issues/is-01kra99hzj671634xwep4zchqn.md
  .tbd/data-sync/issues/is-01kra99jbfhknp9jsqfhj9kzbk.md
  .tbd/data-sync/issues/is-01kra99jqbvtjysnr4gc0r7dwm.md
  .tbd/data-sync/issues/is-01kra99k339r7jwtw5wdjzbrs5.md
  .tbd/data-sync/issues/is-01kra99kg4z987hjrwwrj5wh4q.md
  .tbd/data-sync/issues/is-01kra99kvf2ys81vcakyb8vbzz.md
  .tbd/data-sync/issues/is-01kra9aave6br1ysqedyccf8y5.md
  .tbd/data-sync/issues/is-01kra9b4s31c7he5hrx9en34ck.md
  .tbd/data-sync/issues/is-01kra9b5fxdwfj1dzmwqawd81j.md
  .tbd/data-sync/issues/is-01kra9b6yq2v5z2490t4f7c9et.md
  .tbd/data-sync/issues/is-01kra9bae7t8hk71z0dg3jtztx.md
  .tbd/data-sync/issues/is-01ksc0s4vq2w1yyp10fybqpq8t.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01kxj30jgtpk96nys50nr6peve.md
Due: format, format-md

fix: three live-run defects — label gating, priority equivalence, tracker normalization
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-bridge-state.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

docs: Phase 2 manual, agent self-documentation, and changelog
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

fix: address Bugbot R1/R2 on the sync engine — fold ordering and journal coverage
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T07-43-19 (4 files)
  .tbd/data-sync/issues/is-01kzqms8fz0d4dyfw4wsm8djfs.md
  .tbd/data-sync/issues/is-01kzqwd0x3zbne15mf42kr6x4j.md
  .tbd/data-sync/issues/is-01kzqwd1969akp4xrasm614n43.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: fold between pull and push; journal cleanup decided by its own failures
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T07-54-41 (4 files)
  .tbd/data-sync/issues/is-01kzqms8fz0d4dyfw4wsm8djfs.md
  .tbd/data-sync/issues/is-01kzqx1tdr7t2ewphxbes5pvwe.md
  .tbd/data-sync/issues/is-01kzqx1tsyqgcprgyx6y6e0ach.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzrt6bjhj1teq2e2ed7ae83h.yml
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzq6vbaqck3q21a69965ha4e.md
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzrs2sz9ebbjwz2a3w2s70af.md
  .tbd/data-sync/issues/is-01kzrs66v8et3vwh2tpmk3v9d9.md
  .tbd/data-sync/issues/is-01kzrs6dd1abehychzed2yc1fk.md
  .tbd/data-sync/issues/is-01kzrs6s3fn7gtzgt70wx9yzas.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzrs7dnqcq10ry0xeph0nsxn.md
  .tbd/data-sync/issues/is-01kzrs7qw8qv2ynt64n9c2w0y6.md
  .tbd/data-sync/issues/is-01kzrs7yrc2hjjks6qc38mhc2y.md
  .tbd/data-sync/issues/is-01kzrs87qg5tssg8p41wpj3kwj.md
  .tbd/data-sync/issues/is-01kzrs8gb1ky34vpdv7qfdfv4q.md
  .tbd/data-sync/issues/is-01kzrs8phwbdy9hdkxm6c6k8pe.md
  .tbd/data-sync/issues/is-01kzrs8yftzrvng3a16fs26hm1.md
  .tbd/data-sync/issues/is-01kzrs94ma78nxv4qyd4yx8hr5.md
  .tbd/data-sync/issues/is-01kzrs9eanh9pfsh52fed3gdna.md
  .tbd/data-sync/issues/is-01kzrs9mb24gzv94d2mvexqnbd.md
  .tbd/data-sync/issues/is-01kzrs9vkh8j1vsrfytqdx3sr1.md
  .tbd/data-sync/issues/is-01kzrsa3b4fywmvvsxt5s4srrq.md
  .tbd/data-sync/issues/is-01kzrsac4r354tm2b2f89mg0ve.md
  .tbd/data-sync/issues/is-01kzrsajhday2nyvfnbk2c097t.md
  .tbd/data-sync/issues/is-01kzrsarka5sq9h3x8v5yp7vpm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzrt76j05q11fas7p9amnvdh.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/links/is-01kzn5wbxkb6c0db6k19wj7yzj.yml
  .tbd/data-sync/bridge/linear/links/is-01kzq6vbaqck3q21a69965ha4e.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs2jrjg3pzase83ebxdjyg.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs2sz9ebbjwz2a3w2s70af.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs66v8et3vwh2tpmk3v9d9.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs6dd1abehychzed2yc1fk.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs6s3fn7gtzgt70wx9yzas.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs779s8d2t4qmvpx310p22.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs7qw8qv2ynt64n9c2w0y6.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs7yrc2hjjks6qc38mhc2y.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs87qg5tssg8p41wpj3kwj.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs8gb1ky34vpdv7qfdfv4q.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs8phwbdy9hdkxm6c6k8pe.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs8yftzrvng3a16fs26hm1.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs94ma78nxv4qyd4yx8hr5.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs9eanh9pfsh52fed3gdna.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs9mb24gzv94d2mvexqnbd.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrs9vkh8j1vsrfytqdx3sr1.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrsa3b4fywmvvsxt5s4srrq.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrsac4r354tm2b2f89mg0ve.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrsajhday2nyvfnbk2c097t.yml
  .tbd/data-sync/bridge/linear/links/is-01kzrsarka5sq9h3x8v5yp7vpm.yml
Due: format

feat: one sync vocabulary across every surface; independent surfaces with rollup
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T16-30-12 (7 files)
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzqmstyhvw4cmvy0v9pe3s6s.md
  .tbd/data-sync/issues/is-01kzrs7qw8qv2ynt64n9c2w0y6.md
  .tbd/data-sync/issues/is-01kzrs7yrc2hjjks6qc38mhc2y.md
  .tbd/data-sync/issues/is-01kzrs87qg5tssg8p41wpj3kwj.md
  .tbd/data-sync/issues/is-01kzrthdrgaakga7fj38sry0et.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md
