Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

test: rebuild stale dist before vitest globalSetup (closes tbd-zswv)
  .claude/scripts/tbd-session.sh
  .codex/tbd-session.sh
  packages/tbd/tests/global-setup.ts
Due: format, lint, typecheck

refactor: relocate cut-release shortcut from standard/ to project-local docs/publishing.md (closes tbd-pxxe)
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  .tbd/config.yml
  docs/development.md
  docs/general/agent-setup/publishing.md
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
  docs/publishing.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/tbd-format-versioning.md
  packages/tbd/docs/shortcuts/standard/cut-release.md
Due: format, format-md

docs(qa): Phase 2.D flowmark upgrade validation passed (closes tbd-rf68)
  tests/qa/release-v0.2.0-upgrade.qa.md
Due: format-md

docs(changelog): draft v0.2.0 release notes (closes tbd-9urm)
  packages/tbd/CHANGELOG.md
Due: format-md

chore: release get-tbd v0.2.0
  packages/tbd/package.json
Due: format

test: expect tbd-afjh notice in shared common-dir tryscript
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
Due: format-md

refactor: relocate tbd-format-versioning to project-local + clean dogfood pins
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  .tbd/config.yml
  docs/tbd-format-versioning.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/lib/data-context.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-05-29T04-58-25 (15 files)
  .tbd/data-sync/issues/is-01ksrpb7b8cfwrzzd34ya9874q.md
  .tbd/data-sync/issues/is-01ksrpbzcggmzd76nf6eh4vqf4.md
  .tbd/data-sync/issues/is-01ksrpc66nv4f23t31t3e4758m.md
  .tbd/data-sync/issues/is-01ksrpcdpq0v2qkqtk33m0k55t.md
  .tbd/data-sync/issues/is-01ksrpcjhh597rhrxvac09m6wc.md
  .tbd/data-sync/issues/is-01ksrpcxj1c6esrthdwvd6390g.md
  .tbd/data-sync/issues/is-01ksrpd50dfwh6y3449a864dmq.md
  .tbd/data-sync/issues/is-01ksrpddt285edvk30rxjxbv7h.md
  .tbd/data-sync/issues/is-01ksrpdkemmkkhh4j6egqyrvsq.md
  .tbd/data-sync/issues/is-01ksrpdqq35gddkbpr21xrdrqd.md
  .tbd/data-sync/issues/is-01kss0t446hjek1vq150eaxk89.md
  .tbd/data-sync/issues/is-01kss1csd6spmwvb7g6ay48yy6.md
  .tbd/data-sync/issues/is-01kss1cz76fp8ps6t85xp0bd2y.md
  .tbd/data-sync/issues/is-01kss1d6f60tssxej7gc6rgmjh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-29T05-00-47 (1 file)
  .tbd/data-sync/issues/is-01kss1csd6spmwvb7g6ay48yy6.md
Due: format-md

fix: address senior release review for v0.2.0 (closes tbd-p6zo, tbd-5u0w)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  tests/qa/release-v0.2.0-upgrade.qa.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-05-29T05-17-56 (7 files)
  .tbd/data-sync/issues/is-01ksrpdkemmkkhh4j6egqyrvsq.md
  .tbd/data-sync/issues/is-01kss0t446hjek1vq150eaxk89.md
  .tbd/data-sync/issues/is-01kss1csd6spmwvb7g6ay48yy6.md
  .tbd/data-sync/issues/is-01kss1cz76fp8ps6t85xp0bd2y.md
  .tbd/data-sync/issues/is-01kss1d6f60tssxej7gc6rgmjh.md
  .tbd/data-sync/issues/is-01kss1z6j5atng0k975bqsfdc7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(release): GitHub Release body uses CHANGELOG section, not fallback (closes tbd-xk7c)
  .github/workflows/release.yml
Due: format

docs(publishing): gate tag on green main CI; verify GH release body explicitly (tbd-uvvc)
  docs/publishing.md
Due: format-md

tbd sync: 2026-05-29T06-31-32 (8 files)
  .tbd/data-sync/issues/is-01ksrpb7b8cfwrzzd34ya9874q.md
  .tbd/data-sync/issues/is-01ksrpdkemmkkhh4j6egqyrvsq.md
  .tbd/data-sync/issues/is-01ksrpdqq35gddkbpr21xrdrqd.md
  .tbd/data-sync/issues/is-01kss6e6b9h6wtypdfxdmawt08.md
  .tbd/data-sync/issues/is-01kss6efgnqesfd3s2v29yk79m.md
  .tbd/data-sync/issues/is-01kss6er2p7pfg2v0wt4vqcjbp.md
  .tbd/data-sync/issues/is-01kss6f2ydhh5k0qnnpc3eve0w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: add plan spec for tbd-sync unrelated-history hardening
  docs/project/specs/active/plan-2026-05-29-tbd-sync-unrelated-history-hardening.md
Due: format-md

tbd sync: 2026-05-29T06-44-23 (12 files)
  .tbd/data-sync/issues/is-01kss7hxvj9nxnhthv6efvehg0.md
  .tbd/data-sync/issues/is-01kss7jbwn48erek2qctyt5wbh.md
  .tbd/data-sync/issues/is-01kss7jcf02jsw39z45enh5wvv.md
  .tbd/data-sync/issues/is-01kss7jd1ccaa03019ksydcwms.md
  .tbd/data-sync/issues/is-01kss7jdm65f61t8jnstwvxaap.md
  .tbd/data-sync/issues/is-01kss7je6n72cvgzvnydxd8f45.md
  .tbd/data-sync/issues/is-01kss7jes8a8ckn6cms3f4ytfw.md
  .tbd/data-sync/issues/is-01kss7jfbxjh510qrjj52jfwk3.md
  .tbd/data-sync/issues/is-01kss7jfzgth1cbt000cjbf85x.md
  .tbd/data-sync/issues/is-01kss7jghvg4n33dmfrq9zzv1g.md
  .tbd/data-sync/issues/is-01kss7jh3y0zt94729xzgfcj6m.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: tighten tbd-sync plan per senior review
  docs/project/specs/active/plan-2026-05-29-tbd-sync-unrelated-history-hardening.md
Due: format-md

refactor(release): extract changelog logic to a tested script, not inline awk
  .github/workflows/release.yml
  docs/development.md
  packages/tbd/scripts/extract-changelog.d.mts
  packages/tbd/scripts/extract-changelog.mjs
  packages/tbd/tests/extract-changelog.test.ts
Due: format, format-md, lint, typecheck

fix(lockfile): atomic stale-lock break + resilient release (fixes Windows flake)
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

test(lockfile): keep staleMs low so a stalled Windows release recovers fast
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

refactor(changelog): move extractor to src module; drop .mjs test import
  .github/workflows/release.yml
  docs/development.md
  packages/tbd/scripts/extract-changelog.d.mts
  packages/tbd/scripts/extract-changelog.mjs
  packages/tbd/scripts/extract-changelog.ts
  packages/tbd/src/utils/changelog.ts
  packages/tbd/tests/extract-changelog.test.ts
Due: format, format-md, lint, typecheck

fix: address review — release-tag CI gate + lockfile non-dir guard
  .github/workflows/release.yml
  docs/development.md
  docs/publishing.md
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/extract-changelog.test.ts
  packages/tbd/tests/lockfile.test.ts
Due: format, format-md, lint, typecheck

fix(release): use CHANGELOG section in GH Release body; gate tag on green main CI (#140)
  .github/workflows/release.yml
  docs/development.md
  docs/publishing.md
  packages/tbd/scripts/extract-changelog.ts
  packages/tbd/src/utils/changelog.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/extract-changelog.test.ts
  packages/tbd/tests/lockfile.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-05-29T16-22-03 (3 files)
  .tbd/data-sync/issues/is-01kss6e6b9h6wtypdfxdmawt08.md
  .tbd/data-sync/issues/is-01kss6efgnqesfd3s2v29yk79m.md
  .tbd/data-sync/issues/is-01kss6er2p7pfg2v0wt4vqcjbp.md
Due: format-md

docs(guidelines): warn against over-documenting CLI-backed skills
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

tbd sync: 2026-05-29T16-22-37 (4 files)
  .tbd/data-sync/issues/is-01kss7hxvj9nxnhthv6efvehg0.md
  .tbd/data-sync/issues/is-01kss7jfzgth1cbt000cjbf85x.md
  .tbd/data-sync/issues/is-01kst8pd1c6e9khrcjvwbnya4f.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

refactor: git() throws GitError carrying exitCode (structural)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/git-exit-code.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-27-30 (2 files)
  .tbd/data-sync/issues/is-01kss7jbwn48erek2qctyt5wbh.md
  .tbd/data-sync/issues/is-01kss7jcf02jsw39z45enh5wvv.md
Due: format-md

docs(guidelines): apply common-doc style to the over-documentation guidance
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

feat: probeRemoteBranch tri-state (absent vs check-failed) (tbd-ptj3)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/git-probe-remote.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-30-21 (2 files)
  .tbd/data-sync/issues/is-01kss7jcf02jsw39z45enh5wvv.md
  .tbd/data-sync/issues/is-01kss7jd1ccaa03019ksydcwms.md
Due: format-md

feat: initWorktree refuses orphan on check-failed; pushes fresh orphan (#137, tbd-xkyh)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/git-init-orphan.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-37-13 (2 files)
  .tbd/data-sync/issues/is-01kss7jd1ccaa03019ksydcwms.md
  .tbd/data-sync/issues/is-01kss7jdm65f61t8jnstwvxaap.md
Due: format-md

feat: checkRemoteBranchHealth detects unrelated histories (Fault 2, tbd-nzqt)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/git-unrelated-health.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-40-55 (1 file)
  .tbd/data-sync/issues/is-01kss7jdm65f61t8jnstwvxaap.md
Due: format-md

feat: tbd doctor reports unrelated histories as hard finding (tbd-fg5a)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-unrelated.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-44-28 (2 files)
  .tbd/data-sync/issues/is-01kss7je6n72cvgzvnydxd8f45.md
  .tbd/data-sync/issues/is-01kss7jes8a8ckn6cms3f4ytfw.md
Due: format-md

feat: tbd sync detects unrelated histories up front (tbd-xsb4)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/tests/unrelated-histories-error.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T16-50-12 (2 files)
  .tbd/data-sync/issues/is-01kss7jes8a8ckn6cms3f4ytfw.md
  .tbd/data-sync/issues/is-01kss7jfbxjh510qrjj52jfwk3.md
Due: format-md

test: #135 regression — missing worktree heals, no .tbd/data-sync/ write (tbd-b6vi)
  packages/tbd/tests/cli-sync-missing-worktree-135.tryscript.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
