Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: add 10+ newly discovered orchestration tools to research docs
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
  docs/project/research/current/research-running-claude-code.md
Due: format-md

Clarify that --prefix is a short alphabetic issue ID prefix
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
Due: format-md

tbd sync: 2026-03-10T00-13-34 (5 files)
  .tbd/data-sync/issues/is-01kkahb2n3zb9991qfbe8mdmhg.md
  .tbd/data-sync/issues/is-01kkahb7m4phhnys6cra5j8jm1.md
  .tbd/data-sync/issues/is-01kkahb8jsjjps9mn7ckpcf1gq.md
  .tbd/data-sync/issues/is-01kkahb9730h0fg60d73apc183.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-03-10T00-15-50 (4 files)
  .tbd/data-sync/issues/is-01kkahb2n3zb9991qfbe8mdmhg.md
  .tbd/data-sync/issues/is-01kkahb7m4phhnys6cra5j8jm1.md
  .tbd/data-sync/issues/is-01kkahb8jsjjps9mn7ckpcf1gq.md
  .tbd/data-sync/issues/is-01kkahb9730h0fg60d73apc183.md
Due: format-md

fix: resolve Windows CI test flakiness in three test files
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/lockfile.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

fix: resolve test flakiness across Windows CI and fd limits
  packages/tbd/src/file/storage.ts
  packages/tbd/tests/doc-add-e2e.test.ts
  packages/tbd/tests/git-remote.test.ts
Due: format, lint, typecheck

chore: update auto-generated tbd skill and agents docs
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

fix: prevent short-ID mapping loss during concurrent issue creation
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/concurrent-mapping.test.ts
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

chore: simplify prefix instruction wording in SKILL.md and AGENTS.md
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

fix: reorder doctor checks so ID mapping repair runs after data migration
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

fix: update golden tests for new doctor check ordering
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-sync-migration-bug.tryscript.md
Due: format-md

fix: make migration tryscript test resilient to multiple migration commits
  packages/tbd/tests/cli-sync-migration-bug.tryscript.md
Due: format-md

chore: release get-tbd v0.1.25
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  release-notes.md
Due: format, format-md

fix: reuse sync worktree across linked checkouts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/linked-worktree.test.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, lint, typecheck

fix: add merge=union gitattributes inside worktree for ids.yml
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
Due: format, lint, typecheck

refactor: remove dead code and consolidate duplicate constants
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/src/lib/spec-matching.ts
Due: format, lint, typecheck

fix: increase lockfile test timeout for Windows CI flakiness
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

fix: use short staleMs in lockfile concurrency test for Windows
  packages/tbd/tests/lockfile.test.ts
Due: format, lint, typecheck

fix: address PR 113 review blockers
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  packages/tbd/src/file/git.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile.test.ts
  packages/tbd/tests/worktree-health.test.ts
  release-notes.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-04-07T08-34-03 (5 files)
  .tbd/data-sync/issues/is-01knkgpxp4e0btttjy50hqsh37.md
  .tbd/data-sync/issues/is-01knkgx3gvbmd5k2mxyrn233hb.md
  .tbd/data-sync/issues/is-01knkgx3gvrthrhannw8jkpd13.md
  .tbd/data-sync/issues/is-01knkgxe4fmrg3tc4jpkg9tr2e.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-04-07T08-44-22 (1 file)
  .tbd/data-sync/issues/is-01knkgpxp4e0btttjy50hqsh37.md
Due: format-md

chore: release get-tbd v0.1.26
  .changeset/fix-ci-and-merge-conflicts.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  release-notes.md
Due: format, format-md

fix: handle invalid issue files safely
  .changeset/valid-issue-files.md
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/issue-input-validation.ts
  packages/tbd/src/file/storage.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/utils/zod-error-utils.ts
  packages/tbd/tests/cli-edge-cases.tryscript.md
  packages/tbd/tests/corrupted-data.test.ts
  packages/tbd/tests/storage.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-04-30T23-41-20 (2 files)
  .tbd/data-sync/issues/is-01kqgbtjkgbta0dhv30eczp5fb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: add merge=union for ids.yml
  .tbd/data-sync/mappings/.gitattributes
Due: none

test: allow platform-specific doctor paths
  packages/tbd/tests/corrupted-data.test.ts
Due: format, lint, typecheck

test: make long title fixture portable
  packages/tbd/tests/cli-edge-cases.tryscript.md
Due: format-md
