Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat: finalize release readiness and live bead viewer (#209)
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/web.ts
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/lib/issue-query.ts
  packages/tbd/src/utils/gray-matter.ts
  packages/tbd/src/utils/markdown-utils.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/cli-edge-cases.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/doc-categories.test.ts
  packages/tbd/tests/gray-matter.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/markdown-utils.test.ts
  packages/tbd/tests/merge-refs.test.ts
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T07-55-41 (1 file)
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
Due: format-md

chore: release get-tbd v0.5.0
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd sync: 2026-08-13T08-53-58 (6 files)
  .tbd/data-sync/issues/is-01kzx2gsbxgxck3kfswkb3gn3m.md
  .tbd/data-sync/issues/is-01kzx2h2t7pxy4cqd6zhrfpwqd.md
  .tbd/data-sync/issues/is-01kzx2h3ar2mggvq5n23hepeae.md
  .tbd/data-sync/issues/is-01kzx2h3wnfbscatsa26ftvb72.md
  .tbd/data-sync/issues/is-01kzx2h4ab6pmz70zq2zhb7xyw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: finalize v0.5.0 repository state
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  docs/development.md
  docs/project/specs/done/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

tbd sync: 2026-08-13T09-12-03 (4 files)
  .tbd/data-sync/issues/is-01kzx5f780dfv5vb8yp5dwnnc3.md
  .tbd/data-sync/issues/is-01kzx5hsxbr9jaxa6mzcga7d0r.md
  .tbd/data-sync/issues/is-01kzx5yb5cg3e21qw0hfht27xg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T09-30-48 (3 files)
  .tbd/data-sync/issues/is-01kzx5f780dfv5vb8yp5dwnnc3.md
  .tbd/data-sync/issues/is-01kzx70wazk2r0kmg0pbpczcy4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T09-40-19 (3 files)
  .tbd/data-sync/issues/is-01kzx5f780dfv5vb8yp5dwnnc3.md
  .tbd/data-sync/issues/is-01kzx7wws8drz0b74fddrnsd9c.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): make comment replay crash-safe
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-intents.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

fix(integrations): cancel stale writes after unlink
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-intents.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T12-50-38 (5 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzxg35z6xqe2s5j3wr6n315h.md
  .tbd/data-sync/issues/is-01kzxh4bkrfd346fb6ckcns3nb.md
  .tbd/data-sync/issues/is-01kzxhw9w2xj03bfz4de3kxvpb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(ci): eliminate web acceptance flakes
  packages/tbd/src/cli/web/server.ts
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/web-server.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-13T13-12-10 (4 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzxk660qk999gpapm6j74rgg.md
  .tbd/data-sync/issues/is-01kzxkvemtgka7w0kezxky6tac.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): make unlink cancellation crash-safe
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-intents.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T13-39-15 (4 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzxmc1fwdgshnbsne64fha22.md
  .tbd/data-sync/issues/is-01kzxmc219typjnb46kwsm83k3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): distinguish pending creates from orphans
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/integrations/core/link-store.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-link-store.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T14-07-01 (4 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzxp8m8fn9vyrd0qfghkgtx2.md
  .tbd/data-sync/issues/is-01kzxp8mkfq99eamm3d3kw7a9e.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): reconcile live pending creates
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T14-31-17 (3 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzxr09hgvy5ef29f7j5s5950.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): recover pre-bridge remote edits
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T15-07-58 (4 files)
  .tbd/data-sync/issues/is-01kzx848mdfzapsc2ddm6hm0zt.md
  .tbd/data-sync/issues/is-01kzx8jw39zc4dpgx6w82rg3dm.md
  .tbd/data-sync/issues/is-01kzxs98k1zjrykyet7px33hn2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzxxkf840yttswwwvd260n36.yml
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzx8kn4vtndb0t84345snpy5.md
  .tbd/data-sync/issues/is-01kzx8knkqyxmghreewwsy16h9.md
  .tbd/data-sync/issues/is-01kzx8mkeyergsd0hmq8zj1zd7.md
  .tbd/data-sync/issues/is-01kzx8nbbf8rybrp5sp6t9y7h4.md
  .tbd/data-sync/issues/is-01kzx8nbpvpfdv6vme31s7qyq2.md
  .tbd/data-sync/issues/is-01kzx8nc1vetjsc86by8085sg1.md
  .tbd/data-sync/issues/is-01kzx8ncczb69sp1bgyk20pyt5.md
  .tbd/data-sync/issues/is-01kzxxj27abvbje3nesecgsk3z.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T16-02-08 (1 file)
  .tbd/data-sync/issues/is-01kzxxj27abvbje3nesecgsk3z.md
Due: format-md

tbd sync: 2026-08-13T16-10-22 (4 files)
  .tbd/data-sync/issues/is-01kzxxj27abvbje3nesecgsk3z.md
  .tbd/data-sync/issues/is-01kzxy6ks7pd36nnzrppfdspq6.md
  .tbd/data-sync/issues/is-01kzxy6mhd66ah3xr0960n34kf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzxy7p60avxdnq9j4sh1c4hv.yml
  .tbd/data-sync/issues/is-01kzxy6ks7pd36nnzrppfdspq6.md
  .tbd/data-sync/issues/is-01kzxy6mhd66ah3xr0960n34kf.md
Due: format, format-md

tbd sync: 2026-08-13T16-11-43 (1 file)
  .tbd/data-sync/issues/is-01kzxy6mhd66ah3xr0960n34kf.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01kzxyaczvxbtds6eaw9myqbjp.yml
  .tbd/data-sync/issues/is-01kzxy6ks7pd36nnzrppfdspq6.md
  .tbd/data-sync/issues/is-01kzxyaajyhadgprx4ws1gz7mk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T17-56-17 (18 files)
  .tbd/data-sync/issues/is-01kzxxj27abvbje3nesecgsk3z.md
  .tbd/data-sync/issues/is-01kzxy6ks7pd36nnzrppfdspq6.md
  .tbd/data-sync/issues/is-01kzxyaajyhadgprx4ws1gz7mk.md
  .tbd/data-sync/issues/is-01kzxymmezp743rv5dd9b0gjp1.md
  .tbd/data-sync/issues/is-01kzxymmz0f92n0apa0hgrvrrc.md
  .tbd/data-sync/issues/is-01kzxymnb6n160tntcf305prcq.md
  .tbd/data-sync/issues/is-01kzxymnqytjk2thcq4teskrbj.md
  .tbd/data-sync/issues/is-01kzxz14pf4fb6fxsh7qddvy1p.md
  .tbd/data-sync/issues/is-01kzxz152g5e546pxjs6w8ckbs.md
  .tbd/data-sync/issues/is-01kzxz1e815hsxmyhykdabhcxr.md
  .tbd/data-sync/issues/is-01kzxzx6e1dekec0pdbtxqqcpk.md
  .tbd/data-sync/issues/is-01kzy069w7j82pze3b5b6xnvt2.md
  .tbd/data-sync/issues/is-01kzy06a8qy5jw2m29wsasx7vc.md
  .tbd/data-sync/issues/is-01kzy0wnx8tena3fnh0ns4wxrk.md
  .tbd/data-sync/issues/is-01kzy0x95xwa7w5z59w9jeh2rz.md
  .tbd/data-sync/issues/is-01kzy1taxvxgk86npza1zbkb06.md
  .tbd/data-sync/issues/is-01kzy1zb1zjem9fcjjgvrr6vjx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T18-13-56 (4 files)
  .tbd/data-sync/issues/is-01kzxz152g5e546pxjs6w8ckbs.md
  .tbd/data-sync/issues/is-01kzy069w7j82pze3b5b6xnvt2.md
  .tbd/data-sync/issues/is-01kzy4ta89d2wv8vpsfptzy2gy.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
