Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-28T19-59-29 (29 files)
  .tbd/data-sync/issues/is-01kjcb7j040avaqy7d8n2m9gbj.md
  .tbd/data-sync/issues/is-01kss6efgnqesfd3s2v29yk79m.md
  .tbd/data-sync/issues/is-01kv1jc3zygbz9ew7yfhpsb2vm.md
  .tbd/data-sync/issues/is-01kx7aamb654kekkm7z73zn5tb.md
  .tbd/data-sync/issues/is-01kxbx4bv9h4zj4822mqj20bxw.md
  .tbd/data-sync/issues/is-01kxrxs3w5b32mp7344bfk6rd0.md
  .tbd/data-sync/issues/is-01kytgsy0fm7e06v9pt0bdx6db.md
  .tbd/data-sync/issues/is-01kytpdeb2fjm2xm8raczqmj20.md
  .tbd/data-sync/issues/is-01kzp7rd5ap1sgzqgs3ejdwn5a.md
  .tbd/data-sync/issues/is-01kzq7a7dq7sv27w9ndh32dpag.md
  .tbd/data-sync/issues/is-01kzq7drb8v1d3832nnvb8450x.md
  .tbd/data-sync/issues/is-01kzxh4bkrfd346fb6ckcns3nb.md
  .tbd/data-sync/issues/is-01kzzesqaq108cbnbkhwvhb2rk.md
  .tbd/data-sync/issues/is-01m01ec5zrek6jvw1ssmdgn6qz.md
  .tbd/data-sync/issues/is-01m01w3jp8zjp74yw33z3tw15j.md
  .tbd/data-sync/issues/is-01m044p8vkya3s129dqr09qszy.md
  .tbd/data-sync/issues/is-01m06cbj8xnn407gqpw7m98zcc.md
  .tbd/data-sync/issues/is-01m09qc0vbmz4a340c1ga1gdfd.md
  .tbd/data-sync/issues/is-01m0pj1ksy7tdf5skcgb90ed0s.md
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/issues/is-01m14yzbwwg92e5k7z7d4kyn00.md
  .tbd/data-sync/issues/is-01m14z05cqkapvfaydtyv9gb26.md
  .tbd/data-sync/issues/is-01m14z0nr8gaygh727ysr134qc.md
  .tbd/data-sync/issues/is-01m14z1bp3gncnvfv7vyxm9c5w.md
  .tbd/data-sync/issues/is-01m14z1d0xxdm4fcvckhpatdh4.md
  .tbd/data-sync/issues/is-01m14z1eb308b5fa1284md3fw9.md
  .tbd/data-sync/issues/is-01m14z4ryc6h68kah2csqf6g0y.md
  .tbd/data-sync/issues/is-01m14z4taq1e361z0ep19ckvtt.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: make a settled Linear mirror report itself settled
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-28T20-34-58 (9 files)
  .tbd/data-sync/issues/is-01m14yzbwwg92e5k7z7d4kyn00.md
  .tbd/data-sync/issues/is-01m14z05cqkapvfaydtyv9gb26.md
  .tbd/data-sync/issues/is-01m14z0nr8gaygh727ysr134qc.md
  .tbd/data-sync/issues/is-01m14z1bp3gncnvfv7vyxm9c5w.md
  .tbd/data-sync/issues/is-01m14z1d0xxdm4fcvckhpatdh4.md
  .tbd/data-sync/issues/is-01m150zwqthjh5ft4wykpjrdw5.md
  .tbd/data-sync/issues/is-01m1512sk5atraw6pf7nshsgrx.md
  .tbd/data-sync/issues/is-01m1512v1c8z7kbx0q2t07rstv.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: teach the mock to apply stateId, add a sync divergence diagnostic
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-29T02-43-52 (2 files)
  .tbd/data-sync/issues/is-01m14z1eb308b5fa1284md3fw9.md
  .tbd/data-sync/issues/is-01m1512sk5atraw6pf7nshsgrx.md
Due: format-md

fix: enforce a gh version floor, bump the pin to 2.97.0, and add stacked-PR support
  .agents/skills/tbd/SKILL.md
  .claude/scripts/ensure-gh-cli.sh
  .claude/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  .tbd/config.yml
  README.md
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  tests/qa/gh-cli-and-stacked-prs.qa.md
Due: format, format-md

fix: address PR #266 review — skill install was a silent no-op, drafts blocked merge
  .claude/scripts/ensure-gh-cli.sh
  .codex/ensure-gh-cli.sh
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/tests/ensure-gh-cli-script.test.ts
  tests/qa/gh-cli-and-stacked-prs.qa.md
Due: format, format-md, lint, typecheck

style: apply prettier to ensure-gh-cli-script.test.ts
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-02T07-37-08 (22 files)
  .tbd/data-sync/issues/is-01m1d1tam7230zrcj70ecmkt8b.md
  .tbd/data-sync/issues/is-01m1d1vj0va849g09krmgvtrpm.md
  .tbd/data-sync/issues/is-01m1d1vjcdb8ee80m6adbbw3fw.md
  .tbd/data-sync/issues/is-01m1d1vjqysr1jg5he07zatyy3.md
  .tbd/data-sync/issues/is-01m1d1wcxcv1pxvpa8g4dc9a2x.md
  .tbd/data-sync/issues/is-01m1d1wd94kmwcbne34nf4f8se.md
  .tbd/data-sync/issues/is-01m1d1x7ezs8c1q388j419679e.md
  .tbd/data-sync/issues/is-01m1d1x7tk4995rv8skr6javbk.md
  .tbd/data-sync/issues/is-01m1d1x86a96ak3rzd8w6ft7ej.md
  .tbd/data-sync/issues/is-01m1gf0bjgf9gdmq3megpsn7fs.md
  .tbd/data-sync/issues/is-01m1gf0c1e3tpf0sj55bcmq4t2.md
  .tbd/data-sync/issues/is-01m1gf0ceb341yb56a6eaxtgnh.md
  .tbd/data-sync/issues/is-01m1gf0cx6p1cr2vpbyfd3c0ab.md
  .tbd/data-sync/issues/is-01m1gf0dcv7f0kjdya3v7kkfnn.md
  .tbd/data-sync/issues/is-01m1gf0dtxk0e2xvykrnwbyq1z.md
  .tbd/data-sync/issues/is-01m1gf0e7yms47mc6tvdd4td2r.md
  .tbd/data-sync/issues/is-01m1gf0emgpgqahg5empftvhrs.md
  .tbd/data-sync/issues/is-01m1gf0f1s5xy3mnek7cyz97q6.md
  .tbd/data-sync/issues/is-01m1gf0feesp7pfxkvg677kgga.md
  .tbd/data-sync/issues/is-01m1gf0ft83hfmwqcatatcg4cm.md
  .tbd/data-sync/issues/is-01m1gf0g7kkyj2astjmnj8qw8k.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: address PR #264 review — thread the readiness clock, cover the wiring
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/issue-input-validation.ts
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-query.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/tests/cli-edge-cases.tryscript.md
  packages/tbd/tests/deferred-until.test.ts
  packages/tbd/tests/guideline-groups.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/issue-changes.test.ts
  packages/tbd/tests/issue-query.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-02T21-43-58 (12 files)
  .tbd/data-sync/issues/is-01m1hzmrdcgkf45b2nf8mhqghq.md
  .tbd/data-sync/issues/is-01m1hzmrqthny8wvchb9sgvw0b.md
  .tbd/data-sync/issues/is-01m1hzms1t9k57h7mdyj41cy26.md
  .tbd/data-sync/issues/is-01m1hzmsby3tr9d1bvs3jx7as3.md
  .tbd/data-sync/issues/is-01m1hzmsnv9z98m8g2jxpdjtmj.md
  .tbd/data-sync/issues/is-01m1hzmszvs1mp14vmvf3ehexm.md
  .tbd/data-sync/issues/is-01m1hzmtahp48jg4rm4aahx4w0.md
  .tbd/data-sync/issues/is-01m1hzmtmxb15vkgjaqxvjr3zq.md
  .tbd/data-sync/issues/is-01m1hzmtz1zwkwrvyy3bzq4wk5.md
  .tbd/data-sync/issues/is-01m1hzmv9350xa9sg11y45wnc6.md
  .tbd/data-sync/issues/is-01m1hzmvkdpccd09vq9hb9nq14.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-02T21-44-37 (2 files)
  .tbd/data-sync/issues/is-01m1j19fwksq5km5haf4k8hrxe.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-06T16-58-18 (11 files)
  .tbd/data-sync/issues/is-01kzyy0r9gvz8g8150fa2rv6zx.md
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/issues/is-01m1vra2nqrz3bh8xgzz0kr4bd.md
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
  .tbd/data-sync/issues/is-01m1vtak4krbsf3yx1p9x9vewg.md
  .tbd/data-sync/issues/is-01m1vtap5bmx36expphmmyyh3j.md
  .tbd/data-sync/issues/is-01m1vtasj456rypkznr3kc93qa.md
  .tbd/data-sync/issues/is-01m1vtax1bvj07019zp94zmqjw.md
  .tbd/data-sync/issues/is-01m1vtazvgbmwf5q9fz9ayrjh0.md
  .tbd/data-sync/issues/is-01m1vtb2rddhs388xtwkhabz5q.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-06T17-08-17 (3 files)
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/issues/is-01m1vra2nqrz3bh8xgzz0kr4bd.md
  .tbd/data-sync/issues/is-01m1vtazvgbmwf5q9fz9ayrjh0.md
Due: format-md

tbd sync: 2026-09-06T17-35-45 (12 files)
  .tbd/data-sync/issues/is-01kf5zyg8ncgqnczpcp9gt5xeg.md
  .tbd/data-sync/issues/is-01kfv69cass521h3av6a5n6q55.md
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
  .tbd/data-sync/issues/is-01m0c5r461zmx3ctgsxq94s0bq.md
  .tbd/data-sync/issues/is-01m0drveqd06azafyxnbqx0e4h.md
  .tbd/data-sync/issues/is-01m0dsa5x0ptcwtn8rsf7x66q0.md
  .tbd/data-sync/issues/is-01m1vvcv5w73k2n8syfbsnsdvc.md
  .tbd/data-sync/issues/is-01m1vvykvzdx6k4w6m39xx4vh9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-06T17-41-39 (2 files)
  .tbd/data-sync/issues/is-01m044pq2zntk84fyb610dprmn.md
  .tbd/data-sync/issues/is-01m1vvcv5w73k2n8syfbsnsdvc.md
Due: format-md

tbd sync: 2026-09-06T19-53-39 (27 files)
  .tbd/data-sync/issues/is-01kzyh14se51kt9hhs2ar1ehtr.md
  .tbd/data-sync/issues/is-01m00h4phk5sx8cf4meq0gpk9b.md
  .tbd/data-sync/issues/is-01m00h5aejamyg9y5vw4qf9649.md
  .tbd/data-sync/issues/is-01m00h6rm09zkf3e6n88pzd4ge.md
  .tbd/data-sync/issues/is-01m00h762qx9k4enj3pdk3q75a.md
  .tbd/data-sync/issues/is-01m00j9m3fp2j6hny5s14fs2a0.md
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
  .tbd/data-sync/issues/is-01m0drveqd06azafyxnbqx0e4h.md
  .tbd/data-sync/issues/is-01m0dsa5x0ptcwtn8rsf7x66q0.md
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
  .tbd/data-sync/issues/is-01m1vtak4krbsf3yx1p9x9vewg.md
  .tbd/data-sync/issues/is-01m1vtap5bmx36expphmmyyh3j.md
  .tbd/data-sync/issues/is-01m1vtasj456rypkznr3kc93qa.md
  .tbd/data-sync/issues/is-01m1vtax1bvj07019zp94zmqjw.md
  .tbd/data-sync/issues/is-01m1vtazvgbmwf5q9fz9ayrjh0.md
  .tbd/data-sync/issues/is-01m1vtb2rddhs388xtwkhabz5q.md
  .tbd/data-sync/issues/is-01m1vvykvzdx6k4w6m39xx4vh9.md
  .tbd/data-sync/issues/is-01m1w39s0rrg0dp4p90cb4gg67.md
  .tbd/data-sync/issues/is-01m1w3bydxe1t9tyakkd1c6ren.md
  .tbd/data-sync/issues/is-01m1w3d1e63qg5e2wpz31qkmvn.md
  .tbd/data-sync/issues/is-01m1w3g0smx3ezvwz4g8mkmjy9.md
  .tbd/data-sync/issues/is-01m1w3g81f4j2dgmqexbvxb7rn.md
  .tbd/data-sync/issues/is-01m1w3gbk8ne1p59cyy2bqda1z.md
  .tbd/data-sync/issues/is-01m1w3gfnt79bzspk72y328gac.md
  .tbd/data-sync/issues/is-01m1w45ztfgjxphk4w15eg8w9b.md
  .tbd/data-sync/issues/is-01m1w462tz4ybawyp4hsranf5s.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-06T19-57-26 (1 file)
  .tbd/data-sync/issues/is-01m1w3bydxe1t9tyakkd1c6ren.md
Due: format-md

tbd sync: 2026-09-07T22-32-30 (32 files)
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m1yzwsqz1fcgc03e0mck82tn.md
  .tbd/data-sync/issues/is-01m1yzwv5hxya72fgnk91pb3gv.md
  .tbd/data-sync/issues/is-01m1yzww834nfmwxqsrp4pxa8y.md
  .tbd/data-sync/issues/is-01m1yzwxwh17mdy5dbk1mkvgxw.md
  .tbd/data-sync/issues/is-01m1yzx01dbhsas1c08k34d4e2.md
  .tbd/data-sync/issues/is-01m1yzx1c3c59et6ry4v3j4xd9.md
  .tbd/data-sync/issues/is-01m1yzx2zt9d5w1jzgsb76060b.md
  .tbd/data-sync/issues/is-01m1yzx57t4174xcg4fydgqrw9.md
  .tbd/data-sync/issues/is-01m1yzx6mfhcc6px4p5xdnvxch.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m1yzx9f2zd6gpjwkmszgkbb3.md
  .tbd/data-sync/issues/is-01m1yzxaq89j76rrca4yb48ww2.md
  .tbd/data-sync/issues/is-01m1yzxc32gtef4s6t5n72zbbs.md
  .tbd/data-sync/issues/is-01m1yzxdnqr4h9q88qqq6wpx4h.md
  .tbd/data-sync/issues/is-01m1yzxfatdcswww2sm93j0djm.md
  .tbd/data-sync/issues/is-01m1yzxgm4mb8az2mxy9dggpjk.md
  .tbd/data-sync/issues/is-01m1yzxjanhry6w9ns0dpppq6h.md
  .tbd/data-sync/issues/is-01m1yzxm8735zgxvmxgqy5k5wb.md
  .tbd/data-sync/issues/is-01m1yzxq2t7vye2fhe3t2pj0fh.md
  .tbd/data-sync/issues/is-01m1yzxs0hp6fs7m0ys8n9vget.md
  .tbd/data-sync/issues/is-01m1yzxta617qzkzd32aqjmay4.md
  .tbd/data-sync/issues/is-01m1yzxw2jnvn814wsq63njw55.md
  .tbd/data-sync/issues/is-01m1yzxxp7nsr7b6xd830q0c2v.md
  .tbd/data-sync/issues/is-01m1yzxzdmp51n509k6sgmgybw.md
  .tbd/data-sync/issues/is-01m1yzy11bfgyhx7cxeyrbenca.md
  .tbd/data-sync/issues/is-01m1yzy2kx8zrv658fwh0g4dqe.md
  .tbd/data-sync/issues/is-01m1yzy45ckd396d3y7mkpr95r.md
  .tbd/data-sync/issues/is-01m1yzy5dsv4y13y9qc6qp2pfa.md
  .tbd/data-sync/issues/is-01m1yzy71mj3aznk7nnvtgtdxn.md
  .tbd/data-sync/issues/is-01m1yzy8dhwgyc47bmf1rcjhr3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Add stability sprint plan spec
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-08T06-09-56 (3 files)
  .tbd/data-sync/issues/is-01m1w39s0rrg0dp4p90cb4gg67.md
  .tbd/data-sync/issues/is-01m1zt44e1ngjeyqmzf2dhn2eg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-08T06-19-31 (1 file)
  .tbd/data-sync/issues/is-01m1zt44e1ngjeyqmzf2dhn2eg.md
Due: format-md

tbd sync: 2026-09-08T23-29-54 (4 files)
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
  .tbd/data-sync/issues/is-01m1w3d1e63qg5e2wpz31qkmvn.md
  .tbd/data-sync/issues/is-01m21kqfe9nnwmhsw39gs06nma.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-08T23-35-25 (1 file)
  .tbd/data-sync/issues/is-01m21kqfe9nnwmhsw39gs06nma.md
Due: format-md

tbd sync: 2026-09-08T23-38-37 (1 file)
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
Due: format-md

fix: patch js-yaml security overrides
  package.json
  pnpm-lock.yaml
Due: format

tbd sync: 2026-09-09T02-02-48 (3 files)
  .tbd/data-sync/issues/is-01m21kqfe9nnwmhsw39gs06nma.md
  .tbd/data-sync/issues/is-01m21y4cev6sm8dbgrp6k8vtt4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: reconcile coordination research and archive superseded designs
  TODO.md
  docs/docs-overview.md
  docs/project/research/archive/research-2026-06-04-agent-issue-monitors.md
  docs/project/research/archive/research-agent-coordination-kernel.md
  docs/project/research/archive/research-beads-bootstrapping-mechanisms.md
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/research/current/research-2026-08-14-agent-and-session-identity.md
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/specs/active/plan-2026-01-19-transactional-mode-and-agent-registration.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  docs/project/specs/active/valid-2026-08-09-bead-watch-release.md
  docs/project/specs/archive/plan-2026-01-29-claude-code-session-sync.md
  docs/project/specs/done/plan-2026-01-29-unified-sync-command.md
  docs/project/specs/done/plan-2026-01-30-workspace-sync-alt.md
  docs/project/specs/done/plan-2026-02-03-streamlined-outbox-workflow.md
Due: format-md

research: incorporate latest deferred readiness behavior
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
Due: format-md

research: review bead watching and cross-agent coordination
  docs/docs-overview.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
Due: format-md

docs: Plan phased bead coordination and native comments
  TODO.md
  docs/docs-overview.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

tbd sync: 2026-09-09T06-32-34 (11 files)
  .tbd/data-sync/issues/is-01m1vtb2rddhs388xtwkhabz5q.md
  .tbd/data-sync/issues/is-01m1w3g0smx3ezvwz4g8mkmjy9.md
  .tbd/data-sync/issues/is-01m220hjjpx5nv44za5c8jbp6a.md
  .tbd/data-sync/issues/is-01m220htdx8tv5k1mpjavfpsca.md
  .tbd/data-sync/issues/is-01m220j40yd8fcw9n3yf4412dv.md
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m222ys2fv17vvxnr67rxhwq9.md
  .tbd/data-sync/issues/is-01m222yt5xq4580v776dnxj8p8.md
  .tbd/data-sync/issues/is-01m222yv5nn21vthsjnqwg1vc5.md
  .tbd/data-sync/issues/is-01m22b72fpparmvxhj4q2938n7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-09T07-52-16 (3 files)
  .tbd/data-sync/issues/is-01m22h9aqscgn6y18ah9v2dcmc.md
  .tbd/data-sync/issues/is-01m22h9p00r4nsa0yv0517zrk8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-09T08-08-04 (3 files)
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m22h9aqscgn6y18ah9v2dcmc.md
  .tbd/data-sync/issues/is-01m22h9p00r4nsa0yv0517zrk8.md
Due: format-md

tbd sync: 2026-09-10T03-12-34 (6 files)
  .tbd/data-sync/issues/is-01m22b72fpparmvxhj4q2938n7.md
  .tbd/data-sync/issues/is-01m24mkt0qmdtkaevcz50twfvn.md
  .tbd/data-sync/issues/is-01m24mmgsd3f695akzqf1qhg8y.md
  .tbd/data-sync/issues/is-01m24mmjr6sdxfydc83m4tckf2.md
  .tbd/data-sync/issues/is-01m24mmmbgvphegn7b3hzke3cj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: address coordination plan review
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

tbd sync: 2026-09-10T04-26-29 (5 files)
  .tbd/data-sync/issues/is-01m1w3g81f4j2dgmqexbvxb7rn.md
  .tbd/data-sync/issues/is-01m24mkt0qmdtkaevcz50twfvn.md
  .tbd/data-sync/issues/is-01m24mmgsd3f695akzqf1qhg8y.md
  .tbd/data-sync/issues/is-01m24mmjr6sdxfydc83m4tckf2.md
  .tbd/data-sync/issues/is-01m24mmmbgvphegn7b3hzke3cj.md
Due: format-md

fix: Preserve comments during workspace recovery
  packages/tbd/src/file/git.ts
  packages/tbd/tests/outbox-comment-recovery.integration.test.ts
  packages/tbd/tests/workspace.test.ts
Due: format, lint, typecheck

fix: Keep provider comments scoped to link lineage
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  docs/project/specs/archive/plan-2026-01-29-claude-code-session-sync.md
  docs/project/specs/done/plan-2026-01-30-workspace-sync-alt.md
  docs/project/specs/done/plan-2026-02-03-streamlined-outbox-workflow.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/file/git.ts
  packages/tbd/tests/integrations-comments.test.ts
  packages/tbd/tests/outbox-comment-recovery.integration.test.ts
  packages/tbd/tests/workspace.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-10T05-42-04 (4 files)
  .tbd/data-sync/issues/is-01m24sdeqqvssx0yg0zpwe0vvx.md
  .tbd/data-sync/issues/is-01m24sdxnw0vye19sepzqy8yp5.md
  .tbd/data-sync/issues/is-01m24sdxppe2mwb3d75543m8j8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
