Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

tbd sync: 2026-09-18T05-47-20 (1 file)
  .tbd/data-sync/issues/is-01m2sfsd4qhzvazyfw295bpzxy.md
Due: format-md

tbd sync: 2026-09-18T06-01-26 (1 file)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
Due: format-md

chore: re-render this repository's policy block with the B5 prose
  AGENTS.md
Due: format-md

test: give the formatter-exclusion probe a positive control
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

fix: treat a policy marker sharing a line as malformed, not absent
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, lint, typecheck

fix: compare managed surfaces without line endings; pin the f100 refusal proof
  lefthook.yml
  packages/tbd/CHANGELOG.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-18T16-26-41 (38 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2qznhjzfdk0cdnny9feh2yy.md
  .tbd/data-sync/issues/is-01m2thkck6arv5vp0rq3cnc96v.md
  .tbd/data-sync/issues/is-01m2thkcy6mtxxrstgdqzstx1p.md
  .tbd/data-sync/issues/is-01m2thkmcev6g9cvnkdzwkt5gx.md
  .tbd/data-sync/issues/is-01m2thkmt26fyf973s9wycjdwn.md
  .tbd/data-sync/issues/is-01m2thkn5nz67xqnvzm3sgk3tr.md
  .tbd/data-sync/issues/is-01m2thxbvynhxjs8cqhqr2aqk4.md
  .tbd/data-sync/issues/is-01m2thz81a12vqss0rp8ya7847.md
  .tbd/data-sync/issues/is-01m2tk4ncx01enq321pp0ychzw.md
  .tbd/data-sync/issues/is-01m2tkb5gy0yaxm7jxbfx54mvs.md
  .tbd/data-sync/issues/is-01m2tkb5vr7091nawt9bhj9ryh.md
  .tbd/data-sync/issues/is-01m2tkb6689s5wbyfx80e6rrm5.md
  .tbd/data-sync/issues/is-01m2tkb6h3kwz4b7arc747tyj8.md
  .tbd/data-sync/issues/is-01m2tkb6wzfjef5kj0msj3vbm3.md
  .tbd/data-sync/issues/is-01m2tkb77j4yvzhx2mm1djrder.md
  .tbd/data-sync/issues/is-01m2tkb7j4nt14ahb2gfh5ne59.md
  .tbd/data-sync/issues/is-01m2tkb7wk7zvkvyjqebffmegq.md
  .tbd/data-sync/issues/is-01m2tkmmeq121r99se678ph0m8.md
  .tbd/data-sync/issues/is-01m2tm89qkfrtacnjxatx7vyfp.md
  .tbd/data-sync/issues/is-01m2tmf95n6mmf7k0e8e2j53rd.md
  .tbd/data-sync/issues/is-01m2tmf9gec3y3qatcta1yfxs5.md
  .tbd/data-sync/issues/is-01m2tmf9v3csxy0vvba6xx0npn.md
  .tbd/data-sync/issues/is-01m2tmfa5twkdgr3j4xnjzfnwq.md
  .tbd/data-sync/issues/is-01m2tmfagfn4nfx4zt1h9wkjv7.md
  .tbd/data-sync/issues/is-01m2tmfatztda3wtgr001mkw7x.md
  .tbd/data-sync/issues/is-01m2tmfb5k9fkh863grwehc4jz.md
  .tbd/data-sync/issues/is-01m2tmfbg97581seerkwwhnnw6.md
  .tbd/data-sync/issues/is-01m2tmfbv1vm6v0c0d28xzk5rd.md
  .tbd/data-sync/issues/is-01m2tn5grr8nhg930cg2djyyeh.md
  .tbd/data-sync/issues/is-01m2tn5h3e7ckb317wcanzt570.md
  .tbd/data-sync/issues/is-01m2tn5he4ny8ktfr3nc3vcenm.md
  .tbd/data-sync/issues/is-01m2tn5hrtjf72f97v1ny90zjc.md
  .tbd/data-sync/issues/is-01m2tn5j3p0mpk42padvbvdewx.md
  .tbd/data-sync/issues/is-01m2tn5jdzk064ec1k32q16ct3.md
  .tbd/data-sync/issues/is-01m2tn5jr0yen649h9j2v70nyy.md
  .tbd/data-sync/issues/is-01m2tn5k27jdhr5bm9qvjy5ctp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: make the ref grants are read from as trusted as its content
  AGENTS.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
Due: format, format-md, lint, typecheck

style: format the always-loaded surfaces test
  packages/tbd/tests/integration-files.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-18T17-23-13 (23 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2thkcy6mtxxrstgdqzstx1p.md
  .tbd/data-sync/issues/is-01m2thkmt26fyf973s9wycjdwn.md
  .tbd/data-sync/issues/is-01m2thxbvynhxjs8cqhqr2aqk4.md
  .tbd/data-sync/issues/is-01m2thz81a12vqss0rp8ya7847.md
  .tbd/data-sync/issues/is-01m2tk4ncx01enq321pp0ychzw.md
  .tbd/data-sync/issues/is-01m2tkb5vr7091nawt9bhj9ryh.md
  .tbd/data-sync/issues/is-01m2tkmmeq121r99se678ph0m8.md
  .tbd/data-sync/issues/is-01m2tm89qkfrtacnjxatx7vyfp.md
  .tbd/data-sync/issues/is-01m2tmf9gec3y3qatcta1yfxs5.md
  .tbd/data-sync/issues/is-01m2tmfa5twkdgr3j4xnjzfnwq.md
  .tbd/data-sync/issues/is-01m2tmfagfn4nfx4zt1h9wkjv7.md
  .tbd/data-sync/issues/is-01m2tmfatztda3wtgr001mkw7x.md
  .tbd/data-sync/issues/is-01m2tmfb5k9fkh863grwehc4jz.md
  .tbd/data-sync/issues/is-01m2tmfbg97581seerkwwhnnw6.md
  .tbd/data-sync/issues/is-01m2tqj94bq5tb5m1ypz6xf1ns.md
  .tbd/data-sync/issues/is-01m2tqj9f2ddtm9y32zp2mqgca.md
  .tbd/data-sync/issues/is-01m2tqj9sm8gkegags4bypmph7.md
  .tbd/data-sync/issues/is-01m2tqja4fa6fbpr07kf7qqamw.md
  .tbd/data-sync/issues/is-01m2tqjafrad4w97ckwgy546hr.md
  .tbd/data-sync/issues/is-01m2tqjatg9xsh32qcmqyjkt39.md
  .tbd/data-sync/issues/is-01m2tqjb5tkjm6fe2q5jmytajn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-18T17-23-28 (1 file)
  .tbd/data-sync/issues/is-01m2thkcy6mtxxrstgdqzstx1p.md
Due: format-md

feat: give github-merge a four-value ladder instead of granted or not
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix: drop discouraged notices and revoke to ask-first
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: Align github-merge confirmation and revoke wording
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  skills/tbd/SKILL.md
Due: format-md

tbd sync: 2026-09-18T19-44-36 (4 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2ttggrf25zhm7vepv8te36t.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-18T19-59-45 (3 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2v1myrx20kvy5jtjnjezymk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T01-17-13 (4 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2sfsd4qhzvazyfw295bpzxy.md
  .tbd/data-sync/issues/is-01m2vkt95bxebw64rkxa9jx28n.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T01-19-07 (3 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2vkxjx104kj5dv9dsrte0c8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T01-20-31 (1 file)
  .tbd/data-sync/issues/is-01m2v1myrx20kvy5jtjnjezymk.md
Due: format-md

docs: State policy-pref merge and review lifecycle in design docs
  docs/development.md
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-19T01-21-56 (4 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2vkxjx104kj5dv9dsrte0c8.md
  .tbd/data-sync/issues/is-01m2vm2f44xk8raej7v30n7d3t.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Add README information-architecture review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

docs: Avoid #309-only tbd doc commands in the review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

tbd sync: 2026-09-19T01-31-23 (3 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2v1myrx20kvy5jtjnjezymk.md
  .tbd/data-sync/issues/is-01m2vkxjx104kj5dv9dsrte0c8.md
Due: format-md

tbd sync: 2026-09-19T01-35-28 (5 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2vmva9sbfzx7k0mrh45kbkf.md
  .tbd/data-sync/issues/is-01m2vmvg29ngn50k7ndgrj9ps1.md
  .tbd/data-sync/issues/is-01m2vmvgct4cb7vag3p6w96hc7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Align new merge/review summaries with the guideline
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, format-md, lint, typecheck

setup: tier agent bodies state no model; docs say what a definition buys
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

research: caching from first principles for sub-agents
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

research: system prompts and prompt caching for sub-agents
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

research: re-verify OpenAI prompt-caching figures
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

docs: Correct sub-agent cache costs and definition-body claims
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format, format-md, lint, typecheck

fix: restore generated Claude agents and their --list golden
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

research: cross-check the caching sections against the API reference
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

docs: Correct OpenAI cache minimums and record the Codex client read
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-19T01-41-57 (6 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2vmva9sbfzx7k0mrh45kbkf.md
  .tbd/data-sync/issues/is-01m2vmvg29ngn50k7ndgrj9ps1.md
  .tbd/data-sync/issues/is-01m2vmvgct4cb7vag3p6w96hc7.md
  .tbd/data-sync/issues/is-01m2vn7jbcengd7p9ap0mynhsm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T01-42-12 (1 file)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
Due: format-md

tbd sync: 2026-09-19T01-51-49 (1 file)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
Due: format-md

tbd sync: 2026-09-19T01-52-52 (3 files)
  .tbd/data-sync/issues/is-01m2s641phbg1hbk9eg04d284q.md
  .tbd/data-sync/issues/is-01m2vmva9sbfzx7k0mrh45kbkf.md
  .tbd/data-sync/issues/is-01m2vn7jbcengd7p9ap0mynhsm.md
Due: format-md

tbd sync: 2026-09-19T02-06-11 (9 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m2vkt95bxebw64rkxa9jx28n.md
  .tbd/data-sync/issues/is-01m2vpkdg97d38s5hqjf79yt20.md
  .tbd/data-sync/issues/is-01m2vpkm2k6gkgxczgd7r2zmav.md
  .tbd/data-sync/issues/is-01m2vpkmcvs4h8a0b2a9hwgpyq.md
  .tbd/data-sync/issues/is-01m2vpkmq5zv0g4s7t6jf19w20.md
  .tbd/data-sync/issues/is-01m2vpkn1b5at4me4j32mdpkf4.md
  .tbd/data-sync/issues/is-01m2vpkxcn0jg2e8pnhvr5p0xh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-19T02-06-16 (1 file)
  .tbd/data-sync/issues/is-01m2vpkxcn0jg2e8pnhvr5p0xh.md
Due: format-md
