Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-09-14T01-50-32 (4 files)
  .tbd/data-sync/issues/is-01m2erphcs95gs5fysj2dvrghy.md
  .tbd/data-sync/issues/is-01m2erphvafq7s0t4fa4q7enpa.md
  .tbd/data-sync/issues/is-01m2erpjam82cmvb04dvjknhe8.md
  .tbd/data-sync/issues/is-01m2erpjrg6pwg8fjveft1s99f.md
Due: format-md

docs: track stack landing and compatibility follow-ups in coordination plan
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

docs: record the attic decision and #283's landing commit in sprint plan
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-14T02-03-55 (3 files)
  .tbd/data-sync/issues/is-01m2erpjrg6pwg8fjveft1s99f.md
  .tbd/data-sync/issues/is-01m2esef50qbe11ancst0cmnj1.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

docs: map merging, releasing, and activating the native comment work
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-14T02-12-37 (7 files)
  .tbd/data-sync/issues/is-01m1vtak4krbsf3yx1p9x9vewg.md
  .tbd/data-sync/issues/is-01m1w3gbk8ne1p59cyy2bqda1z.md
  .tbd/data-sync/issues/is-01m220j40yd8fcw9n3yf4412dv.md
  .tbd/data-sync/issues/is-01m222ys2fv17vvxnr67rxhwq9.md
  .tbd/data-sync/issues/is-01m222yv5nn21vthsjnqwg1vc5.md
  .tbd/data-sync/issues/is-01m2erp0t0njvw8medbk3x70vz.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

tbd sync: 2026-09-14T02-42-48 (18 files)
  .tbd/data-sync/issues/is-01m00h4phk5sx8cf4meq0gpk9b.md
  .tbd/data-sync/issues/is-01m1d1vj0va849g09krmgvtrpm.md
  .tbd/data-sync/issues/is-01m1d1vjcdb8ee80m6adbbw3fw.md
  .tbd/data-sync/issues/is-01m1d1wcxcv1pxvpa8g4dc9a2x.md
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
  .tbd/data-sync/issues/is-01m220hjjpx5nv44za5c8jbp6a.md
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m26a8w044kdzmya9setmfhtg.md
  .tbd/data-sync/issues/is-01m2erp0t0njvw8medbk3x70vz.md
  .tbd/data-sync/issues/is-01m2erphcs95gs5fysj2dvrghy.md
  .tbd/data-sync/issues/is-01m2erphvafq7s0t4fa4q7enpa.md
  .tbd/data-sync/issues/is-01m2erpjam82cmvb04dvjknhe8.md
  .tbd/data-sync/issues/is-01m2erpjrg6pwg8fjveft1s99f.md
  .tbd/data-sync/issues/is-01m2erpx9hwcpst334rc95sty6.md
  .tbd/data-sync/issues/is-01m2esefj8xnpv379q99nrket5.md
  .tbd/data-sync/issues/is-01m2esefyjp3x8qfk8mb0p8g0e.md
  .tbd/data-sync/issues/is-01m2esegwz6k3bph39z6w4mdat.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
Due: format-md

docs: add the f08 compatibility contract for sprint fixes
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-14T03-02-49 (21 files)
  .tbd/data-sync/issues/is-01m00h4kq7ywbxdn9nz2tedv7b.md
  .tbd/data-sync/issues/is-01m14z4ryc6h68kah2csqf6g0y.md
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m1yzx57t4174xcg4fydgqrw9.md
  .tbd/data-sync/issues/is-01m1yzx6mfhcc6px4p5xdnvxch.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m1yzxaq89j76rrca4yb48ww2.md
  .tbd/data-sync/issues/is-01m1yzxdnqr4h9q88qqq6wpx4h.md
  .tbd/data-sync/issues/is-01m1yzxq2t7vye2fhe3t2pj0fh.md
  .tbd/data-sync/issues/is-01m1yzy5dsv4y13y9qc6qp2pfa.md
  .tbd/data-sync/issues/is-01m2egwv3n7dkwa53568vrsgfc.md
  .tbd/data-sync/issues/is-01m2egwz6r0qgbtvzh2nkevjdb.md
  .tbd/data-sync/issues/is-01m2egx4gsnz7t61bpdvpcpqhw.md
  .tbd/data-sync/issues/is-01m2egx888wh2r62pt8ce4d3wz.md
  .tbd/data-sync/issues/is-01m2esef50qbe11ancst0cmnj1.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
  .tbd/data-sync/issues/is-01m2exkc964z2zqhhpmebr51s1.md
  .tbd/data-sync/issues/is-01m2exkd842xgzf2hky9jezcfw.md
  .tbd/data-sync/issues/is-01m2exke3r5hcxckmvfeatj3xr.md
  .tbd/data-sync/issues/is-01m2exket07e1spjj21f2bz23z.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: reconcile specs, bead spec links, and release readiness against main
  TODO.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
  docs/project/specs/done/plan-2026-06-03-tbd-sync-structured-bead-merge.md
  docs/project/specs/done/plan-2026-06-03-unrelated-rescue-dirty-worktree.md
  docs/project/specs/done/plan-2026-06-11-forkable-docs.md
  docs/project/specs/done/plan-2026-06-12-config-upgrade-history.md
  docs/project/specs/done/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/done/plan-2026-07-28-agent-cli-bash-fallbacks.md
  docs/project/specs/done/plan-2026-08-19-worktree-env-credential-resolution.md
  docs/project/specs/done/valid-2026-07-19-bead-watch-phase-1.md
  docs/project/specs/done/valid-2026-08-16-linear-integration-live.md
  docs/project/specs/paused/valid-2026-08-09-bead-watch-release.md
  tests/qa/watch-infrastructure-release.qa.md
Due: format-md

tbd sync: 2026-09-14T04-31-56 (2 files)
  .tbd/data-sync/issues/is-01m26cmagk7vpeq8k3z1d9rm9a.md
  .tbd/data-sync/issues/is-01m26d3erkqmyqnd48j65g2410.md
Due: format-md

docs: add the two older P0 data-loss bugs to the release gate
  TODO.md
Due: format-md

tbd sync: 2026-09-14T14-12-40 (4 files)
  .tbd/data-sync/issues/is-01m26cmagk7vpeq8k3z1d9rm9a.md
  .tbd/data-sync/issues/is-01m26d3erkqmyqnd48j65g2410.md
  .tbd/data-sync/issues/is-01m2esefj8xnpv379q99nrket5.md
  .tbd/data-sync/issues/is-01m2f2by6x4cz781c54vbkyapt.md
Due: format-md

fix: stop three silent data-loss paths and one dishonest dry run
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/comment-union.ts
  packages/tbd/tests/import-short-id-collision.test.ts
  packages/tbd/tests/merge-namespaces.test.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-14T14-27-59 (2 files)
  .tbd/data-sync/issues/is-01m2esef50qbe11ancst0cmnj1.md
  .tbd/data-sync/issues/is-01m2esefyjp3x8qfk8mb0p8g0e.md
Due: format-md

test: cover the comment postcondition through the ref-merge path
  packages/tbd/tests/merge-refs.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-14T16-44-16 (12 files)
  .tbd/data-sync/issues/is-01m2gc9377byvp9mbna5c70bvp.md
  .tbd/data-sync/issues/is-01m2gc9m3ed2kf9er1td9dpwch.md
  .tbd/data-sync/issues/is-01m2gc9mm72ecbhv09hrpmn25c.md
  .tbd/data-sync/issues/is-01m2gc9n4mnxwqn0v80ne58pnq.md
  .tbd/data-sync/issues/is-01m2gc9nmkfy0wedx0zc1a2btt.md
  .tbd/data-sync/issues/is-01m2gca4jrj61b6yn1e10dzk43.md
  .tbd/data-sync/issues/is-01m2gca52g359wgy28dmnrf8a2.md
  .tbd/data-sync/issues/is-01m2gca5n1m2w00v3jgdmwqhjf.md
  .tbd/data-sync/issues/is-01m2gca655tcaspcgaty2v43p6.md
  .tbd/data-sync/issues/is-01m2gcah3bvnrdkfqmpypjcxdz.md
  .tbd/data-sync/issues/is-01m2gcahk5rjcrzsjd8r2t4wwg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: address senior review findings R1-R8 on PR #287
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/comment-union.ts
  packages/tbd/tests/cli-sync-surface-honesty.tryscript.md
  packages/tbd/tests/import-short-id-collision.test.ts
  packages/tbd/tests/merge-namespaces.test.ts
  packages/tbd/tests/merge-refs.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-14T16-49-18 (1 file)
  .tbd/data-sync/issues/is-01m2gc9377byvp9mbna5c70bvp.md
Due: format-md

chore(deps): hold setup-uv and pnpm/action-setup at the 14-day floor
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: format

Add a cross-version coexistence scenario to the packed upgrade gate (f08 T4)
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
  docs/publishing.md
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: format-md

Make `tbd sync` archive the values its merge discards
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/attic-entry.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/src/lib/sync-summary.ts
  packages/tbd/tests/attic-conflict-archive.test.ts
  packages/tbd/tests/cli-sync-attic-conflicts.tryscript.md
  packages/tbd/tests/sync-summary.test.ts
Due: format, format-md, lint, typecheck

Prove a relink never delivers another clone's queued comment (two clones, end to end)
  packages/tbd/tests/cli-sync-relink-pending-comment.tryscript.md
Due: format-md

Report a malformed `identity.agent_map` by its config key, offline
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/registry.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/agent-map-validation.test.ts
Due: format, lint, typecheck

Check that a published client rewrites config without dropping our keys (f08 T1)
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
  docs/publishing.md
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: format-md

Run the published parser and schemas against what we write (f08 T2)
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
  docs/publishing.md
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: format-md

Address the independent review of this PR
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/attic-entry.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/registry.ts
  packages/tbd/src/integrations/core/status.ts
  packages/tbd/src/lib/sync-summary.ts
  packages/tbd/tests/agent-map-validation.test.ts
  packages/tbd/tests/cli-sync-relink-pending-comment.tryscript.md
  packages/tbd/tests/linear-adapter.test.ts
  packages/tbd/tests/merge-namespaces.test.ts
  packages/tbd/tests/sync-summary.test.ts
Due: format, format-md, lint, typecheck

Write the slot, not the band, so a blocked bead stops re-pushing Todo
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integration-slot-convergence.test.ts
Due: format, lint, typecheck

fix: write the outbound slot to Linear so a not-ready pair stops alternating (#265)
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

docs: add agent-run-operations-rules guideline
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  README.md
  packages/tbd/docs/guidelines/agent-run-operations-rules.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/guideline-groups.test.ts
Due: format, format-md, lint, typecheck

docs: correct the spot-check example and add the pre-declared margin rule
  packages/tbd/docs/guidelines/agent-run-operations-rules.md
Due: format-md

test: include agent-run-operations-rules in the guidelines list golden output
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format-md

fix: complete PR 288 review remediation
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
  docs/publishing.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/tests/cli-sync-attic-conflicts.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-15T18-35-53 (8 files)
  .tbd/data-sync/issues/is-01m2k0q2av2j3dgkaj735byyr6.md
  .tbd/data-sync/issues/is-01m2k0zjx9mdxzfq5redfbzzyy.md
  .tbd/data-sync/issues/is-01m2k0zqnxk67xdf0pxns7ychp.md
  .tbd/data-sync/issues/is-01m2k0zxgqyjtjba4m045c6g35.md
  .tbd/data-sync/issues/is-01m2k102z7ve3p96yr2hbacj3v.md
  .tbd/data-sync/issues/is-01m2k16ac1effhq4ent72gcqjp.md
  .tbd/data-sync/issues/is-01m2k1xx2apddhzn6mx88t8v1z.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: maintain Linear slot convergence gate
  packages/tbd/scripts/provider-live-qa-contract.ts
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/tests/qa/linear-integration.qa.md
Due: format, format-md, lint, typecheck

fix: recover Linear live QA fixtures after failures
  packages/tbd/scripts/provider-live-qa-contract.ts
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/tests/provider-live-qa-contract.test.ts
  packages/tbd/tests/qa/linear-integration.qa.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-15T19-03-54 (6 files)
  .tbd/data-sync/issues/is-01m1yzwv5hxya72fgnk91pb3gv.md
  .tbd/data-sync/issues/is-01m2k0q2av2j3dgkaj735byyr6.md
  .tbd/data-sync/issues/is-01m2k1xx2apddhzn6mx88t8v1z.md
  .tbd/data-sync/issues/is-01m2k6r6k1g36x6mtg58hppg93.md
  .tbd/data-sync/issues/is-01m2k6rcmm43ac55gsnfp2v1ep.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-15T19-13-24 (2 files)
  .tbd/data-sync/issues/is-01m2k0q2av2j3dgkaj735byyr6.md
  .tbd/data-sync/issues/is-01m2k1xx2apddhzn6mx88t8v1z.md
Due: format-md

docs: correct update specs status guidance
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
