Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: add research on bead subscriptions vs Agent Mail
  docs/project/research/current/research-bead-subscriptions-vs-agent-mail.md
  docs/project/research/current/research-distributed-file-sync.md
Due: format-md

docs: clarify plan create file handling (.md → .plan.md)
  docs/project/specs/active/plan-2026-01-20-tbd-plan-subcommand.md
Due: format-md

tbd: save outbox (sync failed)
  .tbd/workspaces/outbox/issues/is-01kgeknf8kxqdkgvga8qta7dak.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-02-02T18-26-10 (3 files)
  .tbd/data-sync/issues/is-01kgfs0jvy9n1py7byam57zn0r.md
  .tbd/data-sync/issues/is-01kgfs3b0f8kcw5m1wfs80hedq.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(prefix): add two-tier prefix validation with --force override
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/standard/new-shortcut.md
  packages/tbd/docs/shortcuts/system/skill.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/prefix-detection.ts
  packages/tbd/tests/prefix-detection.test.ts
Due: format, format-md, lint, typecheck

test: update golden tests for --force option in help output
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format-md

tbd sync: 2026-02-03T00-52-56 (8 files)
  .tbd/data-sync/issues/is-01kgge8qbm0k0maf94gg31zt2d.md
  .tbd/data-sync/issues/is-01kgge8wtw3rt3cs0jbqfq3f6c.md
  .tbd/data-sync/issues/is-01kgge8x33ehxpb8je52mrtn16.md
  .tbd/data-sync/issues/is-01kgge8xbcfag51dqwqyk8tr78.md
  .tbd/data-sync/issues/is-01kgge8xm50bp240xqgq53m4kj.md
  .tbd/data-sync/issues/is-01kgge8xw8xrfv2jywh9fdv4nh.md
  .tbd/data-sync/issues/is-01kgge9cbb0q7h0wj8j7vbc211.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: add changeset for v0.1.14
  .changeset/release-v0114.md
Due: format-md

fix: refine error classification to exclude configuration errors
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync.tryscript.md
Due: format, format-md, lint, typecheck

chore: update docs cache config from doc sync
  .tbd/config.yml
Due: format

tbd sync: 2026-02-03T03-37-27 (18 files)
  .tbd/data-sync/issues/is-01kggpzsh52vynj4f8v9n099j2.md
  .tbd/data-sync/issues/is-01kggpzssj0gmaerz2fzv412bt.md
  .tbd/data-sync/issues/is-01kggpzt1xyw8wcke1q8yxsw1w.md
  .tbd/data-sync/issues/is-01kggq1cb5fseemxk4t247c7dj.md
  .tbd/data-sync/issues/is-01kggq1cm8hf6x54efc0qgmgdy.md
  .tbd/data-sync/issues/is-01kggq1cwnkz2tq03dd7ft386d.md
  .tbd/data-sync/issues/is-01kggq1d55z6a9ejjp7mpybxdh.md
  .tbd/data-sync/issues/is-01kggq1kc4s8zj2eccmwmd426a.md
  .tbd/data-sync/issues/is-01kggq1km4n5tk387x4c3h0sqh.md
  .tbd/data-sync/issues/is-01kggq1kwdp72sb3fv3j21trpj.md
  .tbd/data-sync/issues/is-01kggq1m4sqawv9ene5snekjx5.md
  .tbd/data-sync/issues/is-01kggq1sg56jhzpcg5yx2kh2rp.md
  .tbd/data-sync/issues/is-01kggq1srk23p6mb971gfjnv4v.md
  .tbd/data-sync/issues/is-01kggq1t0zx1skz9d804nk34z7.md
  .tbd/data-sync/issues/is-01kggq1t915bar4s4m5n53x54t.md
  .tbd/data-sync/issues/is-01kggq1z9mn81vde2w3athrvz0.md
  .tbd/data-sync/issues/is-01kggq1zhqk56f8m02pyvkxhcd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs(guidelines): replace monorepo patterns with comprehensive guides
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/typescript-monorepo-patterns.md
Due: format-md

docs: update references from typescript-monorepo-patterns to new guidelines
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/specs/done/plan-2026-01-25-agent-orientation-experience.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/shortcuts/system/skill.md
Due: format-md

docs(spec): add plan for external docs repos feature
  .tbd/config.yml
  docs/project/specs/active/plan-2026-02-02-external-docs-repos.md
Due: format, format-md

docs: consolidate shortcuts and guidelines into packages/tbd
  docs/commit-conventions.md
  docs/general/agent-guidelines/release-notes-guidelines.md
  docs/general/agent-rules/automatic-shortcut-triggers.md
  docs/general/agent-rules/python-rules.md
  docs/general/agent-rules/typescript-cli-tool-rules.md
  docs/general/agent-setup/github-cli-setup.md
  docs/general/agent-shortcuts/shortcut-coding-spike.md
  docs/general/agent-shortcuts/shortcut-create-or-update-pr-simple.md
  docs/general/agent-shortcuts/shortcut-create-or-update-pr-with-validation-plan.md
  docs/general/agent-shortcuts/shortcut-create-or-update-validation-plan.md
  docs/general/agent-shortcuts/shortcut-new-implementation-spec.md
  docs/general/agent-shortcuts/shortcut-new-plan-spec.md
  docs/general/agent-shortcuts/shortcut-plan-implementation-with-beads.md
  docs/general/agent-shortcuts/shortcut-review-code-python.md
  docs/general/agent-shortcuts/shortcut-review-code-typescript.md
  docs/general/agent-shortcuts/shortcut-review-pr-and-fix-with-beads.md
  packages/tbd/docs/guidelines/typescript-sorting-patterns.md
  packages/tbd/docs/shortcuts/standard/coding-spike.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
Due: format-md

tbd sync: 2026-02-03T07-30-20 (3 files)
  .tbd/data-sync/issues/is-01kgh35sbktnthef99q5grz5zp.md
  .tbd/data-sync/issues/is-01kgh3ebft6bxjvtfrgccpxawn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: remove failing golden test (unit tests cover this)
  packages/tbd/tests/cli-workspace-merge-field-level.tryscript.md
Due: format-md

docs: add electron-app-development-patterns guideline
  README.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
Due: format-md

tbd sync: 2026-02-04T00-34-14 (11 files)
  .tbd/data-sync/issues/is-01kgjv5cymrtfbm91nbep9skq2.md
  .tbd/data-sync/issues/is-01kgjv5gz8174h6ams9f50y3hq.md
  .tbd/data-sync/issues/is-01kgjv5mkk33fmwbt6rqbfq4fp.md
  .tbd/data-sync/issues/is-01kgjvafs1crdsq43mrzd6yzqm.md
  .tbd/data-sync/issues/is-01kgjvd3t3ngkgag4149jcpv2p.md
  .tbd/data-sync/issues/is-01kgjvd43kgd8mnn1ybgmapg8s.md
  .tbd/data-sync/issues/is-01kgjvd4ccmrt5bwj1ye5q63ew.md
  .tbd/data-sync/issues/is-01kgjvd4n6p6apgn0bhg6jf68m.md
  .tbd/data-sync/issues/is-01kgjvd4xkedpat3sgbe334690.md
  .tbd/data-sync/issues/is-01kgjvd55y2n6q2pv5djbd98sp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: change tbd no-args default to help with prominent agent guidance
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  README.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/specs/active/plan-2026-02-03-tbd-no-args-help-behavior.md
  packages/tbd/.claude/skills/tbd/SKILL.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/shortcuts/standard/code-review-and-commit.md
  packages/tbd/docs/shortcuts/standard/coding-spike.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/new-architecture-doc.md
  packages/tbd/docs/shortcuts/standard/new-plan-spec.md
  packages/tbd/docs/shortcuts/standard/new-research-brief.md
  packages/tbd/docs/shortcuts/standard/precommit-process.md
  packages/tbd/docs/shortcuts/standard/revise-all-architecture-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/prime.test.ts
Due: format, format-md, lint, typecheck

style: add backticks around inline CLI commands in help text
  docs/project/specs/active/plan-2026-02-03-streamlined-outbox-workflow.md
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
Due: format, format-md, lint, typecheck

feat(sync): add streamlined outbox workflow with auto-save and auto-import
  docs/project/specs/active/plan-2026-02-03-streamlined-outbox-workflow.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/tests/errors.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-02-04T05-26-48 (3 files)
  .tbd/data-sync/issues/is-01kgjv5cymrtfbm91nbep9skq2.md
  .tbd/data-sync/issues/is-01kgka30yzr4rjjxp7w6mcrh05.md
  .tbd/data-sync/issues/is-01kgka318e8g7em9ev8ptbc2x0.md
Due: format-md

docs: add source attribution to convex-limits guideline
  packages/tbd/docs/guidelines/convex-limits-best-practices.md
Due: format-md

tbd sync: 2026-02-05T07-35-49 (5 files)
  .tbd/data-sync/issues/is-01kgpbkqde4fqb2xfyp8sa94t1.md
  .tbd/data-sync/issues/is-01kgpbkwhypwr351cjaz7t3xwf.md
  .tbd/data-sync/issues/is-01kgpbkwtc95y2pnqvryt9dq4r.md
  .tbd/data-sync/issues/is-01kgpbkx2dabxbbv2asmrb71f8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: render YAML frontmatter with syntax highlighting in doc commands
  packages/tbd/src/cli/commands/skill.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/output.ts
Due: format, lint, typecheck

chore: add changeset for v0.1.17
  .changeset/release-0117.md
Due: format-md

docs: update release-notes.md for v0.1.17
  release-notes.md
Due: format-md

process: add spec for publishing tbd on skills.sh
  docs/project/specs/active/plan-2026-02-08-tbd-on-skills-sh.md
Due: format-md

refactor: rename skill.md to skill-baseline.md, add skill-minimal.md
  docs/project/specs/active/plan-2026-02-08-tbd-on-skills-sh.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/scripts/copy-docs.mjs
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/commands/skill.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/doc-cache.test.ts
  packages/tbd/tests/doc-references.test.ts
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

chore: update config.yml for skill.md rename
  .tbd/config.yml
Due: format

feat: Phase 0a prerequisite fixes (TDD)
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/doc-cache.test.ts
  packages/tbd/tests/fixtures/test-docs/guidelines/test-python-rules.md
  packages/tbd/tests/fixtures/test-docs/guidelines/test-typescript-rules.md
  packages/tbd/tests/fixtures/test-docs/references/test-api-ref.md
  packages/tbd/tests/fixtures/test-docs/references/test-config-ref.md
  packages/tbd/tests/fixtures/test-docs/shortcuts/test-commit.md
  packages/tbd/tests/fixtures/test-docs/shortcuts/test-no-frontmatter.md
  packages/tbd/tests/fixtures/test-docs/shortcuts/test-review.md
  packages/tbd/tests/fixtures/test-docs/templates/test-spec.md
  packages/tbd/tests/helpers/doc-test-utils.ts
  packages/tbd/tests/shortcut.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

fix: increase setup-hooks test timeout to 15000ms (matches setup-flows pattern)
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

docs: update spec to reflect tbd source commands are implemented
  docs/project/specs/active/plan-2026-02-02-external-docs-repos.md
Due: format-md

fix: CI failures — Windows paths, tryscript golden tests, format version
  packages/tbd/src/file/repo-cache.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-no-cache.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format, format-md, lint, typecheck

fix: Windows path separators in scanDocs, config JSON golden test
  packages/tbd/src/file/repo-cache.ts
  packages/tbd/tests/cli-advanced.tryscript.md
Due: format, format-md, lint, typecheck

process: refine tryscript antipattern spec with guiding principle and references
  docs/project/specs/active/plan-2026-02-09-fix-tryscript-node-json-antipattern.md
Due: format-md

fix: make cli-id-format test deterministic with distinct priorities
  packages/tbd/tests/cli-id-format.tryscript.md
Due: format-md
