Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix: derive path semantics from the platform argument, not the host
  packages/tbd/src/lib/npm-global-bin.ts
  packages/tbd/tests/doctor-npm-global-bin.test.ts
Due: format, lint, typecheck

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m0de2vcc8b9bn1fxah9dqct6.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0de2vcc8b9bn1fxah9dqct6.yml
  .tbd/data-sync/bridge/linear/links/is-01kzxxj27abvbje3nesecgsk3z.yml
  .tbd/data-sync/bridge/linear/links/is-01m0ddenmjsxeqm98ytfpcfc11.yml
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/links/is-01kzxxj27abvbje3nesecgsk3z.yml
Due: format

tbd sync: 2026-08-19T16-40-48 (2 files)
  .tbd/data-sync/issues/is-01m0de95sq9b6s7fgfc5rkhq6x.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: report the npm global bin finding only when it is actionable
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-19T16-54-28 (2 files)
  .tbd/data-sync/bridge/linear/links/is-01m0de95sq9b6s7fgfc5rkhq6x.yml
  .tbd/data-sync/issues/is-01m0de95sq9b6s7fgfc5rkhq6x.md
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m0df4emjx0h425cvk8f953dp.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0df4emjx0h425cvk8f953dp.yml
  .tbd/data-sync/bridge/linear/links/is-01m0de95sq9b6s7fgfc5rkhq6x.yml
Due: format

Add the hold axis, so paused work stops erasing that it started
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/pause.ts
  packages/tbd/src/cli/commands/start.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/actor-axis.test.ts
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/hold-axis.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, format-md, lint, typecheck

Resolve people from the tracker's directory instead of a config table
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/actor-binding.ts
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/actor-binding.test.ts
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-19T17-43-31 (3 files)
  .tbd/data-sync/issues/is-01m0baj02g8vwdd94fd2cgck33.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c5rk9zcamj2r525dazj73w.md
Due: format-md

Tick the spec checklists that Phases 1 and 2 actually landed
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m0djgx503h5fatzex3p9end8.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0djgx503h5fatzex3p9end8.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahns9883ea2cn8ajgnf99.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahzrjpybv07yrjx11r7bc.yml
  .tbd/data-sync/bridge/linear/links/is-01m0baj02g8vwdd94fd2cgck33.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5qm44fxj4m6tr29k2v29f.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5qw38xxxfgr8grwwnyz7x.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rk9zcamj2r525dazj73w.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c8v8fp3sagm3eh5bmm2n0k.yml
  .tbd/data-sync/bridge/linear/links/is-01m0ddenmjsxeqm98ytfpcfc11.yml
  .tbd/data-sync/bridge/linear/links/is-01m0de95sq9b6s7fgfc5rkhq6x.yml
Due: format

tbd sync: 2026-08-19T18-02-03 (7 files)
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
  .tbd/data-sync/issues/is-01m0ddfhq83a946a4etdh5b6z0.md
  .tbd/data-sync/issues/is-01m0ddfj2qkwxhej9p8q30qs9y.md
  .tbd/data-sync/issues/is-01m0ddfjd4q6zawvdwh008w9h2.md
  .tbd/data-sync/issues/is-01m0ddfjqnxkmpcqn4defgqe40.md
  .tbd/data-sync/issues/is-01m0djzwg2jw05gz96nf9217ge.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Give the CLI-driven suites the timeout the other binary tests use
  packages/tbd/tests/actor-axis.test.ts
  packages/tbd/tests/hold-axis.test.ts
Due: format, lint, typecheck

Stop a bead with no assignee from clearing the one in Linear
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-reconcile.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-19T19-17-03 (6 files)
  .tbd/data-sync/issues/is-01m0ddfhq83a946a4etdh5b6z0.md
  .tbd/data-sync/issues/is-01m0ddfj2qkwxhej9p8q30qs9y.md
  .tbd/data-sync/issues/is-01m0ddfjd4q6zawvdwh008w9h2.md
  .tbd/data-sync/issues/is-01m0ddfjqnxkmpcqn4defgqe40.md
  .tbd/data-sync/issues/is-01m0de95sq9b6s7fgfc5rkhq6x.md
  .tbd/data-sync/issues/is-01m0djzwg2jw05gz96nf9217ge.md
Due: format-md

feat: resolve .env from the main worktree so credentials work in linked worktrees
  docs/project/specs/active/plan-2026-08-19-worktree-env-credential-resolution.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/src/integrations/core/credentials.ts
  packages/tbd/src/integrations/core/status.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/worktree-credentials.test.ts
Due: format, format-md, lint, typecheck

Publish a delegate only when it names an installed Linear agent
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

Provision the workflow states a repository asked for, and only those
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

Report how each Linear state will resolve, without needing the network
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-19T20-01-59 (22 files)
  .tbd/data-sync/issues/is-01m00k6rrtay18j0gb1snphxge.md
  .tbd/data-sync/issues/is-01m0bahzrjpybv07yrjx11r7bc.md
  .tbd/data-sync/issues/is-01m0c5rbazv8b7mdemyaqqh995.md
  .tbd/data-sync/issues/is-01m0c5rsgkvdv8ad02eaq7109k.md
  .tbd/data-sync/issues/is-01m0ddenmjsxeqm98ytfpcfc11.md
  .tbd/data-sync/issues/is-01m0ddfhq83a946a4etdh5b6z0.md
  .tbd/data-sync/issues/is-01m0ddfj2qkwxhej9p8q30qs9y.md
  .tbd/data-sync/issues/is-01m0ddfjd4q6zawvdwh008w9h2.md
  .tbd/data-sync/issues/is-01m0ddfjqnxkmpcqn4defgqe40.md
  .tbd/data-sync/issues/is-01m0drveqd06azafyxnbqx0e4h.md
  .tbd/data-sync/issues/is-01m0dsa5x0ptcwtn8rsf7x66q0.md
  .tbd/data-sync/issues/is-01m0dsa6915r9gqwt572rgffzy.md
  .tbd/data-sync/issues/is-01m0dsa6kqmmmt269gx5hfq53y.md
  .tbd/data-sync/issues/is-01m0dsa6yx7pcwybmmspf947q2.md
  .tbd/data-sync/issues/is-01m0dsa79sd5cwpf4jwftec762.md
  .tbd/data-sync/issues/is-01m0dsa7n1nr69wfbgytp55f9j.md
  .tbd/data-sync/issues/is-01m0dsa808f6p2yfvdrabw53qq.md
  .tbd/data-sync/issues/is-01m0dsa8bnkbes44tnda9tqtft.md
  .tbd/data-sync/issues/is-01m0dsa8pe5fsxx8c82wf5gfhx.md
  .tbd/data-sync/issues/is-01m0dsa91nkb3j5b4j4ky8y65p.md
  .tbd/data-sync/issues/is-01m0dsa9djn6h3k1fg60nqfgs4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Tick the checklist items Phases 3 and 4 landed
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
Due: format-md

test: use low-entropy placeholder keys in worktree credential tests
  packages/tbd/tests/worktree-credentials.test.ts
Due: format, lint, typecheck

test: drop key-shaped placeholders from worktree credential fixtures
  packages/tbd/tests/worktree-credentials.test.ts
Due: format, lint, typecheck

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m0e6tgzqj3ezrp3sd877dpww.yml
  .tbd/data-sync/issues/is-01m0drveqd06azafyxnbqx0e4h.md
  .tbd/data-sync/issues/is-01m0dsa5x0ptcwtn8rsf7x66q0.md
  .tbd/data-sync/issues/is-01m0dsa6915r9gqwt572rgffzy.md
  .tbd/data-sync/issues/is-01m0dsa6kqmmmt269gx5hfq53y.md
  .tbd/data-sync/issues/is-01m0dsa6yx7pcwybmmspf947q2.md
  .tbd/data-sync/issues/is-01m0dsa79sd5cwpf4jwftec762.md
  .tbd/data-sync/issues/is-01m0dsa7n1nr69wfbgytp55f9j.md
  .tbd/data-sync/issues/is-01m0dsa808f6p2yfvdrabw53qq.md
  .tbd/data-sync/issues/is-01m0dsa8bnkbes44tnda9tqtft.md
  .tbd/data-sync/issues/is-01m0dsa8pe5fsxx8c82wf5gfhx.md
  .tbd/data-sync/issues/is-01m0dsa91nkb3j5b4j4ky8y65p.md
  .tbd/data-sync/issues/is-01m0dsa9djn6h3k1fg60nqfgs4.md
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m0e6tgzqj3ezrp3sd877dpww.yml
  .tbd/data-sync/bridge/linear/links/is-01m0bahzrjpybv07yrjx11r7bc.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rbazv8b7mdemyaqqh995.yml
  .tbd/data-sync/bridge/linear/links/is-01m0c5rsgkvdv8ad02eaq7109k.yml
  .tbd/data-sync/bridge/linear/links/is-01m0ddenmjsxeqm98ytfpcfc11.yml
  .tbd/data-sync/bridge/linear/links/is-01m0de95sq9b6s7fgfc5rkhq6x.yml
  .tbd/data-sync/bridge/linear/links/is-01m0drveqd06azafyxnbqx0e4h.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa5x0ptcwtn8rsf7x66q0.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa6915r9gqwt572rgffzy.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa6kqmmmt269gx5hfq53y.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa6yx7pcwybmmspf947q2.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa79sd5cwpf4jwftec762.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa7n1nr69wfbgytp55f9j.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa808f6p2yfvdrabw53qq.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa8bnkbes44tnda9tqtft.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa8pe5fsxx8c82wf5gfhx.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa91nkb3j5b4j4ky8y65p.yml
  .tbd/data-sync/bridge/linear/links/is-01m0dsa9djn6h3k1fg60nqfgs4.yml
  .tbd/data-sync/issues/is-01m0drveqd06azafyxnbqx0e4h.md
  .tbd/data-sync/issues/is-01m0dsa5x0ptcwtn8rsf7x66q0.md
  .tbd/data-sync/issues/is-01m0dsa6915r9gqwt572rgffzy.md
  .tbd/data-sync/issues/is-01m0dsa6kqmmmt269gx5hfq53y.md
  .tbd/data-sync/issues/is-01m0dsa6yx7pcwybmmspf947q2.md
  .tbd/data-sync/issues/is-01m0dsa79sd5cwpf4jwftec762.md
  .tbd/data-sync/issues/is-01m0dsa7n1nr69wfbgytp55f9j.md
  .tbd/data-sync/issues/is-01m0dsa808f6p2yfvdrabw53qq.md
  .tbd/data-sync/issues/is-01m0dsa8bnkbes44tnda9tqtft.md
  .tbd/data-sync/issues/is-01m0dsa8pe5fsxx8c82wf5gfhx.md
  .tbd/data-sync/issues/is-01m0dsa91nkb3j5b4j4ky8y65p.md
  .tbd/data-sync/issues/is-01m0dsa9djn6h3k1fg60nqfgs4.md
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/links/is-01m0dsa91nkb3j5b4j4ky8y65p.yml
  .tbd/data-sync/issues/is-01m0dsa91nkb3j5b4j4ky8y65p.md
Due: format, format-md

fix: address PR #249 review — check both .env files, memoize the resolver, stamp the spec
  docs/project/specs/active/plan-2026-08-19-worktree-env-credential-resolution.md
  packages/tbd/src/integrations/core/status.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/worktree-credentials.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-20T00-22-15 (5 files)
  .tbd/data-sync/issues/is-01m0e7zrm2r5fj2a1cpwax42w9.md
  .tbd/data-sync/issues/is-01m0e7zs1r94ghq727jrsw56g9.md
  .tbd/data-sync/issues/is-01m0e7zsd4pckncspeec1565ad.md
  .tbd/data-sync/issues/is-01m0e7zsrk9wc1rx8s8wtf88tt.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Name the slot vocabulary, and pin the no-fight property before widening
  packages/tbd/src/integrations/core/slots.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/slots.test.ts
Due: format, lint, typecheck

Teach the merge matrix to compare slots, tolerantly on a coarse base
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/slots.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integrations-reconcile.test.ts
  packages/tbd/tests/slots.test.ts
Due: format, lint, typecheck

Compute slots on both sides, and decompose a pulled one onto the bead
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T00-54-58 (1 file)
  .tbd/data-sync/issues/is-01m0c5qm44fxj4m6tr29k2v29f.md
Due: format-md

Let the worktree-credential tests clean up on Windows
  packages/tbd/tests/worktree-credentials.test.ts
Due: format, lint, typecheck

Settle the refinement record by measurement, and keep the evidence
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/refinement-record.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T01-34-13 (3 files)
  .tbd/data-sync/bridge/linear/users/3f632462-9aa9-4ac5-ba7f-cc2e667a7c75.yml
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
Due: format, format-md

Send the colour Linear requires when creating a workflow state
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
