Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: Adjust install instructions.
  README.md
Due: format-md

docs: Consolidate and reorganize multi-agent research document
  docs/project/research/current/research-running-claude-code.md
Due: format-md

fix: check project-local settings for Claude Code hooks in status
  packages/tbd/src/cli/commands/status.ts
Due: format, lint, typecheck

docs: Simplify sync outbox spec - remove session branch concept
  docs/project/specs/active/plan-2026-01-29-claude-code-session-sync.md
Due: format-md

refactor: centralize integration paths and ensure project-local only
  docs/project/specs/active/plan-2026-01-29-terminal-design-system.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/lib/integration-paths.ts
Due: format, format-md, lint, typecheck

docs: Add cleanup shortcuts for code quality improvements
  packages/tbd/docs/shortcuts/standard/cleanup-all.md
  packages/tbd/docs/shortcuts/standard/cleanup-remove-trivial-tests.md
  packages/tbd/docs/shortcuts/standard/cleanup-update-docstrings.md
Due: format-md

docs: add snapshot-based concurrent operation safety to outbox spec
  docs/project/specs/active/plan-2026-01-29-claude-code-session-sync.md
Due: format-md

chore: Remove duplicate docs from docs/general
  docs/general/agent-guidelines/general-tdd-guidelines.md
  docs/general/agent-guidelines/golden-testing-guidelines.md
  docs/general/agent-rules/backward-compatibility-rules.md
  docs/general/agent-rules/convex-rules.md
  docs/general/agent-rules/general-coding-rules.md
  docs/general/agent-rules/general-comment-rules.md
  docs/general/agent-rules/general-eng-assistant-rules.md
  docs/general/agent-rules/general-style-rules.md
  docs/general/agent-rules/general-testing-rules.md
  docs/general/agent-rules/python-rules-opinionated.md
  docs/general/agent-rules/typescript-rules.md
  docs/general/agent-shortcuts/shortcut-commit-code.md
  docs/general/agent-shortcuts/shortcut-implement-beads.md
  docs/general/agent-shortcuts/shortcut-new-architecture-doc.md
  docs/general/agent-shortcuts/shortcut-new-research-brief.md
  docs/general/research/current/research-modern-python-cli-patterns.md
  docs/general/research/current/research-modern-typescript-monorepo-patterns.md
Due: format-md

feat(tbd): Add update-specs-status shortcut
  .tbd/config.yml
  docs/general/agent-shortcuts/shortcut-update-specs-status.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format, format-md

feat(tbd): Add merge-upstream and revise-architecture-doc shortcuts
  .tbd/config.yml
  docs/general/agent-shortcuts/shortcut-merge-upstream.md
  docs/general/agent-shortcuts/shortcut-revise-architecture-doc.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/revise-architecture-doc.md
Due: format, format-md

refactor: cleanup cycle - remove duplicates and dead code
  packages/tbd/src/cli/commands/blocked.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/search.ts
  packages/tbd/src/cli/commands/stale.ts
  packages/tbd/src/cli/lib/limit-utils.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/src/utils/markdown-utils.ts
  packages/tbd/tests/test-helpers.ts
Due: format, lint, typecheck

feat(tbd): Simplify SKILL.md/AGENTS.md format and add guidelines listing
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/docs/shortcuts/standard/cleanup-remove-trivial-tests.md
  packages/tbd/docs/shortcuts/standard/cleanup-update-docstrings.md
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/skill.ts
  packages/tbd/src/file/doc-cache.ts
Due: format, format-md, lint, typecheck

docs: revise architecture documents for accuracy
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  docs/project/architecture/current/arch-cli-interface-design-system.md
  docs/project/architecture/current/arch-testing.md
Due: format, format-md

style: fix formatting in status.ts
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/src/cli/commands/status.ts
Due: format, format-md, lint, typecheck

docs(tbd): Update documentation for child ordering hints feature
  docs/project/specs/active/plan-2026-01-29-child-ordering-hints.md
  packages/tbd/docs/tbd-design.md
Due: format-md

test(tbd): Add golden test for child ordering + document anti-patterns
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/tests/cli-child-order.tryscript.md
Due: format-md

docs: Add workspace sync spec, pause outbox spec
  docs/project/specs/active/plan-2026-01-30-workspace-sync-alt.md
  docs/project/specs/paused/plan-2026-01-29-claude-code-session-sync.md
Due: format-md

feat(workspace): add workspace path constants and utilities
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/workspace-paths.test.ts
Due: format, lint, typecheck

tbd sync: 2026-01-31T00-23-32 (5 files)
  .tbd/data-sync/issues/is-01kg8kt312w4p8sna79f83cq3j.md
  .tbd/data-sync/issues/is-01kg8kt398k2rcjzqbf4g2axds.md
  .tbd/data-sync/issues/is-01kg8kt3hd5fj1yxzqn71nhjxg.md
  .tbd/data-sync/issues/is-01kg8kt3sj1hdx27wy6dv0p98m.md
  .tbd/data-sync/issues/is-01kg8kt41gp59sgrcwvq2baa1a.md
Due: format-md

tbd sync: 2026-01-31T00-30-49 (3 files)
  .tbd/data-sync/issues/is-01kg8qaasjkx84b9ea3dytk1d0.md
  .tbd/data-sync/issues/is-01kg8qafzpnj6d6w32b9jc0f87.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(workspace): use mergeIssues() for proper conflict detection
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/workspace.test.ts
Due: format, lint, typecheck

docs(shortcuts): add CI wait steps to PR and commit shortcuts
  packages/tbd/docs/shortcuts/standard/commit-code.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
Due: format-md

feat(shortcuts): add review-github-pr and setup-github-cli shortcuts
  docs/general/agent-shortcuts/shortcut-review-pr.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
Due: format-md

feat(workspace): complete workspace sync feature with updates-only support
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  docs/project/specs/active/plan-2026-01-30-workspace-sync-alt.md
  packages/tbd/docs/guidelines/sync-troubleshooting.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/workspace.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-01-31T16-57-10 (1 file)
  .tbd/data-sync/issues/is-01kg8ksme85ymkbyt1cxj9gpe3.md
Due: format-md

feat(shortcuts): add unified review-code shortcut with three scopes
  packages/tbd/docs/shortcuts/standard/precommit-process.md
  packages/tbd/docs/shortcuts/standard/review-code-python.md
  packages/tbd/docs/shortcuts/standard/review-code-typescript.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
Due: format-md

fix(tests): update test expectations for workspace feature
  packages/tbd/tests/cli-import.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-sync.tryscript.md
  packages/tbd/tests/workspace-paths.test.ts
Due: format, format-md, lint, typecheck

test(tbd): remove flaky gitignore idempotent test
  packages/tbd/tests/cli-gitignore-idempotent.tryscript.md
Due: format-md

tbd sync: 2026-01-31T20-17-37 (2 files)
  .tbd/data-sync/issues/is-01kgav6bhmybd7hds22ba1k0fz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(workspace): add issue counts by status to workspace list
  docs/project/specs/active/plan-2026-01-30-workspace-sync-alt.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/workspace.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/cli-workspace-save.tryscript.md
Due: format, format-md, lint, typecheck

docs: highlight code review shortcuts in README and docs
  README.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

docs: Move up quickstart.
  README.md
Due: format-md

docs: Update readme.
  README.md
Due: format-md

docs: Clean up README, remove duplicate sections
  README.md
Due: format-md

docs: Fix tbd backtick consistency and em dash style
  README.md
Due: format-md

docs: consolidate workspace features in release notes
  release-notes.md
Due: format-md

refactor: rename shortcuts for clearer naming, tighten sync-failure-recovery
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  README.md
  docs/docs-overview.md
  docs/general/agent-rules/automatic-shortcut-triggers.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/research/current/research-skills-vs-meta-skill-architecture.md
  docs/project/specs/active/plan-2026-01-29-doc-size-and-token-counts.md
  docs/project/specs/done/plan-2026-01-22-doc-cache-abstraction.md
  docs/project/specs/done/plan-2026-01-25-agent-orientation-experience.md
  docs/project/specs/done/plan-2026-01-26-configurable-doc-cache-sync.md
  docs/project/specs/done/plan-2026-01-26-docs-cache-config-restructure.md
  docs/project/specs/done/valid-2026-01-19-codebase-cleanup-review.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/shortcuts/standard/code-cleanup-all.md
  packages/tbd/docs/shortcuts/standard/code-cleanup-docstrings.md
  packages/tbd/docs/shortcuts/standard/code-cleanup-tests.md
  packages/tbd/docs/shortcuts/standard/code-review-and-commit.md
  packages/tbd/docs/shortcuts/standard/new-shortcut.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill.md
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/doc-sync.test.ts
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/schemas.test.ts
Due: format, format-md, lint, typecheck

chore: update generated files for release-notes-guidelines
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

tbd sync: 2026-02-01T00-18-36 (1 file)
  .tbd/data-sync/issues/is-01kgb1pm64jdd5ndjrwn7g9azf.md
Due: format-md

docs: add release-notes-guidelines to skill file directory
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
