Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-20T01-39-42 (2 files)
  .tbd/data-sync/issues/is-01m0c8v8fp3sagm3eh5bmm2n0k.md
  .tbd/data-sync/issues/is-01m0c8v94j74sqaj35ts5xrjjf.md
Due: format-md

tbd sync: 2026-08-20T01-40-41 (3 files)
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0c5qw38xxxfgr8grwwnyz7x.md
  .tbd/data-sync/issues/is-01m0c5r461zmx3ctgsxq94s0bq.md
Due: format-md

tbd sync: 2026-08-20T05-00-10 (9 files)
  .tbd/data-sync/issues/is-01m0ermjzgy620e6gx9mtp7z9d.md
  .tbd/data-sync/issues/is-01m0ermn5x3fntq0ntt3x19pp6.md
  .tbd/data-sync/issues/is-01m0ermpnsr0p90kjea0vg969a.md
  .tbd/data-sync/issues/is-01m0ermqr52eqmzsy1g2e419p8.md
  .tbd/data-sync/issues/is-01m0ermrx52bke3qyg04re1kbc.md
  .tbd/data-sync/issues/is-01m0ermt6cwxt06ffq30336ymh.md
  .tbd/data-sync/issues/is-01m0ermv7j0a2dyngp1zfzjwg9.md
  .tbd/data-sync/issues/is-01m0ermwbyq5ym8c542nxv2xh4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Restore the exhaustiveness guards that stopped biting at f08
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/schemas.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T05-08-55 (4 files)
  .tbd/data-sync/issues/is-01m0ermn5x3fntq0ntt3x19pp6.md
  .tbd/data-sync/issues/is-01m0ermpnsr0p90kjea0vg969a.md
  .tbd/data-sync/issues/is-01m0es4z70jsnf8e7gna1sskbn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Stop calling a run that skipped a field push "nothing to do"
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

Pin the f08 claim both specs rest their no-bump decision on
  packages/tbd/tests/f08-unknown-key-preservation.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T05-14-38 (6 files)
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
  .tbd/data-sync/issues/is-01m0dsa6915r9gqwt572rgffzy.md
  .tbd/data-sync/issues/is-01m0dsa8pe5fsxx8c82wf5gfhx.md
  .tbd/data-sync/issues/is-01m0ermpnsr0p90kjea0vg969a.md
  .tbd/data-sync/issues/is-01m0ermqr52eqmzsy1g2e419p8.md
  .tbd/data-sync/issues/is-01m0ermrx52bke3qyg04re1kbc.md
Due: format-md

tbd sync: 2026-08-20T05-14-56 (1 file)
  .tbd/data-sync/issues/is-01m0ermrx52bke3qyg04re1kbc.md
Due: format-md

tbd sync: 2026-08-20T05-22-12 (4 files)
  .tbd/data-sync/issues/is-01m0ermjzgy620e6gx9mtp7z9d.md
  .tbd/data-sync/issues/is-01m0ermt6cwxt06ffq30336ymh.md
  .tbd/data-sync/issues/is-01m0esx9nxga3wmmfcq0j5kj1p.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Close the last three loose ends rather than defer them
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/file/storage.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/close-reopen.test.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T05-45-49 (3 files)
  .tbd/data-sync/issues/is-01m0ermv7j0a2dyngp1zfzjwg9.md
  .tbd/data-sync/issues/is-01m0ermwbyq5ym8c542nxv2xh4.md
  .tbd/data-sync/issues/is-01m0esx9nxga3wmmfcq0j5kj1p.md
Due: format-md

Reflow one line prettier wanted wrapped
  packages/tbd/src/cli/commands/integration.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T05-53-41 (1 file)
  .tbd/data-sync/issues/is-01m0ermjzgy620e6gx9mtp7z9d.md
Due: format-md

Accept the dates people actually type on --due and --defer
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/hold-axis.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-20T06-01-20 (3 files)
  .tbd/data-sync/issues/is-01kzmymzk82jqybfpr3fqvcm7w.md
  .tbd/data-sync/issues/is-01m044ppfx0jkk2ddfe2faf5pn.md
  .tbd/data-sync/issues/is-01m0bahns9883ea2cn8ajgnf99.md
Due: format-md

research: Survey agent runtimes and define the session-linkage contract
  TODO.md
  docs/project/research/archive/research-claude-code-orchestration-and-uis.md
  docs/project/research/archive/research-running-claude-code.md
  docs/project/research/current/research-2026-06-04-agent-issue-monitors.md
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
Due: format-md

Give the upgrade gate back its same-format baseline
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: none

research: Weigh the six postures tbd could take, option by option
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
Due: format-md

Fetch the sync branch into its tracking ref, not just FETCH_HEAD
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/fetch-tracking-ref.test.ts
Due: format, lint, typecheck

Baseline the same-format proof on the oldest f08 release, not the newest
  packages/tbd/scripts/validate-upgrade-package.mjs
Due: none

tbd sync: 2026-08-20T18-37-27 (7 files)
  .tbd/data-sync/issues/is-01m0g6hm1apx8pv0bej50pmgve.md
  .tbd/data-sync/issues/is-01m0g6jcqqgkqhz68zrgtj1b01.md
  .tbd/data-sync/issues/is-01m0g6jd8zfe991jq3pnx0hwbj.md
  .tbd/data-sync/issues/is-01m0g6jdrs407rj6zm7n512w85.md
  .tbd/data-sync/issues/is-01m0g6je84mkjhdtmqcn26r8q3.md
  .tbd/data-sync/issues/is-01m0g6jewnsx929rjt7txh5nhp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

research: Read bb's task-thread linkage from source, not its README
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
Due: format-md

fix: make the npm global bin check run on Windows, and stop it breaking the golden
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/lib/npm-global-bin.ts
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/doctor-npm-global-bin.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-20T20-29-54 (7 files)
  .tbd/data-sync/issues/is-01m0g6fe52d2fr6vftwvzssgqj.md
  .tbd/data-sync/issues/is-01m0g6g42f97tjgey10y2pqrpd.md
  .tbd/data-sync/issues/is-01m0g6g4sp6d9ztjhqmmtb0s1h.md
  .tbd/data-sync/issues/is-01m0g6g5fpbvz6mkwr8sz35sz1.md
  .tbd/data-sync/issues/is-01m0g6g66y8gyhy0ra6jz55w44.md
  .tbd/data-sync/issues/is-01m0g6g6wcqncevdrs93rn2ecz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: cover Linear's GitHub app in the setup walkthrough
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

docs: drop the real-time coordination disclaimers
  README.md
  packages/tbd/docs/tbd-design.md
Due: format-md

feat(web): Workmap view — the board projected into topic groups by label prefix
  packages/tbd/src/cli/commands/web.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, lint, typecheck

test(web): tbd web --help golden learns the view options
  packages/tbd/tests/cli-web.tryscript.md
Due: format-md

docs: state the tbd-sync and proxied-session facts where agents read them
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  skills/tbd/SKILL.md
Due: format-md

chore: release get-tbd v0.8.0
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: plan spec for Rust quality floor and guideline mapping
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
Due: format-md

docs: add document migration map and neutral-guideline extraction
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
Due: format-md

docs: add rule-level extraction inventory for both source repos
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
Due: format-md

fix(docs): stop guideline groups misrouting language-specific rules
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/guideline-groups.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-23T05-39-11 (27 files)
  .tbd/data-sync/issues/is-01m0ph6ehhhryj0z52a1c3b3rv.md
  .tbd/data-sync/issues/is-01m0ph7xnfcxmgxw15sba9074g.md
  .tbd/data-sync/issues/is-01m0ph7zpjt99a7jx3zxe6r4ca.md
  .tbd/data-sync/issues/is-01m0ph81m05nzycajzra50s2xe.md
  .tbd/data-sync/issues/is-01m0ph83h84z3zpmfccnws4w8y.md
  .tbd/data-sync/issues/is-01m0ph85f8zj2ssfsxapfsdr2v.md
  .tbd/data-sync/issues/is-01m0ph87bfgn96fgmvg1sjs8kg.md
  .tbd/data-sync/issues/is-01m0ph8997307ztgsna0adh6pq.md
  .tbd/data-sync/issues/is-01m0ph8b67vwpn8qswpfq60tw3.md
  .tbd/data-sync/issues/is-01m0ph8d013cae68txe15xdx1b.md
  .tbd/data-sync/issues/is-01m0ph8eva5sy81tv6r2kbdsxr.md
  .tbd/data-sync/issues/is-01m0ph8gp3sswz5z9hphabcfrv.md
  .tbd/data-sync/issues/is-01m0ph9ewf820cvwrbvf6j2sgg.md
  .tbd/data-sync/issues/is-01m0ph9gm4vzmq2vn5dddhjnm3.md
  .tbd/data-sync/issues/is-01m0ph9jdsvbk87tm9vhk4rsgq.md
  .tbd/data-sync/issues/is-01m0ph9m9kt4tv25sbhht10a20.md
  .tbd/data-sync/issues/is-01m0ph9p5f90bmf150tbc7n2x6.md
  .tbd/data-sync/issues/is-01m0ph9qz8k04837d6s7s5dwvr.md
  .tbd/data-sync/issues/is-01m0ph9srztwyqjd361a4ghpz2.md
  .tbd/data-sync/issues/is-01m0ph9vnqnq5cww3fv22knsyp.md
  .tbd/data-sync/issues/is-01m0phadvepybz953kjh2r6skr.md
  .tbd/data-sync/issues/is-01m0phafp707w8m9vwq9691f0z.md
  .tbd/data-sync/issues/is-01m0phahhe6a03e4nwk7h4kzhs.md
  .tbd/data-sync/issues/is-01m0phakcptq9kf2219qpva7wk.md
  .tbd/data-sync/issues/is-01m0phan84kmbf3jpzgm8bzztc.md
  .tbd/data-sync/issues/is-01m0pj1ksy7tdf5skcgb90ed0s.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: add cross-cutting guidelines and the Rust lint floor
  .tbd/config.yml
  README.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/shortcuts/standard/review-code.md
Due: format, format-md

docs: migrate the Rust guideline family and register the rust category
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  README.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-project-setup.md
  packages/tbd/docs/guidelines/rust-release-rules.md
  packages/tbd/docs/guidelines/rust-rules.md
  packages/tbd/docs/guidelines/rust-testing-rules.md
  packages/tbd/docs/shortcuts/standard/review-code-rust.md
  packages/tbd/src/lib/doc-categories.ts
  packages/tbd/tests/doc-categories.test.ts
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/guideline-groups.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

docs: expand general-testing-rules and record the plan's outcomes
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/general/agent-guidelines/typescript-testing-guidelines.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/docs/guidelines/general-testing-rules.md
Due: format-md

process: Add senior review doc for PR #258 (Rust guideline family)
  docs/project/reviews/review-2026-08-23-pr258-rust-guidelines-extraction.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
