Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: ship the gh egress decision rule so it reaches agents
  .agents/skills/tbd/SKILL.md
  .claude/scripts/ensure-gh-cli.sh
  .claude/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  docs/publishing.md
  packages/tbd/.claude/skills/tbd/SKILL.md
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/tests/setup-flows.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs(web): record final validation evidence
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

tbd sync: 2026-08-11T18-08-49 (26 files)
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzrs2sz9ebbjwz2a3w2s70af.md
  .tbd/data-sync/issues/is-01kzrs66v8et3vwh2tpmk3v9d9.md
  .tbd/data-sync/issues/is-01kzrs6dd1abehychzed2yc1fk.md
  .tbd/data-sync/issues/is-01kzrs6s3fn7gtzgt70wx9yzas.md
  .tbd/data-sync/issues/is-01kzrs7yrc2hjjks6qc38mhc2y.md
  .tbd/data-sync/issues/is-01kzrs8gb1ky34vpdv7qfdfv4q.md
  .tbd/data-sync/issues/is-01kzrs8phwbdy9hdkxm6c6k8pe.md
  .tbd/data-sync/issues/is-01kzrs8yftzrvng3a16fs26hm1.md
  .tbd/data-sync/issues/is-01kzrs94ma78nxv4qyd4yx8hr5.md
  .tbd/data-sync/issues/is-01kzrs9eanh9pfsh52fed3gdna.md
  .tbd/data-sync/issues/is-01kzrs9mb24gzv94d2mvexqnbd.md
  .tbd/data-sync/issues/is-01kzrs9vkh8j1vsrfytqdx3sr1.md
  .tbd/data-sync/issues/is-01kzrsa3b4fywmvvsxt5s4srrq.md
  .tbd/data-sync/issues/is-01kzrsac4r354tm2b2f89mg0ve.md
  .tbd/data-sync/issues/is-01kzrsajhday2nyvfnbk2c097t.md
  .tbd/data-sync/issues/is-01kzrwbnfxtqwz2kryngexmqcf.md
  .tbd/data-sync/issues/is-01kzrwpr7qb2a19j9jx48fmna5.md
  .tbd/data-sync/issues/is-01kzrxh9k07qj7gz48x0n7kj00.md
  .tbd/data-sync/issues/is-01kzrxt1kfa6dsq0hc3s8vwcm5.md
  .tbd/data-sync/issues/is-01kzrxt1zjbxhfv0t5wmbqq6df.md
  .tbd/data-sync/issues/is-01kzry3y5mjb91b0xgybczxkr7.md
  .tbd/data-sync/issues/is-01kzrywdcr0d9n2z9yfk6vcepp.md
  .tbd/data-sync/issues/is-01kzrzbmtrqmxm1xdnm2x4x0bb.md
  .tbd/data-sync/issues/is-01kzrzbna721s1ntfygj8mfjbp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(web): invoke CLI transcript cross-platform
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/cli-web.tryscript.md
Due: format-md

tbd sync: 2026-08-11T18-21-05 (3 files)
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzs0t9x5jqmn4jffn2s4652n.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): retry unapplied remote wake reports
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/cli/web/wake.ts
  packages/tbd/tests/web-wake.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T18-35-38 (3 files)
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzs1f2298z9qv08fbkea2zhr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(web): make CLI transcript shell-neutral
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/run-built-cli.mjs
Due: format-md

tbd sync: 2026-08-11T18-51-19 (3 files)
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzs2g35k00znnx9zh7gprp9g.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(web): await sandbox CLI setup
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/run-built-cli.mjs
Due: format-md

tbd sync: 2026-08-11T19-03-16 (1 file)
  .tbd/data-sync/issues/is-01kzs2g35k00znnx9zh7gprp9g.md
Due: format-md

test(web): launch package manager cross-platform
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/scripts/validate-web-package.mjs
Due: format-md

tbd sync: 2026-08-11T19-18-40 (4 files)
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzs2g35k00znnx9zh7gprp9g.md
  .tbd/data-sync/issues/is-01kzs413qjm4aj1xtt6pbg7gp7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-11T19-31-06 (8 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzrs2jrjg3pzase83ebxdjyg.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzrsarka5sq9h3x8v5yp7vpm.md
  .tbd/data-sync/issues/is-01kzs0t9x5jqmn4jffn2s4652n.md
  .tbd/data-sync/issues/is-01kzs1f2298z9qv08fbkea2zhr.md
  .tbd/data-sync/issues/is-01kzs2g35k00znnx9zh7gprp9g.md
  .tbd/data-sync/issues/is-01kzs413qjm4aj1xtt6pbg7gp7.md
Due: format-md

fix: root-cause tbd-rdsb — tryscript sandboxes shared one origin repo
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/cli-sync-detached-worktree-bug.tryscript.md
  packages/tbd/tests/cli-sync-migration-bug.tryscript.md
  packages/tbd/tests/cli-sync-missing-worktree-135.tryscript.md
  packages/tbd/tests/cli-sync-remote.tryscript.md
  packages/tbd/tests/cli-sync-unrelated-rescue.tryscript.md
  packages/tbd/tests/cli-sync-worktree-scenarios.tryscript.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T19-56-00 (5 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzpbwxn4kkdjsaqc9tn243w5.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzs5fg2amah8bnpy3mct8khd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: QA runbook for the manual surface; final accuracy pass
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/tests/qa/linear-integration.qa.md
Due: format, format-md, lint, typecheck

perf(web): support 10k boards with bounded paging
  README.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T20-31-05 (7 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzs5fg2amah8bnpy3mct8khd.md
  .tbd/data-sync/issues/is-01kzs6ss6gyc5y154th4bah1ch.md
  .tbd/data-sync/issues/is-01kzs7w3snkv7gt9dwqdrspeew.md
  .tbd/data-sync/issues/is-01kzs7zf54b3jc7m21sv5vq3vd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs(web): record final cross-platform validation
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

fix(web): mark truncated boards command-inexact
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/core.ts
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T20-54-06 (3 files)
  .tbd/data-sync/issues/is-01kzs5fg2amah8bnpy3mct8khd.md
  .tbd/data-sync/issues/is-01kzs9hy1f971yzj995exw09gd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-11T21-06-18 (4 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzs5fg2amah8bnpy3mct8khd.md
  .tbd/data-sync/issues/is-01kzs9hy1f971yzj995exw09gd.md
Due: format-md

fix(web): keep live view local-only
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/validate-web-package.mjs
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/commands/web.ts
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/cli/web/http.ts
  packages/tbd/src/cli/web/local-observer.ts
  packages/tbd/src/cli/web/server.ts
  packages/tbd/src/cli/web/wake.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/sync-run.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/cli-help-all.tryscript.md
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/sync-run.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
  packages/tbd/tests/web-http.test.ts
  packages/tbd/tests/web-local-observer.test.ts
  packages/tbd/tests/web-server.test.ts
  packages/tbd/tests/web-wake.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T23-06-47 (6 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzscf4fdjf02qjcvedyp7ekx.md
  .tbd/data-sync/issues/is-01kzsfyarhtb3905v3vhwww7ma.md
  .tbd/data-sync/issues/is-01kzsgeybrzvaxynpcfpsr2mds.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Add cryptographic hash check rules to general-coding-rules
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/docs/guidelines/general-coding-rules.md
Due: format-md

test(web): make observation paths portable
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/web-board.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T23-21-17 (3 files)
  .tbd/data-sync/issues/is-01kzscf4fdjf02qjcvedyp7ekx.md
  .tbd/data-sync/issues/is-01kzsht4a5vje1r75mnxx475vd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Tighten hash check rules; add no-ceremony principle
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/docs/guidelines/general-coding-rules.md
  packages/tbd/docs/guidelines/general-eng-agent-principles.md
Due: format-md

fix(web): reconcile display-id remaps
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/web/core.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T23-41-34 (4 files)
  .tbd/data-sync/issues/is-01kzscf4fdjf02qjcvedyp7ekx.md
  .tbd/data-sync/issues/is-01kzsht4a5vje1r75mnxx475vd.md
  .tbd/data-sync/issues/is-01kzsjvx0n0zpjj9tdrxcj6m2p.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs(web): record final PR validation
  README.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-08-11T23-56-12 (3 files)
  .tbd/data-sync/issues/is-01kzscf4fdjf02qjcvedyp7ekx.md
  .tbd/data-sync/issues/is-01kzskxqpat6jdk9ge12wmhayp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-12T00-09-28 (6 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzrs779s8d2t4qmvpx310p22.md
  .tbd/data-sync/issues/is-01kzscf4fdjf02qjcvedyp7ekx.md
  .tbd/data-sync/issues/is-01kzsht4a5vje1r75mnxx475vd.md
  .tbd/data-sync/issues/is-01kzsjvx0n0zpjj9tdrxcj6m2p.md
  .tbd/data-sync/issues/is-01kzskxqpat6jdk9ge12wmhayp.md
Due: format-md

tbd sync: 2026-08-12T04-40-02 (22 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzss87b8tbssp42jjbpq1hkk.md
  .tbd/data-sync/issues/is-01kzss87p50627wm4a2n5k1q0s.md
  .tbd/data-sync/issues/is-01kzss880ek33k9f44yh9bp466.md
  .tbd/data-sync/issues/is-01kzss88b84chbyx6yerpb4fwc.md
  .tbd/data-sync/issues/is-01kzss88nnpk8q95qeyphfhk0k.md
  .tbd/data-sync/issues/is-01kzssx1dw18m3avxs1j9dvr74.md
  .tbd/data-sync/issues/is-01kzst5bq03e812ynrgsbp8mjd.md
  .tbd/data-sync/issues/is-01kzstb2mfx00p2yn2qpmv35mk.md
  .tbd/data-sync/issues/is-01kzsttp6pggjrw5ntdqnkpths.md
  .tbd/data-sync/issues/is-01kzsttpn4rnzxb23qtg62hrpg.md
  .tbd/data-sync/issues/is-01kzsttq5t2vh36gbp2c123eb6.md
  .tbd/data-sync/issues/is-01kzsv0s63msgwh561h8ec13ma.md
  .tbd/data-sync/issues/is-01kzswptxnq3w9p424j2mjha6c.md
  .tbd/data-sync/issues/is-01kzsxfdxmqcx8me1qm0zkm7px.md
  .tbd/data-sync/issues/is-01kzsy6fds7be2nsqrrsbr4gge.md
  .tbd/data-sync/issues/is-01kzsya6ngrpgc8544br6sgz48.md
  .tbd/data-sync/issues/is-01kzsyksdk1dxrxyn0yegqr7r1.md
  .tbd/data-sync/issues/is-01kzsynkh82v55b35pw3gw3dc7.md
  .tbd/data-sync/issues/is-01kzt12xjzw3v4zh19v6rza4y8.md
  .tbd/data-sync/issues/is-01kzt26j5jfvsg9fs2t5j64gae.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(lock): preserve ownership across maintenance failures
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile-acquisition-race.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T05-10-29 (4 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzt557vdgx7sm5c0z7pkmnyf.md
  .tbd/data-sync/issues/is-01kzt558cyrfc0jdz1m85nzjtj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: retain portable mkdir lock ownership
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile-acquisition-race.test.ts
  packages/tbd/tests/lockfile-win32-eperm.test.ts
  packages/tbd/tests/lockfile.test.ts
  packages/tbd/tests/shared-lock-permission.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T06-09-44 (7 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzt77cb9bjsemwev2d6v9s8h.md
  .tbd/data-sync/issues/is-01kzt7x3p2xzab83j6wdyz490j.md
  .tbd/data-sync/issues/is-01kzt816bxs150d1bnaw4qceej.md
  .tbd/data-sync/issues/is-01kzt83s73w8jes74dwg675qke.md
  .tbd/data-sync/issues/is-01kzt86tq1ykb1n42vffhga4et.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
