Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: update design + troubleshooting + release notes for multi-worktree sync
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/tbd-design.md
  release-notes.md
Due: format-md

fix: validate issues on write and gracefully skip on read (#115)
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/storage.ts
  packages/tbd/tests/storage.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-17T06-37-05 (2 files)
  .tbd/data-sync/issues/is-01krt9nw6mgm0rk62yj76mhr66.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Clarify dependency direction in show output
  .changeset/clarify-show-dependencies.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/dep.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/cli/lib/dependency-format.ts
  packages/tbd/tests/cli-workflow.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-05-17T19-47-44 (2 files)
  .tbd/data-sync/issues/is-01krvqmnztgrqq1rn721aa38xt.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Plan shared common-dir sync worktree
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format-md

tbd sync: 2026-05-17T19-48-54 (4 files)
  .tbd/data-sync/issues/is-01krvqmnztgrqq1rn721aa38xt.md
  .tbd/data-sync/issues/is-01krvqqagb374gmz0fhf4w4tng.md
  .tbd/data-sync/issues/is-01krvqqagj5ma44x1c8anjb2z5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-17T20-35-09 (2 files)
  .tbd/data-sync/issues/is-01krvtc0z4g8x93dmgrynqx3bd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Detail shared worktree migration versioning
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format-md

docs: Refine shared worktree design review
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
Due: format-md

tbd sync: 2026-05-17T20-49-22 (15 files)
  .tbd/data-sync/issues/is-01krvqqagb374gmz0fhf4w4tng.md
  .tbd/data-sync/issues/is-01krvqqagj5ma44x1c8anjb2z5.md
  .tbd/data-sync/issues/is-01krvtc0z4g8x93dmgrynqx3bd.md
  .tbd/data-sync/issues/is-01krvv3hm7d5gnfzw50qzpzph7.md
  .tbd/data-sync/issues/is-01krvv4zm9rs1jgwhbg23chyk4.md
  .tbd/data-sync/issues/is-01krvv4ztkfh4k1v4mt3phdjg1.md
  .tbd/data-sync/issues/is-01krvv500rt3q8dqd7mbqb5w3s.md
  .tbd/data-sync/issues/is-01krvv5070s9rtmyhnb9vw5cz5.md
  .tbd/data-sync/issues/is-01krvv50d7ccfq8bzq418327fe.md
  .tbd/data-sync/issues/is-01krvv50kfvh5r5251wdgh3r9x.md
  .tbd/data-sync/issues/is-01krvv50spdvc0pyczkr1rkrpd.md
  .tbd/data-sync/issues/is-01krvv50zseq1m656d5kn3ashf.md
  .tbd/data-sync/issues/is-01krvv515z9w0eprhy15wrpqxf.md
  .tbd/data-sync/issues/is-01krvv51c86bs8q20g7gv89qsc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd: preserve legacy sync data
  .tbd/data-sync/issues/is-01krvqqagb374gmz0fhf4w4tng.md
  .tbd/data-sync/issues/is-01krvv3hm7d5gnfzw50qzpzph7.md
Due: format-md

tbd sync: 2026-05-17T21-59-38 (15 files)
  .tbd/data-sync/issues/is-01krvqmnztgrqq1rn721aa38xt.md
  .tbd/data-sync/issues/is-01krvqqagb374gmz0fhf4w4tng.md
  .tbd/data-sync/issues/is-01krvqqagj5ma44x1c8anjb2z5.md
  .tbd/data-sync/issues/is-01krvtc0z4g8x93dmgrynqx3bd.md
  .tbd/data-sync/issues/is-01krvv3hm7d5gnfzw50qzpzph7.md
  .tbd/data-sync/issues/is-01krvv4zm9rs1jgwhbg23chyk4.md
  .tbd/data-sync/issues/is-01krvv4ztkfh4k1v4mt3phdjg1.md
  .tbd/data-sync/issues/is-01krvv500rt3q8dqd7mbqb5w3s.md
  .tbd/data-sync/issues/is-01krvv5070s9rtmyhnb9vw5cz5.md
  .tbd/data-sync/issues/is-01krvv50d7ccfq8bzq418327fe.md
  .tbd/data-sync/issues/is-01krvv50kfvh5r5251wdgh3r9x.md
  .tbd/data-sync/issues/is-01krvv50spdvc0pyczkr1rkrpd.md
  .tbd/data-sync/issues/is-01krvv50zseq1m656d5kn3ashf.md
  .tbd/data-sync/issues/is-01krvv515z9w0eprhy15wrpqxf.md
  .tbd/data-sync/issues/is-01krvv51c86bs8q20g7gv89qsc.md
Due: format-md

tbd sync: 2026-05-17T22-24-11 (2 files)
  .tbd/data-sync/issues/is-01krvztttr6fnvpy7hk20ahnv8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: Add shared worktree migration scenarios
  .changeset/shared-common-dir-worktree.md
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

test: Fix shared worktree golden setup
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
Due: format-md

fix: report correct path and catch atomically temp files in doctor
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format, format-md, lint, typecheck

fix: Address PR #121 review feedback
  .changeset/shared-common-dir-worktree.md
  docs/project/specs/active/plan-2026-05-17-shared-common-dir-sync-worktree.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/git-remote.test.ts
  packages/tbd/tests/tbd-format.test.ts
  packages/tbd/tests/worktree-health.test.ts
Due: format, format-md, lint, typecheck

process: Refresh Bun/pnpm/TypeScript guidelines; add 14-day package-age rule
  docs/development.md
  docs/project/specs/active/plan-2026-05-21-guidelines-currency-and-supply-chain.md
  lefthook.yml
  package.json
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-code-coverage.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  scripts/check-package-age.mjs
Due: format, format-md

fix: Declare Node globals in check-package-age.mjs to satisfy ESLint
  scripts/check-package-age.mjs
Due: none

chore: release get-tbd v0.1.28
  .changeset/clarify-show-dependencies.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  release-notes.md
Due: format, format-md

chore(release): bump yaml to ~2.8.3 and add supply-chain review step
  docs/publishing.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  pnpm-lock.yaml
  release-notes.md
Due: format, format-md

test(corrupted-data): disable commit signing in test init helper
  packages/tbd/tests/corrupted-data.test.ts
Due: format, lint, typecheck

docs: move completed specs to done and update statuses
  docs/project/specs/done/plan-2026-02-18-pnpm-monorepo-patterns-codebase-sync.md
  docs/project/specs/done/plan-2026-02-27-id-mapping-safety.md
  docs/project/specs/done/plan-2026-05-21-guidelines-currency-and-supply-chain.md
Due: format-md

docs: rewrite agent skills & CLI integration guideline (multi-agent, 2026)
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

chore: regenerate tbd integration files for updated guideline description
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

fix: make generated skill/agent files flowmark-stable
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/docs/shortcuts/standard/new-validation-plan.md
  packages/tbd/scripts/copy-docs.mjs
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/skill.ts
Due: format, format-md, lint, typecheck

docs: address PR #128 review on skill guideline + moved specs
  docs/project/specs/done/plan-2026-02-18-pnpm-monorepo-patterns-codebase-sync.md
  docs/project/specs/done/plan-2026-02-27-id-mapping-safety.md
  docs/project/specs/done/plan-2026-05-21-guidelines-currency-and-supply-chain.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: add CLI install vs. zero-install design dimension to skill guideline
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: integrate supply-chain-hardening; add concise embedded guideline + flag file
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  CLAUDE.md
  SUPPLY-CHAIN-SECURITY.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format, format-md

docs: de-duplicate supply-chain content into the standalone guideline
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format-md
