Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

chore: remove the Claude Code sub-agent model pin
  .claude/settings.json
Due: format

plan: add reconciliation with vendor sub-agent best practices
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

docs: re-verify Codex sub-agent facts; align plan with the format split
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

docs: make linear: epics the default Linear selection
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/tests/linear-epics-selection.test.ts
Due: format, format-md, lint, typecheck

plan: fold in PR #308, project-level grants, and sub-agent research
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

docs: add agent-policy-grants guideline
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

plan: PR review lifecycle, policy grants, and sub-agent delegation
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

docs: review pinned PR heads and report every finding in review-code
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/shortcuts/standard/review-code.md
Due: format-md

docs: add delegate-to-subagents shortcut
  packages/tbd/docs/guidelines/agent-run-operations-rules.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
Due: format-md

docs: publish pinned, marked reviews from review-github-pr
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
Due: format-md

docs: address reviews by marker with four dispositions
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
Due: format-md

docs: add GitHub authorization section to skill-baseline
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/tests/integration-files.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

feat: preserve the policy grants block when setup regenerates AGENTS.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, lint, typecheck

fix: name only Linear in tbd integration help
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/tests/cli-setup.tryscript.md
Due: format, format-md, lint, typecheck

docs: complete the review-state contract
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
Due: format-md

docs: gate stacked-PR creation and tooling on github-stacked-prs
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
Due: format-md

docs: revise README to the target structure
  README.md
Due: format-md

docs: route review, setup, and delegation requests in every skill tier
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  skills/tbd/SKILL.md
Due: format-md

test: pin the review lifecycle contract
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, lint, typecheck

feat: generate tier agent definitions as setup surfaces
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

feat: validate the policy grants block in tbd doctor
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
Due: format, lint, typecheck

feat: add tbd setup --policies=recommended and route setup to setup-tbd
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, format-md, lint, typecheck

docs: add security, performance, and correctness review shortcuts
  packages/tbd/docs/shortcuts/standard/review-code-correctness.md
  packages/tbd/docs/shortcuts/standard/review-code-performance.md
  packages/tbd/docs/shortcuts/standard/review-code-security.md
Due: format-md

docs: reconcile delegation guidance with vendor best practices
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
Due: format-md

feat: show effective and unanswered policy grants in tbd prime
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/prime.test.ts
Due: format, format-md, lint, typecheck

docs: add setup-tbd, the consolidated setup and upgrade process
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
Due: format-md

chore: register new guidelines and regenerate agent surfaces
  .agents/skills/tbd/SKILL.md
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .claude/skills/tbd/SKILL.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  .tbd/config.yml
  AGENTS.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format, format-md, lint, typecheck

chore: remove stale nested packages/tbd/.claude agent surfaces
  packages/tbd/.claude/hooks/tbd-closing-reminder.sh
  packages/tbd/.claude/settings.json
  packages/tbd/.claude/skills/tbd/SKILL.md
Due: format, format-md

docs: add review-and-merge-prs orchestration shortcut
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
Due: format-md

test: align the policy grants guideline, code, and docs
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, lint, typecheck

feat: generate README reference tables from document frontmatter
  README.md
  packages/tbd/package.json
  packages/tbd/scripts/generate-readme-tables.ts
  packages/tbd/scripts/readme-reference-tables.ts
  packages/tbd/tests/readme-reference-tables.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, format-md, lint, typecheck

fix: pass CI on tier agents, the f100 format, and CRLF checkouts
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/linear-epics-selection.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

docs: describe policy grants, tier agents, and review contracts across docs
  docs/development.md
  docs/docs-overview.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
Due: format-md

plan: mark implementation complete and record README decisions
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

chore: record this repository's agent policy grants
  AGENTS.md
Due: format-md

fix: normalize allDocs paths so Windows excludes agent-model-tiers
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, lint, typecheck

fix: fail closed when grants cannot be read from a trusted default branch
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/readme-reference-tables.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

chore: re-render this repository's policy block with the B5 prose
  AGENTS.md
Due: format-md

fix: drop discouraged notices and revoke to ask-first
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix: Show unresolved grants in prime and regenerate agent surfaces
  .agents/skills/tbd/SKILL.md
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  lefthook.yml
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
Due: format, format-md, lint, typecheck
