Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat: Make fork-dir drift legible (README index, local files, sync notice)
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/tests/cli-docs-fork.tryscript.md
  packages/tbd/tests/doc-fork.test.ts
Due: format, format-md, lint, typecheck

feat: Version-skew guard for updates; specify the doc model in tbd-design.md
  docs/development.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/tests/fork-update.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-12T16-54-13 (5 files)
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ktybykhe3b5ampe085nc87ha.md
  .tbd/data-sync/issues/is-01ktybyydyjx5gavcach1c0jn9.md
  .tbd/data-sync/issues/is-01ktybz8bcqs85bn6d1x5qegzh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-12T17-06-27 (16 files)
  .tbd/data-sync/issues/is-01ktxg3eqj62dhphs6dnbb30jf.md
  .tbd/data-sync/issues/is-01ktycs1za32d2bydse5vg8cyy.md
  .tbd/data-sync/issues/is-01ktycs2c6xsrxc77s991365s4.md
  .tbd/data-sync/issues/is-01ktycs2swb8107h074323hwew.md
  .tbd/data-sync/issues/is-01ktycs37rqvqdhsqygsdyjacg.md
  .tbd/data-sync/issues/is-01ktycs3n64yhsf6jcd2qcd5d0.md
  .tbd/data-sync/issues/is-01ktycs43se7t1pbz1vrtbdddx.md
  .tbd/data-sync/issues/is-01ktycs4hsbbyd3ytte99a04hj.md
  .tbd/data-sync/issues/is-01ktycs4z5jmeb1g8b9wdgb1t2.md
  .tbd/data-sync/issues/is-01ktycs5cd4qv0q3rg3hv9pecf.md
  .tbd/data-sync/issues/is-01ktycs5t1swc3rtpcaf0g4mfn.md
  .tbd/data-sync/issues/is-01ktycs66v724378sxzb4sk8jm.md
  .tbd/data-sync/issues/is-01ktycs6m682c7bc9ha6cpwc22.md
  .tbd/data-sync/issues/is-01ktycs71hp3sz2938fbj03m51.md
  .tbd/data-sync/issues/is-01ktycs7ef2md3thzbqze2z098.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Add senior review doc for PR #169 (forkable docs f05)
  docs/project/reviews/review-2026-06-12-pr169-forkable-docs.md
Due: format-md

fix: Harden forkable docs against adversarial-review findings
  docs/development.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/src/file/fork-manifest.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/tests/cli-docs-fork.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/fork-manifest.test.ts
  packages/tbd/tests/fork-update.test.ts
Due: format, format-md, lint, typecheck

test: Cover fork-refresh version-skew guard (S4) and README injection (S6)
  packages/tbd/tests/doc-fork.test.ts
Due: format, lint, typecheck

tbd sync: 2026-06-12T17-46-00 (14 files)
  .tbd/data-sync/issues/is-01ktycs1za32d2bydse5vg8cyy.md
  .tbd/data-sync/issues/is-01ktycs2c6xsrxc77s991365s4.md
  .tbd/data-sync/issues/is-01ktycs2swb8107h074323hwew.md
  .tbd/data-sync/issues/is-01ktycs37rqvqdhsqygsdyjacg.md
  .tbd/data-sync/issues/is-01ktycs3n64yhsf6jcd2qcd5d0.md
  .tbd/data-sync/issues/is-01ktycs43se7t1pbz1vrtbdddx.md
  .tbd/data-sync/issues/is-01ktycs4hsbbyd3ytte99a04hj.md
  .tbd/data-sync/issues/is-01ktycs4z5jmeb1g8b9wdgb1t2.md
  .tbd/data-sync/issues/is-01ktycs5cd4qv0q3rg3hv9pecf.md
  .tbd/data-sync/issues/is-01ktycs5t1swc3rtpcaf0g4mfn.md
  .tbd/data-sync/issues/is-01ktycs66v724378sxzb4sk8jm.md
  .tbd/data-sync/issues/is-01ktycs6m682c7bc9ha6cpwc22.md
  .tbd/data-sync/issues/is-01ktycs71hp3sz2938fbj03m51.md
  .tbd/data-sync/issues/is-01ktycs7ef2md3thzbqze2z098.md
Due: format-md

tbd sync: 2026-06-12T17-46-51 (1 file)
  .tbd/data-sync/issues/is-01ktycs7ef2md3thzbqze2z098.md
Due: format-md

fix: Serve forked shortcuts past lookup_path; reject merge-file error exits
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/tests/cli-docs-fork.tryscript.md
  packages/tbd/tests/fork-update.test.ts
Due: format, format-md, lint, typecheck

fix: Harden docref v0.1 grammar (drop git:, strict locals, fragments)
  packages/tbd/src/docref/docref.ts
  packages/tbd/tests/docref.test.ts
Due: format, lint, typecheck

fix: Tighten docmap v0.1 and make tbd docs list --json conform
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/docmap/docmap.ts
  packages/tbd/tests/docmap.test.ts
Due: format, lint, typecheck

refactor: stat-based existence check; drop dead noop update action
  packages/tbd/src/file/doc-fork.ts
Due: format, lint, typecheck

process: Capture review rationale; sync spec with implemented guards
  README.md
  docs/project/specs/active/plan-2026-06-11-forkable-docs.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/tests/cli-docs-update.tryscript.md
Due: format-md

fix: Prevent hook-inherited GIT_DIR from redirecting tests onto the real repo
  lefthook.yml
  packages/tbd/tests/scrub-git-env.ts
  packages/tbd/vitest.config.ts
  scripts/scrub-git-env.mjs
Due: format, lint, typecheck

feat: Re-home the tbd docs surface per the f05 disposition table
  docs/project/specs/active/plan-2026-06-11-forkable-docs.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/docs-sync-output.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/cli-help-all.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/golden-output.test.ts
Due: format, format-md, lint, typecheck

feat: Cross-platform fork paths, docref/docmap reference docs, agent surface
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/docs-overview.md
  packages/tbd/docs/references/docmap-format.md
  packages/tbd/docs/references/docref-format.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/src/file/fork-manifest.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/doc-fork.test.ts
  packages/tbd/tests/fork-cross-platform-e2e.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-12T20-26-13 (19 files)
  .tbd/data-sync/issues/is-01ktyesmg1w5p3v0jzt3ryt0zs.md
  .tbd/data-sync/issues/is-01ktyesp3hmzqdxdg3zs79tjhz.md
  .tbd/data-sync/issues/is-01ktyesqrj67qgwjvcg8mggkcg.md
  .tbd/data-sync/issues/is-01ktyessevb2mdcafd12z7670n.md
  .tbd/data-sync/issues/is-01ktyew72edy9pn4h308mfyc00.md
  .tbd/data-sync/issues/is-01ktyew8tvzpbq1p6kes3n8f9m.md
  .tbd/data-sync/issues/is-01ktyewan8kyjr8c24ta79st80.md
  .tbd/data-sync/issues/is-01ktyewcep1b3ryvdd8csazzn6.md
  .tbd/data-sync/issues/is-01ktyewte7pwwnj5dvhptwjexk.md
  .tbd/data-sync/issues/is-01ktyewzv7j9fh8dt4n08t0547.md
  .tbd/data-sync/issues/is-01ktyey9s9sfgkt7cynr2w96s1.md
  .tbd/data-sync/issues/is-01ktyeybnvxd1m52samvt280k9.md
  .tbd/data-sync/issues/is-01ktyeyhbbyn5djsvac8bb6ard.md
  .tbd/data-sync/issues/is-01ktyeykdhe7b2xbwkad56bxzg.md
  .tbd/data-sync/issues/is-01ktyeyyk5jjm8yq7hkmdxayn8.md
  .tbd/data-sync/issues/is-01ktyez7efx62agahwy47sxmwz.md
  .tbd/data-sync/issues/is-01ktyh25qat65bg1epys3p2m2b.md
  .tbd/data-sync/issues/is-01ktynz8wvv19jv0b9gz615erb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: Reference kind, one-docmap rendering across all doc surfaces, status Docs line
  .tbd/config.yml
  packages/tbd/scripts/copy-docs.mjs
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/guidelines.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/doc-serve.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/doc-references.test.ts
Due: format, format-md, lint, typecheck

docs: declare a category in every bundled guideline's frontmatter
  packages/tbd/docs/guidelines/backward-compatibility-rules.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/commit-conventions.md
  packages/tbd/docs/guidelines/common-doc-guidelines.md
  packages/tbd/docs/guidelines/convex-limits-best-practices.md
  packages/tbd/docs/guidelines/convex-rules.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/error-handling-rules.md
  packages/tbd/docs/guidelines/general-coding-rules.md
  packages/tbd/docs/guidelines/general-comment-rules.md
  packages/tbd/docs/guidelines/general-eng-agent-principles.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-code-coverage.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/guidelines/typescript-sorting-patterns.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/tests/doc-categories.test.ts
Due: format, format-md, lint, typecheck

docs: Forkable-docs agent surface — upstream playbook, onboarding, CHANGELOG
  README.md
  docs/development.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/suggest-upstream-improvements.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

feat: tbd doctor 'Forked docs' check group with --fix finalize-unfork (tbd-5xt0)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-fork-checks.test.ts
Due: format, lint, typecheck

feat: setup --auto Docs summary + remove unused --interactive flag (tbd-f8bu)
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/docs-menu.ts
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

feat: Complete the forkable-docs experience — Phases 2-5 shipped
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  README.md
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-06-11-forkable-docs.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/guidelines.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/doc-serve.ts
  packages/tbd/src/cli/lib/docs-menu.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/src/file/doc-add.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/file/github-fetch.ts
  packages/tbd/src/lib/doc-categories.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/docs-add-local-dirs-e2e.test.ts
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-12T22-11-26 (13 files)
  .tbd/data-sync/issues/is-01ktxg3eqj62dhphs6dnbb30jf.md
  .tbd/data-sync/issues/is-01ktxg4rgaz91wm7577qdfpqzx.md
  .tbd/data-sync/issues/is-01ktxg4s1ng4wz60bnh3frcsc0.md
  .tbd/data-sync/issues/is-01ktxg4sk0w35mbmwpr73z5y19.md
  .tbd/data-sync/issues/is-01ktxg4tnx5r2fm5afq7wyag66.md
  .tbd/data-sync/issues/is-01ktxg4w9wn48yghd4m6a3sk4r.md
  .tbd/data-sync/issues/is-01ktxg4wvbs0s16r7jtccch5bf.md
  .tbd/data-sync/issues/is-01ktxg4xed9qy041en75dprttv.md
  .tbd/data-sync/issues/is-01ktxg4xzfxshrmb3besbwr2w2.md
  .tbd/data-sync/issues/is-01ktxg4yhdnjyd8kseqafjfv2j.md
  .tbd/data-sync/issues/is-01ktxg4z4yms08ddwh96tz4ahg.md
  .tbd/data-sync/issues/is-01ktycs66v724378sxzb4sk8jm.md
  .tbd/data-sync/issues/is-01ktycs7ef2md3thzbqze2z098.md
Due: format-md

chore: Stamp this checkout's tbd config f04 → f05
  .tbd/config.yml
Due: format

fix: tbd ignores ambient GIT_DIR — always operates on the cwd repository
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/git-env.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/git-env-isolation-e2e.test.ts
  packages/tbd/tests/scrub-git-env.ts
Due: format, lint, typecheck

tbd sync: 2026-06-12T23-56-19 (1 file)
  .tbd/data-sync/issues/is-01ktynz8wvv19jv0b9gz615erb.md
Due: format-md

tbd sync: 2026-06-13T01-51-09 (3 files)
  .tbd/data-sync/issues/is-01kra98fgac70pjft7jnarmave.md
  .tbd/data-sync/issues/is-01kra98szn2ah4f59kmbnfbery.md
  .tbd/data-sync/issues/is-01kra9a7mp2ta4536cre83mt13.md
Due: format-md

chore: Pre-merge loose ends — spec to done/, v0.3.0 QA playbook, era hygiene
  docs/project/specs/done/plan-2026-06-11-forkable-docs.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  tests/qa/release-v0.3.0-forkable-docs.qa.md
Due: format, format-md, lint, typecheck

docs(shortcut): handle existing attic/ checkout in checkout-third-party-repo
  packages/tbd/docs/shortcuts/standard/checkout-third-party-repo.md
Due: format-md

fix(docs): scope `tbd docs fork --category` to guidelines
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/lib/doc-categories.ts
  packages/tbd/tests/cli-docs-fork.tryscript.md
  packages/tbd/tests/doc-categories.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: strict common-doc style (no spaced em dashes) + forkable-docs setup guidance
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/references/docmap-format.md
  packages/tbd/docs/references/docref-format.md
  packages/tbd/docs/shortcuts/standard/new-shortcut.md
  packages/tbd/docs/shortcuts/standard/plan-implementation-with-beads.md
  packages/tbd/docs/shortcuts/standard/suggest-upstream-improvements.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/templates/qa-playbook.md
  packages/tbd/docs/templates/research-brief.md
  skills/tbd/SKILL.md
Due: format-md

feat(config): add upgrade history (f06) and redefine tbd_version
  docs/project/specs/active/plan-2026-06-12-config-upgrade-history.md
  packages/tbd/src/cli/commands/config.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

test(config): complete f06 — goldens, artifacts, changelog, doc-add assertions
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  packages/tbd/CHANGELOG.md
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/doc-add-e2e.test.ts
  packages/tbd/tests/doc-add.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-13T08-44-45 (4 files)
  .tbd/data-sync/issues/is-01ktzqbq7senkzbzyhcyqt00b4.md
  .tbd/data-sync/issues/is-01ktzr2zgn7v2s8bprw46ajmm1.md
  .tbd/data-sync/issues/is-01ktzvpjbf14r3eddp4bmxwpyc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-13T16-41-17 (12 files)
  .tbd/data-sync/issues/is-01kv0xpk440162g3m7b7g8me5n.md
  .tbd/data-sync/issues/is-01kv0xqd4rkmtq4kxrjw8atkh7.md
  .tbd/data-sync/issues/is-01kv0xqdm2pwxb3xnydw55ntx9.md
  .tbd/data-sync/issues/is-01kv0xqe45v9e4b38fqnnhgkef.md
  .tbd/data-sync/issues/is-01kv0xqekgjt1954nhqs91yms1.md
  .tbd/data-sync/issues/is-01kv0xqf37xdtgpq2jxkj2crer.md
  .tbd/data-sync/issues/is-01kv0xqfjyp3k84s7x6ytrkknj.md
  .tbd/data-sync/issues/is-01kv0xqg20f5s534jezxs9470m.md
  .tbd/data-sync/issues/is-01kv0xqgh71bsc50f0r86cbh0v.md
  .tbd/data-sync/issues/is-01kv0xqh0xrnmsvnja6yyd7vz8.md
  .tbd/data-sync/issues/is-01kv0xqhfxfgqh94tk5akp7rp7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: Restructure README around agent-output-quality framing
  README.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
