Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

plan: Inbound routes — how work enters tbd from the tracker
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T20-48-31 (6 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00h57nkvtvkbqn992w5fm2e.md
  .tbd/data-sync/issues/is-01m00v3wqaatz90kaztwafsz1c.md
  .tbd/data-sync/issues/is-01m00y5g4nha1jb0kxnempajex.md
  .tbd/data-sync/issues/is-01m010epmrrmp2s67x1pe8xqa3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T20-59-29 (1 file)
  .tbd/data-sync/issues/is-01m00n672drpwsdvm8g8ea4p3k.md
Due: format-md

fix: make a sync with nothing to do actually cost nothing
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/src/integrations/core/policy.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/tests/integrations-bridge-state.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/sync-push-no-verify.test.ts
Due: format, format-md, lint, typecheck

research: Survey the Linear agent ecosystem; delegate is the real gesture
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T21-28-23 (4 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m00j9jkhwgbczp3hkcy38z7q.md
  .tbd/data-sync/issues/is-01m012qa5v7vjnn713ec383mze.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T21-46-09 (2 files)
  .tbd/data-sync/issues/is-01m011h0e13qzgcywr82ncrv8b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: recover legacy data during repository upgrades
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/git-init-orphan.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.6.4
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: Refresh measurements; correct F1's denominator; mark #227 shipped
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

plan: f08 must make nested integration schemas passthrough too
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T22-09-45 (1 file)
  .tbd/data-sync/issues/is-01m00mw87c585dzj8yxfxm9er5.md
Due: format-md

tbd sync: 2026-08-14T22-11-36 (2 files)
  .tbd/data-sync/issues/is-01m014txh6ehkhasyf0ayawbvf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T22-11-41 (1 file)
  .tbd/data-sync/issues/is-01m011h0e13qzgcywr82ncrv8b.md
Due: format-md

chore: upgrade repository setup to tbd v0.6.4
  .tbd/config.yml
Due: format

tbd sync: 2026-08-14T22-12-30 (2 files)
  .tbd/data-sync/issues/is-01m015a7x32mc9rbzacv1s41qg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(setup): preserve hardened GitHub CLI installer
  packages/tbd/docs/install/ensure-gh-cli.sh
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.6.5
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd sync: 2026-08-14T22-32-52 (3 files)
  .tbd/data-sync/issues/is-01m015a7x32mc9rbzacv1s41qg.md
  .tbd/data-sync/issues/is-01m015p8ng78fkt15av6mmzhnd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: make the tracker-skip notice visible, and harden the record comparator
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/integrations/core/bridge-state.ts
  packages/tbd/tests/cli-sync-surface-honesty.tryscript.md
Due: format, format-md, lint, typecheck

docs: Reconcile the API Changes line with the retained synced_at
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
Due: format-md

tbd sync: 2026-08-14T22-56-49 (6 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m017pgj0jg1kr909p5khayt1.md
  .tbd/data-sync/issues/is-01m017q47ynz01gchchm33d958.md
  .tbd/data-sync/issues/is-01m017q64g3783gr7eyde3mjfx.md
  .tbd/data-sync/issues/is-01m017q7z7fq1p6b1zdqya2xd0.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T22-57-24 (1 file)
  .tbd/data-sync/issues/is-01m015p8ng78fkt15av6mmzhnd.md
Due: format-md

tbd sync: 2026-08-14T23-00-42 (2 files)
  .tbd/data-sync/issues/is-01m017xcc2kkttye9dq5dddm05.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: preserve sync JSON result contract
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/tests/cli-sync-surface-honesty.tryscript.md
  packages/tbd/tests/output.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-14T23-25-36 (2 files)
  .tbd/data-sync/issues/is-01m018pzww7e3cs09db1j8hxzy.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: self-upgrade tbd to v0.6.5
  .claude/scripts/ensure-gh-cli.sh
  .codex/ensure-gh-cli.sh
  .tbd/config.yml
Due: format

research: Agent and session identity across coding agents
  docs/project/research/current/research-2026-08-14-agent-and-session-identity.md
Due: format-md

tbd sync: 2026-08-14T23-29-20 (1 file)
  .tbd/data-sync/issues/is-01m017xcc2kkttye9dq5dddm05.md
Due: format-md

tbd sync: 2026-08-14T23-34-58 (3 files)
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m019njs4t0yscw608pqmkw77.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

research: Settle the agid format on tbd's internal ID tier
  docs/project/research/current/research-2026-08-14-agent-and-session-identity.md
Due: format-md

tbd sync: 2026-08-15T00-05-28 (3 files)
  .tbd/data-sync/issues/is-01m00h5y6q413edk3j82zry3d9.md
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: Ignore subagent worktrees under .claude
  .claude/.gitignore
Due: none

chore: Exclude subagent worktrees from format and lint
  .prettierignore
  eslint.config.js
Due: format, lint

fix: Resolve duplicate short IDs in ids.yml to prevent bead data loss
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/tests/id-mapping-duplicate-short-ids.test.ts
  packages/tbd/tests/ids.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-15T00-50-46 (2 files)
  .tbd/data-sync/issues/is-01m01ec5zrek6jvw1ssmdgn6qz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: check merge conflict markers before duplicate-key resolution
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/tests/id-mapping-duplicate-short-ids.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-15T01-00-01 (1 file)
  .tbd/data-sync/issues/is-01m01bhc5nyc14brdbwn5ebr64.md
Due: format-md

test: cover deriveShortIdFromUlid escalation tiers under collision pressure
  packages/tbd/tests/id-mapping-duplicate-short-ids.test.ts
Due: format, lint, typecheck

process: batch patch releases behind one candidate gate
  docs/development.md
  docs/publishing.md
Due: format-md
