Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: add attention-routing framing to cli-agent-skill-patterns
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

plan: add tbd agent-CLI guideline improvements spec
  docs/project/specs/active/plan-2026-06-03-tbd-agent-cli-guideline-improvements.md
Due: format-md

feat: Detect unwritable shared data-sync lock in doctor (#164)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/tests/doctor-lock-writability-e2e.test.ts
  packages/tbd/tests/doctor-lock-writability.test.ts
Due: format, lint, typecheck

test: Update doctor golden for Shared lock writability check
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format-md

refactor: Make shared-lock error wording match doctor inside/outside check
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/doctor-lock-writability.test.ts
Due: format, lint, typecheck

fix: Use --max-count not --limit for git log in sync status
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

refactor: Pre-release review cleanups
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/tests/doctor-lock-writability.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.2.3
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

process: Add eject workflow plan spec for forkable docs
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

chore: Refresh pinned get-tbd version in session scripts to 0.2.3
  .claude/scripts/tbd-session.sh
  .codex/tbd-session.sh
Due: none

process: Spec the update/merge workflow for ejected docs
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Consolidate eject CLI under a tbd docs command group
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Resolve design questions; f05 format bump and update strategy flags
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Adopt docref grammar and docmap read-side for doc locations
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Distill docmap to a minimal standalone inventory format
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Spec git provenance, grouped sync, and source-failure isolation
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Document sync taxonomy; drop interactive setup for agent-first design
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Rename eject to fork/unfork; consolidate .tbd/doc-forks layout
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Refine forkable-docs plan with Phase 0 docs and golden maps
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: Tighten forkable-docs plan: docmap everywhere, --keep-ours
  docs/project/specs/active/plan-2026-06-11-eject-forkable-docs.md
Due: format-md

process: forkable-docs plan: themes (no detection), 2-axis onboarding
  docs/project/specs/active/plan-2026-06-11-forkable-docs.md
Due: format-md

process: forkable-docs plan: use "category" not "themes"
  docs/project/specs/active/plan-2026-06-11-forkable-docs.md
Due: format-md

tbd sync: 2026-06-12T08-46-42 (22 files)
  .tbd/data-sync/issues/is-01ktxg3eqj62dhphs6dnbb30jf.md
  .tbd/data-sync/issues/is-01ktxg4mh2swcsj035axv83vn8.md
  .tbd/data-sync/issues/is-01ktxg4n51t6gkcxk7tdk7qn6z.md
  .tbd/data-sync/issues/is-01ktxg4npn5eakrawp7abpcq4m.md
  .tbd/data-sync/issues/is-01ktxg4p8spj1e1qhkb6qq672p.md
  .tbd/data-sync/issues/is-01ktxg4ptxe6q86v0qh0x8t95x.md
  .tbd/data-sync/issues/is-01ktxg4qch8yy7hhvyxbyxv3hy.md
  .tbd/data-sync/issues/is-01ktxg4qxxxj981xndkt4af8sn.md
  .tbd/data-sync/issues/is-01ktxg4rgaz91wm7577qdfpqzx.md
  .tbd/data-sync/issues/is-01ktxg4s1ng4wz60bnh3frcsc0.md
  .tbd/data-sync/issues/is-01ktxg4sk0w35mbmwpr73z5y19.md
  .tbd/data-sync/issues/is-01ktxg4t4byh4svxa77gh7wjrd.md
  .tbd/data-sync/issues/is-01ktxg4tnx5r2fm5afq7wyag66.md
  .tbd/data-sync/issues/is-01ktxg4v7rf5aqmswk6y8np6mg.md
  .tbd/data-sync/issues/is-01ktxg4vrttmp14t4jsk9b2w3e.md
  .tbd/data-sync/issues/is-01ktxg4w9wn48yghd4m6a3sk4r.md
  .tbd/data-sync/issues/is-01ktxg4wvbs0s16r7jtccch5bf.md
  .tbd/data-sync/issues/is-01ktxg4xed9qy041en75dprttv.md
  .tbd/data-sync/issues/is-01ktxg4xzfxshrmb3besbwr2w2.md
  .tbd/data-sync/issues/is-01ktxg4yhdnjyd8kseqafjfv2j.md
  .tbd/data-sync/issues/is-01ktxg4z4yms08ddwh96tz4ahg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: Add standalone docref and docmap modules
  packages/tbd/src/docmap/docmap.ts
  packages/tbd/src/docmap/index.ts
  packages/tbd/src/docref/docref.ts
  packages/tbd/src/docref/index.ts
  packages/tbd/tests/docmap.test.ts
  packages/tbd/tests/docref.test.ts
Due: format, lint, typecheck

feat: Add fork-manifest module (state, hashing, base snapshots)
  packages/tbd/src/file/fork-manifest.ts
  packages/tbd/tests/fork-manifest.test.ts
Due: format, lint, typecheck

feat: Add fork operations (forkDoc/unforkDoc/forkStatusFor)
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/tests/doc-fork.test.ts
Due: format, lint, typecheck

feat: Add tbd docs fork/unfork/status commands + serving precedence
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/cli-docs-fork.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-12T09-33-36 (5 files)
  .tbd/data-sync/issues/is-01ktxg4mh2swcsj035axv83vn8.md
  .tbd/data-sync/issues/is-01ktxg4n51t6gkcxk7tdk7qn6z.md
  .tbd/data-sync/issues/is-01ktxg4p8spj1e1qhkb6qq672p.md
  .tbd/data-sync/issues/is-01ktxg4rgaz91wm7577qdfpqzx.md
  .tbd/data-sync/issues/is-01ktxg4w9wn48yghd4m6a3sk4r.md
Due: format-md

feat: Add tbd docs update (three-way merge + decision table)
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/tests/cli-docs-update.tryscript.md
  packages/tbd/tests/fork-update.test.ts
Due: format, format-md, lint, typecheck

feat: Add tbd docs diff (fork vs upstream / base / incoming)
  packages/tbd/src/cli/commands/docs-fork.ts
  packages/tbd/src/file/fork-update.ts
  packages/tbd/tests/fork-update.test.ts
Due: format, lint, typecheck

feat: Add tbd docs list (cross-kind listing with state markers)
  packages/tbd/src/cli/commands/docs-fork.ts
Due: format, lint, typecheck

tbd sync: 2026-06-12T09-45-50 (1 file)
  .tbd/data-sync/issues/is-01ktxg4s1ng4wz60bnh3frcsc0.md
Due: format-md

tbd sync: 2026-06-12T09-47-52 (10 files)
  .tbd/data-sync/issues/is-01ktxg4n51t6gkcxk7tdk7qn6z.md
  .tbd/data-sync/issues/is-01ktxg4npn5eakrawp7abpcq4m.md
  .tbd/data-sync/issues/is-01ktxg4p8spj1e1qhkb6qq672p.md
  .tbd/data-sync/issues/is-01ktxg4ptxe6q86v0qh0x8t95x.md
  .tbd/data-sync/issues/is-01ktxg4qch8yy7hhvyxbyxv3hy.md
  .tbd/data-sync/issues/is-01ktxg4qxxxj981xndkt4af8sn.md
  .tbd/data-sync/issues/is-01ktxg4t4byh4svxa77gh7wjrd.md
  .tbd/data-sync/issues/is-01ktxg4v7rf5aqmswk6y8np6mg.md
  .tbd/data-sync/issues/is-01ktxg4vrttmp14t4jsk9b2w3e.md
  .tbd/data-sync/issues/is-01ktxg4w9wn48yghd4m6a3sk4r.md
Due: format-md

feat: Bump tbd_format to f05 with seamless layout co-migration
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/src/file/common-dir-layout.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

chore: Migrate this repo to tbd_format f05
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

tbd sync: 2026-06-12T15-43-10 (4 files)
  .tbd/data-sync/issues/is-01ktxg4mh2swcsj035axv83vn8.md
  .tbd/data-sync/issues/is-01kty70sm2fww19pnhsw1adr30.md
  .tbd/data-sync/issues/is-01kty71fywq1mpca7er46nq4g5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-06-12T15-46-24 (2 files)
  .tbd/data-sync/issues/is-01kra9aave6br1ysqedyccf8y5.md
  .tbd/data-sync/issues/is-01kty71fywq1mpca7er46nq4g5.md
Due: format-md

docs: Document the format-upgrade abort path; pin interrupted states
  docs/development.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
Due: format, format-md, lint, typecheck

docs: Make install vs upgrade agent ergonomics explicit
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  skills/tbd/SKILL.md
Due: format-md
