Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-16T02-34-10 (1 file)
  .tbd/data-sync/issues/is-01m044p9c6bhvyb8bbryag33hz.md
Due: format-md

Refresh the tracker identifier on a mirror-only push, at no extra cost
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-16T02-44-59 (1 file)
  .tbd/data-sync/issues/is-01m044ntts3mchercdbj5ysc1w.md
Due: format-md

process: Add Electrobun app development guideline
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/guidelines/electrobun-app-development-patterns.md
Due: format-md

process: Add Tauri app development guideline
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/guidelines/electrobun-app-development-patterns.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/tauri-app-development-patterns.md
Due: format-md

process: Apply common doc guidelines across the desktop guideline set
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/tauri-app-development-patterns.md
Due: format-md

tbd sync: 2026-08-16T04-49-27 (18 files)
  .tbd/data-sync/issues/is-01m042yj8da53xq1d8evgc7xsa.md
  .tbd/data-sync/issues/is-01m042ym3nw0j04xqhx8yexdqf.md
  .tbd/data-sync/issues/is-01m045xkh80njyhawssyg9sgtp.md
  .tbd/data-sync/issues/is-01m045ynxdpz59gpr3y7cp3933.md
  .tbd/data-sync/issues/is-01m045yqwjk6th9fay2375wtz1.md
  .tbd/data-sync/issues/is-01m045yszk6bqw9csjzxg990f1.md
  .tbd/data-sync/issues/is-01m045yw0d3wvse8h9c46d9b0e.md
  .tbd/data-sync/issues/is-01m045yxzjgmzsxbqmv5nack0w.md
  .tbd/data-sync/issues/is-01m045z00ckmt0j508zaz5z5k2.md
  .tbd/data-sync/issues/is-01m045z1yndt8mtxbrn18aqkr7.md
  .tbd/data-sync/issues/is-01m045z3xfnzqs4qrzrvj15w5k.md
  .tbd/data-sync/issues/is-01m045z5wb1bepqw9t2txp5m1x.md
  .tbd/data-sync/issues/is-01m045z7zhg7tte2shyz23dast.md
  .tbd/data-sync/issues/is-01m045z9xp5460j7krc1943747.md
  .tbd/data-sync/issues/is-01m045zbvt4hrnr20fereas3fa.md
  .tbd/data-sync/issues/is-01m045zdsxka8ty06fzp1sn84v.md
  .tbd/data-sync/issues/is-01m045zfqascxq7t0sprw9rdxa.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Register the new desktop guidelines in the docs cache
  .tbd/config.yml
Due: format

tbd integration: journal
  .tbd/data-sync/attic/is-01m044ntts3mchercdbj5ysc1w_2026-08-16T07-34-24.154Z_status.yml
  .tbd/data-sync/bridge/linear/intents/01m04qwg5nxr6v49db0xnc9ftw.yml
Due: format

process: Review pass on the Electrobun and Tauri guidelines
  packages/tbd/docs/guidelines/electrobun-app-development-patterns.md
  packages/tbd/docs/guidelines/tauri-app-development-patterns.md
Due: format-md

tbd sync: 2026-08-16T07-35-56 (3 files)
  .tbd/data-sync/issues/is-01m045xkh80njyhawssyg9sgtp.md
  .tbd/data-sync/issues/is-01m04qpn1pat0h1jr2ph2y0wby.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m04qwg5nxr6v49db0xnc9ftw.yml
  .tbd/data-sync/bridge/linear/links/is-01m00h43nvt17wxyhxqm88wh3c.yml
  .tbd/data-sync/bridge/linear/links/is-01m044ntts3mchercdbj5ysc1w.yml
  .tbd/data-sync/bridge/linear/links/is-01m044p9c6bhvyb8bbryag33hz.yml
Due: format

process: Resolve the two Electron verification questions from primary sources
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
Due: format-md

tbd sync: 2026-08-16T07-46-38 (6 files)
  .tbd/data-sync/issues/is-01m0444p5jysk5vb20e5snpa4d.md
  .tbd/data-sync/issues/is-01m0444r3p8svdaxtxgd4txe32.md
  .tbd/data-sync/issues/is-01m045yszk6bqw9csjzxg990f1.md
  .tbd/data-sync/issues/is-01m04rg6f16x2sqtsb572begbt.md
  .tbd/data-sync/issues/is-01m04rg815pqwfgv5446c6kjzs.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m04rrnmwkrx2a3wvcg0shbxb.yml
Due: format

test: Pin the category fail-fast contract in unit tests
  packages/tbd/tests/doc-categories.test.ts
Due: format, lint, typecheck

Fix what the multi-repo Linear rollout surfaced: provisioning, config, cost
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/client.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integration-nesting-config.e2e.test.ts
  packages/tbd/tests/integrations-provision-project.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, lint, typecheck

process: Generalize packaging patterns for local-server and extensible apps
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/tauri-app-development-patterns.md
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
Due: format-md

tbd sync: 2026-08-16T17-41-21 (2 files)
  .tbd/data-sync/issues/is-01m05tcva4s4448qb9k6c6nqh0.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

process: Restore and sharpen the checked-JavaScript exemplar pointer
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
Due: format-md

tbd sync: 2026-08-16T18-25-05 (6 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m05x3f2n5bcn6174150jr7mx.md
  .tbd/data-sync/issues/is-01m05x3fzw9mvsg09kdseyqh78.md
  .tbd/data-sync/issues/is-01m05x3x47jz7nk999rmb7bbex.md
  .tbd/data-sync/issues/is-01m05x3xpvvtc5ejwvg9b11hgz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-16T18-46-35 (7 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m05x3f2n5bcn6174150jr7mx.md
  .tbd/data-sync/issues/is-01m05x3fzw9mvsg09kdseyqh78.md
  .tbd/data-sync/issues/is-01m05x3xpvvtc5ejwvg9b11hgz.md
  .tbd/data-sync/issues/is-01m05xpyh3fz4dd9masskp0ats.md
  .tbd/data-sync/issues/is-01m05xqby3me0gh4er7b5kb1dv.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Mirror the bead's own dates, and make archive ownership a policy
  .tbd/config.yml
  packages/tbd/docs/references/linear-integration-design.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-archive-policy.test.ts
  packages/tbd/tests/integrations-import-timestamps.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-16T19-08-54 (4 files)
  .tbd/data-sync/issues/is-01kzz36z7kstw5nxa1me86ek86.md
  .tbd/data-sync/issues/is-01m00v3wqaatz90kaztwafsz1c.md
  .tbd/data-sync/issues/is-01m05zf11zv1hbjss84p5vsg7b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Add a top-level TODO map, and stop Windows CI flaking on a 5s test budget
  TODO.archive.md
  TODO.md
  packages/tbd/vitest.config.ts
Due: format, format-md, lint, typecheck

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m061e47r2stae7zhsrc5pwzw.yml
  .tbd/data-sync/issues/is-01m044pq2zntk84fyb610dprmn.md
  .tbd/data-sync/issues/is-01m05x3x47jz7nk999rmb7bbex.md
Due: format, format-md

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m061e47r2stae7zhsrc5pwzw.yml
  .tbd/data-sync/bridge/linear/links/is-01kzz36z7kstw5nxa1me86ek86.yml
  .tbd/data-sync/bridge/linear/links/is-01m00h43nvt17wxyhxqm88wh3c.yml
  .tbd/data-sync/bridge/linear/links/is-01m00v3wqaatz90kaztwafsz1c.yml
  .tbd/data-sync/bridge/linear/links/is-01m044pq2zntk84fyb610dprmn.yml
  .tbd/data-sync/bridge/linear/links/is-01m05x3x47jz7nk999rmb7bbex.yml
  .tbd/data-sync/issues/is-01m05x3x47jz7nk999rmb7bbex.md
Due: format, format-md

tbd sync: 2026-08-16T19-52-49 (3 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m0623wddbwjvv9kwzekgg0e1.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Flatten the origin labels: a bare `tbd` marker plus `repo:<name>`
  TODO.archive.md
  TODO.md
  packages/tbd/docs/references/linear-integration-design.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/src/integrations/core/origin-labels.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/origin-labels.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-16T21-27-56 (3 files)
  .tbd/data-sync/issues/is-01m00h43nvt17wxyhxqm88wh3c.md
  .tbd/data-sync/issues/is-01m067b9z5bag3j86b3j7cjv5r.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Add the Linear live QA playbook, and correct three claims it disproved
  TODO.md
  docs/project/specs/active/valid-2026-08-16-linear-integration-live.md
  packages/tbd/docs/references/linear-integration-design.md
Due: format-md

tbd sync: 2026-08-16T22-21-42 (3 files)
  .tbd/data-sync/issues/is-01m044qg77sr6cpwasm0qkhcbq.md
  .tbd/data-sync/issues/is-01m069bv4jzhxfw5q0hj1hff6b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: release get-tbd v0.7.0
  TODO.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
  packages/tbd/package.json
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format, format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m06c2exfhxstf389eef0avef.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m06c2exfhxstf389eef0avef.yml
  .tbd/data-sync/bridge/linear/links/is-01m00h43nvt17wxyhxqm88wh3c.yml
  .tbd/data-sync/bridge/linear/links/is-01m044qg77sr6cpwasm0qkhcbq.yml
Due: format

chore: self-upgrade tbd to v0.7.0
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

tbd sync: 2026-08-16T23-07-39 (3 files)
  .tbd/data-sync/issues/is-01m069bv4jzhxfw5q0hj1hff6b.md
  .tbd/data-sync/issues/is-01m06cbj8xnn407gqpw7m98zcc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Triage epics mechanically before reading them, and name two drifts the pass misses
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

Make an oversized first mirror visible, recoverable, and hard to start by accident
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/src/integrations/core/selection.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/lockfile-abandoned-artifacts.test.ts
Due: format, format-md, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
