Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: clarify two-tier command structure (setup vs init)
  docs/project/specs/active/plan-2026-01-20-streamlined-init-setup-design.md
Due: format

fix: flaky test - add generated IDs to mapping to prevent duplicates
  packages/tbd/tests/ids.test.ts
Due: format, lint, typecheck

docs: clarify prefix requirements and interactive vs auto setup
  docs/project/specs/active/plan-2026-01-20-streamlined-init-setup-design.md
Due: format

fix: add Cursor MDC frontmatter for proper Cursor IDE recognition
  docs/CURSOR.mdc
  docs/project/specs/current/proposal-2026-01-20-bootstrap-first-cli-design.md
  packages/tbd/scripts/copy-docs.mjs
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/docs/CURSOR.mdc
  packages/tbd/src/docs/tbd-design.md
  packages/tbd/tests/integration-files.test.ts
Due: format, lint, typecheck

refactor: make tbd init surgical, add deprecation notices
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/status.ts
Due: format, lint, typecheck

docs: add validation plan and update spec checklist
  docs/project/specs/active/plan-2026-01-20-streamlined-init-setup-design.md
  docs/project/specs/active/valid-2026-01-20-streamlined-init-setup-design.md
Due: format

fix: update cli-setup-commands tryscript for new setup options
  packages/tbd/tests/cli-setup-commands.tryscript.md
Due: format

refactor: apply engineering review fixes to DocCache spec
  docs/project/specs/active/plan-2026-01-22-doc-cache-abstraction.md
Due: format

docs: add research brief on CLI as Agent Skill best practices
  docs/project/research/current/research-cli-as-agent-skill.md
Due: format

refactor: remove legacy commands for clean upgrade
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-beads.tryscript.md
  packages/tbd/tests/cli-help-all.tryscript.md
  packages/tbd/tests/cli-import-autoinit.tryscript.md
  packages/tbd/tests/cli-import-e2e.tryscript.md
  packages/tbd/tests/cli-import-status.tryscript.md
  packages/tbd/tests/cli-import.tryscript.md
Due: format, lint, typecheck

test: add comprehensive unit tests for DocCache
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/doc-cache.test.ts
Due: format, lint, typecheck

feat: add docs.paths configuration to ConfigSchema
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/config.test.ts
Due: format, lint, typecheck

tbd sync: 2026-01-23T01-52-34 (10 files)
  .tbd/data-sync/issues/is-01kfm86m4bmbd69qjd29wz0x0y.md
  .tbd/data-sync/issues/is-01kfm86t89xky7b20jahe94yqz.md
  .tbd/data-sync/issues/is-01kfm8esxnbamdn8qptefjh7hx.md
  .tbd/data-sync/issues/is-01kfm8se8tzgwqv1jdze8rd3n4.md
  .tbd/data-sync/issues/is-01kfm8sn3bbp08b2tck4ctsa60.md
  .tbd/data-sync/issues/is-01kfm8sxw5a0wckwm1vtk3rqqr.md
  .tbd/data-sync/issues/is-01kfm8t5j0zepm5h3n4vx8tv6a.md
  .tbd/data-sync/issues/is-01kfm8tw2rf5jd0rmapbx6f9gn.md
  .tbd/data-sync/issues/is-01kfm8v3qj2st6myxb5h4q6eg1.md
  .tbd/data-sync/mappings/ids.yml
Due: format

Delete .claude/settings.json.bak
  .claude/settings.json.bak
Due: none

docs: update specs to remove prefix auto-detection references
  docs/project/specs/active/plan-2026-01-20-streamlined-init-setup-design.md
  docs/project/specs/active/valid-2026-01-20-streamlined-init-setup-design.md
  packages/tbd/package.json
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/utils/markdown-utils.ts
  pnpm-lock.yaml
Due: format, lint, typecheck

docs: update SKILL.md to clarify prefix requirement
  docs/SKILL.md
  packages/tbd/src/docs/SKILL.md
Due: format

refactor: remove unused importFromBeads method and fix help text
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

tbd sync: 2026-01-23T02-58-02 (19 files)
  .tbd/data-sync/issues/is-01kf7hnzdpcrp8db39nxemw8ej.md
  .tbd/data-sync/issues/is-01kf7j2kjr4gsh8vr6fgad5r5h.md
  .tbd/data-sync/issues/is-01kf7j58t0qxdh5j7rvpaetbd7.md
  .tbd/data-sync/issues/is-01kfand4w69rjj307g3m1j9kh1.md
  .tbd/data-sync/issues/is-01kfhvzn1vbsam9xckr0njfbqg.md
  .tbd/data-sync/issues/is-01kfhw1hx7z3whwe5tp210ed2r.md
  .tbd/data-sync/issues/is-01kfhw1ynx7qg6d5bfzsx8g557.md
  .tbd/data-sync/issues/is-01kfhw2351x98m0f4xmj6jzc1n.md
  .tbd/data-sync/issues/is-01kfhw2c22c4wk7rby0npcd3cv.md
  .tbd/data-sync/issues/is-01kfhw2g8t8jq841n2q51msy77.md
  .tbd/data-sync/issues/is-01kfhw2mapxdm0g9kzk3da0egf.md
  .tbd/data-sync/issues/is-01kfm8eve425bgw4sy713xe53v.md
  .tbd/data-sync/issues/is-01kfm8kx94mens23herk9w109p.md
  .tbd/data-sync/issues/is-01kfm8m50c6d1qdyef2ctjrew7.md
  .tbd/data-sync/issues/is-01kfm8m5bjfhh38tt4jd955yw9.md
  .tbd/data-sync/issues/is-01kfm8m60gcnexfh7n891h2dsv.md
  .tbd/data-sync/issues/is-01kfm8m6q751zf5rk4dganwfhy.md
  .tbd/data-sync/issues/is-01kfm8vmcx5a2ttpaf2v54dgpd.md
  .tbd/data-sync/issues/is-01kfm8z4xc3wfyzkwffx0ms6a3.md
Due: format

fix: update test patterns for environment-independent matching
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format

tbd sync: 2026-01-23T04-53-55 (4 files)
  .tbd/data-sync/issues/is-01kfhvzn1vbsam9xckr0njfbqg.md
  .tbd/data-sync/issues/is-01kfhw2351x98m0f4xmj6jzc1n.md
  .tbd/data-sync/issues/is-01kfmfcxe81nfhaz1aqjg311jq.md
  .tbd/data-sync/issues/is-01kfmffq9gccjakj8nc4rq3q7x.md
Due: format

style: fix copy-docs.mjs formatting
  packages/tbd/scripts/copy-docs.mjs
Due: none

docs: update DocCache spec to reflect completed implementation
  docs/project/specs/active/plan-2026-01-22-doc-cache-abstraction.md
Due: format

fix: address PR #25 review comments
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/new-implementation-beads-from-spec.md
  packages/tbd/docs/shortcuts/system/shortcut-explanation.md
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

docs: add new shortcuts and workflow map to README
  README.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/new-architecture-doc.md
  packages/tbd/docs/shortcuts/standard/new-research-doc.md
  packages/tbd/docs/shortcuts/standard/new-validation-plan.md
Due: format

feat: add code review shortcuts and guidelines directory
  README.md
  packages/tbd/docs/shortcuts/guidelines/python-rules.md
  packages/tbd/docs/shortcuts/guidelines/typescript-rules.md
  packages/tbd/docs/shortcuts/standard/review-code-python.md
  packages/tbd/docs/shortcuts/standard/review-code-typescript.md
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/lib/paths.ts
Due: format, lint, typecheck

docs: add typescript-cli-tool-rules guideline
  .tbd/docs/guidelines/typescript-cli-tool-rules.md
  .tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
Due: format

docs: restore installation section to skill.md
  .claude/skills/tbd/SKILL.md
  .tbd/docs/shortcuts/system/skill.md
  AGENTS.md
  packages/tbd/docs/shortcuts/system/skill.md
Due: format

tbd sync: 2026-01-23T10-44-37 (23 files)
  .tbd/data-sync/issues/is-01kfn3qm96pv26s4bnntywy0ht.md
  .tbd/data-sync/issues/is-01kfn3qv0dsgvvx8rdrg2xbzy8.md
  .tbd/data-sync/issues/is-01kfn3r177pqmr7axvhzyh6bjv.md
  .tbd/data-sync/issues/is-01kfn3r6an53napb413hhqpz3z.md
  .tbd/data-sync/issues/is-01kfn3ra8e742km9srttaj5mps.md
  .tbd/data-sync/issues/is-01kfn3rg2tabsv2gstsxd2g8kz.md
  .tbd/data-sync/issues/is-01kfn3rqpmdffzjmf979xhthn8.md
  .tbd/data-sync/issues/is-01kfn3rx7dgg5vys27nzr9w816.md
  .tbd/data-sync/issues/is-01kfn3s2wjrgc7zbqzf35xp1nn.md
  .tbd/data-sync/issues/is-01kfn3s7q8rtn7x49k8453f9ss.md
  .tbd/data-sync/issues/is-01kfn3scqy9bvk3vbdckb18q2d.md
  .tbd/data-sync/issues/is-01kfn3sh7h8869y0mw3agv73x1.md
  .tbd/data-sync/issues/is-01kfn6tey28s6j93qt98eqmn1q.md
  .tbd/data-sync/issues/is-01kfn6tf5z9t6j9s2gm7b72rwd.md
  .tbd/data-sync/issues/is-01kfn6tfde48tsmk1hp2ns84q3.md
  .tbd/data-sync/issues/is-01kfn6tfn3n7h5b39ztztw11e9.md
  .tbd/data-sync/issues/is-01kfn6trxc6dhfc8c1gvxgs4fg.md
  .tbd/data-sync/issues/is-01kfn6ts5gzzpzyhpm78gprdmp.md
  .tbd/data-sync/issues/is-01kfn6tsdjd629h485157ah0b6.md
  .tbd/data-sync/issues/is-01kfn6tsnqq8r1z3p8am5c7msy.md
  .tbd/data-sync/issues/is-01kfn6vg8ewaacyq132vm9dqzj.md
  .tbd/data-sync/issues/is-01kfn6vgg5bfs1se23dyfe034w.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: add comprehensive research on distributed file sync consistency
  docs/project/research/distributed-file-sync-consistency.md
Due: format

test: add doc references validation test
  packages/tbd/tests/doc-references.test.ts
Due: format, lint, typecheck

fix: update cli-filesystem test to match actual gitignore content
  packages/tbd/tests/cli-filesystem.tryscript.md
Due: format

chore: add .claude/.gitignore to ignore backup files
  .claude/.gitignore
Due: none

docs: add agent orientation plan spec and update skill directories
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  docs/project/specs/active/plan-2026-01-25-agent-orientation-experience.md
Due: format

fix: remove duplicate attic/ entry from .gitignore
  .gitignore
Due: none

refactor: consolidate shortcut naming to use "beads" consistently
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/new-implementation-beads-from-spec.md
Due: format

tbd sync: 2026-01-25T18-13-01 (5 files)
  .tbd/data-sync/issues/is-01kfv5qf44vfydz5rdcq6j4b0s.md
  .tbd/data-sync/issues/is-01kfv5qn09cx1qwma0se7axqr0.md
  .tbd/data-sync/issues/is-01kfv5qn85xeexp281115j2ya2.md
  .tbd/data-sync/issues/is-01kfv5qnfrz5dmywm3x4jetf40.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-25T18-33-06 (4 files)
  .tbd/data-sync/issues/is-01kfv69c2pffc2674hd6y4d7xm.md
  .tbd/data-sync/issues/is-01kfv69cass521h3av6a5n6q55.md
  .tbd/data-sync/issues/is-01kfv69cjstartrr45zy7ymnx5.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-26T00-44-02 (4 files)
  .tbd/data-sync/issues/is-01kf7mkd08sr8a7sr83j5t9qd9.md
  .tbd/data-sync/issues/is-01kfvw3rhphpm01kabdmvp6cah.md
  .tbd/data-sync/issues/is-01kfvw3rsgng77eg5xx285v01x.md
  .tbd/data-sync/mappings/ids.yml
Due: format

chore: Update spec status.
  docs/project/specs/done/plan-2026-01-15-tbd-v1-implementation.md
  docs/project/specs/done/plan-2026-01-20-streamlined-init-setup-design.md
  docs/project/specs/done/plan-2026-01-22-doc-cache-abstraction.md
  docs/project/specs/done/plan-2026-01-25-gitignore-utils-library.md
  docs/project/specs/done/valid-2026-01-15-tbd-v1-implementation.md
  docs/project/specs/done/valid-2026-01-18-design-doc-consistency-review.md
  docs/project/specs/done/valid-2026-01-19-codebase-cleanup-review.md
  docs/project/specs/done/valid-2026-01-19-relationship-types-documentation.md
  docs/project/specs/done/valid-2026-01-19-subdirectory-support-bugfix.md
  docs/project/specs/done/valid-2026-01-20-streamlined-init-setup-design.md
Due: format

docs: add CLI output formatting consistency spec
  docs/project/specs/active/plan-2026-01-26-cli-output-formatting-consistency.md
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml,md}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
