Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

tbd sync: 2026-05-29T16-56-12 (1 file)
  .tbd/data-sync/issues/is-01kss7jfbxjh510qrjj52jfwk3.md
Due: format-md

feat: rescueUnrelatedHistory — non-destructive issue-file rescue (#139, tbd-6l8r)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/rescue-categorize.test.ts
  packages/tbd/tests/rescue-unrelated.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T17-07-37 (2 files)
  .tbd/data-sync/issues/is-01kss7jfzgth1cbt000cjbf85x.md
  .tbd/data-sync/issues/is-01kss7jghvg4n33dmfrq9zzv1g.md
Due: format-md

feat: wire rescueUnrelatedHistory into tbd doctor --fix (tbd-7eyl)
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T17-11-07 (2 files)
  .tbd/data-sync/issues/is-01kss7jghvg4n33dmfrq9zzv1g.md
  .tbd/data-sync/issues/is-01kss7jh3y0zt94729xzgfcj6m.md
Due: format-md

test: e2e tryscript — unrelated detect -> doctor --fix rescue -> sync (tbd-xxk5)
  packages/tbd/tests/cli-sync-unrelated-rescue.tryscript.md
Due: format-md

tbd sync: 2026-05-29T17-16-14 (2 files)
  .tbd/data-sync/issues/is-01kss7jh3y0zt94729xzgfcj6m.md
  .tbd/data-sync/issues/is-01kst8pd1c6e9khrcjvwbnya4f.md
Due: format-md

test: rescue divergence matrix + dirty/merge-in-progress preconditions (tbd-e550)
  packages/tbd/tests/rescue-divergence.test.ts
Due: format, lint, typecheck

docs: align rescue-divergence test header with actual cases
  packages/tbd/tests/rescue-divergence.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T17-25-31 (1 file)
  .tbd/data-sync/issues/is-01kst8pd1c6e9khrcjvwbnya4f.md
Due: format-md

refactor: dedupe non-fast-forward detection in git.ts
  packages/tbd/src/file/git.ts
Due: format, lint, typecheck

tbd sync: 2026-05-29T17-30-12 (1 file)
  .tbd/data-sync/issues/is-01kss7hxvj9nxnhthv6efvehg0.md
Due: format-md

fix: harden rescueUnrelatedHistory per senior review (PR #143)
  docs/project/specs/active/plan-2026-05-29-tbd-sync-unrelated-history-hardening.md
  packages/tbd/src/file/git.ts
  packages/tbd/tests/rescue-divergence.test.ts
Due: format, format-md, lint, typecheck

docs(guidelines): clarify when to bump integration format and that upgrades are opt-in
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs(guidelines): document read-only prime + setup-refresh reminder, and overwrite-surface format handling
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

fix(skill): stop restating drifting type enum, route to `tbd create --help`
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/.claude/skills/tbd/SKILL.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  skills/tbd/SKILL.md
Due: format-md

feat(prime): remind that `tbd setup --auto` refreshes skills and settings
  packages/tbd/src/cli/commands/prime.ts
Due: format, lint, typecheck

fix(setup): stamp and guard the generated SKILL.md against newer-format downgrade
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

chore: release get-tbd v0.2.1
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

chore(release): stop tracking transient release-notes.md
  .gitignore
  docs/publishing.md
  release-notes.md
Due: format-md

docs: complete v0.2.1 release notes and make the process cover shipped content
  docs/publishing.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
Due: format-md

docs(guidelines): add L0–L3 integration ladder and §6.6.2 project-vs-global scope
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs(guidelines): refine §6.6.2 install scope as a customization-keyed spectrum
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

fix(setup): honor --dry-run in legacy cleanup; docs: safe-override patterns
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, format-md, lint, typecheck

fix(setup): honor --dry-run in legacy cleanup; docs: safe-override patterns (#149)
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, format-md, lint, typecheck

test(ci): harden flaky Windows test timeouts
  packages/tbd/tests/performance.test.ts
  packages/tbd/vitest.config.ts
Due: format, lint, typecheck

docs: apply common-doc-guidelines to unreleased docs (and-not-ampersand)
  docs/publishing.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format-md

chore: release get-tbd v0.2.2
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: apply common-doc-guidelines to main tbd docs (tbd-b2zm)
  docs/tbd-format-versioning.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
Due: format-md

docs: apply common-doc-guidelines to guideline docs (tbd-33uv)
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
Due: format-md

docs: normalize em-dash spacing per common-doc-guidelines
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/development.md
  docs/docs-overview.md
  docs/publishing.md
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/docs/guidelines/common-doc-guidelines.md
  packages/tbd/docs/guidelines/convex-limits-best-practices.md
  packages/tbd/docs/guidelines/electron-app-development-patterns.md
  packages/tbd/docs/guidelines/general-comment-rules.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-code-coverage.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/tests/cli-help-all.tryscript.md
Due: format-md

docs: Title-Case H1/H2 headings per common-doc-guidelines
  packages/tbd/docs/guidelines/convex-rules.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
Due: format-md

docs: regenerate SKILL.md to canonical tbd-setup output
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
Due: format-md

test: update docs --list golden for 'File Format' heading
  packages/tbd/tests/cli-help-all.tryscript.md
Due: format-md

docs: review agent shortcuts for currency and consistency
  docs/docs-overview.md
  docs/general/agent-shortcuts/shortcut-implement-spec.md
  docs/general/agent-shortcuts/shortcut-refine-spec.md
  docs/general/agent-shortcuts/shortcut-review-all-code-specs-docs-convex.md
  docs/general/agent-shortcuts/shortcut-update-spec.md
  packages/tbd/docs/shortcuts/standard/new-shortcut.md
  packages/tbd/docs/shortcuts/standard/setup-github-cli.md
  packages/tbd/docs/shortcuts/system/shortcut-explanation.md
Due: format-md

chore: guideline cleanups, grouped guideline directory, release prep
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  .tbd/config.yml
  packages/tbd/docs/guidelines/error-handling-rules.md
  packages/tbd/docs/guidelines/general-coding-rules.md
  packages/tbd/docs/guidelines/general-comment-rules.md
  packages/tbd/docs/guidelines/general-eng-assistant-rules.md
  packages/tbd/docs/guidelines/general-engineering-principles.md
  packages/tbd/docs/guidelines/general-tdd-guidelines.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/python-cli-patterns.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-code-coverage.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/guidelines/typescript-sorting-patterns.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/src/file/doc-cache.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

build: pin flowmark-rs@0.3.1 formatter and make generated docs flowmark-clean
  .agents/skills/tbd/SKILL.md
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-session.sh
  lefthook.yml
  packages/tbd/src/file/doc-cache.ts
Due: format, format-md, lint, typecheck

fix: pin session script to published version, not git-describe build string
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/version.ts
  packages/tbd/tsdown.config.ts
Due: format, lint, typecheck
