Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix(integrations): complete Linear compatibility contract
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/package.json
  packages/tbd/scripts/provider-live-qa-contract.ts
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/integrations/core/comment-store.ts
  packages/tbd/src/integrations/core/intents.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integration-cli-e2e.test.ts
  packages/tbd/tests/integrations-comments.test.ts
  packages/tbd/tests/integrations-intents.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-reconcile.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-adapter.test.ts
  packages/tbd/tests/provider-live-qa-contract.test.ts
  packages/tbd/tests/qa/linear-integration.qa.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T18-36-29 (4 files)
  .tbd/data-sync/issues/is-01kzx8jw39zc4dpgx6w82rg3dm.md
  .tbd/data-sync/issues/is-01kzy621rv7w39vyzctfznr88y.md
  .tbd/data-sync/issues/is-01kzy622568vqnwmx33pwqr6h6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): harden Linear identity and QA scope
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/linear-live-qa-options.ts
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-adapter.test.ts
  packages/tbd/tests/linear-live-qa-options.test.ts
  packages/tbd/tests/qa/linear-integration.qa.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T18-52-54 (3 files)
  .tbd/data-sync/issues/is-01kzx8jw39zc4dpgx6w82rg3dm.md
  .tbd/data-sync/issues/is-01kzy7773hjpwkaamyhtcj7z8k.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): preserve frozen assignee divergence
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/integrations/core/reconcile.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T19-12-03 (1 file)
  .tbd/data-sync/issues/is-01kzx8jw39zc4dpgx6w82rg3dm.md
Due: format-md

tbd sync: 2026-08-13T19-23-29 (3 files)
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzy93y91gssqs5nbv6zga00g.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T20-18-16 (6 files)
  .tbd/data-sync/issues/is-01kzn2wa8b53y8wjh1gegbzhhx.md
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzxy6mhd66ah3xr0960n34kf.md
  .tbd/data-sync/issues/is-01kzy93y91gssqs5nbv6zga00g.md
  .tbd/data-sync/issues/is-01kzyc5t80m7hs7b4y6gfh2qd8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T20-50-54 (5 files)
  .tbd/data-sync/issues/is-01kzy93y91gssqs5nbv6zga00g.md
  .tbd/data-sync/issues/is-01kzycnk9d3twwpm9az84tvfan.md
  .tbd/data-sync/issues/is-01kzydg1771r1wn3csas8pqcwc.md
  .tbd/data-sync/issues/is-01kzydychmx52zhy9by6xmh1ne.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(integrations): migrate Linear managed blocks
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/src/integrations/core/managed-block.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/tests/integrations-bridge-state.test.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-reconcile.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
  packages/tbd/tests/linear-adapter.test.ts
  packages/tbd/tests/qa/linear-integration.qa.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: add setup-linear shortcut and Linear onboarding path
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-docs.md
  skills/tbd/SKILL.md
Due: format, format-md

tbd sync: 2026-08-13T21-48-26 (10 files)
  .tbd/data-sync/issues/is-01kzyh0q32pcb7xydnr6xjyqbd.md
  .tbd/data-sync/issues/is-01kzyh140ydwhzr4mt8r84gmgb.md
  .tbd/data-sync/issues/is-01kzyh14se51kt9hhs2ar1ehtr.md
  .tbd/data-sync/issues/is-01kzyh1h1bncs21c690jd01khr.md
  .tbd/data-sync/issues/is-01kzyh1j2z4hcmcyfdw9z6p8n7.md
  .tbd/data-sync/issues/is-01kzyh1k4k5yy6k2s5vra3gs8s.md
  .tbd/data-sync/issues/is-01kzyh1y801793wy1w75spxh8j.md
  .tbd/data-sync/issues/is-01kzyh1z8ncseb0a2vje8em8qn.md
  .tbd/data-sync/issues/is-01kzyh2066kdr5yymjef2k6nsx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: address Linear integration review findings
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/scripts/validate-linear-integration-live.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/status.ts
  packages/tbd/src/integrations/core/sync-engine.ts
  packages/tbd/src/lib/env-file.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-status.test.ts
  packages/tbd/tests/integrations-sync-engine.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T22-51-21 (11 files)
  .tbd/data-sync/issues/is-01kzyh0q32pcb7xydnr6xjyqbd.md
  .tbd/data-sync/issues/is-01kzyh140ydwhzr4mt8r84gmgb.md
  .tbd/data-sync/issues/is-01kzyh14se51kt9hhs2ar1ehtr.md
  .tbd/data-sync/issues/is-01kzyh1h1bncs21c690jd01khr.md
  .tbd/data-sync/issues/is-01kzyh1j2z4hcmcyfdw9z6p8n7.md
  .tbd/data-sync/issues/is-01kzyh1k4k5yy6k2s5vra3gs8s.md
  .tbd/data-sync/issues/is-01kzyh1y801793wy1w75spxh8j.md
  .tbd/data-sync/issues/is-01kzyh1z8ncseb0a2vje8em8qn.md
  .tbd/data-sync/issues/is-01kzyh2066kdr5yymjef2k6nsx.md
  .tbd/data-sync/issues/is-01kzymcx5gjwfra1z0s3rz1g05.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T23-03-24 (6 files)
  .tbd/data-sync/issues/is-01kzyh0q32pcb7xydnr6xjyqbd.md
  .tbd/data-sync/issues/is-01kzyh1h1bncs21c690jd01khr.md
  .tbd/data-sync/issues/is-01kzyh1k4k5yy6k2s5vra3gs8s.md
  .tbd/data-sync/issues/is-01kzyh1y801793wy1w75spxh8j.md
  .tbd/data-sync/issues/is-01kzyh1z8ncseb0a2vje8em8qn.md
  .tbd/data-sync/issues/is-01kzymcx5gjwfra1z0s3rz1g05.md
Due: format-md

feat: add guided Linear onboarding
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  README.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/setup-flows.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T23-30-59 (3 files)
  .tbd/data-sync/issues/is-01kzymcx5gjwfra1z0s3rz1g05.md
  .tbd/data-sync/issues/is-01kzyp9mn2ffjctzjtyzvq87s8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T23-44-31 (1 file)
  .tbd/data-sync/issues/is-01kzyp9mn2ffjctzjtyzvq87s8.md
Due: format-md

tbd sync: 2026-08-13T23-59-48 (3 files)
  .tbd/data-sync/issues/is-01kzymcx5gjwfra1z0s3rz1g05.md
  .tbd/data-sync/issues/is-01kzyrkn6qdkhm332t69yhe45w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: surface web view, watch, and Linear sync across README and core docs
  README.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-prime.md
Due: format-md

tbd sync: 2026-08-14T00-44-12 (4 files)
  .tbd/data-sync/issues/is-01kzq7dqydwdtjncfp9ya5dyjc.md
  .tbd/data-sync/issues/is-01kzysmb4s1ntzjgq5e7yhfpmr.md
  .tbd/data-sync/issues/is-01kzyswrkqt9hp8s9tdke7860f.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: require Node.js 22.12
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/valid-2026-08-09-bead-watch-release.md
  package.json
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/package.json
  packages/tbd/src/cli/bin-bootstrap.cjs
  packages/tbd/tests/node-version.test.ts
  packages/tbd/tsdown.config.ts
  pnpm-lock.yaml
Due: format, format-md, lint, typecheck

docs: align Node.js runtime requirements
  README.md
  docs/development.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-docs.md
  tests/qa/watch-infrastructure-release.qa.md
Due: format-md

fix: rebuild bundled docs when inputs change
  packages/tbd/scripts/build-if-needed.mjs
  packages/tbd/tests/integration-files.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-14T02-05-09 (5 files)
  .tbd/data-sync/issues/is-01kzq7dqydwdtjncfp9ya5dyjc.md
  .tbd/data-sync/issues/is-01kzysmb4s1ntzjgq5e7yhfpmr.md
  .tbd/data-sync/issues/is-01kzywynn9xx4987b971j4kxah.md
  .tbd/data-sync/issues/is-01kzyy0r9gvz8g8150fa2rv6zx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: gate the integrations config behind format f07 and release v0.6.0
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/publishing.md
  docs/tbd-format-versioning.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/setup-linear.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/package.json
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-14T03-08-43 (3 files)
  .tbd/data-sync/issues/is-01kzz36z7kstw5nxa1me86ek86.md
  .tbd/data-sync/issues/is-01kzz3769yd8krf2xafhgbvjrg.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: resolve v0.6.0 release review findings
  .github/workflows/release.yml
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/scripts/extract-changelog.ts
  packages/tbd/scripts/verify-release-metadata.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/src/utils/changelog.ts
  packages/tbd/src/utils/release-metadata.ts
  packages/tbd/tests/doc-references.test.ts
  packages/tbd/tests/doctor-sync.test.ts
  packages/tbd/tests/extract-changelog.test.ts
  packages/tbd/tests/release-metadata.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-14T06-12-49 (9 files)
  .tbd/data-sync/issues/is-01kzz0cgt3p51mrh1rt5bg9ypq.md
  .tbd/data-sync/issues/is-01kzz0qwy10rwp19x3f6wxw4z6.md
  .tbd/data-sync/issues/is-01kzz0qxe6xhbzwk7zv6wysftf.md
  .tbd/data-sync/issues/is-01kzzbpmdv336m2wnrbqpx473c.md
  .tbd/data-sync/issues/is-01kzzbq7verrq080n59gtneg1t.md
  .tbd/data-sync/issues/is-01kzzbq8avtcm913zn10t4t71a.md
  .tbd/data-sync/issues/is-01kzzcsq2gy74jhhbgkry8zx6v.md
  .tbd/data-sync/issues/is-01kzze197akw5m3y7e3s9wmvaf.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T06-19-24 (2 files)
  .tbd/data-sync/issues/is-01kzzesqaq108cbnbkhwvhb2rk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-14T06-36-55 (3 files)
  .tbd/data-sync/issues/is-01kzz0cgt3p51mrh1rt5bg9ypq.md
  .tbd/data-sync/issues/is-01kzzfsjnxn4n5ta9x2dg7f5h3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: preserve exact version in release artifacts
  .github/workflows/release.yml
  docs/development.md
  docs/publishing.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  packages/tbd/scripts/validate-web-package.mjs
  packages/tbd/scripts/verify-release-metadata.ts
  packages/tbd/src/utils/release-metadata.ts
  packages/tbd/tests/release-metadata.test.ts
Due: format, format-md, lint, typecheck

fix: seed the packed QA repository
  packages/tbd/scripts/validate-web-package.mjs
Due: none

fix: seed the packed QA data branch
  packages/tbd/scripts/validate-web-package.mjs
Due: none

chore: stamp repository for tbd 0.6.1
  .agents/skills/tbd/SKILL.md
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .claude/skills/tbd/SKILL.md
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
  AGENTS.md
Due: format, format-md

tbd sync: 2026-08-14T07-49-42 (3 files)
  .tbd/data-sync/issues/is-01kzz0cgt3p51mrh1rt5bg9ypq.md
  .tbd/data-sync/issues/is-01kzze197akw5m3y7e3s9wmvaf.md
  .tbd/data-sync/issues/is-01kzzfsjnxn4n5ta9x2dg7f5h3.md
Due: format-md

docs: add github-access-layers guideline
  packages/tbd/docs/guidelines/github-access-layers.md
Due: format-md

docs: make github-access-layers a factual Claude Code Cloud reference
  packages/tbd/docs/guidelines/github-access-layers.md
Due: format-md

process: Research agent sync protocol, hooks, and Linear visibility
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
