Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

Merge branch 'main' into claude/add-spec-linking-8jURs
  .claude/skills/tbd/SKILL.md
Due: format-md

docs: Minor readme fixup.
  README.md
Due: format-md

chore: regenerate SKILL.md and AGENTS.md from v0.1.6 build
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

docs: Restructure Phase 0 to follow TDD (red/green/refactor)
  docs/project/specs/active/plan-2026-01-27-welcome-message-improvements.md
Due: format-md

docs: revise tbd plan spec for Markform implicit checkboxes
  docs/project/specs/active/plan-2026-01-20-tbd-plan-subcommand.md
Due: format-md

feat: Mark welcome as seen after setup completes
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

feat: Show welcome banner in tbd prime for first-time users
  packages/tbd/src/cli/commands/prime.ts
Due: format, lint, typecheck

chore: Update generated files from setup changes
  .claude/scripts/tbd-session.sh
  .claude/settings.json
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format, format-md

chore: sync auto-generated skill and agents docs
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

docs: add plan spec for automatic gh CLI setup feature
  docs/project/specs/active/plan-2026-01-27-gh-cli-auto-setup.md
Due: format-md

fix: resolve mergedHooks name collision after merge from main
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

fix: resolve bundled script path for flat dist layout
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

fix: ensure Claude Code detection in CI test environment
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

fix: update setup help golden test for --no-gh-cli option
  packages/tbd/tests/cli-setup-commands.tryscript.md
Due: format-md

docs: cross-link Bun monorepo research from related docs
  docs/general/research/current/research-modern-typescript-cli-patterns.md
  docs/general/research/current/research-modern-typescript-monorepo-patterns.md
Due: format-md

fix: increase Windows CI timeouts for flaky tests
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

refactor: extract GitHub fetch into shared utility, use shortcuts/custom for user docs
  packages/tbd/src/cli/commands/guidelines.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/commands/template.ts
  packages/tbd/src/file/doc-add.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/file/github-fetch.ts
  packages/tbd/tests/doc-add-e2e.test.ts
  packages/tbd/tests/doc-add.test.ts
  packages/tbd/tests/github-fetch.test.ts
Due: format, lint, typecheck

docs: add plan spec for --specs flag on tbd list
  docs/project/specs/active/plan-2026-01-27-specs-flag-list.md
Due: format-md

fix: resolve to git root for .claude/ and .tbd/ placement in setup
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

fix: use wildcards for nondeterministic sort order in --specs tryscript tests
  packages/tbd/tests/cli-list-specs.tryscript.md
Due: format-md

fix: add deterministic secondary sort by ID to ready, stale, blocked commands
  packages/tbd/src/cli/commands/blocked.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/stale.ts
Due: format, lint, typecheck

feat: add comparison-chain utility for fluent multi-field sorting
  packages/tbd/src/cli/commands/blocked.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/stale.ts
  packages/tbd/src/lib/comparison-chain.ts
  packages/tbd/tests/comparison-chain.test.ts
Due: format, lint, typecheck

docs: update plan spec status and add validation plan for --specs flag
  docs/project/specs/active/plan-2026-01-27-specs-flag-list.md
  docs/project/specs/active/valid-2026-01-27-specs-flag-list.md
Due: format-md

chore: add changeset for v0.1.8
  packages/tbd/.changeset/release-0.1.1.md
  packages/tbd/.changeset/release-0.1.8.md
Due: format-md

chore: release get-tbd v0.1.8
  packages/tbd/.changeset/release-0.1.8.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  release-notes.md
Due: format, format-md

chore: move completed specs to done
  docs/project/specs/done/plan-2026-01-27-specs-flag-list.md
  docs/project/specs/done/plan-2026-01-28-cli-add-docs-by-url.md
  docs/project/specs/done/valid-2026-01-27-specs-flag-list.md
Due: format-md

docs: emphasize 'instant context injection' framing in README spec
  docs/project/specs/active/plan-2026-01-27-improve-readme-value-proposition.md
Due: format-md

docs: rebalance README to emphasize beads + specs + knowledge equally
  README.md
  docs/project/specs/active/plan-2026-01-27-improve-readme-value-proposition.md
Due: format-md

docs: restructure README with clearer organization and complete command reference
  README.md
Due: format-md

docs: expand How It Works with doc cache and self-documentation
  README.md
Due: format-md

docs: reorder knowledge base tables — testing first, Convex last
  README.md
Due: format-md

docs: add 'What runs' column and testing example to How to Use table
  README.md
Due: format-md

docs: use 'beads' consistently instead of 'issues' throughout README
  README.md
Due: format-md

docs: add scope/coordination note, reorder FAQ, add provenance
  README.md
Due: format-md

docs: improve README value proposition for cold readers (#45)
  README.md
  docs/project/specs/active/plan-2026-01-27-improve-readme-value-proposition.md
  packages/tbd/docs/tbd-design.md
Due: format-md

docs: Update readme.
  README.md
Due: format-md

chore: Upgrade packages including tryscript to v0.1.6
  package.json
  packages/tbd/package.json
  pnpm-lock.yaml
Due: format

tbd sync: 2026-01-28T23-23-26 (11 files)
  .tbd/data-sync/issues/is-01kg0y90q7gqtq6rpzt9fc80xm.md
  .tbd/data-sync/issues/is-01kg0y94s0b4p24grngamtvth4.md
  .tbd/data-sync/issues/is-01kg0y94xbdwfn1vwrkepetjfz.md
  .tbd/data-sync/issues/is-01kg0y951wnwqqbtwy81kcfh0d.md
  .tbd/data-sync/issues/is-01kg0y956bs847bkz7czh8cqhj.md
  .tbd/data-sync/issues/is-01kg3bcd1ww8hmqa7mzvtjfs6w.md
  .tbd/data-sync/issues/is-01kg3bcjbxcq13m5z2xyzw6594.md
  .tbd/data-sync/issues/is-01kg3bcjnsj9zjm6160n64b6f0.md
  .tbd/data-sync/issues/is-01kg3bcjxfxj9333c150nb4ax9.md
  .tbd/data-sync/issues/is-01kg3bcrppvyq6hjycdy9wa13a.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md
