Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

fix: increase Windows CI timeouts for legacy cleanup and write perf tests
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

refactor: extract shared OperationLogger interface from WorkspaceLogger
  packages/tbd/src/cli/commands/import.ts
  packages/tbd/src/cli/commands/save.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/src/lib/types.ts
Due: format, lint, typecheck

fix: resolve flaky setup-hooks tests with globalSetup and timeout
  packages/tbd/tests/global-setup.ts
  packages/tbd/tests/setup-hooks.test.ts
  packages/tbd/vitest.config.ts
Due: format, lint, typecheck

Remove unnecessary re-exports from output.ts
  packages/tbd/src/cli/lib/output.ts
Due: format, lint, typecheck

test: update doctor golden test for new ID mapping keys check
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format-md

docs: specify sync phase ordering for external issue sync
  docs/project/specs/active/plan-2026-02-10-external-issue-linking.md
Due: format-md

docs: update design doc with external issue linking (§8.7)
  packages/tbd/docs/tbd-design.md
Due: format-md

docs: clarify use_gh_cli gating for external issue features
  README.md
  docs/project/specs/active/plan-2026-02-10-external-issue-linking.md
  packages/tbd/docs/tbd-design.md
Due: format-md

feat: add external_issue_url field to schema, merge rules, and types (Phase 1a)
  packages/tbd/src/file/git.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
Due: format, lint, typecheck

feat: add GitHub issue URL parser and generic inheritable field system (Phase 1b+1c)
  packages/tbd/src/file/github-issues.ts
  packages/tbd/src/lib/inheritable-fields.ts
  packages/tbd/tests/github-issues.test.ts
  packages/tbd/tests/inheritable-fields.test.ts
Due: format, lint, typecheck

feat: add external_issue_url display in show and --external-issue filter in list (Phase 1f-g)
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/show.ts
Due: format, lint, typecheck

feat: add gh CLI health check to doctor command (Phase 2)
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

feat: add --external sync scope and 4-phase sync ordering (Phase 3a)
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

fix: improve writeLocalState docstring to explain atomically interaction
  packages/tbd/src/file/config.ts
Due: format, lint, typecheck

chore: save tbd config
  .tbd/config.yml
Due: format

chore: tbd sync
  .tbd/workspaces/outbox/issues/is-01kh4t9cdp8esjk70khqvn2rmf.md
  .tbd/workspaces/outbox/issues/is-01kh4t9x02rkd6pxhsbr69ts96.md
  .tbd/workspaces/outbox/issues/is-01kh4ta023fe6awh57kp8z5afb.md
  .tbd/workspaces/outbox/issues/is-01kh4ta2yejbm48vhwp5k9vph3.md
  .tbd/workspaces/outbox/issues/is-01kh4tab2habe6r6cspptrkavp.md
  .tbd/workspaces/outbox/issues/is-01kh4tady1vnmfb8tvnhv93xmz.md
  .tbd/workspaces/outbox/issues/is-01kh4tagqa9as4s7s231t9c3h3.md
  .tbd/workspaces/outbox/issues/is-01kh4tarbsf7k6jwr4pt5n79ks.md
  .tbd/workspaces/outbox/issues/is-01kh4tb83jp2d4fdt3dhy89t3d.md
  .tbd/workspaces/outbox/issues/is-01kh4tbgjhyw1qfphmqt77tx05.md
  .tbd/workspaces/outbox/issues/is-01kh4tbkc8gtnkrkkd2y6fg0qt.md
  .tbd/workspaces/outbox/issues/is-01kh4tc1as6pksaz2gns64q9k3.md
  .tbd/workspaces/outbox/issues/is-01kh4tc4n2eb3cwq6ym5tm041n.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

docs: fix Markform API usage and add heading treatment TODO
  docs/project/specs/active/plan-2026-01-20-tbd-plan-subcommand.md
Due: format-md

docs: add research brief on GitHub issue/PR/project workflows for external issue linking
  docs/project/research/current/research-github-issue-linking-workflows.md
Due: format-md

chore: add changeset for v0.1.19
  .changeset/release-v0119.md
Due: format-md

docs: update release notes for v0.1.19
  release-notes.md
Due: format-md

docs: add key takeaways section and self-managed compaction research
  docs/project/research/current/research-claude-code-sub-agents.md
Due: format-md

docs: add citations to sub-agent research, configure Opus for sub-agents
  .claude/settings.json
  docs/project/research/current/research-claude-code-sub-agents.md
Due: format, format-md

docs: fix gaps in sub-agent research (model param, max_turns, SDK example)
  docs/project/research/current/research-claude-code-sub-agents.md
Due: format-md

tbd sync: 2026-02-13T19-10-50 (15 files)
  .tbd/data-sync/issues/is-01khc59q7e79cx741pyz7n48b4.md
  .tbd/data-sync/issues/is-01khc59z0gg008c9eqjbqwjp9h.md
  .tbd/data-sync/issues/is-01khc5a2d66tmzvgcwjpwet71a.md
  .tbd/data-sync/issues/is-01khc5a5rv29rns5081wkzrpnd.md
  .tbd/data-sync/issues/is-01khc5a9w5vtrvyjxjgke38cbn.md
  .tbd/data-sync/issues/is-01khc5aj1bd4wd08j8qp8mxc51.md
  .tbd/data-sync/issues/is-01khc5ankjbeycvxvw6306hy3t.md
  .tbd/data-sync/issues/is-01khc5as8zt8d54qgy1bm6rjbd.md
  .tbd/data-sync/issues/is-01khc5axe5zx2839gywvgwta1k.md
  .tbd/data-sync/issues/is-01khc5b4r1hgqe144r250z6t4y.md
  .tbd/data-sync/issues/is-01khc5b9astr6e68rvznehh159.md
  .tbd/data-sync/issues/is-01khc5bcq9pyaq7hw3e4n6w6rb.md
  .tbd/data-sync/issues/is-01khc5bg4j0xekrkjey7brafdg.md
  .tbd/data-sync/issues/is-01khc5bm56ab194bg57wmpas0q.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-02-13T20-57-13 (2 files)
  .tbd/data-sync/issues/is-01khc7ybm5c2e39s0knq8mzcct.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: prevent agents from gitignoring .tbd/workspaces/ (outbox)
  .tbd/.gitignore
  docs/development.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/sync.ts
Due: format, format-md, lint, typecheck

chore: regenerate SKILL.md and AGENTS.md with workspace warning
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format-md

refactor: trim redundant workspace gitignore warnings
  .claude/skills/tbd/SKILL.md
  .tbd/.gitignore
  AGENTS.md
  docs/development.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/shortcuts/standard/sync-failure-recovery.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
Due: format, format-md, lint, typecheck

fix: fix missed verbose block in setup.ts, reword gitignore comment
  .tbd/.gitignore
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/setup.ts
Due: format, format-md, lint, typecheck

docs: restructure .tbd/ layout docs into committed vs gitignored sections
  docs/development.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/lib/paths.ts
Due: format, format-md, lint, typecheck

chore: add changeset for v0.1.20
  .changeset/release-v0120.md
Due: format-md

docs: update release notes for v0.1.20
  release-notes.md
Due: format-md

chore: update tbd docs cache after sync
  .tbd/config.yml
Due: format

chore: update tbd docs cache after v0.1.20 build
  .tbd/config.yml
Due: format

docs: add research doc on Claude Code orchestration interfaces and UIs
  docs/project/research/current/research-claude-code-orchestration-and-uis.md
Due: format-md

docs: add research brief on agent knowledge-on-demand architecture
  docs/project/research/current/research-agent-knowledge-on-demand.md
  docs/project/specs/active/plan-2026-02-02-external-docs-repos.md
Due: format-md

fix: fix flaky autoinit test ordering and add README badges
  README.md
  packages/tbd/tests/cli-import-autoinit.tryscript.md
Due: format-md

docs: deepen research brief with external review insights
  docs/project/research/current/research-agent-knowledge-on-demand.md
Due: format-md

fix: use monotonic ULID for deterministic list sort order
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/lib/ids.ts
  packages/tbd/tests/cli-import-autoinit.tryscript.md
  packages/tbd/tests/cli-import-status.tryscript.md
Due: format, format-md, lint, typecheck

docs: add context conservation principle and pyramid summaries as universal primitive
  docs/project/research/current/research-agent-knowledge-on-demand.md
Due: format-md
