Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

test(tbd-cli): Update test files for full option names and help output
  .beads/issues.jsonl
  packages/tbd-cli/tests/cli-advanced.tryscript.md
  packages/tbd-cli/tests/cli-color-modes.tryscript.md
  packages/tbd-cli/tests/cli-crud.tryscript.md
  packages/tbd-cli/tests/cli-edge-cases.tryscript.md
  packages/tbd-cli/tests/cli-filesystem.tryscript.md
  packages/tbd-cli/tests/cli-help-all.tryscript.md
  packages/tbd-cli/tests/cli-id-format.tryscript.md
  packages/tbd-cli/tests/cli-import-autoinit.tryscript.md
  packages/tbd-cli/tests/cli-import-e2e.tryscript.md
  packages/tbd-cli/tests/cli-import-status.tryscript.md
  packages/tbd-cli/tests/cli-import.tryscript.md
  packages/tbd-cli/tests/cli-prime.tryscript.md
  packages/tbd-cli/tests/cli-setup-commands.tryscript.md
  packages/tbd-cli/tests/cli-setup.tryscript.md
  packages/tbd-cli/tests/cli-status.tryscript.md
  packages/tbd-cli/tests/cli-sync.tryscript.md
  packages/tbd-cli/tests/cli-uninitialized.tryscript.md
  packages/tbd-cli/tests/cli-uninstall.tryscript.md
  packages/tbd-cli/tests/cli-workflow.tryscript.md
Due: format

docs: Use --option=value syntax consistently in documentation and tests
  README.md
  docs/project/architecture/current/tbd-design-v3.md
  docs/tbd-docs.md
  packages/tbd-cli/scripts/validate-import.ts
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/docs/README.md
  packages/tbd-cli/src/docs/tbd-docs.md
  packages/tbd-cli/tests/cli-advanced.tryscript.md
  packages/tbd-cli/tests/cli-color-modes.tryscript.md
  packages/tbd-cli/tests/cli-crud.tryscript.md
  packages/tbd-cli/tests/cli-edge-cases.tryscript.md
  packages/tbd-cli/tests/cli-filesystem.tryscript.md
  packages/tbd-cli/tests/cli-id-format.tryscript.md
  packages/tbd-cli/tests/cli-import-e2e.tryscript.md
  packages/tbd-cli/tests/cli-import-status.tryscript.md
  packages/tbd-cli/tests/cli-import.tryscript.md
  packages/tbd-cli/tests/cli-status.tryscript.md
  packages/tbd-cli/tests/cli-sync.tryscript.md
  packages/tbd-cli/tests/cli-uninstall.tryscript.md
  packages/tbd-cli/tests/cli-workflow.tryscript.md
Due: format, lint, typecheck

docs: Update readme.
  packages/tbd-cli/src/docs/README.md
Due: format

chore(tbd-cli): Gitignore src/docs as build artifacts
  packages/tbd-cli/.gitignore
  packages/tbd-cli/src/docs/README.md
  packages/tbd-cli/src/docs/tbd-docs.md
Due: format

docs: Naming consistency.
  .beads/issues.jsonl
  .tbd/.gitignore
  .tbd/config.yml
  docs/project/architecture/archive/beads-tbd-feature-mapping-v1.md
  docs/project/architecture/archive/tbd-design-operational-plan.md
  docs/project/architecture/archive/tbd-design-v1-distributed-systems-review.md
  docs/project/architecture/archive/tbd-design-v1-review1-gpt-5-pro.md
  docs/project/architecture/archive/tbd-design-v1.md
  docs/project/architecture/archive/tbd-design-v2-phase1-tracking.md
  docs/project/architecture/archive/tbd-design-v2-phase1.md
  docs/project/architecture/archive/tbd-design-v2-review1-gpt-5-pro.md
  docs/project/architecture/archive/tbd-yaml-markdown-exploration.md
  docs/project/architecture/current/arch-testing.md
  docs/project/architecture/current/tbd-design-v3.md
  docs/project/research/current/research-running-claude-code.md
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
  docs/project/specs/active/valid-2026-01-15-tbd-v1-implementation.md
  docs/project/specs/done/plan-2026-01-15-tbd-v1-implementation-review-gpt-5-pro.md
  packages/tbd-cli/README.md
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/prime.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/src/cli/commands/status.ts
  packages/tbd-cli/tests/attic-import.test.ts
  packages/tbd-cli/tests/cli-prime.tryscript.md
  packages/tbd-cli/tests/cli-setup-commands.tryscript.md
  packages/tbd-cli/tests/cli-setup.tryscript.md
  packages/tbd-cli/tests/cli-status.tryscript.md
  packages/tbd-cli/tests/cli-uninitialized.tryscript.md
Due: format, lint, typecheck

test(tbd-cli): Fix cli-setup tryscript golden tests
  packages/tbd-cli/tests/cli-setup.tryscript.md
Due: format

feat(tbd-cli): Add help width limit and colorized Markdown output
  packages/tbd-cli/package-lock.json
  packages/tbd-cli/package.json
  packages/tbd-cli/src/cli/commands/docs.ts
  packages/tbd-cli/src/cli/commands/readme.ts
  packages/tbd-cli/src/cli/lib/output.ts
Due: format, lint, typecheck

chore: Update pnpm lockfile for marked dependencies
  pnpm-lock.yaml
Due: format

fix(tbd-cli): Fix coverage script to generate required files
  packages/tbd-cli/package.json
Due: format

chore(beads): Close tbd-100 V1 implementation epic
  .beads/issues.jsonl
Due: none

fix(tbd-cli): Use configured prefix in all commands and fix tryscript tests
  docs/project/architecture/current/tbd-design-v3.md
  packages/tbd-cli/src/cli/commands/attic.ts
  packages/tbd-cli/src/cli/commands/blocked.ts
  packages/tbd-cli/src/cli/commands/close.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/dep.ts
  packages/tbd-cli/src/cli/commands/init.ts
  packages/tbd-cli/src/cli/commands/label.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/cli/commands/ready.ts
  packages/tbd-cli/src/cli/commands/reopen.ts
  packages/tbd-cli/src/cli/commands/search.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/src/cli/commands/show.ts
  packages/tbd-cli/src/cli/commands/stale.ts
  packages/tbd-cli/src/cli/commands/update.ts
  packages/tbd-cli/src/cli/lib/dataContext.ts
  packages/tbd-cli/tests/cli-advanced.tryscript.md
  packages/tbd-cli/tests/cli-crud.tryscript.md
  packages/tbd-cli/tests/cli-edge-cases.tryscript.md
  packages/tbd-cli/tests/cli-filesystem.tryscript.md
  packages/tbd-cli/tests/cli-id-format.tryscript.md
  packages/tbd-cli/tests/cli-import-autoinit.tryscript.md
  packages/tbd-cli/tests/cli-import-e2e.tryscript.md
  packages/tbd-cli/tests/cli-import-status.tryscript.md
  packages/tbd-cli/tests/cli-import.tryscript.md
  packages/tbd-cli/tests/cli-status.tryscript.md
  packages/tbd-cli/tests/cli-sync.tryscript.md
  packages/tbd-cli/tests/cli-uninitialized.tryscript.md
  packages/tbd-cli/tests/cli-workflow.tryscript.md
Due: format, lint, typecheck

docs: Consolidate review with all bugs and enhancements
  docs/project/review-beads-vs-tbd-prime-comparison.md
  docs/project/review-senior-engineering-2026-01-17.md
Due: format

docs: Add note on why roll-your-own git versioning
  docs/general/research/current/research-modern-typescript-monorepo-patterns.md
Due: format

fix(sync): Report accurate pushed/pulled counts instead of total issues
  packages/tbd-cli/src/cli/commands/sync.ts
  packages/tbd-cli/src/cli/lib/output.ts
  packages/tbd-cli/tests/cli-prime.tryscript.md
  packages/tbd-cli/tests/cli-setup.tryscript.md
  packages/tbd-cli/tests/cli-sync-remote.tryscript.md
  packages/tbd-cli/tests/cli-sync.tryscript.md
Due: format, lint, typecheck

tbd sync: 2026-01-17T23-47-45 (1 file)
  .tbd/data-sync/issues/is-01kf7585p0257rymywxcnrhk6j.md
Due: format

tbd sync: 2026-01-17T23-48-22 (2 files)
  .tbd/data-sync/issues/is-01kf75hywftm5ztn25z8h82gta.md
  .tbd/data-sync/issues/is-01kf75j5gj5yszfkr5d4qjgsyg.md
Due: format

docs: Updated designs and specs.
  docs/project/architecture/current/arch-cli-interface-design-system.md
  docs/project/architecture/current/tbd-full-design-v3.md
  docs/project/specs/active/plan-2026-01-17-cli-output-design-system.md
  docs/tbd-design.md
  packages/tbd-cli/src/cli/commands/prime.ts
Due: format, lint, typecheck

tbd sync: 2026-01-17T23-59-35 (24 files)
  .tbd/data-sync/issues/is-01kf765bthdym57bcth9b15yq5.md
  .tbd/data-sync/issues/is-01kf76664st5tb1eahc5ewct9j.md
  .tbd/data-sync/issues/is-01kf766a6gvx2g2e4b4mjj8d21.md
  .tbd/data-sync/issues/is-01kf766e4362pza8fp4632xhn0.md
  .tbd/data-sync/issues/is-01kf766hr946ya80ncb2af9nfj.md
  .tbd/data-sync/issues/is-01kf766nmdv81zt9ga123dv4ba.md
  .tbd/data-sync/issues/is-01kf767g4r8cr5b6aht6baydyv.md
  .tbd/data-sync/issues/is-01kf767m3std2p4jv6eqpkhkm4.md
  .tbd/data-sync/issues/is-01kf767st5t4r9g730v0ckv5rs.md
  .tbd/data-sync/issues/is-01kf767xb0xmr2mkr2ya5tdrz7.md
  .tbd/data-sync/issues/is-01kf76812e1xw2gms9b11eah5h.md
  .tbd/data-sync/issues/is-01kf768rykdxz3wfkfrpkpwyap.md
  .tbd/data-sync/issues/is-01kf768xdkzpay8fh9bhch3bap.md
  .tbd/data-sync/issues/is-01kf76921k0q4xe5fj8ytfd9me.md
  .tbd/data-sync/issues/is-01kf7695ypkbqrv4crx4m1mbcd.md
  .tbd/data-sync/issues/is-01kf7699vwk8b090v4a94mhq3v.md
  .tbd/data-sync/issues/is-01kf769dtxqxg7hz344bf4v312.md
  .tbd/data-sync/issues/is-01kf769hdezqkf4kjsztxxdjj9.md
  .tbd/data-sync/issues/is-01kf76a3cr49q8s2e7fx9g3cav.md
  .tbd/data-sync/issues/is-01kf76a7stj5mdtn18eferj2fh.md
  .tbd/data-sync/issues/is-01kf76ab46rvhgrnzn44cc6s28.md
  .tbd/data-sync/issues/is-01kf76aektgfvqz3zecfh97bt2.md
  .tbd/data-sync/issues/is-01kf76ajzrk17tp5264ar9s1p8.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T00-02-30 (7 files)
  .tbd/data-sync/issues/is-01kf76a3cr49q8s2e7fx9g3cav.md
  .tbd/data-sync/issues/is-01kf76a7stj5mdtn18eferj2fh.md
  .tbd/data-sync/issues/is-01kf76ab46rvhgrnzn44cc6s28.md
  .tbd/data-sync/issues/is-01kf76aektgfvqz3zecfh97bt2.md
  .tbd/data-sync/issues/is-01kf76ajzrk17tp5264ar9s1p8.md
  .tbd/data-sync/issues/is-01kf76hdz4wgn6teghzv2dj2h1.md
  .tbd/data-sync/mappings/ids.yml
Due: format

docs: Add CLI output design system improvements
  docs/project/architecture/current/arch-cli-interface-design-system.md
  docs/project/architecture/current/tbd-full-design-v3.md
  docs/project/specs/active/plan-2026-01-17-cli-output-design-system.md
  docs/tbd-design.md
Due: format

docs: Add project repo link to tbd-design.md and tbd-docs.md
  docs/tbd-design.md
  docs/tbd-docs.md
Due: format

refactor: Update all tbd-design-v3.md references to tbd-full-design.md
  README.md
  docs/development.md
  docs/project/architecture/current/arch-testing.md
  docs/project/research/current/research-running-claude-code.md
  docs/project/retrospectives/retro-2026-01-16-worktree-architecture-not-implemented.md
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
  packages/tbd-cli/src/cli/commands/attic.ts
  packages/tbd-cli/src/cli/commands/blocked.ts
  packages/tbd-cli/src/cli/commands/close.ts
  packages/tbd-cli/src/cli/commands/config.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/dep.ts
  packages/tbd-cli/src/cli/commands/doctor.ts
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/init.ts
  packages/tbd-cli/src/cli/commands/label.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/cli/commands/prime.ts
  packages/tbd-cli/src/cli/commands/ready.ts
  packages/tbd-cli/src/cli/commands/reopen.ts
  packages/tbd-cli/src/cli/commands/search.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/src/cli/commands/show.ts
  packages/tbd-cli/src/cli/commands/stale.ts
  packages/tbd-cli/src/cli/commands/stats.ts
  packages/tbd-cli/src/cli/commands/status.ts
  packages/tbd-cli/src/cli/commands/sync.ts
  packages/tbd-cli/src/cli/commands/update.ts
  packages/tbd-cli/src/file/config.ts
  packages/tbd-cli/src/file/git.ts
  packages/tbd-cli/src/file/hash.ts
  packages/tbd-cli/src/file/idMapping.ts
  packages/tbd-cli/src/file/parser.ts
  packages/tbd-cli/src/file/storage.ts
  packages/tbd-cli/src/lib/ids.ts
  packages/tbd-cli/src/lib/schemas.ts
  packages/tbd-cli/tests/merge.test.ts
Due: format, lint, typecheck

fix: Exit codes return non-zero on errors (tbd-wyy6)
  packages/tbd-cli/src/cli/commands/attic.ts
  packages/tbd-cli/src/cli/commands/blocked.ts
  packages/tbd-cli/src/cli/commands/close.ts
  packages/tbd-cli/src/cli/commands/config.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/dep.ts
  packages/tbd-cli/src/cli/commands/design.ts
  packages/tbd-cli/src/cli/commands/docs.ts
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/init.ts
  packages/tbd-cli/src/cli/commands/label.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/cli/commands/readme.ts
  packages/tbd-cli/src/cli/commands/ready.ts
  packages/tbd-cli/src/cli/commands/reopen.ts
  packages/tbd-cli/src/cli/commands/search.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/src/cli/commands/show.ts
  packages/tbd-cli/src/cli/commands/stale.ts
  packages/tbd-cli/src/cli/commands/stats.ts
  packages/tbd-cli/src/cli/commands/sync.ts
  packages/tbd-cli/src/cli/commands/uninstall.ts
  packages/tbd-cli/src/cli/commands/update.ts
  packages/tbd-cli/tests/exit-codes.test.ts
Due: format, lint, typecheck

tbd sync: 2026-01-18T01-04-16 (1 file)
  .tbd/data-sync/issues/is-01kf767m3std2p4jv6eqpkhkm4.md
Due: format

tbd sync: 2026-01-18T01-05-38 (1 file)
  .tbd/data-sync/issues/is-01kf767m3std2p4jv6eqpkhkm4.md
Due: format

docs: Clarify that tbd sync handles all git operations automatically
  README.md
  docs/tbd-design.md
  docs/tbd-docs.md
  packages/tbd-cli/src/cli/commands/prime.ts
Due: format, lint, typecheck

feat: Add tbd beads command for safe Beads migration
  docs/project/architecture/current/arch-cli-interface-design-system.md
  docs/project/architecture/current/tbd-full-design.md
  docs/project/specs/active/plan-2026-01-17-beads-migration.md
  docs/project/specs/active/plan-2026-01-17-cli-output-design-system.md
  packages/tbd-cli/src/cli/cli.ts
  packages/tbd-cli/src/cli/commands/beads.ts
  packages/tbd-cli/tests/cli-beads.tryscript.md
  packages/tbd-cli/tests/cli-setup-commands.tryscript.md
Due: format, lint, typecheck

tbd sync: 2026-01-18T01-30-50 (2 files)
  .tbd/data-sync/issues/is-01kf7b3trfp2yrb75ggkmnqjyc.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T01-38-18 (3 files)
  .tbd/data-sync/issues/is-01kf746eqah0vy45wrfdax9z24.md
  .tbd/data-sync/issues/is-01kf7c0akmxrs9e3ngvv2zz9ys.md
  .tbd/data-sync/mappings/ids.yml
Due: format

feat: Add Flowmark for markdown formatting (tbd-7prb)
  docs/project/architecture/current/tbd-full-design.md
  docs/tbd-design.md
  package.json
Due: format

tbd sync: 2026-01-18T03-17-09 (3 files)
  .tbd/data-sync/issues/is-01kf7hnha4ytvrx9c470qypj3d.md
  .tbd/data-sync/issues/is-01kf7hnzdpcrp8db39nxemw8ej.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T03-19-37 (4 files)
  .tbd/data-sync/issues/is-01kf7hsjh9n11zpty12bnn6nqg.md
  .tbd/data-sync/issues/is-01kf7hszjstaa0cn5jsnzskr75.md
  .tbd/data-sync/issues/is-01kf7htgqhy36w25mnk7c6qwqs.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T03-21-07 (3 files)
  .tbd/data-sync/issues/is-01kf7hnha4ytvrx9c470qypj3d.md
  .tbd/data-sync/issues/is-01kf7hx5ysfrbynw0cf54x6brb.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T03-27-52 (2 files)
  .tbd/data-sync/issues/is-01kf7ja1t52p7kt5mrvskzn91d.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T03-36-27 (8 files)
  .tbd/data-sync/issues/is-01kf7jpgvqv651s3pb0anzwj7h.md
  .tbd/data-sync/issues/is-01kf7jpth5vavmxs8xw0n7qmr2.md
  .tbd/data-sync/issues/is-01kf7jpv6er5qrxnxzzwmd726r.md
  .tbd/data-sync/issues/is-01kf7jpvpvhc1649k5z2h7bkrx.md
  .tbd/data-sync/issues/is-01kf7jpw6kbcm7ytaxq99wbn9q.md
  .tbd/data-sync/issues/is-01kf7jr93haj0pa28dftbz2g9a.md
  .tbd/data-sync/issues/is-01kf7jsqfgsabx96t6xsgw3psv.md
  .tbd/data-sync/mappings/ids.yml
Due: format

tbd sync: 2026-01-18T03-39-13 (2 files)
  .tbd/data-sync/issues/is-01kf7jr93haj0pa28dftbz2g9a.md
  .tbd/data-sync/issues/is-01kf7jsqfgsabx96t6xsgw3psv.md
Due: format

tbd sync: 2026-01-18T03-56-46 (2 files)
  .tbd/data-sync/issues/is-01kf766hr946ya80ncb2af9nfj.md
  .tbd/data-sync/issues/is-01kf76812e1xw2gms9b11eah5h.md
Due: format

fix: Add .gitattributes handling and auto-detect prefix on import
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/src/lib/ids.ts
  packages/tbd-cli/tests/cli-beads.tryscript.md
  packages/tbd-cli/tests/ids.test.ts
Due: format, lint, typecheck

docs: Update plan spec to match architecture doc and organize subtasks for beads
  docs/project/specs/active/plan-2026-01-17-cli-output-design-system.md
Due: format

fix: Resolve multiple tbd CLI bugs
  packages/tbd-cli/src/cli/cli.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/dep.ts
  packages/tbd-cli/src/cli/commands/doctor.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/cli/commands/update.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml,md}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
