Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs(guidelines): cover Anthropic plugin marketplaces in skill guide
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs(guidelines): add channels-at-a-glance comparison table to §6.8
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs(spec): rescope multi-agent setup to --surfaces selector; correct status
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

tbd sync: 2026-06-03T02-14-31 (1 file)
  .tbd/data-sync/issues/is-01ksdpr4q999zpz14nqmv3ycpz.md
Due: format-md

process: Add plan spec for #155 structured bead merge in tbd sync
  docs/project/specs/active/plan-2026-06-03-tbd-sync-structured-bead-merge.md
Due: format-md

fix: Union-merge child_order_hints to stop losing child wiring (#155)
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/file/git.ts
  packages/tbd/tests/merge.test.ts
Due: format, format-md, lint, typecheck

feat: Add mergeBeadAcrossRefs structured three-way merge for beads (#155)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/merge-refs.test.ts
Due: format, lint, typecheck

fix: Resolve sync merge conflicts via structured bead merge (#155)
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

fix: Use structured bead merge in push-retry callback (#155)
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

fix: Fail loudly when sync leaves a bead unparseable (#155)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/tests/sync-fail-loud.test.ts
Due: format, lint, typecheck

fix: stabilize plugin marketplace guideline PR
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-06-03T02-51-38 (2 files)
  .tbd/data-sync/issues/is-01kt5ns1txspf3je500w3xay45.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: Add e2e coverage for #155 concurrent epic merge
  packages/tbd/tests/cli-sync-concurrent-epic-155.tryscript.md
  packages/tbd/tests/merge-refs.test.ts
Due: format, format-md, lint, typecheck

docs: add badged implementation map for --surfaces selector (PR #156)
  docs/project/architecture/current/impl-map-2026-06-03-setup-surfaces-selector.md
Due: format-md

docs: sync setup surfaces spec bead status
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

tbd sync: 2026-06-03T03-08-27 (2 files)
  .tbd/data-sync/issues/is-01kt5q17cm9b1yas3y7nc6e8wh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Make union merge null-safe for child_order_hints (#155)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/merge.test.ts
Due: format, lint, typecheck

fix: Distinguish missing bead from corrupt bead in ref merge (#155)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/merge-refs.test.ts
Due: format, lint, typecheck

feat(setup): replace per-agent flags with a --surfaces selector + registry
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/tests/cli-beads.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/gitignore-policy.test.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

fix: Push-retry integrates remote into sync branch before retrying (#155)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-push-retry-155.tryscript.md
Due: format, format-md, lint, typecheck

test: Add e2e CLI regression for fail-loud sync on corrupt bead (#155)
  packages/tbd/tests/cli-sync-fail-loud-155.tryscript.md
Due: format-md

docs: Update #155 spec status/checklist and version wording (PR #157 review)
  docs/project/specs/active/plan-2026-06-03-tbd-sync-structured-bead-merge.md
Due: format-md

docs: reconcile setup-surfaces map with landed PR #156 implementation
  docs/project/architecture/current/impl-map-2026-06-03-setup-surfaces-selector.md
Due: format-md

process: Add plan spec for #158 unrelated-rescue dirty-worktree fix
  docs/project/specs/active/plan-2026-06-03-unrelated-rescue-dirty-worktree.md
Due: format-md

fix: Rescue tolerates a dirty sync worktree instead of refusing (#158)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/rescue-dirty-worktree.test.ts
  packages/tbd/tests/rescue-divergence.test.ts
Due: format, lint, typecheck

fix: Don't suggest 'tbd sync' for unrelated-history divergence (#158)
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/doctor-unrelated.test.ts
Due: format, lint, typecheck

test: e2e for unrelated+dirty rescue; robust foreign-path check (#158)
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-unrelated-dirty-rescue-158.tryscript.md
Due: format, format-md, lint, typecheck

test: Assert tbd sync exits non-zero on unrelated histories (#158)
  packages/tbd/tests/cli-sync-unrelated-rescue.tryscript.md
Due: format-md

fix: Exit non-zero on a push failure that wasn't saved to outbox (#158)
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/tests/cli-sync-push-failure-exit-code-158.tryscript.md
  packages/tbd/tests/cli-sync.tryscript.md
Due: format, format-md, lint, typecheck

docs: Mark #158 spec implemented; check off the plan
  docs/project/specs/active/plan-2026-06-03-unrelated-rescue-dirty-worktree.md
Due: format-md

test: Write MERGE_HEAD directly to simulate merge-in-progress (#158)
  packages/tbd/tests/rescue-dirty-worktree.test.ts
Due: format, lint, typecheck

chore: install repren agent skill (.agents and .claude surfaces)
  .agents/skills/repren/SKILL.md
Due: format-md

docs: consolidate eng guidelines into general-eng-agent-principles
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  CLAUDE.md
  package.json
  packages/tbd/docs/guidelines/general-eng-agent-principles.md
  packages/tbd/docs/guidelines/general-eng-assistant-rules.md
  packages/tbd/docs/guidelines/general-engineering-principles.md
Due: format, format-md

fix: Surface worktree auto-heal at the point of use on read/create (#135)
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/lib/data-context.ts
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/cli-sync-missing-worktree-135.tryscript.md
Due: format, format-md, lint, typecheck

test: Count ids.yml entries by ULID value, not key (fix brittle assertion)
  packages/tbd/tests/cli-workspace-save.tryscript.md
Due: format-md

docs: Update stale dirty-worktree rescue precondition (PR #160 review)
  docs/project/specs/active/plan-2026-05-29-tbd-sync-unrelated-history-hardening.md
  packages/tbd/src/file/git.ts
Due: format, format-md, lint, typecheck

docs: add research on Clerk/Render/Convex agent-skill & CLI packaging practices
  docs/project/research/current/research-agent-skill-cli-practices-clerk-render-convex.md
Due: format-md

docs: merge GitLab (glab) into agent-skill & CLI packaging research
  docs/project/research/current/research-agent-skill-cli-practices-clerk-render-convex.md
Due: format-md

docs: add research on how coding agents monitor issues
  docs/project/research/current/research-2026-06-04-agent-issue-monitors.md
Due: format-md
