Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd sync: 2026-08-12T08-57-29 (5 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kztafk7n89b2jsbcwrdz677v.md
  .tbd/data-sync/issues/is-01kztakhjkajzh9hj9gjv6wyf6.md
  .tbd/data-sync/issues/is-01kzthhg94pckc5ag8txeq1bem.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): finish live viewer merge hardening
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/web.ts
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/lockfile-acquisition-race.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/web-server.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T09-37-55 (3 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kztm8q8ykq7hsr0wyq5bfdt7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-12T09-47-15 (2 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kztm8q8ykq7hsr0wyq5bfdt7.md
Due: format-md

test(ci): harden subprocess integration budgets
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/corrupted-data.test.ts
  packages/tbd/tests/golden-output.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/spec-inherit.test.ts
  packages/tbd/tests/specs-flag.test.ts
  packages/tbd/tests/test-helpers.ts
Due: format, lint, typecheck

tbd sync: 2026-08-12T17-21-53 (23 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzvbjadd348ch672sr9zfwrr.md
  .tbd/data-sync/issues/is-01kzvc3mq2399g5yn0ah1qkfnh.md
  .tbd/data-sync/issues/is-01kzvcmhx1ekhfm2xjhxs6qdxp.md
  .tbd/data-sync/issues/is-01kzvcny0tgwnqjqsgs2hfbd87.md
  .tbd/data-sync/issues/is-01kzvcpyjh6rk9dwwny64c0syt.md
  .tbd/data-sync/issues/is-01kzvd0vsb24vaxb54cds65y7t.md
  .tbd/data-sync/issues/is-01kzvd0vt3z5k3prdwkxayxath.md
  .tbd/data-sync/issues/is-01kzvd1d9tgj7gt932e8wgaf2c.md
  .tbd/data-sync/issues/is-01kzvd918pwt3fs3a65kxbbyaq.md
  .tbd/data-sync/issues/is-01kzvd91kjpt6jydw21wr0cxa9.md
  .tbd/data-sync/issues/is-01kzvdd4maa35vapp0dwed7hzd.md
  .tbd/data-sync/issues/is-01kzvddwyxkfhns5k90b6szd9e.md
  .tbd/data-sync/issues/is-01kzvdg5qtx8e95hmd4f2e1p3s.md
  .tbd/data-sync/issues/is-01kzvdq9msrp5vzmkwq7921bb4.md
  .tbd/data-sync/issues/is-01kzvdryepvn3z17ctztw59bbz.md
  .tbd/data-sync/issues/is-01kzvdvegnze8rh8mzt9m4msry.md
  .tbd/data-sync/issues/is-01kzve129mjd23tw6x4nnf67v6.md
  .tbd/data-sync/issues/is-01kzve12mwmp0jjbva56gen07x.md
  .tbd/data-sync/issues/is-01kzve1v1k16v0yqykh5v6hfsz.md
  .tbd/data-sync/issues/is-01kzve4ked3qj7sph0zhadrdfr.md
  .tbd/data-sync/issues/is-01kzvengx0dmgsmmrb9my3gnwy.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): refine live viewer design system
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/src/lib/status-icons.ts
  packages/tbd/src/lib/status.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/status.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T17-52-41 (8 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzvg7e6xrsjjg13ya1e8mgk8.md
  .tbd/data-sync/issues/is-01kzvg7erezahwkze1bb9dt8kp.md
  .tbd/data-sync/issues/is-01kzvg7mzrhqy5m7a70qw0gn6e.md
  .tbd/data-sync/issues/is-01kzvg7rjy8c7nzsyhh2yv4ed7.md
  .tbd/data-sync/issues/is-01kzvg7v6t0c8yrpzhd912nq1q.md
  .tbd/data-sync/issues/is-01kzvg7w65mdy9828pfetqs2gh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): finish live viewer acceptance polish
  README.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T18-10-10 (3 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzvjg4dmfp0et6f440nppjd1.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(web): normalize CSS fixtures across platforms
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/bead-web-css.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T18-29-33 (4 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzvkfsfcxtxccznpbbmc12j3.md
  .tbd/data-sync/issues/is-01kzvkfsv3ws9txybrjg09j8f4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): address late review polish
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
Due: format, format-md, lint, typecheck

test: stabilize Git history integration on Windows
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T18-51-11 (3 files)
  .tbd/data-sync/issues/is-01kzsrmw0y6dtbbg849384y6a4.md
  .tbd/data-sync/issues/is-01kzvme1a7kfgat6pq0dd27p43.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-12T19-41-12 (2 files)
  .tbd/data-sync/issues/is-01kzvqvbm2twj1rqff8h9hwp8v.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: harden front matter before release
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/file/doc-fork.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/utils/gray-matter.ts
  packages/tbd/src/utils/markdown-utils.ts
  packages/tbd/tests/cli-edge-cases.tryscript.md
  packages/tbd/tests/doc-categories.test.ts
  packages/tbd/tests/gray-matter.test.ts
  packages/tbd/tests/markdown-utils.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T23-38-25 (7 files)
  .tbd/data-sync/issues/is-01kzq7dqydwdtjncfp9ya5dyjc.md
  .tbd/data-sync/issues/is-01kzvqvbm2twj1rqff8h9hwp8v.md
  .tbd/data-sync/issues/is-01kzvr00wp6yqv6cbhgagx0ve8.md
  .tbd/data-sync/issues/is-01kzvr0jwhcp4j11v2e7kws9t7.md
  .tbd/data-sync/issues/is-01kzvrj7jmbtbxdjjatz2hegt7.md
  .tbd/data-sync/issues/is-01kzvrve6thxf2fxbs7tyd3jsp.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: normalize front matter on Windows
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/typescript-yaml-handling-rules.md
  packages/tbd/src/utils/gray-matter.ts
  packages/tbd/tests/gray-matter.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-12T23-58-50 (5 files)
  .tbd/data-sync/issues/is-01kzvr00wp6yqv6cbhgagx0ve8.md
  .tbd/data-sync/issues/is-01kzvr0jwhcp4j11v2e7kws9t7.md
  .tbd/data-sync/issues/is-01kzvrj7jmbtbxdjjatz2hegt7.md
  .tbd/data-sync/issues/is-01kzw5q9x7mkxm6ejw59aj5ay3.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): stabilize board columns and show update age
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-13T00-19-20 (5 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzw6ynhk7g7547xaw43pm26g.md
  .tbd/data-sync/issues/is-01kzw6ynzeydde58fa6q97xnwr.md
  .tbd/data-sync/issues/is-01kzw6ypc6h8pkjs1hdaqtpyxw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): keep age labels within tier boundaries
  packages/tbd/src/web/core.ts
  packages/tbd/tests/web-core.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-13T00-36-28 (3 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzw8ee5x53dqyske7ycvzkyc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(web): add label facets and composable sorting
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/performance.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T02-44-25 (10 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzw93e83wnk699cjem1wz76c.md
  .tbd/data-sync/issues/is-01kzw93emdr4zjsfatr6t9vp73.md
  .tbd/data-sync/issues/is-01kzw95g87hwwn7bbx77x0atf1.md
  .tbd/data-sync/issues/is-01kzw99hbw2k6nj9dgqsd09xq8.md
  .tbd/data-sync/issues/is-01kzwem8emw6k4797akbkdq4xb.md
  .tbd/data-sync/issues/is-01kzwfnmysbzgmvne4sk4tm2py.md
  .tbd/data-sync/issues/is-01kzwfnmyscjkk1g4p1hh99r8j.md
  .tbd/data-sync/issues/is-01kzwfnmytmhxaeacngc8dj94h.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): sort updates chronologically
  packages/tbd/src/cli/web/board.ts
  packages/tbd/tests/web-board.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-13T03-07-23 (3 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzwh1kn32yy2c68xex09h9kz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(web): finalize live board interactions
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/lib/issue-query.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T04-07-04 (19 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzwhjmqn2ze00p37sajpg061.md
  .tbd/data-sync/issues/is-01kzwhnrwjwft3jxnmtcfe4r1c.md
  .tbd/data-sync/issues/is-01kzwhqdqw1pctnke33z07ffbh.md
  .tbd/data-sync/issues/is-01kzwhqw5tdp3hkrxt2yy3tw9q.md
  .tbd/data-sync/issues/is-01kzwhtrz43jsna99fmma7vcyg.md
  .tbd/data-sync/issues/is-01kzwhzjtedsjb2p5bs1qgx3qj.md
  .tbd/data-sync/issues/is-01kzwj3a66jtae68g448dn8cph.md
  .tbd/data-sync/issues/is-01kzwj40j5ws6dgganzmg24etj.md
  .tbd/data-sync/issues/is-01kzwj62hcm12f1gw1mg1pk8tb.md
  .tbd/data-sync/issues/is-01kzwj7jw5w3qs8yvartsrapbt.md
  .tbd/data-sync/issues/is-01kzwjy79znqd0j5b2tv3k2dmz.md
  .tbd/data-sync/issues/is-01kzwk0xk5t3h24fjtav4d6gxc.md
  .tbd/data-sync/issues/is-01kzwk40tw6g8yamztkd90h0tf.md
  .tbd/data-sync/issues/is-01kzwkc7r2x86tqs16dxe7gchp.md
  .tbd/data-sync/issues/is-01kzwkc85hwnegxgv0bsk0fa8j.md
  .tbd/data-sync/issues/is-01kzwkf94ttfwv36p51yvb0ypx.md
  .tbd/data-sync/issues/is-01kzwkh4wffsgaazgq9q8857j5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): simplify pretty tree markers
  README.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/styles.css
  packages/tbd/tests/web-board.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T05-16-27 (3 files)
  .tbd/data-sync/issues/is-01kzw6y8ppmp6bt6nd8tgmmspn.md
  .tbd/data-sync/issues/is-01kzwncnacxdgc25p0e4ycrhf8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T05-59-38 (2 files)
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-13T06-29-45 (23 files)
  .tbd/data-sync/issues/is-01kytgsy0fm7e06v9pt0bdx6db.md
  .tbd/data-sync/issues/is-01kzq7dqydwdtjncfp9ya5dyjc.md
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
  .tbd/data-sync/issues/is-01kzwvyhf0nxst38htqs5eday3.md
  .tbd/data-sync/issues/is-01kzwvyj4932csgk8945fy1jnt.md
  .tbd/data-sync/issues/is-01kzwvyjj53xz4mw9t0cfdkppb.md
  .tbd/data-sync/issues/is-01kzwvyk4jq0kwe5gfm9yvrz13.md
  .tbd/data-sync/issues/is-01kzwvykgjy83x75qwycq14a6d.md
  .tbd/data-sync/issues/is-01kzwvykw482c2wyh4rnxjp9xr.md
  .tbd/data-sync/issues/is-01kzwvym7hwt6fnwdym126tf4b.md
  .tbd/data-sync/issues/is-01kzwvymmkpcn3rg7tfz4dhqc1.md
  .tbd/data-sync/issues/is-01kzwvyn1qxa2xfkdfab972bpj.md
  .tbd/data-sync/issues/is-01kzwvynhtm54mj9qc2ekjh7p3.md
  .tbd/data-sync/issues/is-01kzwvynxfzpa7fzxstea6e3p7.md
  .tbd/data-sync/issues/is-01kzwvypa2db1rwdk8e9cchg5r.md
  .tbd/data-sync/issues/is-01kzwvyppbs0vtspye00zd1fv9.md
  .tbd/data-sync/issues/is-01kzwvyq6988xtfp7c4j2wqa5p.md
  .tbd/data-sync/issues/is-01kzwvyqjtysfg4x9p9frwtz4k.md
  .tbd/data-sync/issues/is-01kzwvyqzq6d8br4tsp3btcc93.md
  .tbd/data-sync/issues/is-01kzwvyre03nd8qw5f38bcgy84.md
  .tbd/data-sync/issues/is-01kzwvyrwdtwhynwdf1fbgjhzx.md
  .tbd/data-sync/issues/is-01kzwvys9htjwc8hhnay85hmp5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(web): address final review findings
  README.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/web/board.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/src/web/index.html
  packages/tbd/src/web/styles.css
  packages/tbd/tests/bead-web-css.test.ts
  packages/tbd/tests/gray-matter.test.ts
  packages/tbd/tests/web-board.test.ts
  packages/tbd/tests/web-core.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T06-35-30 (1 file)
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
Due: format-md

feat(web): support explicit repository paths
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/welcome-user.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/web.ts
  packages/tbd/src/web/client.ts
  packages/tbd/src/web/core.ts
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/cli-web.tryscript.md
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/web-core.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-13T07-16-18 (7 files)
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
  .tbd/data-sync/issues/is-01kzwxnc2yv7vhm5x9qs144401.md
  .tbd/data-sync/issues/is-01kzwxncgye1fnzyx74y121kmw.md
  .tbd/data-sync/issues/is-01kzwxncwfac3cb7dwq0mwcyz4.md
  .tbd/data-sync/issues/is-01kzwz4atct5y527y9tx2mxbms.md
  .tbd/data-sync/issues/is-01kzwz4b7a8w3ekcx9r6yx85k6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test(git): harden temporary repo cleanup
  packages/tbd/tests/merge-refs.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-13T07-39-36 (3 files)
  .tbd/data-sync/issues/is-01kzwv4rgyczfrw9dbxfw9f7x2.md
  .tbd/data-sync/issues/is-01kzx0g7w12vqnv0b8a8svx851.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
