Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: Reconcile v0.9.0 plans and release status
  TODO.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-16T18-27-54 (4 files)
  .tbd/data-sync/issues/is-01m2nqj2g2yvyrcxt8wrgqwxeb.md
  .tbd/data-sync/issues/is-01m2nqjhg00byw04kma53r1ekb.md
  .tbd/data-sync/issues/is-01m2nqjj72y0s3wk8bn14wwzn6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T18-28-37 (2 files)
  .tbd/data-sync/issues/is-01m2nqmac4q7hwa4k8628x5yya.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T18-32-12 (3 files)
  .tbd/data-sync/issues/is-01m1d1tam7230zrcj70ecmkt8b.md
  .tbd/data-sync/issues/is-01m2nqtwk7sa6nfjta8s3r7hy4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: Make gh-stack installer checks Windows-safe
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-16T18-34-05 (1 file)
  .tbd/data-sync/issues/is-01m2nqmac4q7hwa4k8628x5yya.md
Due: format-md

tbd sync: 2026-09-16T18-36-08 (2 files)
  .tbd/data-sync/issues/is-01m2nqjhg00byw04kma53r1ekb.md
  .tbd/data-sync/issues/is-01m2nqjj72y0s3wk8bn14wwzn6.md
Due: format-md

tbd sync: 2026-09-16T18-39-59 (2 files)
  .tbd/data-sync/issues/is-01m2nr92ja7h9gdrk8x38cxhn5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T18-42-14 (1 file)
  .tbd/data-sync/issues/is-01m2nr92ja7h9gdrk8x38cxhn5.md
Due: format-md

tbd sync: 2026-09-16T18-43-19 (1 file)
  .tbd/data-sync/issues/is-01m2nqj2g2yvyrcxt8wrgqwxeb.md
Due: format-md

tbd sync: 2026-09-16T18-45-51 (1 file)
  .tbd/data-sync/issues/is-01m2nkqsb7pa19qa62h1vr4hf6.md
Due: format-md

fix: Complete stacked PR workflow guidance
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/tests/ensure-gh-cli-script.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/setup-flows.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-16T18-54-38 (3 files)
  .tbd/data-sync/issues/is-01m1d1tam7230zrcj70ecmkt8b.md
  .tbd/data-sync/issues/is-01m2nqmac4q7hwa4k8628x5yya.md
  .tbd/data-sync/issues/is-01m2nqtwk7sa6nfjta8s3r7hy4.md
Due: format-md

tbd integration: journal
  .tbd/data-sync/bridge/linear/intents/01m2nsb32kgne774n3trnc4nfk.yml
Due: format

tbd integration: sync
  .tbd/data-sync/bridge/linear/intents/01m2nsb32kgne774n3trnc4nfk.yml
  .tbd/data-sync/bridge/linear/links/is-01m0es4z70jsnf8e7gna1sskbn.yml
  .tbd/data-sync/bridge/linear/links/is-01m14z0nr8gaygh727ysr134qc.yml
  .tbd/data-sync/bridge/linear/links/is-01m1d1tam7230zrcj70ecmkt8b.yml
  .tbd/data-sync/bridge/linear/links/is-01m1yzwv5hxya72fgnk91pb3gv.yml
  .tbd/data-sync/bridge/linear/links/is-01m2eseh97vth3cpm35m074faf.yml
  .tbd/data-sync/bridge/linear/links/is-01m2kfdwg1v0yk4zt6zrz7h6eq.yml
Due: format

tbd sync: 2026-09-16T19-04-46 (2 files)
  .tbd/data-sync/issues/is-01m2nsppfey9h9gs6v884vbprm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T19-05-08 (1 file)
  .tbd/data-sync/issues/is-01m2nsppfey9h9gs6v884vbprm.md
Due: format-md

process: define Rust CLI terminal behavior
  packages/tbd/docs/guidelines/rust-cli-rules.md
Due: format-md

docs: Record reviewed PR merges
  TODO.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
Due: format-md

test: launch Git Bash portably on Windows
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-16T19-23-30 (1 file)
  .tbd/data-sync/issues/is-01m2nkqsb7pa19qa62h1vr4hf6.md
Due: format-md

tbd sync: 2026-09-16T19-28-38 (4 files)
  .tbd/data-sync/issues/is-01m0ph6ehhhryj0z52a1c3b3rv.md
  .tbd/data-sync/issues/is-01m2nsppfey9h9gs6v884vbprm.md
  .tbd/data-sync/issues/is-01m2nt87mc2jz7fc7x41j385r8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: mock uname reliably in Git Bash
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-16T19-31-15 (1 file)
  .tbd/data-sync/issues/is-01m2nt87mc2jz7fc7x41j385r8.md
Due: format-md

test: mock Git Bash commands as functions
  packages/tbd/tests/ensure-gh-cli-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-16T19-53-11 (1 file)
  .tbd/data-sync/issues/is-01m2nt87mc2jz7fc7x41j385r8.md
Due: format-md

tbd sync: 2026-09-16T19-55-19 (1 file)
  .tbd/data-sync/issues/is-01m2nt87mc2jz7fc7x41j385r8.md
Due: format-md

tbd sync: 2026-09-16T20-10-08 (2 files)
  .tbd/data-sync/issues/is-01m2nxdzqc6zc727gwaggk0bjh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T20-20-29 (1 file)
  .tbd/data-sync/issues/is-01m2nxdzqc6zc727gwaggk0bjh.md
Due: format-md

tbd sync: 2026-09-16T20-27-22 (2 files)
  .tbd/data-sync/issues/is-01m2nydp2kcccsthtdjnecnhbb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T20-36-11 (1 file)
  .tbd/data-sync/issues/is-01m2nydp2kcccsthtdjnecnhbb.md
Due: format-md

tbd sync: 2026-09-16T21-43-55 (2 files)
  .tbd/data-sync/issues/is-01m2p2sn2bwn7fgsfaa3wfwcdz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T21-54-10 (2 files)
  .tbd/data-sync/issues/is-01m2p3ctq9jbm4q4z8mq45aj9f.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-16T21-54-54 (1 file)
  .tbd/data-sync/issues/is-01m2p3ctq9jbm4q4z8mq45aj9f.md
Due: format-md

tbd sync: 2026-09-16T22-00-54 (1 file)
  .tbd/data-sync/issues/is-01m2p3ctq9jbm4q4z8mq45aj9f.md
Due: format-md

fix: detect dependency cycles in doctor
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/lib/issue-dependency-graph.ts
  packages/tbd/tests/issue-dependency-graph.test.ts
Due: format, format-md, lint, typecheck

fix: repair orphaned dependencies in doctor
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/tests/common-dir-layout-doctor.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-16T22-13-35 (1 file)
  .tbd/data-sync/issues/is-01m2p3ctq9jbm4q4z8mq45aj9f.md
Due: format-md

tbd sync: 2026-09-16T22-22-21 (1 file)
  .tbd/data-sync/issues/is-01m2p2sn2bwn7fgsfaa3wfwcdz.md
Due: format-md

tbd sync: 2026-09-16T22-22-49 (1 file)
  .tbd/data-sync/issues/is-01m2p3ctq9jbm4q4z8mq45aj9f.md
Due: format-md
