Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

research: caching from first principles for sub-agents
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

research: cross-check the caching sections against the API reference
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

docs: Correct sub-agent cache costs and definition-body claims
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format, format-md, lint, typecheck

fix: restore generated Claude agents and their --list golden
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

research: re-verify OpenAI prompt-caching figures
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

docs: Correct OpenAI cache minimums and record the Codex client read
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

docs: correct subagent fork and cache cost comparisons
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

docs: Clarify independent model and reasoning selection
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format-md

tbd sync: 2026-09-21T00-35-29 (3 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m30p722tark0d2bpnx35j8sk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: correct the delegation figures and say what a tier body omits
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

fix: Ignore a node_modules symlink, not only a directory
  .gitignore
Due: none

tbd sync: 2026-09-21T00-45-36 (1 file)
  .tbd/data-sync/issues/is-01m30p722tark0d2bpnx35j8sk.md
Due: format-md

docs: attach the delegation caveats to the claims they qualify
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
Due: format-md

tbd sync: 2026-09-21T02-06-55 (1 file)
  .tbd/data-sync/issues/is-01m2zvqmj6qgzehy5tjw8dw2zc.md
Due: format-md

test: Refresh the guideline size golden for the F6 edits
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format-md

tbd sync: 2026-09-21T02-21-52 (3 files)
  .tbd/data-sync/issues/is-01m2ppwdem47zfrrfhh1rgbvzp.md
  .tbd/data-sync/issues/is-01m30w9ytdjk9yv61yvcq4beag.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-21T02-35-48 (2 files)
  .tbd/data-sync/issues/is-01m30p722tark0d2bpnx35j8sk.md
  .tbd/data-sync/issues/is-01m30w9ytdjk9yv61yvcq4beag.md
Due: format-md

docs(guidelines): name recorded-only digests and identity-before-bytes in the hash-check rule
  packages/tbd/docs/guidelines/general-coding-rules.md
Due: format-md

tbd sync: 2026-09-30T05-56-10 (2 files)
  .tbd/data-sync/issues/is-01m3re458naz8s8bzmczx897w7.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-30T05-59-17 (10 files)
  .tbd/data-sync/issues/is-01m30p2f1q0shk6camavpdygdy.md
  .tbd/data-sync/issues/is-01m3re458naz8s8bzmczx897w7.md
  .tbd/data-sync/issues/is-01m3re9rgxs7ck9jq4cm4hzzy1.md
  .tbd/data-sync/issues/is-01m3re9rxvhrhpxk9vj83bzaq2.md
  .tbd/data-sync/issues/is-01m3re9sb0d419ks3fpe738rn4.md
  .tbd/data-sync/issues/is-01m3re9srb4zq573sgftckbxsh.md
  .tbd/data-sync/issues/is-01m3re9t57p0nwah2sd804mg18.md
  .tbd/data-sync/issues/is-01m3re9thxcstdyf6jbbn10wqa.md
  .tbd/data-sync/issues/is-01m3re9tyyhj4w25tdb2h8dk2w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: address stack review findings and refresh model defaults
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-doc-output.tryscript.md
  packages/tbd/tests/doctor-skill-cache.test.ts
  packages/tbd/tests/managed-artifact-lock.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

research: system prompts and prompt caching for sub-agents
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md

setup: tier agent bodies state no model; docs say what a definition buys
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-30T06-27-38 (7 files)
  .tbd/data-sync/issues/is-01m3re458naz8s8bzmczx897w7.md
  .tbd/data-sync/issues/is-01m3redybwrgsva2ge4mq0tb91.md
  .tbd/data-sync/issues/is-01m3redyrpy2rgbapk9zz85604.md
  .tbd/data-sync/issues/is-01m3redz4hh3zxpbg1z54b0s0f.md
  .tbd/data-sync/issues/is-01m3redzgkwhc7egk3x4a5g70a.md
  .tbd/data-sync/issues/is-01m3ren0pk7gkjdr6mx37bdxe6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: refresh model and cache guidance after stack review
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
  packages/tbd/tests/cli-doc-output.tryscript.md
Due: format-md

tbd sync: 2026-09-30T06-52-05 (12 files)
  .tbd/data-sync/issues/is-01m30p2f1q0shk6camavpdygdy.md
  .tbd/data-sync/issues/is-01m3re458naz8s8bzmczx897w7.md
  .tbd/data-sync/issues/is-01m3re9rgxs7ck9jq4cm4hzzy1.md
  .tbd/data-sync/issues/is-01m3re9rxvhrhpxk9vj83bzaq2.md
  .tbd/data-sync/issues/is-01m3re9sb0d419ks3fpe738rn4.md
  .tbd/data-sync/issues/is-01m3re9srb4zq573sgftckbxsh.md
  .tbd/data-sync/issues/is-01m3re9t57p0nwah2sd804mg18.md
  .tbd/data-sync/issues/is-01m3re9thxcstdyf6jbbn10wqa.md
  .tbd/data-sync/issues/is-01m3redybwrgsva2ge4mq0tb91.md
  .tbd/data-sync/issues/is-01m3redyrpy2rgbapk9zz85604.md
  .tbd/data-sync/issues/is-01m3redz4hh3zxpbg1z54b0s0f.md
  .tbd/data-sync/issues/is-01m3redzgkwhc7egk3x4a5g70a.md
Due: format-md

docs: Add README information-architecture review
  docs/project/reviews/review-2026-09-19-readme-restructure.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
