Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix(watch): give timeout its own exit code, distinct from usage errors
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/changes.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/lib/issue-changes-output.ts
  packages/tbd/tests/cli-watch.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-04T23-47-18 (2 files)
  .tbd/data-sync/issues/is-01kxz3kwxeqkvm82y0k4xxs8br.md
  .tbd/data-sync/issues/is-01ky097y052pk6nhvsj54agzts.md
Due: format-md

docs: refresh stale git.ts line citations in the Linear sync spec
  docs/project/specs/active/plan-2026-07-20-linear-bead-sync-pilot.md
Due: format-md

test: allow slower Windows CLI fixtures in cli-changes
  packages/tbd/tests/cli-changes.test.ts
Due: format, lint, typecheck

chore: drop ephemeral dev-version stamps from .tbd/config.yml
  .tbd/config.yml
Due: format

process: rescope bead-watch spec to infrastructure plan of record
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
Due: format-md

feat(cli): bead watch infrastructure — tbd changes and tbd watch
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  README.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/changes.ts
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/cli/lib/change-selection.ts
  packages/tbd/src/cli/lib/exit-codes.ts
  packages/tbd/src/cli/lib/issue-changes-output.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/change-selection.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-06T16-37-15 (4 files)
  .tbd/data-sync/issues/is-01ky1faet7db4x0ppzt5tryrk1.md
  .tbd/data-sync/issues/is-01kzbyhghkgw70wetew3ffy4cn.md
  .tbd/data-sync/issues/is-01kzbyhsm660v90763b5tr11rk.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-09T18-14-57 (11 files)
  .tbd/data-sync/issues/is-01kyt5yg0s4vkbqyq8n0aa8y4d.md
  .tbd/data-sync/issues/is-01kyt6g63xjpcnpmqsfp42c10k.md
  .tbd/data-sync/issues/is-01kyt6g6eqpeyvg231v9z1dxqj.md
  .tbd/data-sync/issues/is-01kyt6g6sh67zg1kthparnt8c9.md
  .tbd/data-sync/issues/is-01kyt6g73yzf6cg23csb49zzh3.md
  .tbd/data-sync/issues/is-01kyt6g7gh88jtxbvybf6ymznf.md
  .tbd/data-sync/issues/is-01kyt6g7v08kk72pkxavx93adf.md
  .tbd/data-sync/issues/is-01kyt6g85e2t4s5s343fnrsxer.md
  .tbd/data-sync/issues/is-01kyt6g8g5ccapg31t56vzbv0t.md
  .tbd/data-sync/issues/is-01kzktfyvky771ggam7qnj8zjv.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-09T18-50-32 (12 files)
  .tbd/data-sync/issues/is-01kzkw2m9r8zz31np7zzgpdymp.md
  .tbd/data-sync/issues/is-01kzkw39dtpcqhxmd6csqjdszv.md
  .tbd/data-sync/issues/is-01kzkw39tv51h8n8tjcwd6y7we.md
  .tbd/data-sync/issues/is-01kzkw3a6yp1sak52kme7g8dpe.md
  .tbd/data-sync/issues/is-01kzkw3aj3mj3k7w9ageeaj6c8.md
  .tbd/data-sync/issues/is-01kzkw3axjcw502y6y9xsbzkh3.md
  .tbd/data-sync/issues/is-01kzkw3b8p610hety9kgmq1vmb.md
  .tbd/data-sync/issues/is-01kzkw3bkczkgs4185kdmezcz4.md
  .tbd/data-sync/issues/is-01kzkw3byxp6p5wdfmwa3jtjxx.md
  .tbd/data-sync/issues/is-01kzkw3ca57j80b2qx6cfn7p8k.md
  .tbd/data-sync/issues/is-01kzkxevnjgaqkz54zyjvba8n4.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: harden watch infrastructure after review
  .tbd/config.yml
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/bin.ts
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/src/cli/lib/exit-codes.ts
  packages/tbd/src/cli/lib/issue-changes-output.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/sync-branch-changes.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-body-input.tryscript.md
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/exit-codes.test.ts
  packages/tbd/tests/git-exit-code.test.ts
  packages/tbd/tests/issue-changes-output.test.ts
  packages/tbd/tests/issue-changes.test.ts
  packages/tbd/tests/watch-beads-shortcut.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-09T19-09-05 (1 file)
  .tbd/data-sync/issues/is-01kzkw3aj3mj3k7w9ageeaj6c8.md
Due: format-md

fix: support macOS Bash in watch worker
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/tests/watch-beads-shortcut.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-09T19-18-03 (1 file)
  .tbd/data-sync/issues/is-01kzkw3aj3mj3k7w9ageeaj6c8.md
Due: format-md

fix: make watch harness newline agnostic
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/tests/watch-beads-shortcut.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-09T19-27-14 (1 file)
  .tbd/data-sync/issues/is-01kzkw3aj3mj3k7w9ageeaj6c8.md
Due: format-md

test: canonicalize CRLF fixture on Windows
  packages/tbd/tests/watch-beads-shortcut.test.ts
Due: format, lint, typecheck

fix: bound fetched-tip resolution by poll budget
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/tests/bead-watch.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-09T19-38-58 (3 files)
  .tbd/data-sync/issues/is-01kzkw2m9r8zz31np7zzgpdymp.md
  .tbd/data-sync/issues/is-01kzm0f2h25zhbt3jn81p8dt6b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-09T19-49-16 (3 files)
  .tbd/data-sync/issues/is-01kzkw2m9r8zz31np7zzgpdymp.md
  .tbd/data-sync/issues/is-01kzkw3bkczkgs4185kdmezcz4.md
  .tbd/data-sync/issues/is-01kzm0f2h25zhbt3jn81p8dt6b.md
Due: format-md

tbd sync: 2026-08-10T01-47-14 (15 files)
  .tbd/data-sync/issues/is-01kxz3kfz7n7y23n9rzmy28f98.md
  .tbd/data-sync/issues/is-01kxz3kwxeqkvm82y0k4xxs8br.md
  .tbd/data-sync/issues/is-01kxz3kxh9sbve7xjsghe0cpwj.md
  .tbd/data-sync/issues/is-01kxz3ky8wndt84qxx67jyrvze.md
  .tbd/data-sync/issues/is-01kxz3kyvykzh47rrjaqht9rn3.md
  .tbd/data-sync/issues/is-01kxz3mf4ytsqe23z53h0z8c7q.md
  .tbd/data-sync/issues/is-01kxz3mfsysxwdhm0yfwg1sfa6.md
  .tbd/data-sync/issues/is-01kxz3mgdhc9j6ys7brk59z96e.md
  .tbd/data-sync/issues/is-01kxz3mh21qe9fb5pnnraartv9.md
  .tbd/data-sync/issues/is-01kzbyhghkgw70wetew3ffy4cn.md
  .tbd/data-sync/issues/is-01kzbyhsm660v90763b5tr11rk.md
  .tbd/data-sync/issues/is-01kzmm8zqnf8q210etncddjn6h.md
  .tbd/data-sync/issues/is-01kzmm943t45fn4vq1wena9mav.md
  .tbd/data-sync/issues/is-01kzmm9dhgj1ygc3qysrehs66v.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: isolate watch fetches under release QA
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  docs/project/specs/active/valid-2026-08-09-bead-watch-release.md
  package.json
  packages/tbd/package.json
  packages/tbd/scripts/validate-watch-release.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/tests/bead-watch.test.ts
  tests/qa/watch-infrastructure-release.qa.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-10T01-51-09 (1 file)
  .tbd/data-sync/issues/is-01kzmm943t45fn4vq1wena9mav.md
Due: format-md

tbd sync: 2026-08-10T02-41-45 (5 files)
  .tbd/data-sync/issues/is-01kzmm8zqnf8q210etncddjn6h.md
  .tbd/data-sync/issues/is-01kzmm9dhgj1ygc3qysrehs66v.md
  .tbd/data-sync/issues/is-01kzmpyc9j5y853fnrwzvptt8q.md
  .tbd/data-sync/issues/is-01kzmr3vyqrttcgjfzwkbyncgh.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-10T02-48-08 (2 files)
  .tbd/data-sync/issues/is-01kzmm9dhgj1ygc3qysrehs66v.md
  .tbd/data-sync/issues/is-01kzmpyc9j5y853fnrwzvptt8q.md
Due: format-md

test: enforce watch release smoke in CI
  .github/workflows/ci.yml
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/valid-2026-08-09-bead-watch-release.md
  packages/tbd/package.json
  packages/tbd/scripts/validate-watch-release.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  tests/qa/watch-infrastructure-release.qa.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-10T03-00-56 (2 files)
  .tbd/data-sync/issues/is-01kzmm8zqnf8q210etncddjn6h.md
  .tbd/data-sync/issues/is-01kzmpyc9j5y853fnrwzvptt8q.md
Due: format-md

feat(spike): tbd web live bead view, plus shared issue-stats extraction
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/scripts/bead-web.html
  packages/tbd/scripts/bead-web.ts
  packages/tbd/src/cli/commands/stats.ts
  packages/tbd/src/lib/issue-stats.ts
  packages/tbd/tests/bead-web-css.test.ts
Due: format, format-md, lint, typecheck

fix(spike): harden bead-web after technical review; add docs
  docs/development.md
  packages/tbd/CHANGELOG.md
  packages/tbd/scripts/bead-web.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-10T06-18-23 (3 files)
  .tbd/data-sync/issues/is-01kzn47zwk7319adecbtgm3n3p.md
  .tbd/data-sync/issues/is-01kzn54m3f5n1an4asgrf0bfd8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: plan external tracker integrations (Linear first, GitHub next)
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

tbd sync: 2026-08-10T06-37-51 (2 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-10T16-13-55 (1 file)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
Due: format-md

tbd sync: 2026-08-10T16-23-21 (3 files)
  .tbd/data-sync/issues/is-01kzp7rd5ap1sgzqgs3ejdwn5a.md
  .tbd/data-sync/issues/is-01kzp7rf68f3cwjg16bh4x1y42.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: integration foundations (schema, per-namespace extensions merge, core modules)
  .tbd/config.yml
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/credentials.ts
  packages/tbd/src/integrations/core/managed-block.ts
  packages/tbd/src/integrations/core/permalink.ts
  packages/tbd/src/integrations/core/selection.ts
  packages/tbd/src/integrations/core/types.ts
  packages/tbd/src/integrations/linear/mapping.ts
  packages/tbd/src/lib/env-file.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-hierarchy.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/types.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/merge-namespaces.test.ts
Due: format, lint, typecheck

feat: Linear client and adapter, provider registry, cycle guard on the write path
  .tbd/config.yml
  package.json
  packages/tbd/package.json
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/integrations/core/registry.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/client.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/src/lib/env-file.ts
  packages/tbd/src/lib/issue-hierarchy.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/tests/cli-parent-cycle.tryscript.md
  packages/tbd/tests/helpers/linear-mock-server.ts
  packages/tbd/tests/integrations-registry.test.ts
  packages/tbd/tests/linear-adapter.test.ts
Due: format, format-md, lint, typecheck

feat: mirror core, tbd integration command, status and doctor checks
  .tbd/config.yml
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/status.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/integrations-status.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-10T17-36-03 (22 files)
  .tbd/data-sync/issues/is-01kzn50r7paeyyswk6cc8wrjs3.md
  .tbd/data-sync/issues/is-01kzn50rjq62yqzncaw571hx87.md
  .tbd/data-sync/issues/is-01kzn50rwhf85h7y0gg3515qj9.md
  .tbd/data-sync/issues/is-01kzn50s6z970cpyrvz0kr5hbh.md
  .tbd/data-sync/issues/is-01kzn50shqxerds5m8kxpwmxc4.md
  .tbd/data-sync/issues/is-01kzn50sw125xdztxh9rqhm5mp.md
  .tbd/data-sync/issues/is-01kzn50t7fz3vthsw35kkdbx2b.md
  .tbd/data-sync/issues/is-01kzn50tnf2yx0ndsgpfqw91mb.md
  .tbd/data-sync/issues/is-01kzn50v0m2t5wa7b9cjx97tzq.md
  .tbd/data-sync/issues/is-01kzn50vbgseh54rtpjz6jf2g1.md
  .tbd/data-sync/issues/is-01kzn50vycvws052ggvkpfqv2p.md
  .tbd/data-sync/issues/is-01kzn50wn4qzbr39b10evq3ht5.md
  .tbd/data-sync/issues/is-01kzn50x091m9cpn9qyhmd5r5d.md
  .tbd/data-sync/issues/is-01kzn50xevpfmk7wqkag9f8bfx.md
  .tbd/data-sync/issues/is-01kzn50xxkvctdk2803abt4aaz.md
  .tbd/data-sync/issues/is-01kzn50ydamez3xvmbfvt1vcc5.md
  .tbd/data-sync/issues/is-01kzn50yv2cr9whnp5aq7smyjf.md
  .tbd/data-sync/issues/is-01kzn50zedj6hwqx4j3e07mwqy.md
  .tbd/data-sync/issues/is-01kzn510a0s6yafgt5j1x9nyss.md
  .tbd/data-sync/issues/is-01kzn5117ezkyh9c1dqgr9pwty.md
  .tbd/data-sync/issues/is-01kzpbwxn4kkdjsaqc9tn243w5.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(spike): address PR #207 Bugbot review R1-R4
  packages/tbd/scripts/bead-web.html
  packages/tbd/scripts/bead-web.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
