Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: flag supply-chain-hardening as strongly recommended for every repo
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
Due: format-md

chore: release get-tbd v0.1.29
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

Pin supply-chain installs to vetted, cool-off-compliant versions
  .claude/scripts/ensure-gh-cli.sh
  lefthook.yml
  package.json
  packages/tbd/docs/install/ensure-gh-cli.sh
Due: format

tbd sync: 2026-05-24T02-48-41 (2 files)
  .tbd/data-sync/issues/is-01ksby3fdgasqh37gd81zees15.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-24T03-37-11 (13 files)
  .tbd/data-sync/issues/is-01ksby3fdgasqh37gd81zees15.md
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ksc0rn3yew49ga59qp1v2mk8.md
  .tbd/data-sync/issues/is-01ksc0rw9r8p9kxxx1b4rnpyjn.md
  .tbd/data-sync/issues/is-01ksc0s4vq2w1yyp10fybqpq8t.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01ksc0skpmwe30svw66fjsztwg.md
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01ksc0t1njfwsxfv86vvgdb4y2.md
  .tbd/data-sync/issues/is-01ksc0ta2n1q3nkr2791574t56.md
  .tbd/data-sync/issues/is-01ksc0thbsjf1629exkpyd5xn7.md
  .tbd/data-sync/issues/is-01ksc0trd3x6wrkqx3dsb8cjfs.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-24T19-10-22 (12 files)
  .tbd/data-sync/issues/is-01ksby3fdgasqh37gd81zees15.md
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ksc0rn3yew49ga59qp1v2mk8.md
  .tbd/data-sync/issues/is-01ksc0rw9r8p9kxxx1b4rnpyjn.md
  .tbd/data-sync/issues/is-01ksc0s4vq2w1yyp10fybqpq8t.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01ksc0skpmwe30svw66fjsztwg.md
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01ksc0t1njfwsxfv86vvgdb4y2.md
  .tbd/data-sync/issues/is-01ksc0ta2n1q3nkr2791574t56.md
  .tbd/data-sync/issues/is-01ksc0thbsjf1629exkpyd5xn7.md
  .tbd/data-sync/issues/is-01ksc0trd3x6wrkqx3dsb8cjfs.md
Due: format-md

tbd sync: 2026-05-24T19-21-52 (8 files)
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ksc0rn3yew49ga59qp1v2mk8.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01ksdpqxp1bavjc60s2wynfawb.md
  .tbd/data-sync/issues/is-01ksdpr4q999zpz14nqmv3ycpz.md
  .tbd/data-sync/issues/is-01ksdprb4vpb3drtwwjpznbqs6.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-24T19-29-11 (5 files)
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ksc0rw9r8p9kxxx1b4rnpyjn.md
  .tbd/data-sync/issues/is-01ksdprb4vpb3drtwwjpznbqs6.md
  .tbd/data-sync/issues/is-01ksdq6jr5nrtjtc194fz17kry.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: Incorporate pprose skills lessons
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

plan: Map multi-agent skills setup
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/research/current/research-cli-as-agent-skill.md
  docs/project/research/current/research-skills-vs-meta-skill-architecture.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

docs: Research Agent Skills path standard
  docs/project/research/current/research-agent-skills-standard-paths.md
Due: format-md

plan: Mark PR update in skills setup spec
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

plan: Clarify AGENTS block guidance
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

plan: Add agent setup upgrade path
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

docs: add senior engineering review of PR #131 (multi-agent skills setup)
  docs/project/reviews/review-pr-131-multi-agent-skills.md
Due: format-md

docs: address PR #131 review — Codex hook parity and multi-agent framing
  docs/project/research/current/research-agent-skills-standard-paths.md
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

tbd sync: 2026-05-25T23-40-38 (17 files)
  .tbd/data-sync/issues/is-01ksby3fdgasqh37gd81zees15.md
  .tbd/data-sync/issues/is-01ksc0qwt0v3pg3hgn35sh0s1e.md
  .tbd/data-sync/issues/is-01ksc0rw9r8p9kxxx1b4rnpyjn.md
  .tbd/data-sync/issues/is-01ksc0s4vq2w1yyp10fybqpq8t.md
  .tbd/data-sync/issues/is-01ksc0scbn4h9eybnfgmvr6mw3.md
  .tbd/data-sync/issues/is-01ksc0skpmwe30svw66fjsztwg.md
  .tbd/data-sync/issues/is-01ksc0sv2xc7j6wnb9xzsep7fg.md
  .tbd/data-sync/issues/is-01ksc0t1njfwsxfv86vvgdb4y2.md
  .tbd/data-sync/issues/is-01ksc0ta2n1q3nkr2791574t56.md
  .tbd/data-sync/issues/is-01ksc0thbsjf1629exkpyd5xn7.md
  .tbd/data-sync/issues/is-01ksc0trd3x6wrkqx3dsb8cjfs.md
  .tbd/data-sync/issues/is-01ksdpqxp1bavjc60s2wynfawb.md
  .tbd/data-sync/issues/is-01ksdpr4q999zpz14nqmv3ycpz.md
  .tbd/data-sync/issues/is-01ksdprb4vpb3drtwwjpznbqs6.md
  .tbd/data-sync/issues/is-01ksdq6jr5nrtjtc194fz17kry.md
  .tbd/data-sync/issues/is-01ksgr45bkhqwwfhpna2xytqdz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

plan: make multi-agent setup plan implementation-ready
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

refactor: add multi-agent integration path constants and resolvers
  packages/tbd/src/lib/integration-paths.ts
Due: format, lint, typecheck

feat: install portable .agents/skills Agent Skill with Claude mirror
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

tbd sync: 2026-05-26T00-01-00 (2 files)
  .tbd/data-sync/issues/is-01ksby3fdgasqh37gd81zees15.md
  .tbd/data-sync/issues/is-01ksc0rw9r8p9kxxx1b4rnpyjn.md
Due: format-md

feat: compact, format-stamped AGENTS.md managed block
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

feat: install Codex lifecycle hooks under .codex/
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

feat: pin the get-tbd version in generated session scripts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-hooks.test.ts
Due: format, lint, typecheck

feat: add agent-targeted setup flags
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

test: guard gitignore policy for agent integration files
  packages/tbd/tests/gitignore-policy.test.ts
Due: format, lint, typecheck

feat: add committed skills/tbd distribution copy with drift test
  packages/tbd/scripts/copy-docs.mjs
  packages/tbd/tests/integration-files.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

feat: add integration-format forward-compatibility guard
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

fix: exclude generated skills/tbd from flowmark to prevent drift
  lefthook.yml
Due: format

feat: report portable skill and Codex hooks in doctor and status
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/status.ts
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
Due: format, format-md, lint, typecheck

fix: make composed SKILL.md flowmark-stable to prevent dist-copy drift
  packages/tbd/scripts/copy-docs.mjs
Due: none

docs: reconcile cli-agent-skill-patterns flags with implementation
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
Due: format-md

test: cover upgrade of an older .claude-only install
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

feat: self-apply multi-agent setup to this repository
  .agents/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  .codex/hooks.json
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  AGENTS.md
  packages/tbd/scripts/git-version.mjs
Due: format, format-md

docs: add changeset for multi-agent skills and hooks setup
  .changeset/multi-agent-skills-hooks.md
Due: format-md

plan: mark multi-agent skills/hooks setup as implemented
  docs/project/specs/active/plan-2026-05-24-multi-agent-skills-hooks-setup.md
Due: format-md

fix: make the generated AGENTS.md block flowmark-stable
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

research: confirm Claude Code does not scan .agents/skills
  docs/project/research/current/research-agent-skills-standard-paths.md
Due: format-md

refactor: single-line AGENTS.md marker with fNN format string
  AGENTS.md
  docs/project/reviews/review-pr-131-multi-agent-skills.md
  packages/tbd/docs/guidelines/cli-agent-skill-patterns.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/lib/integration-paths.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, format-md, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
