Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

tbd: save outbox
  .tbd/workspaces/outbox/issues/is-01khhjf650hcnc648ay1maq29j.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

tbd: update outbox
  .tbd/workspaces/outbox/issues/is-01khhjf650hcnc648ay1maq29j.md
Due: format-md

docs: rename kn → kdex throughout knowledge research doc
  docs/project/research/current/research-agent-knowledge-on-demand.md
Due: format-md

Update badge
  README.md
Due: format-md

docs: address PR review feedback on knowledge-on-demand research
  docs/project/research/current/research-agent-knowledge-on-demand.md
Due: format-md

tbd: save outbox
  .tbd/workspaces/outbox/issues/is-01khhjf650hcnc648ay1maq29j.md
  .tbd/workspaces/outbox/issues/is-01khhsaysr8kwzf68aq9s96m34.md
  .tbd/workspaces/outbox/issues/is-01khhsb2t8cy9wtz24kcwv6vyx.md
  .tbd/workspaces/outbox/issues/is-01khhsb6dz6545tzj8jpch5eqj.md
  .tbd/workspaces/outbox/issues/is-01khhsbb6yx34cxqdradyfdw99.md
  .tbd/workspaces/outbox/issues/is-01khhsbf487qg2wt5x5gmjmpqp.md
  .tbd/workspaces/outbox/issues/is-01khhsbjvzh6tn2h6mwqqb54jm.md
  .tbd/workspaces/outbox/issues/is-01khhsbpp1wy1vdjk8ydms24yk.md
  .tbd/workspaces/outbox/issues/is-01khhsbtwekrmw824z8fcgkksw.md
  .tbd/workspaces/outbox/issues/is-01khhsbyxg8ncsdveb0t0vqrpb.md
  .tbd/workspaces/outbox/issues/is-01khhsc2vnbfs12jmnb4fxjda9.md
  .tbd/workspaces/outbox/issues/is-01khhsc6wwp9tbpv622kv62e3b.md
  .tbd/workspaces/outbox/issues/is-01khhscarw9hw3ze0nrc0kw5aa.md
  .tbd/workspaces/outbox/issues/is-01khhsceg2t4gm3tnyf3edjks4.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

Update docspec format to github:owner/repo@ref//path convention
  docs/project/research/current/research-agent-knowledge-on-demand.md
Due: format-md

process: Add plan spec for deterministic YAML field ordering
  docs/project/specs/active/plan-2026-02-16-deterministic-yaml-field-ordering.md
Due: format-md

Add plan spec for kdex knowledge index CLI
  docs/project/specs/active/plan-2026-02-16-kdex-knowledge-index-cli.md
Due: format-md

tbd sync: add kdex beads (3 phases with dependencies)
  .tbd/workspaces/outbox/issues/is-01khhjf650hcnc648ay1maq29j.md
  .tbd/workspaces/outbox/issues/is-01khhsaysr8kwzf68aq9s96m34.md
  .tbd/workspaces/outbox/issues/is-01khhsb2t8cy9wtz24kcwv6vyx.md
  .tbd/workspaces/outbox/issues/is-01khhsb6dz6545tzj8jpch5eqj.md
  .tbd/workspaces/outbox/issues/is-01khhsbb6yx34cxqdradyfdw99.md
  .tbd/workspaces/outbox/issues/is-01khhsbf487qg2wt5x5gmjmpqp.md
  .tbd/workspaces/outbox/issues/is-01khhsbjvzh6tn2h6mwqqb54jm.md
  .tbd/workspaces/outbox/issues/is-01khhsbpp1wy1vdjk8ydms24yk.md
  .tbd/workspaces/outbox/issues/is-01khhsbtwekrmw824z8fcgkksw.md
  .tbd/workspaces/outbox/issues/is-01khhsbyxg8ncsdveb0t0vqrpb.md
  .tbd/workspaces/outbox/issues/is-01khhsc2vnbfs12jmnb4fxjda9.md
  .tbd/workspaces/outbox/issues/is-01khhsc6wwp9tbpv622kv62e3b.md
  .tbd/workspaces/outbox/issues/is-01khhscarw9hw3ze0nrc0kw5aa.md
  .tbd/workspaces/outbox/issues/is-01khhsceg2t4gm3tnyf3edjks4.md
  .tbd/workspaces/outbox/issues/is-01khjmbr522nd3fw0nebgcfsxn.md
  .tbd/workspaces/outbox/issues/is-01khjmbw2yx3pbgd1edn23ekws.md
  .tbd/workspaces/outbox/issues/is-01khjmbxbgm5tvpg8j1r2svn7k.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

feat: add deterministic manual YAML field ordering
  docs/project/specs/active/plan-2026-02-16-deterministic-yaml-field-ordering.md
  packages/tbd/src/cli/commands/attic.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/utils/yaml-utils.ts
Due: format, format-md, lint, typecheck

refactor: reorder issue fields — type, id, title, kind, status, priority, version first
  docs/project/specs/active/plan-2026-02-16-deterministic-yaml-field-ordering.md
  packages/tbd/src/lib/schemas.ts
Due: format, format-md, lint, typecheck

test: update tryscript golden tests for canonical field ordering
  packages/tbd/tests/cli-child-order.tryscript.md
  packages/tbd/tests/cli-filesystem.tryscript.md
  packages/tbd/tests/cli-show-parent-context.tryscript.md
  packages/tbd/tests/cli-spec-linking.tryscript.md
Due: format-md

fix: prevent bulk outbox saves from trivial version/timestamp changes
  packages/tbd/src/file/git.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/merge.test.ts
  packages/tbd/tests/workspace.test.ts
Due: format, lint, typecheck

test/docs: add integration tests, edge case tests, and spec for outbox sync fix
  docs/project/specs/active/plan-2026-02-17-fix-outbox-sync-bulk-trivial-changes.md
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/tests/git-remote.test.ts
  packages/tbd/tests/merge.test.ts
Due: format, format-md, lint, typecheck

chore: add changeset for v0.1.21
  .changeset/release-v0121.md
Due: format-md

chore: release get-tbd v0.1.21
  .changeset/release-v0121.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: update release notes for v0.1.21
  release-notes.md
Due: format-md

docs: save tbd outbox with follow-up beads for research doc revisions
  .tbd/workspaces/outbox/issues/is-01khph3vkfmfpzzteyfv87kbty.md
  .tbd/workspaces/outbox/issues/is-01khph44gy5j3zzayt7cfh1p5a.md
  .tbd/workspaces/outbox/issues/is-01khph4d8v0m6cdwxbyctv49f4.md
  .tbd/workspaces/outbox/issues/is-01khph4qax0txa38g2b92e2aw5.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-02-18T05-45-25 (18 files)
  .tbd/data-sync/issues/is-01khhjf650hcnc648ay1maq29j.md
  .tbd/data-sync/issues/is-01khhsaysr8kwzf68aq9s96m34.md
  .tbd/data-sync/issues/is-01khhsb2t8cy9wtz24kcwv6vyx.md
  .tbd/data-sync/issues/is-01khhsb6dz6545tzj8jpch5eqj.md
  .tbd/data-sync/issues/is-01khhsbb6yx34cxqdradyfdw99.md
  .tbd/data-sync/issues/is-01khhsbf487qg2wt5x5gmjmpqp.md
  .tbd/data-sync/issues/is-01khhsbjvzh6tn2h6mwqqb54jm.md
  .tbd/data-sync/issues/is-01khhsbpp1wy1vdjk8ydms24yk.md
  .tbd/data-sync/issues/is-01khhsbtwekrmw824z8fcgkksw.md
  .tbd/data-sync/issues/is-01khhsbyxg8ncsdveb0t0vqrpb.md
  .tbd/data-sync/issues/is-01khhsc2vnbfs12jmnb4fxjda9.md
  .tbd/data-sync/issues/is-01khhsc6wwp9tbpv622kv62e3b.md
  .tbd/data-sync/issues/is-01khhscarw9hw3ze0nrc0kw5aa.md
  .tbd/data-sync/issues/is-01khhsceg2t4gm3tnyf3edjks4.md
  .tbd/data-sync/issues/is-01khjmbr522nd3fw0nebgcfsxn.md
  .tbd/data-sync/issues/is-01khjmbw2yx3pbgd1edn23ekws.md
  .tbd/data-sync/issues/is-01khjmbxbgm5tvpg8j1r2svn7k.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: tbd sync
  .tbd/workspaces/outbox/issues/is-01khhjf650hcnc648ay1maq29j.md
  .tbd/workspaces/outbox/issues/is-01khhsaysr8kwzf68aq9s96m34.md
  .tbd/workspaces/outbox/issues/is-01khhsb2t8cy9wtz24kcwv6vyx.md
  .tbd/workspaces/outbox/issues/is-01khhsb6dz6545tzj8jpch5eqj.md
  .tbd/workspaces/outbox/issues/is-01khhsbb6yx34cxqdradyfdw99.md
  .tbd/workspaces/outbox/issues/is-01khhsbf487qg2wt5x5gmjmpqp.md
  .tbd/workspaces/outbox/issues/is-01khhsbjvzh6tn2h6mwqqb54jm.md
  .tbd/workspaces/outbox/issues/is-01khhsbpp1wy1vdjk8ydms24yk.md
  .tbd/workspaces/outbox/issues/is-01khhsbtwekrmw824z8fcgkksw.md
  .tbd/workspaces/outbox/issues/is-01khhsbyxg8ncsdveb0t0vqrpb.md
  .tbd/workspaces/outbox/issues/is-01khhsc2vnbfs12jmnb4fxjda9.md
  .tbd/workspaces/outbox/issues/is-01khhsc6wwp9tbpv622kv62e3b.md
  .tbd/workspaces/outbox/issues/is-01khhscarw9hw3ze0nrc0kw5aa.md
  .tbd/workspaces/outbox/issues/is-01khhsceg2t4gm3tnyf3edjks4.md
  .tbd/workspaces/outbox/issues/is-01khjmbr522nd3fw0nebgcfsxn.md
  .tbd/workspaces/outbox/issues/is-01khjmbw2yx3pbgd1edn23ekws.md
  .tbd/workspaces/outbox/issues/is-01khjmbxbgm5tvpg8j1r2svn7k.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

fix: reconcile missing ID mappings after git merge
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/ids.test.ts
Due: format, lint, typecheck

fix: recover original short IDs from git history during reconciliation
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/id-mapping.ts
  packages/tbd/src/file/workspace.ts
  packages/tbd/tests/ids.test.ts
Due: format, lint, typecheck

fix: add .gitattributes merge=union for outbox ids.yml
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

chore: apply tbd merge protection to .gitattributes
  .gitattributes
Due: none

refactor: move .gitattributes merge protection into .tbd/ directory
  .gitattributes
  .tbd/.gitattributes
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

docs: document .tbd/.gitattributes merge protection in design doc
  packages/tbd/docs/guidelines/tbd-sync-troubleshooting.md
  packages/tbd/docs/tbd-design.md
Due: format-md

test: add integration tests for ID mapping merge protection
  packages/tbd/tests/doctor-sync.test.ts
  packages/tbd/tests/git-remote.test.ts
  packages/tbd/tests/test-helpers.ts
Due: format, lint, typecheck

fix: update doctor golden test for new ID mapping coverage check
  packages/tbd/tests/cli-orientation-golden.tryscript.md
Due: format-md

Add design note to IssueSchema about short_id omission
  packages/tbd/src/lib/schemas.ts
Due: format, lint, typecheck

chore: save tbd outbox from sync
  .tbd/workspaces/outbox/issues/is-01khrvk5mwh3rcbfm1cev1g158.md
  .tbd/workspaces/outbox/issues/is-01khrvk9vbnv3styn6hrjdxjta.md
  .tbd/workspaces/outbox/issues/is-01khrvkhv38w0ckdar221p2h9n.md
  .tbd/workspaces/outbox/mappings/ids.yml
Due: format, format-md

chore: add changeset for v0.1.22
  .changeset/release-v0122.md
Due: format-md

chore: release get-tbd v0.1.22
  .changeset/release-v0122.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

docs: update release notes for v0.1.22
  release-notes.md
Due: format-md

docs: update pnpm-monorepo-patterns with ESM-only, OIDC, and flowmark
  packages/tbd/docs/guidelines/pnpm-monorepo-patterns.md
Due: format-md

chore: Move some specs to done.
  docs/project/specs/done/plan-2026-01-17-cli-output-design-system.md
  docs/project/specs/done/plan-2026-01-26-cli-output-formatting-consistency.md
  docs/project/specs/done/plan-2026-01-26-design-docs-review.md
  docs/project/specs/done/plan-2026-01-27-improve-readme-value-proposition.md
  docs/project/specs/done/plan-2026-01-28-bundled-docs-front-matter-consistency.md
  docs/project/specs/done/plan-2026-01-28-sync-worktree-recovery-and-hardening.md
  docs/project/specs/done/plan-2026-01-29-child-ordering-hints.md
  docs/project/specs/done/plan-2026-01-29-silent-error-swallowing-postmortem.md
  docs/project/specs/done/plan-2026-02-02-external-docs-repos.md
  docs/project/specs/done/plan-2026-02-02-skill-md-comprehensive-update.md
  docs/project/specs/done/plan-2026-02-09-fix-tryscript-node-json-antipattern.md
  docs/project/specs/done/plan-2026-02-13-show-parent-context-and-max-lines.md
  docs/project/specs/done/plan-2026-02-16-deterministic-yaml-field-ordering.md
  docs/project/specs/done/plan-2026-02-17-fix-outbox-sync-bulk-trivial-changes.md
Due: format-md

fix: correct --no-auto-save and --no-outbox flag handling in sync command
  packages/tbd/src/cli/commands/sync.ts
Due: format, lint, typecheck

docs: rewrite typescript-cli-tool-rules to match actual codebase patterns
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
Due: format-md

fix: remove unused imports and dead code in node-free-core test
  packages/tbd/tests/node-free-core.test.ts
Due: format, lint, typecheck

docs: update bun-monorepo-patterns with ESM-only, OIDC, Biome 2.x, and new sections
  packages/tbd/docs/guidelines/bun-monorepo-patterns.md
Due: format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
