Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

fix: address PR 116 review polish
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/lib/issue-input-validation.ts
  packages/tbd/src/file/storage.ts
  packages/tbd/tests/issue-input-validation.test.ts
  packages/tbd/tests/zod-error-utils.test.ts
Due: format, lint, typecheck

chore: release get-tbd v0.1.27
  .changeset/valid-issue-files.md
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
  release-notes.md
Due: format, format-md

tbd sync: 2026-05-01T06-26-53 (2 files)
  .tbd/data-sync/issues/is-01kqh36baz726kkm3xmthbs82b.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-05-01T06-34-46 (1 file)
  .tbd/data-sync/issues/is-01kqh36baz726kkm3xmthbs82b.md
Due: format-md

process: Add docs config redesign plan spec
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Clarify G3 — mirrored docs are cached, not git-tracked by default
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Clarify G11 — hard cut on schema with reliable detect+migrate
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Reframe G13 (auth out-of-band) and graduate G9-G13 to official goals
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Add G14/G15 bundles, drop Approach A, rename prefix→bundle
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Add G16/G17 — upstream format-free, bundles span doc types
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Extract docspec format as standalone architecture doc; add G18
  docs/project/architecture/current/arch-docspec-format.md
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Move docspec format spec next to other tbd design docs
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/design-docspec-format.md
Due: format-md

process: Rename docspec → docref; drop URI qualifier; fix terminology overlap
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/design-docref-format.md
Due: format-md

process: Reserve `#` as future fragment-identifier separator in docrefs
  packages/tbd/docs/design-docref-format.md
Due: format-md

process: docref §1.9 — silently drop fragment in v0.1, not parse error
  packages/tbd/docs/design-docref-format.md
Due: format-md

process: Split docref/docmap, add GitLab, install std-doc-guidelines
  .tbd/config.yml
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/design-docmap-format.md
  packages/tbd/docs/design-docref-format.md
  packages/tbd/docs/guidelines/std-doc-guidelines.md
Due: format, format-md

feat(docref/docmap): standalone reference modules with full test coverage
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/design-docmap-format.md
  packages/tbd/docs/design-docref-format.md
  packages/tbd/src/docmap/index.ts
  packages/tbd/src/docmap/resolve.ts
  packages/tbd/src/docmap/schemas.ts
  packages/tbd/src/docref/index.ts
  packages/tbd/src/docref/parser.ts
  packages/tbd/tests/docmap-resolve.test.ts
  packages/tbd/tests/docmap-schemas.test.ts
  packages/tbd/tests/docref-parser.test.ts
Due: format, format-md, lint, typecheck

fix(doctor): prefer manual-intervention message when non-fixable error present
  packages/tbd/src/cli/commands/doctor.ts
Due: format, lint, typecheck

process: Add workflow catalog, three-state doc model, three-phase plan
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

fix(lockfile): treat EPERM as contention on Windows
  packages/tbd/src/utils/lockfile.ts
Due: format, lint, typecheck

fix: add YAML frontmatter to std-doc-guidelines
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  packages/tbd/docs/guidelines/std-doc-guidelines.md
Due: format-md

fix(lockfile): EPERM-as-contention only when lock dir actually exists
  packages/tbd/src/utils/lockfile.ts
Due: format, lint, typecheck

fix: address senior-design review of docref/docmap (PR #117 review)
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/design-docmap-format.md
  packages/tbd/src/docmap/resolve.ts
  packages/tbd/src/docmap/schemas.ts
  packages/tbd/tests/docmap-resolve.test.ts
  packages/tbd/tests/docmap-schemas.test.ts
Due: format, format-md, lint, typecheck

process: Add Q20 (categories vs types vs folders, glob-first matching) and Design Principles
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
Due: format-md

process: Reconcile design principles between plan-spec and tbd-design.md
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/tbd-design.md
Due: format-md

process: Add P10 "docs are the integration boundary"
  docs/project/specs/active/plan-2026-05-07-docs-config-redesign.md
  packages/tbd/docs/tbd-design.md
Due: format-md

test: skip high-concurrency lockfile test on Windows
  packages/tbd/tests/concurrent-mapping.test.ts
Due: format, lint, typecheck

docs: add multi-worktree sync support spec
  docs/project/specs/active/plan-2026-05-08-multi-worktree-sync-support.md
Due: format-md

docs(spec): expand testing strategy with golden-testing tryscripts
  docs/project/specs/active/plan-2026-05-08-multi-worktree-sync-support.md
Due: format-md

feat(sync): detached-HEAD worktree + CAS update-ref for multi-worktree support
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/sync.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/cli-sync-detached-worktree-bug.tryscript.md
  packages/tbd/tests/cli-sync-legacy-attached-migration.tryscript.md
  packages/tbd/tests/cli-sync-multi-worktree.tryscript.md
  packages/tbd/tests/worktree-health.test.ts
Due: format, format-md, lint, typecheck

test: align corrupted-data assertion with current doctor output
  packages/tbd/tests/corrupted-data.test.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
