Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

fix: make the ref grants are read from as trusted as its content
  AGENTS.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
Due: format, format-md, lint, typecheck

style: format the always-loaded surfaces test
  packages/tbd/tests/integration-files.test.ts
Due: format, lint, typecheck

fix: set git identity in the invalid-sync.remote grants test
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

docs: record Phase 4 Outcome Notes for the #309 validation run
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

fix: compare managed surfaces without line endings; pin the f100 refusal proof
  lefthook.yml
  packages/tbd/CHANGELOG.md
  packages/tbd/scripts/validate-upgrade-package.mjs
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

docs: fold Phase 4 validation findings into review shortcuts
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix: treat a policy marker sharing a line as malformed, not absent
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, lint, typecheck

plan: record the #306 and #307 merges in Phase 4
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
Due: format-md

fix: fail closed when git remote cannot list remotes
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

test: give the formatter-exclusion probe a positive control
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/tests/integration-files.test.ts
Due: format, format-md, lint, typecheck

feat: give github-merge a four-value ladder instead of granted or not
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix: Report not-a-directory when a tier-agent parent is a file
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, lint, typecheck

docs: Restructure README around optional incremental adoption
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: Say unanswered setup grants and not now are valid
  README.md
Due: format-md

docs: Clarify README core value and background
  README.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

docs: State policy-pref merge and review lifecycle in design docs
  docs/development.md
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, format-md, lint, typecheck

docs: Align new merge/review summaries with the guideline
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/tests/policy-grants-docs.test.ts
Due: format, format-md, lint, typecheck

docs: Drop beads-as-base optional-layers sentence from README
  README.md
Due: format-md

fix: address policy and setup review trust boundaries
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/prime.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

docs: Align github-merge confirmation and revoke wording
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/tbd-design.md
  skills/tbd/SKILL.md
Due: format-md

fix: close policy and tier-agent review boundary gaps
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

test: make setup failure assertions portable across platforms
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-20T06-29-49 (3 files)
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/issues/is-01m2yr30ecm6g3wt44b1bhjdgm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T06-30-43 (6 files)
  .tbd/data-sync/issues/is-01m2tmfbv1vm6v0c0d28xzk5rd.md
  .tbd/data-sync/issues/is-01m2tn5j3p0mpk42padvbvdewx.md
  .tbd/data-sync/issues/is-01m2tn5jdzk064ec1k32q16ct3.md
  .tbd/data-sync/issues/is-01m2tn5jr0yen649h9j2v70nyy.md
  .tbd/data-sync/issues/is-01m2tn5k27jdhr5bm9qvjy5ctp.md
  .tbd/data-sync/issues/is-01m2ypxtgpn7fv07td8g6db9m2.md
Due: format-md

docs: refresh generated skills after upstream reconciliation
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  packages/tbd/CHANGELOG.md
Due: format-md

tbd sync: 2026-09-20T06-36-17 (2 files)
  .tbd/data-sync/issues/is-01m2vpkmq5zv0g4s7t6jf19w20.md
  .tbd/data-sync/issues/is-01m2vpkn1b5at4me4j32mdpkf4.md
Due: format-md

tbd sync: 2026-09-20T06-46-33 (1 file)
  .tbd/data-sync/issues/is-01m2y85eas7y516hvfn6jc96rs.md
Due: format-md

tbd sync: 2026-09-20T06-50-53 (3 files)
  .tbd/data-sync/issues/is-01m2ynnnzw1d0kxwm0s4qvdevf.md
  .tbd/data-sync/issues/is-01m2ys9m0cgsg54hf9wrnb27nn.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: resolve remaining policy and review follow-ups
  README.md
  lefthook.yml
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/lib/policy-block-prose.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/corrupted-data.test.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/doctor-skill-cache.test.ts
  packages/tbd/tests/installed-skill-drift.test.ts
  packages/tbd/tests/policy-block-prose.test.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-20T08-03-01 (1 file)
  .tbd/data-sync/issues/is-01m2vpkn1b5at4me4j32mdpkf4.md
Due: format-md

fix: carry HTML visibility across Markdown blocks in policy scan
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/policy-grants.test.ts
Due: format, lint, typecheck

tbd sync: 2026-09-20T17-11-18 (2 files)
  .tbd/data-sync/issues/is-01m2zwsw52y4tvhyqz2amv1d2q.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-20T17-16-43 (3 files)
  .tbd/data-sync/issues/is-01m2y95x8ks8e0qnvx8c1aah8e.md
  .tbd/data-sync/issues/is-01m2yahfm2qjr15tpmfjc8bg2x.md
  .tbd/data-sync/issues/is-01m2zwsw52y4tvhyqz2amv1d2q.md
Due: format-md

fix: read policy grants with an allow-list so hidden grants fail closed
  packages/tbd/src/cli/lib/managed-artifact.ts
  packages/tbd/src/lib/policy-grants.ts
  packages/tbd/tests/policy-grants.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
Due: format, lint, typecheck

fix: fail one setup surface on a refused target, not the whole run
  .tbd/.gitignore
  packages/tbd/src/cli/commands/doctor.ts
  packages/tbd/src/cli/commands/init.ts
  packages/tbd/src/cli/commands/policy.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/uninstall.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/cli-policy.test.ts
  packages/tbd/tests/cli-uninstall.tryscript.md
  packages/tbd/tests/corrupted-data.test.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/setup-surface-refusals.test.ts
  packages/tbd/tests/setup-tier-agents.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

process: close the gaps a review can be skipped or forged through
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/specs/active/plan-2026-09-16-pr-review-lifecycle-and-agent-delegation.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/guidelines/agent-policy-grants.md
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-and-merge-prs.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/shortcuts/standard/setup-tbd.md
  packages/tbd/docs/shortcuts/standard/stacked-prs.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/policy-grants-docs.test.ts
  packages/tbd/tests/review-lifecycle-contract.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

test: Raise Windows CI budget above the 60s load floor
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-web.test.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/doctor-policy-grants.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/setup-policy-grants.test.ts
  packages/tbd/tests/test-helpers.ts
Due: format, lint, typecheck

setup: tier agent bodies state no model; docs say what a definition buys
  .claude/agents/tbd-fast.md
  .claude/agents/tbd-moderate.md
  .claude/agents/tbd-strong-max.md
  .claude/agents/tbd-strong.md
  .codex/agents/tbd-fast.toml
  .codex/agents/tbd-moderate.toml
  .codex/agents/tbd-strong-max.toml
  .codex/agents/tbd-strong.toml
  packages/tbd/docs/guidelines/agent-model-tiers.md
  packages/tbd/docs/shortcuts/standard/delegate-to-subagents.md
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-tier-agents.test.ts
Due: format, format-md, lint, typecheck

research: system prompts and prompt caching for sub-agents
  docs/project/research/current/research-2026-09-16-subagent-guidance-anthropic-openai.md
Due: format-md
