Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat: composable mirror selection, bulk-change guard, Linear projects, f07 gate
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/bulk-guard.ts
  packages/tbd/src/integrations/core/selection.ts
  packages/tbd/src/integrations/linear/adapter.ts
  packages/tbd/src/integrations/linear/queries.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/integrations-bulk-guard.test.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

refactor: store tracker links in extensions, reverting the f07 format bump
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  AGENTS.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/file/git.ts
  packages/tbd/src/integrations/core/link-store.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/integrations/core/selection.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-format-compatibility.tryscript.md
  packages/tbd/tests/cli-shared-common-dir-worktree.tryscript.md
  packages/tbd/tests/common-dir-layout-doctor.test.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/doctor-managed-surfaces.test.ts
  packages/tbd/tests/integrations-core.test.ts
  packages/tbd/tests/integrations-link-store.test.ts
  packages/tbd/tests/integrations-mirror.test.ts
  packages/tbd/tests/merge-namespaces.test.ts
  packages/tbd/tests/setup-dry-run-state.test.ts
  packages/tbd/tests/setup-flows.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, format-md, lint, typecheck

refactor: drop the change-report format marker
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  packages/tbd/scripts/validate-watch-release.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/tests/bead-watch.test.ts
  packages/tbd/tests/cli-changes.test.ts
  packages/tbd/tests/cli-watch.test.ts
  packages/tbd/tests/issue-changes-output.test.ts
  packages/tbd/tests/issue-changes.test.ts
  packages/tbd/tests/watch-beads-shortcut.test.ts
  tests/qa/watch-infrastructure-release.qa.md
Due: format, format-md, lint, typecheck

docs: document changes and watch in the design doc and manual
  README.md
  docs/development.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/watch-beads.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-08-10T21-26-59 (6 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzpj754g9qh0be784sdkxdwr.md
  .tbd/data-sync/issues/is-01kzpj76gktvbe8b7d4jbm7ve9.md
  .tbd/data-sync/issues/is-01kzpj77hq9f1wkhb4mgqb69vq.md
  .tbd/data-sync/issues/is-01kzpj78jj4e3nrteywh08e56v.md
  .tbd/data-sync/issues/is-01kzpj79kvtjcmxwe8b9kgzw7k.md
Due: format-md

fix: three-way namespace merge so an unlink is not silently reverted
  .tbd/config.yml
  packages/tbd/src/file/git.ts
  packages/tbd/tests/merge-namespaces.test.ts
Due: format, lint, typecheck

fix(spike): drop the report format marker after upstream refactor
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/scripts/bead-web.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-10T21-35-31 (1 file)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
Due: format-md

docs: drop the stale format_version reference after merging #205
  .tbd/config.yml
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
Due: format, format-md

fix: stop pushing bead labels into the tracker by default
  .tbd/config.yml
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/cli/commands/integration.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/tests/integrations-mirror.test.ts
Due: format, format-md, lint, typecheck

docs(spike): specify client build and packaging for a shipped tbd web
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

fix: pin the label defaults, and point the pilot at the tbd team
  .tbd/config.yml
  packages/tbd/tests/integrations-core.test.ts
Due: format, lint, typecheck

docs(spike): fold metabrowser serve-mode and client QA practice into the plan
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

fix: update the goldens my changes broke, and restrict what links persist
  .tbd/config.yml
  packages/tbd/src/integrations/core/link-store.ts
  packages/tbd/tests/cli-help-all.tryscript.md
  packages/tbd/tests/cli-orientation-golden.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/integrations-link-store.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-10T22-10-04 (1 file)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
Due: format-md

tbd sync: 2026-08-10T22-52-00 (1 file)
  .tbd/data-sync/issues/is-01kzpbwxn4kkdjsaqc9tn243w5.md
Due: format-md

docs(spike): rescope PR 207 to production-ready tbd web; refine to file/function level
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
Due: format-md

tbd sync: 2026-08-10T23-23-33 (1 file)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
Due: format-md

fix: migration must not report success for work it never recorded
  .tbd/config.yml
  packages/tbd/scripts/repro-migration-commit.sh
  packages/tbd/src/file/git.ts
  packages/tbd/tests/migrate-data-commit.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-10T23-34-16 (1 file)
  .tbd/data-sync/issues/is-01kzpbwxn4kkdjsaqc9tn243w5.md
Due: format-md

fix(spike): name the default closed-hide in the count pill; unclutter the command bar
  packages/tbd/scripts/bead-web.html
  packages/tbd/scripts/bead-web.ts
Due: format, lint, typecheck

fix(spike): status dropdown is a bijection onto the CLI's status states
  packages/tbd/scripts/bead-web.html
Due: none

docs: complete the end-to-end design — linking policy and Phase 2 sync
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

fix: restore the integrations config stripped by an older CLI, again
  .tbd/config.yml
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format, format-md

tbd sync: 2026-08-11T00-34-26 (6 files)
  .tbd/data-sync/issues/is-01kzn2w85qxpbp8cqtn7mkbvkg.md
  .tbd/data-sync/issues/is-01kzn2wa8b53y8wjh1gegbzhhx.md
  .tbd/data-sync/issues/is-01kzn510qqbk3ax3pbw447xw8y.md
  .tbd/data-sync/issues/is-01kzq3fn6v122vfa0nqxca6x4b.md
  .tbd/data-sync/issues/is-01kzq3fnjg30v06sbhn9h86phz.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: record the packaging decision — built in, with a rule for when not to be
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
Due: format-md

chore: config normalized by the dev CLI's post-merge setup
  .tbd/config.yml
Due: format

tbd sync: 2026-08-11T01-30-40 (6 files)
  .tbd/data-sync/issues/is-01kzmwk14vxs1m53edeq43q675.md
  .tbd/data-sync/issues/is-01kzmymyeqmcbj9ffn9wk9qpf0.md
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzq6hcbgh58y4sv88g74q3n0.md
  .tbd/data-sync/issues/is-01kzq6vbaqck3q21a69965ha4e.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(core): Phase 2 foundations — shared issue-query, tree depth, JSON purity
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/ready.ts
  packages/tbd/src/cli/lib/docs-sync-output.ts
  packages/tbd/src/cli/lib/output.ts
  packages/tbd/src/cli/lib/tree-view.ts
  packages/tbd/src/lib/issue-query.ts
  packages/tbd/tests/docs-sync-output.test.ts
  packages/tbd/tests/issue-query.test.ts
  packages/tbd/tests/tree-view.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-11T01-34-45 (5 files)
  .tbd/data-sync/issues/is-01kzmwk14vxs1m53edeq43q675.md
  .tbd/data-sync/issues/is-01kzmymyeqmcbj9ffn9wk9qpf0.md
  .tbd/data-sync/issues/is-01kzq6vbaqck3q21a69965ha4e.md
  .tbd/data-sync/issues/is-01kzq7a7dq7sv27w9ndh32dpag.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-11T01-41-45 (7 files)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzq6hcbgh58y4sv88g74q3n0.md
  .tbd/data-sync/issues/is-01kzq7dpztf9sy32xaxf63apwg.md
  .tbd/data-sync/issues/is-01kzq7dqe458wkrabss0a0qewp.md
  .tbd/data-sync/issues/is-01kzq7dqydwdtjncfp9ya5dyjc.md
  .tbd/data-sync/issues/is-01kzq7drb8v1d3832nnvb8450x.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(spike): address senior review R3-R6 — remove write surface, fix live-board races
  docs/development.md
  packages/tbd/scripts/bead-web.html
  packages/tbd/scripts/bead-web.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T04-42-47 (9 files)
  .tbd/data-sync/issues/is-01kzmwk14vxs1m53edeq43q675.md
  .tbd/data-sync/issues/is-01kzmymyeqmcbj9ffn9wk9qpf0.md
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
  .tbd/data-sync/issues/is-01kzq6vbaqck3q21a69965ha4e.md
  .tbd/data-sync/issues/is-01kzq7dpztf9sy32xaxf63apwg.md
  .tbd/data-sync/issues/is-01kzq7dqe458wkrabss0a0qewp.md
  .tbd/data-sync/issues/is-01kzq966qbeaz0wz8argmzb551.md
  .tbd/data-sync/issues/is-01kzq9697jy6nbmjrm53whb8dm.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat(core): cancellable watch — AbortSignal through bead-watch and git timeout
  docs/project/specs/active/plan-2026-08-10-tbd-web-live-bead-view.md
  packages/tbd/src/cli/commands/watch.ts
  packages/tbd/src/file/bead-watch.ts
  packages/tbd/src/file/git.ts
  packages/tbd/tests/bead-watch.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-11T04-53-17 (1 file)
  .tbd/data-sync/issues/is-01kzq6vbaqck3q21a69965ha4e.md
Due: format-md

tbd sync: 2026-08-11T05-20-47 (1 file)
  .tbd/data-sync/issues/is-01kzn5wbxkb6c0db6k19wj7yzj.md
Due: format-md

style(spike): monospace marks data, not chrome
  packages/tbd/scripts/bead-web.html
  packages/tbd/tests/bead-web-css.test.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
