Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: Add Phase 18 critical bug fixes discovered during tbd testing
  .beads/issues.jsonl
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

docs: Add uninstall command details with data loss warning
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

chore: Add beads for docs, help, and color features (tbd-1821 through tbd-1835)
  .beads/issues.jsonl
Due: none

feat(tbd-cli): Add test helpers for file location, ID format, and serialization validation
  packages/tbd-cli/tests/ids.test.ts
  packages/tbd-cli/tests/test-helpers.ts
Due: format, lint, typecheck

fix(tbd-cli): Add 'done' -> 'closed' status mapping for beads import
  packages/tbd-cli/src/cli/commands/import.ts
Due: format, lint, typecheck

test(tbd-cli): Add cli-import-status.tryscript.md for status mapping tests
  packages/tbd-cli/tests/cli-import-status.tryscript.md
Due: format

chore(beads): Sync issues.jsonl
  .beads/issues.jsonl
Due: none

docs: Add conventional commits section to development guide
  docs/development.md
Due: format

fix: Show helpful error when tbd list run without init
  packages/tbd-cli/src/cli/cli.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/file/config.ts
  packages/tbd-cli/tests/golden/golden.test.ts
  packages/tbd-cli/tests/golden/runner.ts
  packages/tbd-cli/tests/golden/scenarios/uninitialized-list.yaml
Due: format, lint, typecheck

docs: Update plan spec with Phase 19 worktree architecture fix
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

process: speculate update with commit conventions.
  .speculate/copier-answers.yml
  .speculate/settings.yml
  docs/commit-conventions.md
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

refactor: Use atomicWriteFile consistently for all file creation (Phase 21)
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
  packages/tbd-cli/src/cli/commands/init.ts
  packages/tbd-cli/src/cli/commands/search.ts
Due: format, lint, typecheck

chore(beads): Sync issues.jsonl - close Phase 19 worktree tasks
  .beads/issues.jsonl
Due: none

chore(beads): Fix 124 beads with invalid 'done' status to 'closed'
  .beads/issues.jsonl
Due: none

docs: Mark Phase 20 atomically task as completed
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

refactor(tbd-cli): Rename time.ts to timeUtils.ts for clarity
  packages/tbd-cli/src/cli/commands/attic.ts
  packages/tbd-cli/src/cli/commands/close.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/depends.ts
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/label.ts
  packages/tbd-cli/src/cli/commands/reopen.ts
  packages/tbd-cli/src/cli/commands/search.ts
  packages/tbd-cli/src/cli/commands/stale.ts
  packages/tbd-cli/src/cli/commands/update.ts
  packages/tbd-cli/src/file/git.ts
  packages/tbd-cli/src/utils/index.ts
  packages/tbd-cli/src/utils/timeUtils.ts
Due: format, lint, typecheck

fix(tbd-cli): Use cross-platform copy for tbd binary in build
  packages/tbd-cli/package.json
Due: format

fix(tests): Skip bulk performance tests on Windows
  packages/tbd-cli/tests/performance.test.ts
Due: format, lint, typecheck

bd sync: 2026-01-16 23:17:42
  .beads/issues.jsonl
  .beads/metadata.json
Due: format

docs: Add Phase 24 installation and agent integration design
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

feat: Add requireInit() to all commands and auto-init for import (Phase 23)
  packages/tbd-cli/src/cli/commands/attic.ts
  packages/tbd-cli/src/cli/commands/blocked.ts
  packages/tbd-cli/src/cli/commands/close.ts
  packages/tbd-cli/src/cli/commands/config.ts
  packages/tbd-cli/src/cli/commands/create.ts
  packages/tbd-cli/src/cli/commands/depends.ts
  packages/tbd-cli/src/cli/commands/doctor.ts
  packages/tbd-cli/src/cli/commands/import.ts
  packages/tbd-cli/src/cli/commands/info.ts
  packages/tbd-cli/src/cli/commands/label.ts
  packages/tbd-cli/src/cli/commands/list.ts
  packages/tbd-cli/src/cli/commands/ready.ts
  packages/tbd-cli/src/cli/commands/reopen.ts
  packages/tbd-cli/src/cli/commands/search.ts
  packages/tbd-cli/src/cli/commands/show.ts
  packages/tbd-cli/src/cli/commands/stale.ts
  packages/tbd-cli/src/cli/commands/stats.ts
  packages/tbd-cli/src/cli/commands/sync.ts
  packages/tbd-cli/src/cli/commands/update.ts
  packages/tbd-cli/src/cli/lib/errors.ts
  packages/tbd-cli/tests/cli-setup.tryscript.md
  packages/tbd-cli/tests/cli-uninitialized.tryscript.md
  packages/tbd-cli/tests/errors.test.ts
  packages/tbd-cli/tests/golden/scenarios/uninitialized-list.yaml
Due: format, lint, typecheck

feat: Add tbd prime and setup commands (Phase 24)
  packages/tbd-cli/src/cli/cli.ts
  packages/tbd-cli/src/cli/commands/prime.ts
  packages/tbd-cli/src/cli/commands/setup.ts
  packages/tbd-cli/tests/cli-setup.tryscript.md
Due: format, lint, typecheck

chore(beads): Close completed Phase 22-24 beads
  .beads/issues.jsonl
Due: none

bd sync: 2026-01-17 01:26:31
  .beads/issues.jsonl
Due: none

test(tbd-cli): Add dedicated cli-sync.tryscript.md for sync tests
  docs/project/architecture/current/tbd-design-v3.md
  docs/project/specs/active/plan-2026-01-15-tbd-v1-implementation.md
Due: format

bd sync: 2026-01-17 01:34:57
  .beads/issues.jsonl
Due: none

chore(beads): Sync beads state (tbd-1884, tbd-1885 closed)
  .beads/issues.jsonl
Due: none

chore(beads): Close verified stale beads (Phase 22, 23, 25)
  .beads/issues.jsonl
Due: none

chore(beads): Sync beads state (add tbd-1896)
  .beads/issues.jsonl
Due: none

chore(beads): Add tasks for migrating golden scenarios to tryscripts (tbd-1897 through tbd-1905)
  .beads/issues.jsonl
Due: none

chore(beads): Close Phase 25 tasks - status command complete
  .beads/issues.jsonl
Due: none

refactor(prime): Remove MCP auto-detection from tbd prime (tbd-1896)
  packages/tbd-cli/src/cli/commands/prime.ts
Due: format, lint, typecheck

refactor(tbd-cli): Add makeInternalId import in import.ts
  packages/tbd-cli/src/cli/commands/import.ts
Due: format, lint, typecheck

chore(beads): Sync beads state (formatting normalization)
  .beads/issues.jsonl
Due: none

chore(beads): Close golden test migration beads (tbd-1897 through tbd-1905)
  .beads/issues.jsonl
Due: none

fix(tbd-cli): Apply colored help to all subcommands
  docs/general/research/current/research-modern-typescript-cli-patterns.md
  packages/tbd-cli/src/cli/cli.ts
Due: format, lint, typecheck

feat(tbd-cli): Add help epilog with GitHub link
  packages/tbd-cli/src/cli/cli.ts
  packages/tbd-cli/src/cli/commands/docs.ts
  packages/tbd-cli/src/cli/lib/output.ts
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml,md}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
