Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

docs: add commit-conventions guideline and update shortcuts
  packages/tbd/docs/guidelines/commit-conventions.md
  packages/tbd/docs/shortcuts/standard/commit-code.md
  packages/tbd/docs/shortcuts/standard/precommit-process.md
Due: format

feat: add agent instruction headers to doc output
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/cli/lib/doc-prompts.ts
Due: format, lint, typecheck

fix: make generated SKILL.md and AGENTS.md flowmark-compatible
  .claude/skills/tbd/SKILL.md
  package.json
  packages/tbd/docs/install/claude-header.md
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/file/doc-cache.ts
Due: format, lint, typecheck

chore: track generated skill files in git
  .gitignore
Due: none

chore: regenerate skill files with refresh capability docs
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format

fix: update tryscript tests and regenerate SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/research/current/research-cli-as-agent-skill.md
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
  packages/tbd/tests/cli-crud.tryscript.md
  packages/tbd/tests/cli-no-cache.tryscript.md
  packages/tbd/tests/cli-prime.tryscript.md
  packages/tbd/tests/cli-setup-commands.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
  packages/tbd/tests/cli-uninstall.tryscript.md
Due: format

fix: update tryscript tests for new --title flag and version patterns
  .claude/skills/tbd/SKILL.md
Due: format

docs: add research on skills vs meta-skill architecture
  docs/project/research/current/research-skills-vs-meta-skill-architecture.md
  packages/tbd/docs/install/claude-header.md
Due: format

chore: upgrade us to use tbd v0.1.5.
  .claude/skills/tbd/SKILL.md
Due: format

docs: add plan spec for configurable doc cache with auto-sync
  docs/project/specs/active/plan-2026-01-26-configurable-doc-cache-sync.md
Due: format

docs: update documentation to reflect enhanced tbd value proposition
  .claude/skills/tbd/SKILL.md
  AGENTS.md
  README.md
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-01-26-design-docs-review.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill.md
  packages/tbd/docs/tbd-design.md
Due: format

docs: use flexible counts for shortcuts and guidelines in README
  README.md
Due: format

docs: clarify guidelines are docs containing many rules
  README.md
Due: format

feat: add global ensure-tbd-cli.sh script for reliable tbd installation
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

tbd sync: 2026-01-26T17-57-35 (1 file)
  .tbd/data-sync/issues/is-01kfxpnctge6yktmfndca9z88e.md
Due: format

chore: regenerate SKILL.md with improved description
  .claude/skills/tbd/SKILL.md
Due: format

docs: add implementation beads and format versioning to doc cache sync spec
  docs/project/specs/active/plan-2026-01-26-configurable-doc-cache-sync.md
Due: format

fix: move legacy cleanup to SetupAutoHandler for CI reliability
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

docs: comprehensive revision of CLI as Agent Skill research
  docs/project/research/current/research-cli-as-agent-skill.md
Due: format

feat: implement configurable doc cache with auto-sync
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/file/doc-sync.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/doc-sync.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, lint, typecheck

fix: ensure build runs before tests in pre-push and ci script
  lefthook.yml
  package.json
Due: format

feat: add incremental build for pre-push hook
  lefthook.yml
  package.json
  packages/tbd/scripts/build-if-needed.mjs
Due: format

feat: make doc auto-sync respect CLI verbosity
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/cli/commands/skill.ts
  packages/tbd/src/cli/lib/doc-command-handler.ts
  packages/tbd/src/file/doc-cache.ts
Due: format, lint, typecheck

refactor: consolidate doc_cache and docs config into docs_cache
  docs/project/specs/active/plan-2026-01-26-docs-cache-config-restructure.md
  packages/tbd/src/cli/commands/docs.ts
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/cli/commands/shortcut.ts
  packages/tbd/src/file/config.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/lib/schemas.ts
  packages/tbd/src/lib/tbd-format.ts
  packages/tbd/tests/config.test.ts
  packages/tbd/tests/schemas.test.ts
  packages/tbd/tests/tbd-format.test.ts
Due: format, lint, typecheck

style: format SKILL.md and update config.yml
  .tbd/config.yml
Due: format

fix: persist config migration during setup
  .tbd/config.yml
  packages/tbd/scripts/build-if-needed.mjs
  packages/tbd/src/cli/commands/setup.ts
Due: format, lint, typecheck

docs: align skill docs and README with punchy, consistent messaging
  README.md
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-01-26-design-docs-review.md
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/shortcuts/system/skill.md
  packages/tbd/docs/tbd-design.md
Due: format

fix: lint errors in build-if-needed.mjs
  docs/docs-overview.md
  docs/project/specs/active/plan-2026-01-26-design-docs-review.md
  packages/tbd/scripts/build-if-needed.mjs
Due: format

chore: update tbd skill and agents docs from setup
  .claude/skills/tbd/SKILL.md
  AGENTS.md
Due: format

feat: add --spec filter to list command
  packages/tbd/src/cli/commands/list.ts
Due: format, lint, typecheck

fix: make SKILL.md generation consistent with flowmark
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/src/utils/markdown-utils.ts
Due: format, lint, typecheck

feat: complete spec linking feature with tests and docs
  packages/tbd/docs/shortcuts/standard/new-plan-spec.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/show.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/cli-spec-linking.tryscript.md
  packages/tbd/tests/schemas.test.ts
Due: format, lint, typecheck

fix: update tryscript tests for new docs_cache config structure
  packages/tbd/tests/cli-advanced.tryscript.md
  packages/tbd/tests/cli-no-cache.tryscript.md
  packages/tbd/tests/cli-setup.tryscript.md
Due: format

fix: make project-paths test cross-platform for Windows CI
  packages/tbd/tests/project-paths.test.ts
Due: format, lint, typecheck

chore: regenerate SKILL.md after tbd setup
  .claude/skills/tbd/SKILL.md
Due: format

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml,md}
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
