Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

chore: dogfood get-tbd 0.3.0 in this repo (setup --auto)
  .claude/scripts/tbd-session.sh
  .codex/tbd-session.sh
  .tbd/config.yml
Due: format

docs(shortcuts): PR review lifecycle — decouple reviewing from addressing
  packages/tbd/docs/shortcuts/standard/address-pr-review.md
  packages/tbd/docs/shortcuts/standard/pr-review-workflows.md
  packages/tbd/docs/shortcuts/standard/review-code-python.md
  packages/tbd/docs/shortcuts/standard/review-code-typescript.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/standard/review-github-pr.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

docs(shortcuts): rewrite update-specs-status as a full tracking reconcile
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

docs(shortcuts): doc-fork fixes — correct project-shortcut location, collect local docs
  packages/tbd/docs/shortcuts/standard/new-shortcut.md
  packages/tbd/docs/shortcuts/standard/suggest-upstream-improvements.md
Due: format-md

docs(shortcuts): session-closing discipline, branch-state checks, de-hardcode npm
  packages/tbd/docs/shortcuts/standard/code-review-and-commit.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-simple.md
  packages/tbd/docs/shortcuts/standard/create-or-update-pr-with-validation-plan.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
  packages/tbd/docs/shortcuts/standard/precommit-process.md
Due: format-md

fix: Retry transient EPERM from mkdir in Windows lock acquisition
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile-win32-eperm.test.ts
Due: format, lint, typecheck

fix: Bound win32 EPERM lock retries so real permission errors surface
  packages/tbd/src/utils/lockfile.ts
  packages/tbd/tests/lockfile-win32-eperm.test.ts
Due: format, lint, typecheck

docs(shortcuts): add gh repo setup to merge-upstream CI watch
  packages/tbd/docs/shortcuts/standard/merge-upstream.md
Due: format-md

docs(readme): sync shortcut tables with the PR review lifecycle
  README.md
Due: format-md

docs(shortcuts): drop self-invocation from Useful Checks; sync README row
  README.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
Due: format-md

docs(shortcuts): correct local-doc close-out in suggest-upstream-improvements
  packages/tbd/docs/shortcuts/standard/suggest-upstream-improvements.md
Due: format-md

tbd sync: reopen tbd-vugg (Windows lockfile EPERM flake recurred on main CI)
  .tbd/data-sync/issues/is-01kss6efgnqesfd3s2v29yk79m.md
Due: format-md

fix(cli): address PR #176 senior review (R2-R14)
  README.md
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/code-review-and-commit.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/tbd-closing.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/create.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/body-input.ts
  packages/tbd/src/cli/lib/bulk.ts
  packages/tbd/tests/body-input.test.ts
  packages/tbd/tests/bulk.test.ts
  packages/tbd/tests/cli-body-input.tryscript.md
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix(parser): recognize a ## Notes section at the start of the body
  packages/tbd/src/file/parser.ts
  packages/tbd/tests/parser.test.ts
Due: format, lint, typecheck

fix(cli): report a lone --ignore-missing skip instead of exiting silently
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  packages/tbd/tests/cli-closing.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: close 16 PR #176 review beads
  .tbd/data-sync/issues/is-01kx51tj4c2bv1hqq9ess6rfzt.md
  .tbd/data-sync/issues/is-01kx51tjm9mj3fj45ggf22snbv.md
  .tbd/data-sync/issues/is-01kx51tk4kj1wy9psaxzenbzek.md
  .tbd/data-sync/issues/is-01kx51tkn13pdwft5st5mmr94b.md
  .tbd/data-sync/issues/is-01kx51tm6mxkcgv2wk5kx943sq.md
  .tbd/data-sync/issues/is-01kx51tmpv33gad28s5bv8h8fd.md
  .tbd/data-sync/issues/is-01kx51tn6vtb4gphmqfgpcjz83.md
  .tbd/data-sync/issues/is-01kx51tnpzqse7m0m3pk8r8fsk.md
  .tbd/data-sync/issues/is-01kx51tp74w9yxbvcamgt1wb6q.md
  .tbd/data-sync/issues/is-01kx51tpqyg76ct0r75b2cqj9m.md
  .tbd/data-sync/issues/is-01kx51tq8p0zcjps9k337axaxr.md
  .tbd/data-sync/issues/is-01kx51tqrtezjacr2anbb7zegk.md
  .tbd/data-sync/issues/is-01kx51tr8wvpcxzzwm633sqg57.md
  .tbd/data-sync/issues/is-01kx51trs3skwdv62f2b9khv41.md
  .tbd/data-sync/issues/is-01kx51ts960j1jjfdtkx41xvch.md
  .tbd/data-sync/issues/is-01kx6kae93cg2axnm3xpav1jg6.md
  .tbd/data-sync/issues/is-01kx6m3vxegc223hb0yhwtyth8.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-07-10T19-04-15 (1 file)
  .tbd/data-sync/issues/is-01kx51tj4c2bv1hqq9ess6rfzt.md
Due: format-md

tbd sync: 2026-07-10T19-39-11 (2 files)
  .tbd/data-sync/issues/is-01kx6rm4xrn1hhdqxcqwf54h2d.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(cli): address second senior review round on PR #176 (S1-S11)
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  docs/project/specs/active/plan-2026-06-13-agent-cli-ergonomics.md
  packages/tbd/CHANGELOG.md
  packages/tbd/docs/shortcuts/standard/code-review-and-commit.md
  packages/tbd/docs/shortcuts/standard/implement-beads.md
  packages/tbd/docs/shortcuts/standard/update-specs-status.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-brief.md
  packages/tbd/docs/tbd-closing.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/docs/tbd-prime.md
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/prime.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/bulk.ts
  packages/tbd/tests/bulk.test.ts
  packages/tbd/tests/cli-body-input.tryscript.md
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-10T20-01-08 (15 files)
  .tbd/data-sync/issues/is-01kx6qjz5hsmnt74n3y7bpmpjn.md
  .tbd/data-sync/issues/is-01kx6qjzp5km1773reb4svcyy7.md
  .tbd/data-sync/issues/is-01kx6qk07wagvqm9014z6wk62e.md
  .tbd/data-sync/issues/is-01kx6qk0rmvj7dkbaz6b58j1n7.md
  .tbd/data-sync/issues/is-01kx6qk1aqeybjentvnykm7tv1.md
  .tbd/data-sync/issues/is-01kx6qk1vstnkjddndd23kqz06.md
  .tbd/data-sync/issues/is-01kx6qk2cg0ajxgvyn3x1skzzp.md
  .tbd/data-sync/issues/is-01kx6qk2xgee2jjajwkphrar46.md
  .tbd/data-sync/issues/is-01kx6qk3dnyvxnyc3et40mkpwv.md
  .tbd/data-sync/issues/is-01kx6qk3zafwmrpkzjdc6h6qek.md
  .tbd/data-sync/issues/is-01kx6qk4fy0y7fka9gxn5dz26w.md
  .tbd/data-sync/issues/is-01kx6qk509b4mmeb9tpchywa9q.md
  .tbd/data-sync/issues/is-01kx6ssctsapjkqwrt9vs32h0d.md
  .tbd/data-sync/issues/is-01kx6ssp5mdz03vn4ce6bvn0sc.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(cli): honor --dry-run for a lone --ignore-missing skip
  packages/tbd/src/cli/commands/close.ts
  packages/tbd/src/cli/commands/reopen.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-10T20-18-03 (2 files)
  .tbd/data-sync/issues/is-01kx6t4ycsr733hw3ys3pk8r8w.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix(cli): surface real read errors from single-ID update
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/tests/cli-bulk-mutation.tryscript.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-07-10T21-15-17 (2 files)
  .tbd/data-sync/issues/is-01kx6xg7rw78w8d36as1krbk34.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: Invoke closing-reminder hook via bash and harden generated script
  .claude/hooks/tbd-closing-reminder.sh
  .claude/settings.json
  .codex/tbd-closing-reminder.sh
  packages/tbd/.claude/hooks/tbd-closing-reminder.sh
  packages/tbd/.claude/settings.json
  packages/tbd/src/cli/commands/setup.ts
  packages/tbd/tests/setup-flows.test.ts
Due: format, lint, typecheck

tbd sync: 2026-07-11T00-20-41 (1 file)
  .tbd/data-sync/issues/is-01kx6rm4xrn1hhdqxcqwf54h2d.md
Due: format-md

tbd sync: 2026-07-11T00-48-07 (2 files)
  .tbd/data-sync/issues/is-01kx7aamb654kekkm7z73zn5tb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: release get-tbd v0.4.0
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

tbd sync: 2026-07-11T01-20-21 (3 files)
  .tbd/data-sync/issues/is-01kx7bbd9f88x70hhy3kgbgw1f.md
  .tbd/data-sync/issues/is-01kx7c5pyxkp5sd4d220ewyt2r.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

ci: add one-shot workflow to finish the v0.4.0 release
  .github/workflows/release-v0.4.0-oneshot.yml
Due: format

ci: fix tag-existence guard to not trust gh api output on HTTP error
  .github/workflows/release-v0.4.0-oneshot.yml
Due: format

ci: fail fast with a clear error when NPM_TOKEN is not visible
  .github/workflows/release-v0.4.0-oneshot.yml
Due: format

ci: run the v0.4.0 release under the release.yml filename (OIDC)
  .github/workflows/release-v0.4.0-oneshot.yml
  .github/workflows/release.yml
Due: format

ci: restore release.yml to the main version after v0.4.0 shipped
  .github/workflows/release.yml
Due: format

docs: update publishing.md for OIDC trusted publishing and stall recovery
  docs/publishing.md
Due: format-md

chore: refresh tbd-generated surfaces for v0.4.0
  .claude/hooks/tbd-closing-reminder.sh
  .claude/scripts/tbd-session.sh
  .codex/tbd-closing-reminder.sh
  .codex/tbd-session.sh
  .tbd/config.yml
Due: format

docs: remove stale duplicate of publishing.md from docs/general
  docs/general/agent-setup/publishing.md
Due: format-md
