Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

lefthook.yml:

# lefthook.yml
# Git hooks for code quality
# Pre-commit: Fast checks with auto-fix (target: 2-5 seconds)
# Pre-push: Full test validation

pre-commit:
  parallel: true

  commands:
    # Auto-format with prettier (~500ms)
    format:
      glob: '*.{js,ts,tsx,json,yaml,yml}'
      run: npx prettier --write --log-level warn {staged_files}
      stage_fixed: true
      priority: 1

    # Format markdown with flowmark (~500ms)
    format-md:
      glob: '*.md'
      run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
      stage_fixed: true
      priority: 1

    # Lint with auto-fix and caching (~1s first, ~200ms cached)
    lint:
      glob: '*.{js,ts,tsx}'
      run: >
        npx eslint
        --cache
        --cache-location node_modules/.cache/eslint
        --fix {staged_files}
      stage_fixed: true
      priority: 2

    # Type check with incremental mode (~2s)
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm typecheck
      priority: 3

pre-push:
  commands:
    # Build first - integration tests require dist/bin.mjs
    build:
      run: pnpm build
      priority: 1
    # Then run tests
    test:
      run: pnpm test
      priority: 2

docs: address review findings R1-R11 on PR #258
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-project-setup.md
  packages/tbd/docs/guidelines/rust-release-rules.md
  packages/tbd/docs/guidelines/rust-rules.md
  packages/tbd/docs/guidelines/rust-testing-rules.md
  packages/tbd/docs/install/claude-header.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/standard/review-code-python.md
  packages/tbd/docs/shortcuts/standard/review-code-typescript.md
  packages/tbd/docs/shortcuts/standard/review-code.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/docs/shortcuts/system/skill-minimal.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/guideline-groups.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-23T08-35-17 (13 files)
  .tbd/data-sync/issues/is-01m0ph81m05nzycajzra50s2xe.md
  .tbd/data-sync/issues/is-01m0ph83h84z3zpmfccnws4w8y.md
  .tbd/data-sync/issues/is-01m0ph85f8zj2ssfsxapfsdr2v.md
  .tbd/data-sync/issues/is-01m0ph87bfgn96fgmvg1sjs8kg.md
  .tbd/data-sync/issues/is-01m0ph8d013cae68txe15xdx1b.md
  .tbd/data-sync/issues/is-01m0ph8eva5sy81tv6r2kbdsxr.md
  .tbd/data-sync/issues/is-01m0ph9ewf820cvwrbvf6j2sgg.md
  .tbd/data-sync/issues/is-01m0ph9gm4vzmq2vn5dddhjnm3.md
  .tbd/data-sync/issues/is-01m0ph9m9kt4tv25sbhht10a20.md
  .tbd/data-sync/issues/is-01m0ph9p5f90bmf150tbc7n2x6.md
  .tbd/data-sync/issues/is-01m0ph9qz8k04837d6s7s5dwvr.md
  .tbd/data-sync/issues/is-01m0ph9srztwyqjd361a4ghpz2.md
  .tbd/data-sync/issues/is-01m0ph9vnqnq5cww3fv22knsyp.md
Due: format-md

docs: add holistic review for PR 258
  docs/project/reviews/review-2026-08-23-pr258-holistic-engineering-guidelines.md
Due: format-md

tbd sync: 2026-08-23T18-10-06 (9 files)
  .tbd/data-sync/issues/is-01m0dsa6kqmmmt269gx5hfq53y.md
  .tbd/data-sync/issues/is-01m0exfjrvc0nz7698bmrktanb.md
  .tbd/data-sync/issues/is-01m0qv5bctnj949vfydhpnaynn.md
  .tbd/data-sync/issues/is-01m0qv5sq6yk0f4md5f8hh98g6.md
  .tbd/data-sync/issues/is-01m0qv5t3gsv928jz1vaf7ks6y.md
  .tbd/data-sync/issues/is-01m0qv5tfhvn4d06c2bjhezh0d.md
  .tbd/data-sync/issues/is-01m0qv5tvq3zzhxpra5r21rynn.md
  .tbd/data-sync/issues/is-01m0qv5v7nv3hh1zdkqfdfs8fd.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: address holistic review R1-R13 on PR #258
  .agents/skills/tbd/SKILL.md
  .claude/scripts/ensure-gh-cli.sh
  .claude/skills/tbd/SKILL.md
  .codex/ensure-gh-cli.sh
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/project/research/current/evidence-2026-08-23-rust-lint-cost.md
  docs/project/research/current/evidence-2026-08-23-rust-lint-cost.tsv
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  package.json
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/guidelines/error-handling-rules.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-release-rules.md
  packages/tbd/docs/guidelines/rust-rules.md
  packages/tbd/docs/guidelines/rust-testing-rules.md
  packages/tbd/docs/guidelines/supply-chain-hardening.md
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/action-pins.test.ts
  packages/tbd/tests/guideline-budget.test.ts
  packages/tbd/tests/guideline-groups.test.ts
  scripts/check-action-pins.d.mts
  scripts/check-action-pins.mjs
  scripts/fixtures/rust-lint-cost/clippy.toml
  scripts/measure-rust-lint-cost.mjs
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-23T18-51-31 (1 file)
  .tbd/data-sync/issues/is-01m0pj1ksy7tdf5skcgb90ed0s.md
Due: format-md

fix: make the action-pin gate and its test work on Windows
  packages/tbd/tests/action-pins.test.ts
  scripts/check-action-pins.d.mts
  scripts/check-action-pins.mjs
  scripts/measure-rust-lint-cost.mjs
Due: format, lint, typecheck

tbd sync: 2026-08-23T19-21-15 (20 files)
  .tbd/data-sync/issues/is-01m0qxb2r48hpyfvzbpbcrnh3w.md
  .tbd/data-sync/issues/is-01m0qxbvamftdc94dzrpc0xpmp.md
  .tbd/data-sync/issues/is-01m0qxbvqfsrw5ysxxx06pxfk0.md
  .tbd/data-sync/issues/is-01m0qxbw44ygvq8bfzhznqc9tf.md
  .tbd/data-sync/issues/is-01m0qxbwg3ws9e5ntja6sp02t8.md
  .tbd/data-sync/issues/is-01m0qxbwvmkzd2k8mbgzjhnzx9.md
  .tbd/data-sync/issues/is-01m0qxbx7kfbbv6p951vyjf5wt.md
  .tbd/data-sync/issues/is-01m0qxbxk32mrs1d76tkkadtj5.md
  .tbd/data-sync/issues/is-01m0qxbxyd0ne8e0ssqwtj9ta8.md
  .tbd/data-sync/issues/is-01m0qxby9yzp3ntez6kb4frd6a.md
  .tbd/data-sync/issues/is-01m0qxbynzm9a4eqp7t6dzyrtd.md
  .tbd/data-sync/issues/is-01m0qxbz1zyp912w5trhkhenc8.md
  .tbd/data-sync/issues/is-01m0qxbzdwbh8kb62s63fjfzkw.md
  .tbd/data-sync/issues/is-01m0qxbzssjbheb879da5f7ekp.md
  .tbd/data-sync/issues/is-01m0qxc05gwyvv3babf55dw5t7.md
  .tbd/data-sync/issues/is-01m0qxc0hmgnn2610f0bf7h918.md
  .tbd/data-sync/issues/is-01m0qxc102hpnkx28hzwqv2stb.md
  .tbd/data-sync/issues/is-01m0qxc1d9tdypr9dsp1cdswdk.md
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-23T19-33-26 (20 files)
  .tbd/data-sync/issues/is-01m0qv5bctnj949vfydhpnaynn.md
  .tbd/data-sync/issues/is-01m0qv5v7nv3hh1zdkqfdfs8fd.md
  .tbd/data-sync/issues/is-01m0qxb2r48hpyfvzbpbcrnh3w.md
  .tbd/data-sync/issues/is-01m0qxbvamftdc94dzrpc0xpmp.md
  .tbd/data-sync/issues/is-01m0qxbvqfsrw5ysxxx06pxfk0.md
  .tbd/data-sync/issues/is-01m0qxbw44ygvq8bfzhznqc9tf.md
  .tbd/data-sync/issues/is-01m0qxbwg3ws9e5ntja6sp02t8.md
  .tbd/data-sync/issues/is-01m0qxbwvmkzd2k8mbgzjhnzx9.md
  .tbd/data-sync/issues/is-01m0qxbx7kfbbv6p951vyjf5wt.md
  .tbd/data-sync/issues/is-01m0qxbxk32mrs1d76tkkadtj5.md
  .tbd/data-sync/issues/is-01m0qxbxyd0ne8e0ssqwtj9ta8.md
  .tbd/data-sync/issues/is-01m0qxby9yzp3ntez6kb4frd6a.md
  .tbd/data-sync/issues/is-01m0qxbynzm9a4eqp7t6dzyrtd.md
  .tbd/data-sync/issues/is-01m0qxbz1zyp912w5trhkhenc8.md
  .tbd/data-sync/issues/is-01m0qxbzdwbh8kb62s63fjfzkw.md
  .tbd/data-sync/issues/is-01m0qxbzssjbheb879da5f7ekp.md
  .tbd/data-sync/issues/is-01m0qxc05gwyvv3babf55dw5t7.md
  .tbd/data-sync/issues/is-01m0qxc0hmgnn2610f0bf7h918.md
  .tbd/data-sync/issues/is-01m0qxc102hpnkx28hzwqv2stb.md
  .tbd/data-sync/issues/is-01m0qxc1d9tdypr9dsp1cdswdk.md
Due: format-md

tbd sync: 2026-08-23T20-40-54 (4 files)
  .tbd/data-sync/issues/is-01m0qxb2r48hpyfvzbpbcrnh3w.md
  .tbd/data-sync/issues/is-01m0r0dby0gca5cvc264s3tmmj.md
  .tbd/data-sync/issues/is-01m0r2dtqtk5yrjntrd9v5m89q.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

fix: tighten guideline claims and evidence gates
  README.md
  docs/project/research/current/evidence-2026-08-23-rust-lint-cost.md
  docs/project/reviews/review-2026-08-23-pr258-holistic-engineering-guidelines.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-release-rules.md
  packages/tbd/docs/guidelines/rust-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/shortcuts/standard/review-code-rust.md
  packages/tbd/tests/action-pins.test.ts
  packages/tbd/tests/rust-lint-cost-script.test.ts
  scripts/check-action-pins.mjs
  scripts/measure-rust-lint-cost.mjs
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-23T21-21-57 (16 files)
  .tbd/data-sync/issues/is-01m0r5wdr6nrtymyeq46b5qnjr.md
  .tbd/data-sync/issues/is-01m0r5wsp69sh9z0zcatbbqg0p.md
  .tbd/data-sync/issues/is-01m0r5wt16wzed2j3nnc2pxykb.md
  .tbd/data-sync/issues/is-01m0r5wtctcr1mwyefmj9s73zg.md
  .tbd/data-sync/issues/is-01m0r5wtrfbn7ryrw82f9r91pw.md
  .tbd/data-sync/issues/is-01m0r6fga9rznrzngnb8xa26fs.md
  .tbd/data-sync/issues/is-01m0r6fgpf5qm016pfa56706fv.md
  .tbd/data-sync/issues/is-01m0r6fh338van0p5px2g0nvvn.md
  .tbd/data-sync/issues/is-01m0r6fhf0a5sy50ebz5tr4wye.md
  .tbd/data-sync/issues/is-01m0r6fhsxaba8ceqaqyzaqrvv.md
  .tbd/data-sync/issues/is-01m0r6fj5dvwgsjbdc88vvyr8x.md
  .tbd/data-sync/issues/is-01m0r6fjgxf6rfq97v2y6r5r61.md
  .tbd/data-sync/issues/is-01m0r6fjw8hy8xge7wtkfdp14j.md
  .tbd/data-sync/issues/is-01m0r7ceehz654n1rax02wj127.md
  .tbd/data-sync/issues/is-01m0r7gm5mre5e1rg80dmtwazx.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

test: make lint-cost cargo shim cross-platform
  packages/tbd/tests/rust-lint-cost-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-23T21-48-37 (2 files)
  .tbd/data-sync/issues/is-01m0r5wtctcr1mwyefmj9s73zg.md
  .tbd/data-sync/issues/is-01m0r5wtrfbn7ryrw82f9r91pw.md
Due: format-md

docs: sharpen engineering guidelines with focused corrections
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  .tbd/config.yml
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-rules.md
  packages/tbd/docs/guidelines/scripts/check-rust-gate.mjs
  packages/tbd/docs/guidelines/typescript-cli-tool-rules.md
  packages/tbd/docs/guidelines/typescript-lint-format-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/system/skill-baseline.md
  packages/tbd/src/cli/bin.ts
  packages/tbd/src/cli/cli.ts
  packages/tbd/src/cli/lib/process-stream-errors.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/exit-codes.test.ts
  packages/tbd/tests/guideline-budget.test.ts
  packages/tbd/tests/guideline-groups.test.ts
  packages/tbd/tests/process-stream-errors.test.ts
  packages/tbd/tests/rust-gate-script.test.ts
  skills/tbd/SKILL.md
Due: format, format-md, lint, typecheck

fix: align Rust gates with supported build contracts
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/project/reviews/review-2026-08-23-pr258-holistic-engineering-guidelines.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  lefthook.yml
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-project-setup.md
  packages/tbd/docs/guidelines/scripts/check-rust-gate.mjs
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/tests/integration-files.test.ts
  packages/tbd/tests/rust-gate-script.test.ts
Due: format, format-md, lint, typecheck

test: make Rust gate contract portable
  docs/project/reviews/review-2026-08-23-pr258-holistic-engineering-guidelines.md
  packages/tbd/tests/rust-gate-script.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-23T22-48-45 (9 files)
  .tbd/data-sync/issues/is-01m0r5wdr6nrtymyeq46b5qnjr.md
  .tbd/data-sync/issues/is-01m0r5wtrfbn7ryrw82f9r91pw.md
  .tbd/data-sync/issues/is-01m0r9sx2g84cenjtt7xfd4srz.md
  .tbd/data-sync/issues/is-01m0r9sxqr5cvhjgdbyycpanxa.md
  .tbd/data-sync/issues/is-01m0ra0fmen7vnv48sdhr8a2g5.md
  .tbd/data-sync/issues/is-01m0ra22m4v7cgjmqxe405fh8n.md
  .tbd/data-sync/issues/is-01m0ramaxx9y2k2b9p00qqkk3r.md
  .tbd/data-sync/issues/is-01m0rbtm447ba7ebfyek2q7tjr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: distinguish unreleased regressions in release notes
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/publishing.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/docs/guidelines/release-notes-guidelines.md
Due: format-md

tbd sync: 2026-08-25T02-51-50 (2 files)
  .tbd/data-sync/issues/is-01m0vccsn0ayn5m9cj6sr3nnht.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: keep CI logic in testable project programs
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  docs/development.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
Due: format-md

tbd sync: 2026-08-25T23-34-55 (21 files)
  .tbd/data-sync/issues/is-01m0xk4jp6m91jy8jn9b6skp4f.md
  .tbd/data-sync/issues/is-01m0xm6ckrwa936ffezb6qsxmk.md
  .tbd/data-sync/issues/is-01m0xm7a8pywqqpqn451h4tdsv.md
  .tbd/data-sync/issues/is-01m0xm8na51f2q7fa5g198mcdz.md
  .tbd/data-sync/issues/is-01m0xm8xxea50zg2tab8nfx92s.md
  .tbd/data-sync/issues/is-01m0xm94j0raw4q1gcedr099ft.md
  .tbd/data-sync/issues/is-01m0xm9ccj14d0pnbw7m9bkjet.md
  .tbd/data-sync/issues/is-01m0xm9m2p48wy0tsss6akmcxe.md
  .tbd/data-sync/issues/is-01m0xm9tc3ryqjh3xv2ad3eqhg.md
  .tbd/data-sync/issues/is-01m0xma9qkvysyt0kn73pxzdyg.md
  .tbd/data-sync/issues/is-01m0xmafvdgyftr42fd8y9cbp2.md
  .tbd/data-sync/issues/is-01m0xmanmz8exw6jrb7q6406pg.md
  .tbd/data-sync/issues/is-01m0xmaxpmqg92tzvnjjjhan2t.md
  .tbd/data-sync/issues/is-01m0xmb43bh5zfgdefgyyjtaa0.md
  .tbd/data-sync/issues/is-01m0xmbb7kqae4np06vn7jwt09.md
  .tbd/data-sync/issues/is-01m0xmbnx9gzr1xxts9ckvzv78.md
  .tbd/data-sync/issues/is-01m0xmbzp5xmkkmcyr4txjkp6g.md
  .tbd/data-sync/issues/is-01m0xmcavq4f7c7cpp744mr91z.md
  .tbd/data-sync/issues/is-01m0xmchmaa8a6z5jdhmnn3d5j.md
  .tbd/data-sync/issues/is-01m0xmcxvqt3p2qz7p4netcne2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-26T00-33-13 (19 files)
  .tbd/data-sync/issues/is-01m0xm6ckrwa936ffezb6qsxmk.md
  .tbd/data-sync/issues/is-01m0xm7a8pywqqpqn451h4tdsv.md
  .tbd/data-sync/issues/is-01m0xm8na51f2q7fa5g198mcdz.md
  .tbd/data-sync/issues/is-01m0xm8xxea50zg2tab8nfx92s.md
  .tbd/data-sync/issues/is-01m0xm94j0raw4q1gcedr099ft.md
  .tbd/data-sync/issues/is-01m0xm9ccj14d0pnbw7m9bkjet.md
  .tbd/data-sync/issues/is-01m0xm9m2p48wy0tsss6akmcxe.md
  .tbd/data-sync/issues/is-01m0xm9tc3ryqjh3xv2ad3eqhg.md
  .tbd/data-sync/issues/is-01m0xma9qkvysyt0kn73pxzdyg.md
  .tbd/data-sync/issues/is-01m0xmafvdgyftr42fd8y9cbp2.md
  .tbd/data-sync/issues/is-01m0xmanmz8exw6jrb7q6406pg.md
  .tbd/data-sync/issues/is-01m0xmaxpmqg92tzvnjjjhan2t.md
  .tbd/data-sync/issues/is-01m0xmb43bh5zfgdefgyyjtaa0.md
  .tbd/data-sync/issues/is-01m0xmbb7kqae4np06vn7jwt09.md
  .tbd/data-sync/issues/is-01m0xmbnx9gzr1xxts9ckvzv78.md
  .tbd/data-sync/issues/is-01m0xmbzp5xmkkmcyr4txjkp6g.md
  .tbd/data-sync/issues/is-01m0xmcavq4f7c7cpp744mr91z.md
  .tbd/data-sync/issues/is-01m0xmchmaa8a6z5jdhmnn3d5j.md
  .tbd/data-sync/issues/is-01m0xmcxvqt3p2qz7p4netcne2.md
Due: format-md

docs: sharpen testing and atomic-write guidance
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/reviews/review-2026-08-23-pr258-rust-guidelines-extraction.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/golden-testing-guidelines.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-project-setup.md
  packages/tbd/docs/guidelines/rust-testing-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
Due: format-md

fix: enforce checked JavaScript for Rust gate helper
  eslint.config.js
  packages/tbd/docs/guidelines/scripts/check-rust-gate.mjs
  packages/tbd/tests/rust-gate-script.test.ts
  packages/tbd/tsconfig.json
  scripts/check-eslint-contract.mjs
Due: format, lint, typecheck

tbd sync: 2026-08-26T01-09-36 (2 files)
  .tbd/data-sync/issues/is-01m0xrr0961kddfbw1gexkpckq.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-26T01-21-11 (1 file)
  .tbd/data-sync/issues/is-01m0xrr0961kddfbw1gexkpckq.md
Due: format-md

docs: broaden atomic output guidance
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  docs/project/reviews/review-2026-08-23-pr258-holistic-engineering-guidelines.md
  docs/project/specs/active/plan-2026-08-23-rust-quality-floor-and-guideline-mapping.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/python-modern-guidelines.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/typescript-rules.md
Due: format-md

test: stabilize Rust gate subprocess checks
  packages/tbd/tests/rust-gate-script.test.ts
Due: format, lint, typecheck

tbd sync: 2026-08-26T01-46-02 (3 files)
  .tbd/data-sync/issues/is-01m0xtna504asxe2ze2x2xdx6k.md
  .tbd/data-sync/issues/is-01m0xvh568xcky76eahjbwbrqr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-08-26T01-59-03 (2 files)
  .tbd/data-sync/issues/is-01m0xtna504asxe2ze2x2xdx6k.md
  .tbd/data-sync/issues/is-01m0xvh568xcky76eahjbwbrqr.md
Due: format-md

process: Correct and tighten the neutral review and filesystem guidelines
  packages/tbd/docs/guidelines/code-review-rules.md
  packages/tbd/docs/guidelines/filesystem-rules.md
  packages/tbd/docs/guidelines/general-testing-rules.md
  packages/tbd/docs/guidelines/rust-code-review-rules.md
  packages/tbd/docs/guidelines/rust-filesystem-rules.md
Due: format-md

process: Correct the guideline-authoring steps and cut restated testing rules
  docs/project/research/current/evidence-2026-08-23-rust-lint-cost.md
  packages/tbd/docs/guidelines/python-rules.md
  packages/tbd/docs/guidelines/rust-cli-rules.md
  packages/tbd/docs/guidelines/rust-lint-format-rules.md
  packages/tbd/docs/guidelines/rust-testing-rules.md
  packages/tbd/docs/shortcuts/standard/new-guideline.md
  packages/tbd/docs/shortcuts/standard/review-code-rust.md
  packages/tbd/docs/shortcuts/standard/review-code.md
Due: format-md

process: Fix three false README descriptions and shorten the cross-cutting note
  .agents/skills/tbd/SKILL.md
  .claude/skills/tbd/SKILL.md
  README.md
  packages/tbd/docs/guidelines/ci-and-gates-rules.md
  packages/tbd/docs/guidelines/release-engineering-rules.md
  packages/tbd/src/file/doc-cache.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-26T03-54-16 (22 files)
  .tbd/data-sync/issues/is-01m0y1gprchhzvxegj8atrwsj8.md
  .tbd/data-sync/issues/is-01m0y1q8j39jhy33xkrx846rcx.md
  .tbd/data-sync/issues/is-01m0y1qa21zgnag8mjd8sqnnpz.md
  .tbd/data-sync/issues/is-01m0y1qbjnca629bjpgs9q4thn.md
  .tbd/data-sync/issues/is-01m0y1qd2svp5mxwe88mdkmqzg.md
  .tbd/data-sync/issues/is-01m0y1qek35qx7xs3d0r3bwf2x.md
  .tbd/data-sync/issues/is-01m0y1qg5eqmg8kmn4xpjsw0q9.md
  .tbd/data-sync/issues/is-01m0y1qqpfr4btsay0fvz0gf7w.md
  .tbd/data-sync/issues/is-01m0y1qs9aekt2jsjx1vjhrdjn.md
  .tbd/data-sync/issues/is-01m0y1qtvr9mhr0kdet728snxa.md
  .tbd/data-sync/issues/is-01m0y1qwd8629vh0p160cg1ak8.md
  .tbd/data-sync/issues/is-01m0y1qxysgz0rryk5ekn1er79.md
  .tbd/data-sync/issues/is-01m0y1qzeqh2n447qkqrb8r4ea.md
  .tbd/data-sync/issues/is-01m0y1r10ef89f15ypzq3mdt1z.md
  .tbd/data-sync/issues/is-01m0y1r8gjhhd34asxg5h4gdzm.md
  .tbd/data-sync/issues/is-01m0y1ra1zyn30t2szjffbrwp0.md
  .tbd/data-sync/issues/is-01m0y1rbhd8m825rkeztyxkkq6.md
  .tbd/data-sync/issues/is-01m0y1rd4ss2xf3ynha9xgkca7.md
  .tbd/data-sync/issues/is-01m0y1rep9djp2ds5g7jyz71zj.md
  .tbd/data-sync/issues/is-01m0y1rg8766rxxjy2tkfth6v1.md
  .tbd/data-sync/issues/is-01m0y35xxb758tgd1n4vnjtava.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

chore: release get-tbd v0.8.1
  packages/tbd/CHANGELOG.md
  packages/tbd/package.json
Due: format, format-md

fix: classify push failures by the error, not by stray digits
  packages/tbd/CHANGELOG.md
  packages/tbd/src/cli/lib/errors.ts
  packages/tbd/tests/errors.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-08-26T07-15-52 (1 file)
  .tbd/data-sync/issues/is-01m0c6d92k9x74f1sgc04x0aqb.md
Due: format-md

fix: honor deferred_until and route guidelines by declared category
  packages/tbd/src/cli/commands/list.ts
  packages/tbd/src/cli/commands/update.ts
  packages/tbd/src/cli/lib/integration-runner.ts
  packages/tbd/src/cli/lib/issue-input-validation.ts
  packages/tbd/src/file/doc-cache.ts
  packages/tbd/src/integrations/core/mirror.ts
  packages/tbd/src/lib/issue-changes.ts
  packages/tbd/src/lib/issue-query.ts
  packages/tbd/src/lib/issue-selection.ts
  packages/tbd/tests/deferred-until.test.ts
  packages/tbd/tests/guideline-groups.test.ts
Due: format, lint, typecheck

plan: Add stability and bugfix plan spec for the next release
  docs/project/specs/active/plan-2026-08-28-sync-convergence-and-stability.md
Due: format-md
