Repository jlevy/tbd: changes, and which lefthook commands are due for each by the changed paths.
All: format, format-md, lint, typecheck

format:
  run: npx prettier --write --log-level warn {staged_files}
  stage_fixed: true
  priority: 1

format-md:
  run: npx prettier --write --log-level warn {staged_files} && uvx flowmark@latest --auto {staged_files}
  stage_fixed: true
  priority: 1

lint:
  run: 'npx eslint --cache --cache-location node_modules/.cache/eslint --fix {staged_files}
  
    '
  stage_fixed: true
  priority: 2

typecheck:
  run: pnpm typecheck
  priority: 3

feat: define immutable native comment records
  docs/docs-overview.md
  docs/project/architecture/current/arch-native-comments.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  packages/tbd/src/file/comment-parser.ts
  packages/tbd/src/file/comment-storage.ts
  packages/tbd/src/file/parser.ts
  packages/tbd/src/lib/ids.ts
  packages/tbd/src/lib/native-comment.ts
  packages/tbd/src/lib/paths.ts
  packages/tbd/tests/native-comment-storage.test.ts
Due: format, format-md, lint, typecheck

docs: clarify dormant native-comment foundation
  docs/docs-overview.md
  docs/project/architecture/current/arch-native-comments.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

docs: reconcile earlier comment design status
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
Due: format-md

tbd sync: 2026-09-10T06-43-17 (4 files)
  .tbd/data-sync/issues/is-01m1w3g0smx3ezvwz4g8mkmjy9.md
  .tbd/data-sync/issues/is-01m220hjjpx5nv44za5c8jbp6a.md
  .tbd/data-sync/issues/is-01m24xt1pee8wg02a509z3g283.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

feat: inventory immutable native comment transitions
  packages/tbd/src/file/bounded-file.ts
  packages/tbd/src/file/comment-storage.ts
  packages/tbd/src/file/data-sync-inventory.ts
  packages/tbd/src/file/git-object-reader.ts
  packages/tbd/src/file/native-comment-quarantine.ts
  packages/tbd/src/file/native-comment-transition.ts
  packages/tbd/tests/data-sync-inventory.test.ts
  packages/tbd/tests/git-object-reader.test.ts
  packages/tbd/tests/native-comment-quarantine.test.ts
  packages/tbd/tests/native-comment-transition.test.ts
Due: format, lint, typecheck

test: use portable invalid comment path
  packages/tbd/tests/data-sync-inventory.test.ts
Due: format, lint, typecheck

fix: validate native comment inventory roots
  packages/tbd/src/file/data-sync-inventory.ts
  packages/tbd/tests/data-sync-inventory.test.ts
Due: format, lint, typecheck

docs: reconcile native comment landing state
  docs/docs-overview.md
  docs/project/architecture/current/arch-native-comments.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
Due: format-md

tbd sync: 2026-09-10T08-09-45 (12 files)
  .tbd/data-sync/issues/is-01m1vtafa87ktgfm55m897yhfy.md
  .tbd/data-sync/issues/is-01m1w3g0smx3ezvwz4g8mkmjy9.md
  .tbd/data-sync/issues/is-01m220htdx8tv5k1mpjavfpsca.md
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m222ys2fv17vvxnr67rxhwq9.md
  .tbd/data-sync/issues/is-01m25105z02jgeg97feeca80sg.md
  .tbd/data-sync/issues/is-01m255rtpd3e4pwb15vcvc8zjz.md
  .tbd/data-sync/issues/is-01m255sy7d7zcqz1d0dctd4y2j.md
  .tbd/data-sync/issues/is-01m255syjnb5h7g40z87qx5hjn.md
  .tbd/data-sync/issues/is-01m255sywk0pv1884bw6sr6h6y.md
  .tbd/data-sync/issues/is-01m255sz6p9rwwf3bhb5v9zrgr.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-10T15-57-59 (4 files)
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m25105z02jgeg97feeca80sg.md
  .tbd/data-sync/issues/is-01m255rtpd3e4pwb15vcvc8zjz.md
  .tbd/data-sync/issues/is-01m255syjnb5h7g40z87qx5hjn.md
Due: format-md

tbd sync: 2026-09-10T16-01-36 (2 files)
  .tbd/data-sync/issues/is-01m260tqcftepjbbcxkxv7v3p9.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-10T16-03-31 (3 files)
  .tbd/data-sync/issues/is-01m222xy6md5svr7r89cdjkh1g.md
  .tbd/data-sync/issues/is-01m25105z02jgeg97feeca80sg.md
  .tbd/data-sync/issues/is-01m255rtpd3e4pwb15vcvc8zjz.md
Due: format-md

fix: preserve grouped Linear agent mappings
  packages/tbd/src/integrations/core/provider-settings.ts
  packages/tbd/tests/integrations-core.test.ts
Due: format, lint, typecheck

perf: index native comment transition violations
  docs/project/architecture/current/arch-native-comments.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/scripts/benchmark.ts
  packages/tbd/src/file/native-comment-transition.ts
  packages/tbd/tests/native-comment-transition.test.ts
Due: format, format-md, lint, typecheck

tbd sync: 2026-09-10T21-57-35 (5 files)
  .tbd/data-sync/issues/is-01m22b72fpparmvxhj4q2938n7.md
  .tbd/data-sync/issues/is-01m262ajn3ttv71mxamxce3ykf.md
  .tbd/data-sync/issues/is-01m26mca0pcvxgstk7bhct6sx1.md
  .tbd/data-sync/issues/is-01m26mcg41xg05akmrnvfcyhvw.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

tbd sync: 2026-09-10T22-09-48 (2 files)
  .tbd/data-sync/issues/is-01m262ajn3ttv71mxamxce3ykf.md
  .tbd/data-sync/issues/is-01m26mca0pcvxgstk7bhct6sx1.md
Due: format-md

tbd sync: 2026-09-13T23-24-06 (27 files)
  .tbd/data-sync/issues/is-01kzyh140ydwhzr4mt8r84gmgb.md
  .tbd/data-sync/issues/is-01m00h4kq7ywbxdn9nz2tedv7b.md
  .tbd/data-sync/issues/is-01m14z0nr8gaygh727ysr134qc.md
  .tbd/data-sync/issues/is-01m14z4ryc6h68kah2csqf6g0y.md
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m1yzwsqz1fcgc03e0mck82tn.md
  .tbd/data-sync/issues/is-01m1yzwv5hxya72fgnk91pb3gv.md
  .tbd/data-sync/issues/is-01m1yzww834nfmwxqsrp4pxa8y.md
  .tbd/data-sync/issues/is-01m1yzx01dbhsas1c08k34d4e2.md
  .tbd/data-sync/issues/is-01m1yzx6mfhcc6px4p5xdnvxch.md
  .tbd/data-sync/issues/is-01m1yzx83jc1eyn522mxfg5cc1.md
  .tbd/data-sync/issues/is-01m1yzxdnqr4h9q88qqq6wpx4h.md
  .tbd/data-sync/issues/is-01m1yzxfatdcswww2sm93j0djm.md
  .tbd/data-sync/issues/is-01m1yzxs0hp6fs7m0ys8n9vget.md
  .tbd/data-sync/issues/is-01m1yzy45ckd396d3y7mkpr95r.md
  .tbd/data-sync/issues/is-01m1yzy5dsv4y13y9qc6qp2pfa.md
  .tbd/data-sync/issues/is-01m1yzy71mj3aznk7nnvtgtdxn.md
  .tbd/data-sync/issues/is-01m2egwv3n7dkwa53568vrsgfc.md
  .tbd/data-sync/issues/is-01m2egwxf9gt205a11kspr9rqb.md
  .tbd/data-sync/issues/is-01m2egwz6r0qgbtvzh2nkevjdb.md
  .tbd/data-sync/issues/is-01m2egx23y90sxzkrbnc1tyd5k.md
  .tbd/data-sync/issues/is-01m2egx4gsnz7t61bpdvpcpqhw.md
  .tbd/data-sync/issues/is-01m2egx69q1wdj3p0tccxdkgg7.md
  .tbd/data-sync/issues/is-01m2egx888wh2r62pt8ce4d3wz.md
  .tbd/data-sync/issues/is-01m2egx9ye6n87mfbmq7txd3y9.md
  .tbd/data-sync/issues/is-01m2egxayhvgzz3zh9jq15jmyb.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

docs: reconcile coordination research and archive superseded designs
  TODO.md
  docs/docs-overview.md
  docs/project/research/archive/research-2026-06-04-agent-issue-monitors.md
  docs/project/research/archive/research-agent-coordination-kernel.md
  docs/project/research/archive/research-beads-bootstrapping-mechanisms.md
  docs/project/research/current/research-2026-08-09-linear-task-surfaces.md
  docs/project/research/current/research-2026-08-14-agent-and-session-identity.md
  docs/project/research/current/research-2026-08-14-agent-sync-protocol-and-hooks.md
  docs/project/research/current/research-2026-08-19-agent-runtimes-and-session-linkage.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/research/current/research-claude-code-sub-agents.md
  docs/project/specs/active/plan-2026-01-19-transactional-mode-and-agent-registration.md
  docs/project/specs/active/plan-2026-07-19-bead-watch-and-external-sync.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-08-14-external-sync-and-traceability.md
  docs/project/specs/active/plan-2026-08-18-actor-axis-and-identity.md
  docs/project/specs/active/plan-2026-08-18-tracker-state-model-and-linear-mapping.md
  docs/project/specs/active/plan-2026-08-19-agent-session-refs-and-runtimes.md
  docs/project/specs/active/valid-2026-07-19-bead-watch-phase-1.md
  docs/project/specs/active/valid-2026-08-09-bead-watch-release.md
  docs/project/specs/archive/plan-2026-01-29-claude-code-session-sync.md
  docs/project/specs/done/plan-2026-01-29-unified-sync-command.md
  docs/project/specs/done/plan-2026-01-30-workspace-sync-alt.md
  docs/project/specs/done/plan-2026-02-03-streamlined-outbox-workflow.md
Due: format-md

fix: Keep provider comments scoped to link lineage
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-08-10-external-tracker-integrations.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
  docs/project/specs/archive/plan-2026-01-29-claude-code-session-sync.md
  docs/project/specs/done/plan-2026-01-30-workspace-sync-alt.md
  docs/project/specs/done/plan-2026-02-03-streamlined-outbox-workflow.md
  packages/tbd/docs/tbd-design.md
  packages/tbd/docs/tbd-docs.md
  packages/tbd/src/file/git.ts
  packages/tbd/tests/integrations-comments.test.ts
  packages/tbd/tests/outbox-comment-recovery.integration.test.ts
  packages/tbd/tests/workspace.test.ts
Due: format, format-md, lint, typecheck

fix: Preserve comments during workspace recovery
  packages/tbd/src/file/git.ts
  packages/tbd/tests/outbox-comment-recovery.integration.test.ts
  packages/tbd/tests/workspace.test.ts
Due: format, lint, typecheck

docs: Plan phased bead coordination and native comments
  TODO.md
  docs/docs-overview.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

research: review bead watching and cross-agent coordination
  docs/docs-overview.md
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
Due: format-md

docs: address coordination plan review
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
  docs/project/specs/active/plan-2026-09-06-bead-coordination-and-native-comments.md
Due: format-md

research: incorporate latest deferred readiness behavior
  docs/project/research/current/research-2026-09-06-bead-agent-coordination.md
Due: format-md

docs: Add stability sprint plan spec
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

docs: revise stability sprint plan against main and open PRs
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

docs: record stack landing status and compatibility findings in sprint plan
  docs/project/specs/active/plan-2026-09-07-stability-sprint-spec-lifecycle-and-tracker-convergence.md
Due: format-md

tbd sync: 2026-09-14T01-50-01 (22 files)
  .tbd/data-sync/issues/is-01m0c4z87m3kd0cyw2qkd5k6z4.md
  .tbd/data-sync/issues/is-01m1w39s0rrg0dp4p90cb4gg67.md
  .tbd/data-sync/issues/is-01m1w3d1e63qg5e2wpz31qkmvn.md
  .tbd/data-sync/issues/is-01m1yzwqtnk81a6yg790yn4a9x.md
  .tbd/data-sync/issues/is-01m26chsyep3kwmkmhfaz5yw7p.md
  .tbd/data-sync/issues/is-01m2egx4gsnz7t61bpdvpcpqhw.md
  .tbd/data-sync/issues/is-01m2erp0t0njvw8medbk3x70vz.md
  .tbd/data-sync/issues/is-01m2erphcs95gs5fysj2dvrghy.md
  .tbd/data-sync/issues/is-01m2erphvafq7s0t4fa4q7enpa.md
  .tbd/data-sync/issues/is-01m2erpjam82cmvb04dvjknhe8.md
  .tbd/data-sync/issues/is-01m2erpjrg6pwg8fjveft1s99f.md
  .tbd/data-sync/issues/is-01m2erpx9hwcpst334rc95sty6.md
  .tbd/data-sync/issues/is-01m2esef50qbe11ancst0cmnj1.md
  .tbd/data-sync/issues/is-01m2esefj8xnpv379q99nrket5.md
  .tbd/data-sync/issues/is-01m2esefyjp3x8qfk8mb0p8g0e.md
  .tbd/data-sync/issues/is-01m2esegb93vkm6se4pc0gsn5h.md
  .tbd/data-sync/issues/is-01m2esegwz6k3bph39z6w4mdat.md
  .tbd/data-sync/issues/is-01m2eseh97vth3cpm35m074faf.md
  .tbd/data-sync/issues/is-01m2esehnbg9pk67r7s5ep9cnb.md
  .tbd/data-sync/issues/is-01m2esej1t36pzt1vqft3py13g.md
  .tbd/data-sync/issues/is-01m2esfargtg9zyb4n1s8z2ra2.md
  .tbd/data-sync/mappings/ids.yml
Due: format, format-md

Path conditions:
  format: any of: *.{js,ts,tsx,json,yaml,yml}
  format-md: any of: *.md
  lint: any of: *.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
